<div class="col-md-8 m-auto">

<div class="card card-1-color p-3 text-white">


<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @tenant.company_name %>
</p>
<p>
  <strong>Type Of Use :</strong>
  <%= @tenant.use if @tenant.use %>
</p>


<p>
  <strong>Notes:</strong>
  <%= @tenant.notes %>
</p>
<p >
  <strong>Lease Up At:</strong>
 <span class="text-danger"> <%= @tenant.lease_up.strftime("%Y-%m-%d") if @tenant.lease_up %></span>
</p>
<p>
  <strong>Contact:</strong>
  <%= @tenant.contacts.first.name if @tenant.contacts.first %>
</p>
<p>
  <strong>Price:</strong>
  <%= @tenant.price if @tenant.price %>
</p>
<p>
  <strong>Full Address:</strong>
  <%= @tenant.fulladress if @tenant.fulladress %>
</p>
</div>

<%= link_to 'Edit', edit_tenant_path(@tenant),class: "text-muted" %> <span class="text-muted">| </span>
<%= link_to 'Back', tenants_path, class: "text-muted" %>
</div>
