<% task_contact_array = [] %>
<% @tasks.each do |task| %>
<% if task.contacts.count >= 1 %>
<% task_contact_array.push(task)%>
<% end %>
<% end %>
<% properties_array = [] %>
<% @tasks.each do |task| %>
<% if !task.properties.empty? %>
<% properties_array.push(task)%>
<% end %>
<% end %>
<% projects_array = [] %>
<% @tasks.each do |task| %>
<% if task.projects.count >= 1 %>
<% projects_array.push(task)%>
<% end %>
<% end %>
<% groups_array = [] %>
<% @tasks.each_with_index do |task, index|%>
<% if task.groups.count >= 1 %>
<% groups_array.push(task)%>
<% end %>
<% end %>
<% leads_array = [] %>
<% @tasks.each do |task| %>
<% if task.leads.count >= 1 %>
<% leads_array.push(task)%>
<% end %>
<% end %>
<!-- .todo-header -->
<% unless task_contact_array.nil? || task_contact_array.empty? %>

   <p class=" p-2 mb-2 text-warning"> Action Steps for Contacts </p>
   <% task_contact_array.each_with_index do |task, index| %>
   <tr id="edit_task_<%= task.id %>">
      <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn ml-0 mr-0 text-white btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
         <%= task.name %>   <% end %>
      </td>
   </tr>
   <!-- /.custom-control -->
   <% end %>
   <% end %>

<!-- /.todo -->
<% unless properties_array.nil? || properties_array.empty? %>
<div class="">
   <tr>
      <td class=" p-3 mb-2 text-warning"> Action Steps For Properties  </td>
   </tr>
   <% properties_array.each_with_index do |task, index| %>

   <!-- .custom-control -->
   <tr id="edit_task_<%= task.id %>">
      <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn ml-0 mr-0 text-white btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
         <%= task.name %>   <% end %>
      </td>
   </tr>
   <% end %>
   <% end %>
</div>
<!-- /.todo -->
<% unless projects_array.nil?  || projects_array.empty? %>
<div class="">
   <tr>
      <td class=" p-3 mb-2 text-warning"> Action Steps for Projects </td>
   </tr>
   <% projects_array.each_with_index do |task, index| %>
   <tr id="edit_task_<%= task.id %>">
      <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn ml-0 mr-0 text-white btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
         <%= task.name %>   <% end %>
      </td>
   </tr>
   <!-- /.custom-control -->
   <% end %>
   <% end %>
</div>
<% unless groups_array.nil? || groups_array.empty? %>
<div class="">
   <tr>
      <td class=" p-3 mb-2 text-warning">Action Steps for Groups</td>
   </tr>
   <% groups_array.each_with_index do |task, index| %>
   <tr id="edit_task_<%= task.id %>">
      <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn ml-0 mr-0 text-white btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
         <%= task.name %>   <% end %>
      </td>
   </tr>
   <!-- /.custom-control -->
   <% end %>
   <% end %>
</div>
<% unless leads_array.nil? || leads_array.empty? %>
<div class="">
   <tr>
      <td class=" p-3 mb-2 text-warning"> Action Steps for Leads </td>
   </tr>
   <% leads_array.each_with_index do |task, index| %>
   <tr id="edit_task_<%= task.id %>">
      <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn ml-0 mr-0  btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
         <%= task.name %>   <% end %>
      </td>
   </tr>
   <!-- /.custom-control -->
   <% end %>
   <% end %>
</div>

<!-- tab section base --><!-- tab section base --> <!-- tab section base --><!-- tab section base --> <!-- tab section base --><!-- tab section base -->





            <tbody id="tasks-user-list">
        <% unless task_contact_array.nil? || task_contact_array.empty? %>

   <p class=" p-2 mb-2 text-warning"> Action Steps for Contacts </p>
   <% task_contact_array.each_with_index do |task, index| %>

          <% is_personl_user = false%>
            <% task.users.each do |user| %>
            <% if user.id.to_s == current_user.id.to_s %>
            <%  is_personl_user = true   %>

            <% end %>
            <% end %>
   <% next if !is_personl_user   %>
   <tr id="edit_task_<%= task.id %>">
      <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn ml-0 mr-0 text-white btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
         <%= task.name %>   <% end %>
      </td>
   </tr>

   <% end %>
   <% end %>

<!-- /.todo -->
<% unless properties_array.nil? || properties_array.empty? %>
<div class="">
   <tr>
      <td class=" p-3 mb-2 text-warning"> Action Steps For Properties  </td>
   </tr>
   <% properties_array.each_with_index do |task, index| %>

          <% is_personl_user = false%>
            <% task.users.each do |user| %>
            <% if user.id.to_s == current_user.id.to_s %>
            <%  is_personl_user = true   %>

            <% end %>
            <% end %>
   <% next if  !is_personl_user   %>
   <!-- .custom-control -->
   <tr id="edit_task_<%= task.id %>">
      <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn ml-0 mr-0 text-white btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
         <%= task.name %>   <% end %>
      </td>
   </tr>
   <% end %>
   <% end %>
</div>
<!-- /.todo -->
<% unless projects_array.nil?  || projects_array.empty? %>
<div class="">
   <tr>
      <td class=" p-3 mb-2 text-warning"> Action Steps for Projects </td>
   </tr>
   <% projects_array.each_with_index do |task, index| %>
          <% is_personl_user = false %>
            <% task.users.each do |user| %>
            <% if user.id.to_s == current_user.id.to_s %>
            <%  is_personl_user = true   %>

            <% end %>
            <% end %>
   <% next if !is_personl_user %>
   <tr id="edit_task_<%= task.id %>">
      <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn ml-0 mr-0 text-white btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
         <%= task.name %>   <% end %>
      </td>
   </tr>
   <!-- /.custom-control -->
   <% end %>
   <% end %>
</div>
<% unless groups_array.nil? || groups_array.empty? %>
<div class="">
   <tr>
      <td class=" p-3 mb-2 text-warning">Action Steps for Groups</td>
   </tr>
   <% groups_array.each_with_index do |task, index| %>

          <% is_personl_user = false%>
            <% task.users.each do |user| %>
            <% if user.id.to_s == current_user.id.to_s %>
            <%  is_personl_user = true   %>

            <% end %>
            <% end %>
      <% next if !is_personl_user %>
   <tr id="edit_task_<%= task.id %>">
      <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn ml-0 mr-0 text-white btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
         <%= task.name %>   <% end %>
      </td>
   </tr>
   <!-- /.custom-control -->
   <% end %>
   <% end %>
</div>
<% unless leads_array.nil? || leads_array.empty? %>
<div class="">
   <tr>
      <td class=" p-3 mb-2 text-warning"> Action Steps for Leads </td>
   </tr>
   <% leads_array.each_with_index do |task, index| %>

          <% is_personl_user = false%>
            <% task.users.each do |user| %>
            <% if user.id.to_s == current_user.id.to_s %>
            <%  is_personl_user = true   %>

            <% end %>
            <% end %>
      <% next if !is_personl_user %>
   <tr id="edit_task_<%= task.id %>">
      <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn ml-0 mr-0  btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
         <%= task.name %>   <% end %>
      </td>
   </tr>
   <!-- /.custom-control -->
   <% end %>
   <% end %>
</div>
</tbody>


