
   <% task_contact_array = [] %>
   <% @tasks.each do |task| %>
   <% if task.contacts.count >= 1 %>
   <% task_contact_array.push(task)%>
   <% end %>
   <% end %>
   <% properties_array = [] %>
   <% @tasks.each do |task| %>
   <% if !task.properties.empty? %>
   <% properties_array.push(task)%>
   <% end %>
   <% end %>
   <% projects_array = [] %>
   <% @tasks.each do |task| %>
   <% if task.projects.count >= 1 %>
   <% projects_array.push(task)%>
   <% end %>
   <% end %>
   <% groups_array = [] %>
   <% @tasks.each_with_index do |task, index|%>
   <% if task.groups.count >= 1 %>
   <% groups_array.push(task)%>
   <% end %>
   <% end %>
   <% leads_array = [] %>
   <% @tasks.each do |task| %>
   <% if task.leads.count >= 1 %>
   <% leads_array.push(task)%>
   <% end %>
   <% end %>
       <!-- .todo-header -->
      <% unless task_contact_array.nil? || task_contact_array.empty? %>

      <thead>
         <div class="todo-header p-2 mb-2"> Action Steps for Contacts </div>
      </thead>

      <% end %>
      <% task_contact_array.each_with_index do |task, index| %>
      <% next if task_contact_array.nil? || task_contact_array.empty? %>
      <tr id="edit_task_<%= task.id %>">

             <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn btn-warning btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
      <%= task.name %>   <% end %></td>


      </tr>
      <!-- /.custom-control -->
      <% end %>
      <!-- /.todo -->
      <% unless properties_array.nil? || properties_array.empty? %>

      <thead>
         <div class="todo-header p-3 mb-2"> Action Steps For Properties </div>
      </thead>

      <% end %>
      <% properties_array.each_with_index do |task, index| %>
      <% next if properties_array[index].nil? || properties_array[index] == '' %>
      <!-- .custom-control -->
      <tr id="edit_task_<%= task.id %>">

                 <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn btn-warning btn-link btn-sm ml-0 mr-0", remote: true, title: 'edit', rel: "tooltip"  do %>
      <%= task.name %>   <% end %></td>

      </tr>
      <% end %>
      <!-- /.todo -->
      <% unless properties_array || properties_array.empty? %>

      <thead>
         <div class="todo-header p-3 mb-2"> Action Steps for Projects </div>
      </thead>

      <% end %>
      <% projects_array.each_with_index do |task, index| %>
      <% next if projects_array[index].nil? || projects_array[index] == '' %>
      <tr id="edit_task_<%= task.id %>">

                 <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn btn-warning btn-link btn-sm ml-0 mr-0", remote: true, title: 'edit', rel: "tooltip"  do %>
      <%= task.name %>   <% end %></td>

      </tr>
      <!-- /.custom-control -->
      <% end %>
      <% unless groups_array.nil? || groups_array.empty? %>

      <thead>
         <div class="todo-header p-3 mb-2"> Action Steps for Groups </div>
      </thead>
      <% end %>
      <% groups_array.each_with_index do |task, index| %>
      <% next if groups_array[index].nil? || groups_array[index] == '' %>
      <tr id="edit_task_<%= task.id %>">

                 <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn btn-warning btn-link btn-sm ml-0 mr-0", remote: true, title: 'edit', rel: "tooltip"  do %>
      <%= task.name %>   <% end %></td>

      </tr>
      <!-- /.custom-control -->
      <% end %>
      <% unless leads_array.nil? || leads_array.empty? %>

      <thead>
         <div class="todo-header p-3 mb-2"> Action Steps for Leads </div>
      </thead>

      <% end %>
      <% leads_array.each_with_index do |task, index| %>
      <% next if leads_array[index].nil? || leads_array[index] == '' %>
      <tr id="edit_task_<%= task.id %>">

                  <td class="ml-0 mr-0 pl-0 pr-0">  <%= link_to edit_task_path(task.id), class: "btn ml-0 mr-0 btn-warning btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
      <%= task.name %>   <% end %></td>

      </tr>
      <!-- /.custom-control -->
      <% end %>
