<div class="col-md-12">

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
               <i class="material-icons">business</i>
              </div>
              <p class="card-category">Lead</p>
              <h3 class="card-title"><%= Lead.count %></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="/leads/" >View all Leads</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">equalizer</i>
              </div>
              <p class="card-category">Deals</p>
              <h3 class="card-title"><%= Deal.count %></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                  <%= link_to deals_path do %>
                    <i class="material-icons pb-2"">local_offer</i> View All Deals
                  <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">store</i>
              </div>
              <p class="card-category">Revenue</p>
              <h3 class="card-title">$34,245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons pb-2">date_range</i> Last 24 Hours
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">person</i>
              </div>
              <p class="card-category">Contacs</p>
              <h3 class="card-title">+<%= Contact.count %></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <%= link_to contacts_path do %>
                    <i class="material-icons pb-2">update</i> View Contacts
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="conversations">

</div>

</div>
