<style type="text/css" media="screen">
   .card-top-dash {
   position: relative;
   top: -2rem;
   }
   .card-icon-outline-warning {
   border: 1px solid rgba(255, 152, 0, 0.6);
   background: transparent !important;
   }
   .card-icon-outline-rose
   {
   border: 1px solid rgba(244, 67, 54, 0.6);
   background: transparent !important;
   }
   .card-icon-outline-success {
   border: 1px solid rgba(76, 175, 80, 0.6);
   background: transparent !important;
   }
   .card-icon-outline-info {
   border: 1px solid rgba(0, 188, 212, 0.6);
   background: transparent !important;
   }
   .card-icon-outline-danger {
   border: 1px solid rgba(244, 67, 54, 0.6);
   background: transparent !important;
   }
   .card-dash-warning {
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(255, 152, 0, 0.6);
   }
   .card-dash-rose {
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(244, 67, 54, 0.6);
   }
   .card-dash-success{
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(76, 175, 80, 0.6);
   }
   .card-dash-info{
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 188, 212, 0.6);
   }
   .media-left-deal {
   position: relative;
   left: -1.3rem;
   }
   /* vendor prefixes removed for clarity */
   .ribbon {
   width: 100%;
   margin: 10px auto;
   padding: 0 10px 0;
   position: relative;
   color: #444;
   background: #fff;
   border-radius: 3px;
   box-shadow: 0 1px 3px rgba(0,0,0,0.1);
   }
   .deal-dash-card {
   height: 535px;
   overflow: scroll;
   }
   .t-sec-box {
   box-shadow: 0 2px 4px rgba(0,0,0,.5) !important;
   background: black !important;
   }
   #taskContainer, #sortableTodo {
   background: black;
   }
   .one-edge-shadow {
   -webkit-box-shadow: 0 8px 6px -6px black !important;
   -moz-box-shadow: 0 8px 6px -6px black !important;
   box-shadow: 0 8px 6px -6px black !important;
   }
   .deals-card-d, .card-search-tables, .tasks-card {
   height: 500px;
   }
   .form-control, .is-focused .form-control {
   border-color: #00acc1 !important;
   }
   .position-right-deal  {
   position: absolute;
   right: 2rem;
   top: 2.24rem;
   }
   .task-body, .deals-body, .left-table {
   overflow: hidden;
   }
   .card-row-1 {
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(255, 152, 0, 0.6);
   }
   .card-row-2  {
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(244, 67, 54, 0.6);
   }
   .card-row-3 {
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(76, 175, 80, 0.6);
   }
   .card-row-4 {
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 188, 212, 0.6);
   }
   .tasks-card,  .deals-card-d {
   border-radius: 0px !important;
   }
</style>
<section>
   <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
         <!--Content-->
         <div class="modal-content text-center">
            <div class="modal-header d-flex justify-content-center">
               <p class="heading">Are you sure?</p>
            </div>
            <!--Body-->
            <div class="modal-body">
               <i class="fa fa-times fa-4x animated rotateIn"></i>
            </div>
            <!--Footer-->
            <div class="modal-footer flex-center">
               <a href="https://mdbootstrap.com/product/material-design-for-bootstrap-pro/" class="btn  btn-outline-secondary-modal">Yes</a>
               <a type="button" class="btn  btn-primary-modal waves-effect" data-dismiss="modal">No</a>
            </div>
         </div>
         <!--/.Content-->
      </div>
   </div>
</section>
<div class="col-md-12 first-show-card">
<div class="row first-show-card">
   <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
      <a href="/leads/" >
         <div class="card card-stats  rounded-0  card-dash-warning card-1" >
            <div class="card-header card-header-icon">
               <div class="card-icon card-icon-outline-warning">
                  <i class="material-icons bg-black text-warning">business</i>
               </div>
               <p class="card-category card-top-dash text-white">Lead</p>
               <h3 class="card-title text-white"><%= Lead.count %></h3>
            </div>
            <div class="card-footer">
               <div class="stats text-white">
                  <i class="material-icons text-warning mt-2 pt-1 pr-3">warning</i>
                  View all Leads
               </div>
            </div>
         </div>
      </a>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
      <%= link_to deals_path do %>
      <div class="card card-stats card-dash-rose rounded-0  card-1">
         <div class="card-header card-header-icon ">
            <div class="card-icon card-icon-outline-danger">
               <i class="material-icons bg-black text-danger">equalizer</i>
            </div>
            <p class="card-category card-top-dash text-white">Deals</p>
            <h3 class="card-title text-white"><%= Deal.count %></h3>
         </div>
         <div class="card-footer text-white">
            <div class="stats text-white">
               <i class="material-icons  text-danger mt-2 pt-1 pr-3 ">local_offer</i> View All Deals
            </div>
         </div>
      </div>
      <% end %>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
      <div class="card card-stats  card-dash-success rounded-0 card-1" >
         <div class="card-header  card-header-icon">
            <div class="card-icon  card-icon-outline-success">
               <i class="material-icons bg-black text-success">store</i>
            </div>
            <p class="card-category card-top-dash text-wgite">Revenue</p>
            <h3 class="card-title text-white">$34,245</h3>
         </div>
         <div class="card-footer">
            <div class="stats text-white">
               <i class="material-icons text-success mt-2 pt-1 pr-3">date_range</i> Last 24 Hours
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
      <%= link_to contacts_path do %>
      <div class="card card-stats card-category card-category-social card-dash-info rounded-0 card-1">
         <div class="card-header card-header-icon">
            <div class="card-icon  card-icon-outline-info">
               <i class="material-icons bg-black text-info">person</i>
            </div>
            <p class="card-category card-top-dash text-white">Contacs</p>
            <h3 class="card-title text-white">+<%= Contact.count %></h3>
         </div>
         <div class="card-footer">
            <div class="stats text-white">
               <i class="material-icons  text-info mt-2 pt-1 pr-3">update</i> <span >View Contacts</span>
            </div>
         </div>
      </div>
   </div>
   <% end %>
</div>
<section class="card card-cascade narrower mb-5 text-white card-1">
   <!--Grid row-->
   <div class="row">
      <!--Grid column-->
      <div class="col-md-5">
         <!--Panel Header-->
         <div class="view py-3 gradient-card-header bg-black">
            <h5 class="mb-0 text-white">Search</h5>
         </div>
         <!--/Panel Header-->
         <!--Panel content-->
         <div class="card-body">
            <!--Grid row-->
            <div class="row">
               <!--Grid column-->
               <div class=" mb-4 text-white mt-0">
                  <div class="mt-3 p-4">


                     <div class="card-header ">
                     <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                     <div class="nav-tabs-navigation mdl-color--grey-900">
                        <div class="nav-tabs-wrapper mdl-color--grey-900">
                           <ul class="nav nav-tabs" data-tabs="tabs">
                              <li class="nav-item">
                                 <a class="nav-link active" href="#profile" data-toggle="tab">
                                 <i class="material-icons">face</i>
                                 Contacts
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#messages" data-toggle="tab">
                                 <i class="material-icons">business</i>
                                 Properties
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#settings" data-toggle="tab">
                                 <i class="material-icons">build</i>
                                 Projects
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                     </div>
                  <div class="card-body bg-dark p-4 m-4 ">
                     <div class="tab-content text-center">
                        <div class="tab-pane active" id="profile">
                           <span class="bmd-form-group bmd-form-group-lg"><input name="query" id="query" class="form-control form-control-lg form-control-gray bg-gray mr-3 text-white query-c ui-autocomplete-input" placeholder="Name" autocomplete="off" type="text"></span>
                        </div>
                        <div class="tab-pane" id="messages">
                           <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                        </div>
                        <div class="tab-pane" id="settings">
                           <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <!--Grid column-->
               <!--Grid column-->
               <div class="card card-chart card-1">
               </div>
               <!--Grid column-->
            </div>
            <!--Grid row-->
         </div>
         <!--Panel content-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-7">
         <!--Panel Header-->
         <div class="view py-3 gradient-card-header bg-black mb-4">
            <div class="card mdl-color--grey-900">
               <div class="card-header card-header-icon ">
                  <div class="card-icon bg-black">
                     <i class="material-icons">timeline</i>
                  </div>
                  <h4 class="card-title text-white">Coloured Line Chart
                     <small> - Rounded</small>
                  </h4>
               </div>
               <div class="card-body mdl-color--grey-900 ">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="col-md-12">
                              <div class="card card-profile col-md-12">
                                 <div class="card-avatar">
                                    <a href="#pablo">
                                    <img class="img" src="./assets/img/faces/marc.jpg">
                                    </a>
                                 </div>
                                 <div class="card-body ">
                                    <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                                    <h4 class="card-title">Noah FIn</h4>
                                    <p class="card-description">
                                       Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p>
                                    <a href="#pablo" class="btn btn-info btn-round">Follow</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="col-md-12">
                              <div class="card card-profile col-md-12">
                                 <div class="card-avatar">
                                    <a href="#pablo">
                                    <img class="img" src="./assets/img/faces/marc.jpg">
                                    </a>
                                 </div>
                                 <div class="card-body ">
                                    <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                                    <h4 class="card-title">Mike Bo</h4>
                                    <p class="card-description">
                                       Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p>
                                    <a href="#pablo" class="btn btn-info btn-round">Follow</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="col-md-12">
                              <div class="card card-profile col-md-12">
                                 <div class="card-avatar">
                                    <a href="#pablo">
                                    <img class="img" src="./assets/img/faces/marc.jpg">
                                    </a>
                                 </div>
                                 <div class="card-body ">
                                    <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                                    <h4 class="card-title">Alec Worker</h4>
                                    <p class="card-description">
                                       Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p>
                                    <a href="#pablo" class="btn btn-info btn-round">Follow</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <!--/Card image-->
      </div>
      <!--Grid column-->
   </div>
   <!--Grid row-->
</section>
<div class="white-box mdl-color--grey-900 m-0 border-black">
   <div class="row row-in ">
      <div class="col-lg-3 col-sm-6 row-in-br">
         <div class="col-in row card-1 card-row-1">
            <div class="col-md-6 col-sm-6 col-xs-6">
               <i class="ti-user"></i>
               <h5 class="text-muted vb">MYNEW CLIENTS</h5>
            </div>
            <% new_clients = 0
               @leads.each_with_index do |lead, index|
                  if lead.contact
                     new_clients += 1
                  end
               end %>
            <div class="col-md-6 col-sm-6 col-xs-6">
               <h3 class="counter text-right m-t-15 text-danger"><%= new_clients %></h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
               </div>
            </div>
         </div>
      </div>
      <% open_projects = 0
         closed_projects = 0
         @projects.each do |project|
            if project.closed && project.closed == true
               closed_projects += 1
            end
         end %>
      <% closed_projects_index = 0
         @projects_array = @projects.to_a
         @projects_array.each_with_index do |project, index|
            if project.closed && project.closed ==  true
               closed_projects_index = index
            end
         end %>
      <% new_projects = 0 %>
      <% for i in (closed_projects_index...@projects_array.count)
         new_projects += 1
         end %>
      <div class="col-lg-3 col-sm-6 row-in-br  b-r-none">
         <div class="col-in row card-1 card-row-2">
            <div class="col-md-6 col-sm-6 col-xs-6">
               <i class="ti-pencil-alt"></i>
               <h5 class="text-muted vb">NEW PROJECTS</h5>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
               <h3 class="counter text-right m-t-15 text-info"><%= new_projects %></h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6 row-in-br">
         <div class="col-in row card-1 card-row-3">
            <div class="col-md-6 col-sm-6 col-xs-6">
               <i class="ti-mouse-alt"></i>
               <h5 class="text-muted vb">OPEN PROJECTS</h5>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
               <h3 class="counter text-right m-t-15 text-success"><%=  closed_projects %> </h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6  b-0">
         <div class="col-in row card-1 card-row-4">
            <div class="col-md-6 col-sm-6 col-xs-6">
               <i class="ti-receipt"></i>
               <h5 class="text-muted vb">NEW INVOICES</h5>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
               <h3 class="counter text-right m-t-15 text-warning">157</h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
</div>
<div class="row first-show-card">
   <div class="col-xl-3">
      <div class="card card-1 mb-4 p-0 tasks-card search-card">
         <div class="card-header card-1 p-0  card-1 ">
            <div class="card-1  div-header p-4">
               <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                     <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item ml-0 mr-0  pl-0 pr-0 ">
                           <a class="nav-link active  pl-1 pr-1 ml-1 mr-1 text-info t-tab " href=".c-s-dash" data-toggle="tab" id="contact-s" title="contacts">
                              <i class="material-icons">account_circle</i>
                              <span class="text-info"> </span>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item  pl-0 pr-0 ml-1 mr-1">
                           <a class="nav-link pl-1 pr-1 ml-0 mr-0 t-tab" href=".prop-s-dash" data-toggle="tab" id="propeties-s" title="properties">
                              <i class="material-icons ">business</i>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item pl-0 pr-0 ml-1 mr-1">
                           <a class="nav-link pl-1 pr-1 ml-0 mr-0 t-tab" href=".deals-s" data-toggle="tab" id="deals-s" title="deals">
                              <i class="material-icons">attach_money</i>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item pl-0 pr-0 ml-1 mr-1 ">
                           <a class="nav-link  pl-1 pr-1 ml-0 mr-0 t-tab" href=".pro-s-dash" data-toggle="tab" id="projects-s" title="projects">
                              <i class="material-icons">folder_special</i>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item pl-0 pr-0 ml-1 mr-1 ">
                           <a class="nav-link  pl-1 pr-1 ml-0 mr-0 t-tab" href=".g-s-dash" data-toggle="tab" id="groups-s" title="groups">
                              <i class="material-icons">group</i>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="card-body mb-4 card-1 pt-0 left-table">
            <div class="tab-content p-0">
               <div class="tab-pane active" id="dash-search-pan">
                  <div class="table-responsive left-table">
                     <table class="table p-0 ">
                        <input type="text" name="search_tables" class="form-control text-info mt-3 g-s-dash c-s-dash deals-s pro-s-dash prop-s-dash" id="dash-search"  placeholder= "Search...">
                        <tbody class="p-0 ml-0 mr-0 mt-2" id="seach-table-1">
                           <tr></tr>
                           <div class="" id="dash-calender"></div>
                           <%= link_to events_path, class: "mt-0 events-dash-link" do %>
                           View calendar
                           <% end %>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-xl-6 col-lg-12 first-show-card">
      <div class="card card-1 p-0 deals-card-d">
         <div class="card-header   mb-4 p-0  card-1 mb-0">
            <div class=" card-1  div-header p-4 ">
               <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                     <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                           <a class="nav-link active text-info " href="#profile" data-toggle="tab">
                              <i class="material-icons ">business</i>
                              <span class="text-info"> </span>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#messages" data-toggle="tab">
                              <i class="material-icons">account_circle</i>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="">
                           <h5 class="">Deals <span class="text-muted text-bold-400">- Won 5</span>
                              <small>
                              <a href="#" class="position-right-deal pb-4 text-white"><span>   New Deal</span></a>
                              </small>
                           </h5>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="card-body deals-body mb-4 mt-0">
            <div class="tab-content p-0">
               <div class="tab-pane active" id="profile">
                  <div class="table-responsive">
                     <table class="table  table-hover card-1">
                        <thead>
                           <tr>
                              <th class="text-center">Contact</th>
                              <th class="text-center">Name</th>
                              <th class="text-center">Date Created</th>
                              <th class="text-center">Status</th>
                              <th class="text-center">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           <% @deals.each do |deal| %>
                           <tr>
                              <td class="text-center">
                                 <% if deal.contacts.first == nil %>
                                 <%= image_tag small_gravatar_url("user1@example.com"), class: "user-image"  %>
                                 <% else %>
                                 <%= image_tag deal.contacts.first.avatar.present? ? deal.contacts.first.avatar.url(:thumb) : small_gravatar_url(deal.contacts.first.email), class: "user-image",  height: '32', width: '32'%>
                                 <% end %>
                              </td>
                              <td class="text-center text-white"><%= link_to deal_path(deal)  do %> <%= deal.name %>  <% end %></td>
                              <td class="text-center text-white"><%= deal.created_at.strftime("%B %e, %Y") %></td>
                              <!--   <td class="text-center text-white">deal.contacts.first.role  if deal.contacts.first %></td> -->
                              <td class="text-center text-white">  <%= deal.status %> </td>
                              <td class="text-center text-white">
                                 <a class="text-white"><i class="material-icons">more_horiz</i></a>
                              </td>
                           </tr>
                           <% end %>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-xl-3">
      <div class="card card-1  mb-4 p-0 tasks-card">
         <div class="card-header  card-1 p-0">
            <div class=" card-1  div-header p-4 m-0 ">
               <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                     <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                           <a class="nav-link active text-info task-user-tab" href="#maindash_tasks" data-toggle="tab">
                              <i class="material-icons ">business</i>
                              <span class="text-info"> All</span>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link task-user-tab" href="#tasks-user-list" data-toggle="tab">
                              <i class="material-icons">account_circle</i>
                              <%= current_user.first_name  %>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="card-body mb-4 task-body card-1 ">
            <div class="tab-content p-0">
               <div class="tab-pane active" id="maindash_tasks">
                  <div class="table-responsive">
                     <table class="table p-0">
                        <tbody class="p-0 m-0" id="task-table-prop-1 card-1 ">
                           <%= render 'tasks' %>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   $(function() {
    var hrefTempIndex = "#maindash_tasks"
    $(hrefTempIndex).show();
    $("#tasks-user-list").hide();
    $(document).on('click', '.task-user-tab', function (e) {
       e.preventDefault()
       var tabSection =  $(this).attr('href');
       $(hrefTempIndex).hide();
        $(tabSection).show();
        $(tabSection).css({
           display: 'block',
           visibility: 'visible'
        });
         hrefTempIndex = tabSection;
    })
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
       e.target // newly activated tab
       e.relatedTarget // previous active tab
    });

   });
</script>
