<style type="text/css" media="screen">
   .card-top-dash {
   position: relative;
   top: -2rem;
   }
   .card-icon-outline-warning {
   background: transparent !important;
   border: 1px solid #fb8c00 !important;
   }
   .card-icon-outline-rose
   {
   background: transparent !important;
   border: 1px solid #d81b60 !important;
   }
   .card-icon-outline-success {
   background: transparent !important;
   border: 1px solid #43a047 !important;
   }
   .card-icon-outline-info {
   background: transparent !important;
   border: 1px solid  #00acc1 !important;
   }
   .card-icon-outline-danger {
   background: transparent !important;
   border: 1px solid #f44336  !important;
   }
   .card-dash-warning {
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(255, 152, 0, 0.6);
   }
   .card-dash-rose {
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(233, 30, 99, 0.6);
   }
   .card-dash-success{
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(76, 175, 80, 0.6);
   }
   .card-dash-info{
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 188, 212, 0.6);
   }
   .media-left-deal {
   position: relative;
   left: -1.3rem;
   }
   /* vendor prefixes removed for clarity */
   .ribbon {
   width: 100%;
   margin: 10px auto;
   padding: 0 10px 0;
   position: relative;
   color: #444;
   background: #fff;
   border: 1px solid #d2d2d2;
   border-radius: 3px;
   box-shadow: 0 1px 3px rgba(0,0,0,0.1);
   }
   .deal-dash-card {
   height: 535px;
   overflow: scroll;
   }
   .deal-dash-card {
   height: 535px;
   overflow: scroll;
   }
   .t-sec-box {
   box-shadow: 0 2px 4px rgba(0,0,0,.5) !important;
   background: black !important;
   }
   #taskContainer, #sortableTodo {
   background: black;
   }
.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px black !important;
       -moz-box-shadow: 0 8px 6px -6px black !important;
            box-shadow: 0 8px 6px -6px black !important;
            border: #212121 !important;
}
.deals-card-d, .card-search-tables, .tasks-card {
    height: 500px;

}
.form-control, .is-focused .form-control {

  border-color: #00acc1 !important;

}
.position-right-deal  {
    position: absolute;
    right: 2rem;
   top: 2.24rem;

}

</style>
<div class="col-md-12 first-show-card">
<div class="row first-show-card">
   <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
      <a href="/leads/" >
         <div class="card card-stats  rounded-0 bg-black card-dash-warning">
            <div class="card-header    bg-black card-header-icon">
               <div class="card-icon card-icon-outline-warning">
                  <i class="material-icons">business</i>
               </div>
               <p class="card-category card-top-dash ">Lead</p>
               <h3 class="card-title"><%= Lead.count %></h3>
            </div>
            <div class="card-footer">
               <div class="stats">
                  <i class="material-icons text-warning mt-2 pt-1 pr-3">warning</i>
                  View all Leads
               </div>
            </div>
         </div>
      </a>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
      <%= link_to deals_path do %>
      <div class="card card-stats card-dash-rose rounded-0 bg-black">
         <div class="card-header card-header-icon ">
            <div class="card-icon card-icon-outline-danger">
               <i class="material-icons">equalizer</i>
            </div>
            <p class="card-category card-top-dash">Deals</p>
            <h3 class="card-title"><%= Deal.count %></h3>
         </div>
         <div class="card-footer">
            <div class="stats">
               <i class="material-icons  text-danger mt-2 pt-1 pr-3">local_offer</i> View All Deals
            </div>
         </div>
      </div>
      <% end %>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
      <div class="card card-stats  card-dash-success rounded-0 bg-black">
         <div class="card-header  card-header-icon">
            <div class="card-icon  card-icon-outline-success">
               <i class="material-icons">store</i>
            </div>
            <p class="card-category card-top-dash">Revenue</p>
            <h3 class="card-title">$34,245</h3>
         </div>
         <div class="card-footer">
            <div class="stats">
               <i class="material-icons text-success mt-2 pt-1 pr-3">date_range</i> Last 24 Hours
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
      <%= link_to contacts_path do %>
      <div class="card card-stats  card-dash-info rounded-0 bg-black">
         <div class="card-header card-header-icon">
            <div class="card-icon  card-icon-outline-info">
               <i class="material-icons">person</i>
            </div>
            <p class="card-category card-top-dash">Contacs</p>
            <h3 class="card-title">+<%= Contact.count %></h3>
         </div>
         <div class="card-footer">
            <div class="stats">
               <i class="material-icons  text-info mt-2 pt-1 pr-3">update</i> <span >View Contacts</span>
            </div>
         </div>
      </div>
   </div>
   <% end %>
</div>
<div class="white-box card-1 m-0">
   <div class="row row-in ">
      <div class="col-lg-3 col-sm-6 row-in-br">
         <div class="col-in row bg-black">
            <div class="col-md-6 col-sm-6 col-xs-6">
               <i class="ti-user"></i>
               <h5 class="text-muted vb">MYNEW CLIENTS</h5>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
               <h3 class="counter text-right m-t-15 text-danger">23</h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6 row-in-br  b-r-none">
         <div class="col-in row bg-black">
            <div class="col-md-6 col-sm-6 col-xs-6">
               <i class="ti-pencil-alt"></i>
               <h5 class="text-muted vb">NEW PROJECTS</h5>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
               <h3 class="counter text-right m-t-15 text-info">169</h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6 row-in-br">
         <div class="col-in row bg-black">
            <div class="col-md-6 col-sm-6 col-xs-6">
               <i class="ti-mouse-alt"></i>
               <h5 class="text-muted vb">OPEN PROJECTS</h5>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
               <h3 class="counter text-right m-t-15 text-success">431</h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6  b-0">
         <div class="col-in row bg-black">
            <div class="col-md-6 col-sm-6 col-xs-6">
               <i class="ti-receipt"></i>
               <h5 class="text-muted vb">NEW INVOICES</h5>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
               <h3 class="counter text-right m-t-15 text-warning">157</h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="row first-show-card">
<div class="col-xl-3">
     <div class="card bg-black mb-4 p-0 tasks-card search-card">
        <div class="card-header  p-0  bg-black ">
            <div class=" bg-black  div-header p-4 one-edge-shadow">
               <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                     <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                           <a class="nav-link active text-info " href="#contact-s" data-toggle="tab">
                             <i class="material-icons">account_circle</i>

                            <span class="text-info"> </span>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item ">
                           <a class="nav-link " href="#propeties-s" data-toggle="tab">
                              <i class="material-icons ">business</i>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                            <li class="nav-item pl-0 ml-0">
                           <a class="nav-link pl-0 ml-0" href="#deals-s" data-toggle="tab">
                              <i class="material-icons">monetization_on</i>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item pl-0 ml-0">
                           <a class="nav-link pl-0 ml-0" href="#deals-s" data-toggle="tab">
                             <i class="material-icons">content_copy</i>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
             </div>
            <div class="card-body mb-4">
               <div class="tab-content p-0">
                  <div class="tab-pane active" id="dash-search-pan">
                    <div class="table-responsive">
                         <table class="table p-0">
                            <input type="text" name="search_tables" class="form-control text-info mt-3" id="dash-search">

                            <tbody class="p-0 ml-0 mr-0 mt-2" id="seach-table-1">
                                <TR></TR>

                            </tbody>
                         </table>
                     </div>
                  </div>
               </div>
            </div>

     </div>
              </div>



   <div class="col-xl-6 col-lg-12 first-show-card">
        <div class="card bg-black mb-4 p-0 deals-card-d">
            <div class="card-header  p-0  bg-black ">
            <div class=" bg-black  div-header p-4 one-edge-shadow">
               <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                     <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                           <a class="nav-link active text-info " href="#profile" data-toggle="tab">
                                <i class="material-icons ">business</i>
                            <span class="text-info"> </span>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#messages" data-toggle="tab">
                              <i class="material-icons">account_circle</i>

                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class=""><h5 class="">Deals <span class="text-muted text-bold-400">- Won 5</span>
                            <small>
                            <a href="#" class="position-right-deal pb-4"><span>   New Deal</span></a>
                            </small>
                        </h5></li>
                     </ul>
                  </div>
               </div>
            </div>
             </div>
            <div class="card-body mb-4">
               <div class="tab-content p-0">
                  <div class="tab-pane active" id="profile">



               <% @deals.each do |deal| %>
               <div class="table-responsive">

                  <table class="table  table-hover bg-black">
                     <thead>
                        <tr>
                           <th class="text-center">Contact</th>
                           <th class="text-center">Name</th>
                           <th class="text-center">Date Created</th>
                           <th class="text-center">Role</th>
                           <th class="text-center">Status</th>
                           <th class="text-center">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td class="text-center"><% if deal.contacts.first == nil %>
                              <%= image_tag small_gravatar_url("user1@example.com"), class: "media-object"  %>
                              <% else %>
                              <%= image_tag deal.contacts.first.avatar.present? ? deal.contacts.first.avatar.url(:thumb) : 'placholder.png', class: "user-image" %>
                              <% end %>
                           </td>
                           <td class="text-center"><%= link_to deal_path(deal)  do %> <%= deal.name %>  <% end %></td>
                           <td class="text-center"><%= deal.created_at.strftime("%B %e, %Y") %></td>
                           <td class="text-center"><%= deal.contacts.first.role  if deal.contacts.first %></td>
                           <td class="text-center"><span class="status text-success">•</span>  <%= deal.status %> </td>
                           <td class="text-center">
                              <a class="text-white"><i class="material-icons">brightness_7</i></a>

                           </td>
                        </tr>
                        <% end %>
                     </tbody>
                  </table>
               </div>



                  </div>
               </div>
            </div>

     </div>

   </div>

       <div class="col-xl-3">


         <div class="card bg-black mb-4 p-0 tasks-card">
            <div class="card-header  p-0  bg-black ">
            <div class=" bg-black  div-header p-4 one-edge-shadow">
               <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                     <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                           <a class="nav-link active text-info " href="#profile" data-toggle="tab">
                                <i class="material-icons ">business</i>
                            <span class="text-info"> All</span>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#messages" data-toggle="tab">
                              <i class="material-icons">account_circle</i>
                              <%= current_user.first_name  %>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>

            </div>
             </div>
            <div class="card-body mb-4">
               <div class="tab-content p-0">
                  <div class="tab-pane active" id="profile">
                    <div class="table-responsive">
                         <table class="table p-0">

                               <%= render 'tasks' %>

                         </table>
                     </div>
                  </div>
               </div>
            </div>

     </div>
</div>

</div>



<div class="row">
   <!-- BEGIN ALERT - REVENUE -->
   <div class="col-md-3 col-sm-6">
      <div class="card bg-black">
         <div class="card-body no-padding">
            <div class="alert alert-callout card-icon-outline-info no-margin">
               <strong class="pull-right text-success text-lg">0,38% <i class="md md-trending-up"></i></strong>
               <strong class="text-xl">$ 32,829</strong><br>
               <span class="opacity-50">Revenue</span>
               <div class="stick-bottom-left-right">
                  <div class="progress progress-hairline no-margin">
                     <div class="progress-bar progress-bar-info" style="width:63%"></div>
                  </div>
               </div>
            </div>
         </div>
         <!--end .card-body -->
      </div>
      <!--end .card -->
   </div>
   <!--end .col -->
   <!-- END ALERT - REVENUE -->
   <!-- BEGIN ALERT - VISITS -->
   <div class="col-md-3 col-sm-6">
      <div class="card bg-black">
         <div class="card-body no-padding">
            <div class="alert alert-callout card-icon-outline-warning no-margin">
               <strong class="pull-right text-warning text-lg">0,01% <i class="md md-swap-vert"></i></strong>
               <strong class="text-xl">432,901</strong><br>
               <span class="opacity-50">Visits</span>
               <div class="stick-bottom-right">
                  <div class="progress progress-hairline no-margin">
                     <div class="progress-bar progress-bar-warning" style="width:23%"></div>
                  </div>
               </div>
            </div>
         </div>
         <!--end .card-body -->
      </div>
      <!--end .card -->
   </div>
   <!--end .col -->
   <!-- END ALERT - VISITS -->
   <!-- BEGIN ALERT - BOUNCE RATES -->
   <div class="col-md-3 col-sm-6">
      <div class="card bg-black">
         <div class="card-body no-padding">
            <div class="alert alert-callout card-icon-outline-danger no-margin">
               <strong class="pull-right  text-lg">0,18% <i class="md md-trending-down"></i></strong>
               <strong class="text-xl">42.90%</strong><br>
               <span class="opacity-50">Bounce rate</span>
               <div class="stick-bottom-left-right">
                  <div class="progress progress-hairline no-margin">
                     <div class="progress-bar progress-bar-danger" style="width:43%"></div>
                  </div>
               </div>
            </div>
         </div>
         <!--end .card-body -->
      </div>
      <!--end .card -->
   </div>
   <!--end .col -->
   <!-- END ALERT - BOUNCE RATES -->
   <!-- BEGIN ALERT - TIME ON SITE -->
   <div class="col-md-3 col-sm-6">
      <div class="card bg-black">
         <div class="card-body no-padding">
            <div class="alert alert-callout card-icon-outline-success no-margin">
               <h1 class="pull-right card-icon-outline-success"><i class="md md-timer"></i></h1>
               <strong class="text-xl">54 sec.</strong><br>
               <span class="opacity-50">Bounce rate</span>
               <div class="stick-bottom-left-right">
                  <div class="progress progress-hairline no-margin">
                     <div class="progress-bar progress-bar-success" style="width:43%"></div>
                  </div>
               </div>
            </div>
            <!--end .card-body -->
         </div>
         <!--end .card -->
      </div>
      <!--end .col -->
      <!-- END ALERT - TIME ON SITE -->
   </div>
</div>




<script type="text/javascript">

</script>

<!--  -->
