<div class="col-md-12 first-show-card">

<div class="row first-show-card">
    <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
         <a href="/leads/" >
        <div class="card card-stats rounded-0">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
               <i class="material-icons">business</i>
              </div>
              <p class="card-category">Lead</p>
              <h3 class="card-title"><%= Lead.count %></h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-warning">warning</i>
                    View all Leads
                </div>
            </div>
        </div>
         </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
      <%= link_to deals_path do %>
        <div class="card card-stats rounded-0">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">equalizer</i>
              </div>
              <p class="card-category">Deals</p>
              <h3 class="card-title"><%= Deal.count %></h3>
            </div>
            <div class="card-footer">
                <div class="stats">

                    <i class="material-icons pb-2 text-danger">local_offer</i> View All Deals

                </div>
            </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
        <div class="card card-stats rounded-0">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">store</i>
              </div>
              <p class="card-category">Revenue</p>
              <h3 class="card-title">$34,245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons pb-2 text-success">date_range</i> Last 24 Hours
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
       <%= link_to contacts_path do %>
        <div class="card card-stats rounded-0">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">person</i>
              </div>
              <p class="card-category">Contacs</p>
              <h3 class="card-title">+<%= Contact.count %></h3>
            </div>
            <div class="card-footer">
                <div class="stats">

                    <i class="material-icons pb-2 text-info">update</i> View Contacts

                </div>
            </div>
        </div>
    </div>
   <% end %>
</div>

                        <div class="white-box m-0">
                            <div class="row row-in ">
                                <div class="col-lg-3 col-sm-6 row-in-br">
                                    <div class="col-in row">
                                        <div class="col-md-6 col-sm-6 col-xs-6"> <i class="ti-user"></i>
                                            <h5 class="text-muted vb">MYNEW CLIENTS</h5>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h3 class="counter text-right m-t-15 text-danger">23</h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 row-in-br  b-r-none">
                                    <div class="col-in row">
                                        <div class="col-md-6 col-sm-6 col-xs-6"> <i class="ti-pencil-alt"></i>
                                            <h5 class="text-muted vb">NEW PROJECTS</h5>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h3 class="counter text-right m-t-15 text-info">169</h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 row-in-br">
                                    <div class="col-in row">
                                        <div class="col-md-6 col-sm-6 col-xs-6"> <i class="ti-mouse-alt"></i>
                                            <h5 class="text-muted vb">OPEN PROJECTS</h5>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h3 class="counter text-right m-t-15 text-success">431</h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6  b-0">
                                    <div class="col-in row">
                                        <div class="col-md-6 col-sm-6 col-xs-6"> <i class="ti-receipt"></i>
                                            <h5 class="text-muted vb">NEW INVOICES</h5>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h3 class="counter text-right m-t-15 text-warning">157</h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


<div class="row">

                            <!-- BEGIN ALERT - REVENUE -->
                            <div class="col-md-3 col-sm-6">
                                <div class="card">
                                    <div class="card-body no-padding">
                                        <div class="alert alert-callout alert-info no-margin">
                                            <strong class="pull-right text-success text-lg">0,38% <i class="md md-trending-up"></i></strong>
                                            <strong class="text-xl">$ 32,829</strong><br>
                                            <span class="opacity-50">Revenue</span>
                                            <div class="stick-bottom-left-right">
                                                 <div class="progress progress-hairline no-margin">
                                                    <div class="progress-bar progress-bar-info" style="width:63%"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div><!--end .card-body -->
                                </div><!--end .card -->
                            </div><!--end .col -->
                            <!-- END ALERT - REVENUE -->

                            <!-- BEGIN ALERT - VISITS -->
                            <div class="col-md-3 col-sm-6">
                                <div class="card">
                                    <div class="card-body no-padding">
                                        <div class="alert alert-callout alert-warning no-margin">
                                            <strong class="pull-right text-warning text-lg">0,01% <i class="md md-swap-vert"></i></strong>
                                            <strong class="text-xl">432,901</strong><br>
                                            <span class="opacity-50">Visits</span>
                                            <div class="stick-bottom-right">
                                                 <div class="progress progress-hairline no-margin">
                                                    <div class="progress-bar progress-bar-warning" style="width:23%"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div><!--end .card-body -->
                                </div><!--end .card -->
                            </div><!--end .col -->
                            <!-- END ALERT - VISITS -->

                            <!-- BEGIN ALERT - BOUNCE RATES -->
                            <div class="col-md-3 col-sm-6">
                                <div class="card">
                                    <div class="card-body no-padding">
                                        <div class="alert alert-callout alert-danger no-margin">
                                            <strong class="pull-right text-danger text-lg">0,18% <i class="md md-trending-down"></i></strong>
                                            <strong class="text-xl">42.90%</strong><br>
                                            <span class="opacity-50">Bounce rate</span>
                                            <div class="stick-bottom-left-right">
                                                <div class="progress progress-hairline no-margin">
                                                    <div class="progress-bar progress-bar-danger" style="width:43%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end .card-body -->
                                </div><!--end .card -->
                            </div><!--end .col -->
                            <!-- END ALERT - BOUNCE RATES -->

                            <!-- BEGIN ALERT - TIME ON SITE -->
                            <div class="col-md-3 col-sm-6">
                                <div class="card">
                                    <div class="card-body no-padding">
                                        <div class="alert alert-callout alert-success no-margin">
                                            <h1 class="pull-right text-success"><i class="md md-timer"></i></h1>
                                            <strong class="text-xl">54 sec.</strong><br>


                                            <span class="opacity-50">Bounce rate</span>
                                            <div class="stick-bottom-left-right">
                                                <div class="progress progress-hairline no-margin">
                                                    <div class="progress-bar progress-bar-success" style="width:43%"></div>
                                                </div>
                                        </div>
                                    </div><!--end .card-body -->
                                </div><!--end .card -->
                            </div><!--end .col -->
                            <!-- END ALERT - TIME ON SITE -->

                        </div>
</div>





<div class="row first-show-card">
  <div class="col-xl-3 col-lg-12 col-md-12 first-show-card">
        <div class="card rounded-0">
            <div class="card-content">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="success">2,780</h3>
                            <span>Today's Leads</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="ft-award success font-large-2 float-right"></i>
                        </div>
                    </div>
                    <div class="progress mt-1 mb-0" style="height: 7px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-content">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="deep-orange">2,780</h3>
                            <span>New Deal</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="ft-package deep-orange font-large-2 float-right"></i>
                        </div>
                    </div>
                    <div class="progress mt-1 mb-0" style="height: 7px;">
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 75%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-content">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="">56</h3>
                            <span>New Customers</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="ft-package bg-info font-large-2 float-right"></i>
                        </div>
                    </div>
                    <div class="progress mt-1 mb-0" style="height: 7px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 45%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xl-6 col-lg-12 first-show-card">
        <div class="card rounded-0 r-padding-card" >
            <div class="card-header no-border">
                <h4 class="card-title">Deals <span class="text-muted text-bold-400">- Won 5</span></h4>
                <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content r-padding-card">
                <div id="deals-list-scroll " class="card-body n-padding-card" >
                    <div class="media n-padding-card ">
                        <div class="media-left pr-2 n-padding-card">
                            <%= image_tag 'http://placehold.it/150x150', class: "media-object small-image" %>
                        </div>
                        <div class="media-body s-padding-card">
                            <p class="text-bold-600 m-0">ABC Inc. deal title <span class="float-right badge badge-success">Won</span></p>
                            <p class="font-small-2 text-muted m-0">$122,000.88<i class="ft-calendar pl-1"></i> Yesterday</p>
                        </div>
                    </div>
                    <div class="media mt-1">
                        <div class="media-left pr-2 n-padding-card">
                             <%= image_tag 'http://placehold.it/150x150', class: "media-object small-image" %>
                        </div>
                        <div class="media-body s-padding-card">
                            <p class="text-bold-600 m-0">Donec ac condimentum massa <span class="float-right badge badge-primary">Opened</span></p>
                            <p class="font-small-2 text-muted m-0">$80,000.52<i class="ft-calendar pl-1"></i> 2 Weeks ago</p>
                        </div>
                    </div>
                    <div class="media mt-1">
                        <div class="media-left pr-2 n-padding-card">
                             <%= image_tag 'http://placehold.it/150x150', class: "media-object small-image " %>
                        </div>
                        <div class="media-body s-padding-card">
                            <p class="text-bold-600 m-0">Simply dummy text of the printing <span class="float-right badge badge-danger">Lost</span></p>
                            <p class="font-small-2 text-muted m-0">$40,215.28<i class="ft-calendar pl-1"></i> 1 Month ago</p>
                        </div>
                    </div>
                    <div class="media mt-1">
                        <div class="media-left pr-2 n-padding-card">
                            <%= image_tag 'http://placehold.it/150x150', class: "media-object small-image " %>
                        </div>
                        <div class="media-body s-padding-card">
                            <p class="text-bold-600 m-0">The generated Lorem or title <span class="float-right badge badge-warning">Demo</span></p>
                            <p class="font-small-2 text-muted m-0">$25,215.28<i class="ft-calendar pl-1"></i> 1 Month ago</p>
                        </div>
                    </div>
                    <div class="media mt-1">
                        <div class="media-left pr-2 n-padding-card">
                             <%= image_tag 'http://placehold.it/150x150', class: "media-object small-image " %>
                        </div>
                        <div class="media-body s-padding-card">
                            <p class="text-bold-600 m-0">The standard chunk of Lorem <span class="float-right badge badge-info">Contected</span></p>
                            <p class="font-small-2 text-muted m-0">$12,215.28<i class="ft-calendar pl-1"></i> 11/11/2016</p>
                        </div>
                    </div>
                    <div class="media mt-1">
                        <div class="media-left pr-2 n-padding-card">
                            <%= image_tag 'http://placehold.it/150x150', class: "media-object small-image " %>
                        </div>
                        <div class="media-body s-padding-card">
                            <p class="text-bold-600 m-0">Nam in egestas onsectetur <span class="float-right badge badge-secondary">No Show</span></p>
                            <p class="font-small-2 text-muted m-0">$11,215.28<i class="ft-calendar pl-1"></i> 10/10/2016</p>
                        </div>
                    </div>
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 666px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-12 first-show-card">
        <div class="card no-border box-shadow-0 border-0 pb-0 rounded-0" style="height: 471px;">
            <div class="card-content">
                <div class="">
                    <div class=" bg-grey bg-lighten-1 white mt-3 p-1 text-center">
                        <span class="date block  text-center">14</span>
                        <span class="month  text-center">Nov</span>
                    </div>
                </div>
                <div class="card-body bg-grey bg-lighten-2">
                    <ul class="list-inline text-right">
                        <li><a data-action="reload"><i class="ft-rotate-cw font-medium-4 grey"></i></a></li>
                    </ul>
                    <div class="animated-weather-icons text-center">
                        <svg version="1.1" id="cloudHailAlt" class="climacon climacon_cloudHailAlt climacon-grey climacon-darken-2 height-200" viewBox="15 15 70 70">
                            <g class="climacon_iconWrap climacon_iconWrap-cloudHailAlt">
                                <g class="climacon_wrapperComponent climacon_wrapperComponent-hailAlt">
                                    <g class="climacon_component climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-left">
                                        <circle cx="42" cy="65.498" r="2"></circle>
                                    </g>
                                    <g class="climacon_component climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-middle">
                                        <circle cx="49.999" cy="65.498" r="2"></circle>
                                    </g>
                                    <g class="climacon_component climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-right">
                                        <circle cx="57.998" cy="65.498" r="2"></circle>
                                    </g>
                                    <g class="climacon_component climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-left">
                                        <circle cx="42" cy="65.498" r="2"></circle>
                                    </g>
                                    <g class="climacon_component climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-middle">
                                        <circle cx="49.999" cy="65.498" r="2"></circle>
                                    </g>
                                    <g class="climacon_component climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-right">
                                        <circle cx="57.998" cy="65.498" r="2"></circle>
                                    </g>
                                </g>
                                <g class="climacon_wrapperComponent climacon_wrapperComponent-cloud">
                                    <path class="climacon_component climacon_component-stroke climacon_component-stroke_cloud" d="M63.999,64.941v-4.381c2.39-1.384,3.999-3.961,3.999-6.92c0-4.417-3.581-8-7.998-8c-1.602,0-3.084,0.48-4.334,1.291c-1.23-5.317-5.974-9.29-11.665-9.29c-6.626,0-11.998,5.372-11.998,11.998c0,3.549,1.55,6.728,3.999,8.924v4.916c-4.776-2.768-7.998-7.922-7.998-13.84c0-8.835,7.162-15.997,15.997-15.997c6.004,0,11.229,3.311,13.966,8.203c0.663-0.113,1.336-0.205,2.033-0.205c6.626,0,11.998,5.372,11.998,12C71.998,58.863,68.656,63.293,63.999,64.941z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="weather-details text-center">
                        <span class="mt-2 block grey darken-1">Snow</span>
                        <span class="font-medium-4 text-bold-500 grey darken-4">Poughkeepsie, NY</span>
                    </div>
                </div>
                <div class="card-footer bg-grey bg-darken-3 py-3 no-border p-0 m-0">
                    <div class="row text-center text-white ml-auto mr-auto">
                        <div class="col-4 text-center display-table-cell">
                            <i class="ft-wind font-large-1 white lighten-3 valign-middle"></i> <span class="white valign-middle">2MPH</span>
                        </div>
                        <div class="col-4 text-center display-table-cell">
                            <i class="ft-sun font-large-1 white lighten-3 valign-middle"></i> <span class="white valign-middle">2%</span>
                        </div>
                        <div class="col-4 text-center display-table-cell">
                            <i class="ft-thermometer font-large-1 white lighten-3 valign-middle"></i> <span class="white valign-middle">13.0°</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>




</div>
</div>


