<style type="text/css" media="screen">
   .card-top-dash {
   position: relative;
   top: -2rem;
   }
   .card-icon-outline-warning {
   background: transparent !important;
   border: 1px solid #fb8c00 !important;
   }
   .card-icon-outline-rose
   {
   background: transparent !important;
   border: 1px solid #d81b60 !important;
   }
   .card-icon-outline-success {
   background: transparent !important;
   border: 1px solid #43a047 !important;
   }
   .card-icon-outline-info {
   background: transparent !important;
   border: 1px solid  #00acc1 !important;
   }
   .card-icon-outline-danger {
   background: transparent !important;
   border: 1px solid #f44336  !important;
   }
   .card-dash-warning {
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(255, 152, 0, 0.6);
   }
   .card-dash-rose {
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(233, 30, 99, 0.6);
   }
   .card-dash-success{
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(76, 175, 80, 0.6);
   }
   .card-dash-info{
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 188, 212, 0.6);
   }
   .media-left-deal {
   position: relative;
   left: -1.3rem;
   }
   /* vendor prefixes removed for clarity */
   .ribbon {
   width: 100%;
   margin: 10px auto;
   padding: 0 10px 0;
   position: relative;
   color: #444;
   background: #fff;
   border: 1px solid #d2d2d2;
   border-radius: 3px;
   box-shadow: 0 1px 3px rgba(0,0,0,0.1);
   }
   .deal-dash-card {
   height: 535px;
   overflow: scroll;
   }
   .deal-dash-card {
   height: 535px;
   overflow: scroll;
   }
   .t-sec-box {
   box-shadow: 0 2px 4px rgba(0,0,0,.5) !important;
   background: black !important;
   }
   #taskContainer, #sortableTodo {
   background: black;
   }
.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px black !important;
       -moz-box-shadow: 0 8px 6px -6px black !important;
            box-shadow: 0 8px 6px -6px black !important;
            border: #212121 !important;
}
.deals-card-d, .card-search-tables, .tasks-card {
    height: 500px;

}
.form-control, .is-focused .form-control {

  border-color: #00acc1 !important;

}
.position-right-deal  {
    position: absolute;
    right: 2rem;
   top: 2.24rem;

}

</style>
<div class="col-md-12 first-show-card">
<div class="row first-show-card">
   <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
      <a href="/leads/" >
         <div class="card card-stats  rounded-0 bg-black card-dash-warning">
            <div class="card-header    bg-black card-header-icon">
               <div class="card-icon card-icon-outline-warning">
                  <i class="material-icons">business</i>
               </div>
               <p class="card-category card-top-dash ">Lead</p>
               <h3 class="card-title"><%= Lead.count %></h3>
            </div>
            <div class="card-footer">
               <div class="stats">
                  <i class="material-icons text-warning mt-2 pt-1 pr-3">warning</i>
                  View all Leads
               </div>
            </div>
         </div>
      </a>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
      <%= link_to deals_path do %>
      <div class="card card-stats card-dash-rose rounded-0 bg-black">
         <div class="card-header card-header-icon ">
            <div class="card-icon card-icon-outline-danger">
               <i class="material-icons">equalizer</i>
            </div>
            <p class="card-category card-top-dash">Deals</p>
            <h3 class="card-title"><%= Deal.count %></h3>
         </div>
         <div class="card-footer">
            <div class="stats">
               <i class="material-icons  text-danger mt-2 pt-1 pr-3">local_offer</i> View All Deals
            </div>
         </div>
      </div>
      <% end %>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
      <div class="card card-stats  card-dash-success rounded-0 bg-black">
         <div class="card-header  card-header-icon">
            <div class="card-icon  card-icon-outline-success">
               <i class="material-icons">store</i>
            </div>
            <p class="card-category card-top-dash">Revenue</p>
            <h3 class="card-title">$34,245</h3>
         </div>
         <div class="card-footer">
            <div class="stats">
               <i class="material-icons text-success mt-2 pt-1 pr-3">date_range</i> Last 24 Hours
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-6 first-show-card">
      <%= link_to contacts_path do %>
      <div class="card card-stats  card-dash-info rounded-0 bg-black">
         <div class="card-header card-header-icon">
            <div class="card-icon  card-icon-outline-info">
               <i class="material-icons">person</i>
            </div>
            <p class="card-category card-top-dash">Contacs</p>
            <h3 class="card-title">+<%= Contact.count %></h3>
         </div>
         <div class="card-footer">
            <div class="stats">
               <i class="material-icons  text-info mt-2 pt-1 pr-3">update</i> <span >View Contacts</span>
            </div>
         </div>
      </div>
   </div>
   <% end %>
</div>
<div class="white-box card-1 m-0">
   <div class="row row-in ">
      <div class="col-lg-3 col-sm-6 row-in-br">
         <div class="col-in row bg-black">
            <div class="col-md-6 col-sm-6 col-xs-6">
               <i class="ti-user"></i>
               <h5 class="text-muted vb">MYNEW CLIENTS</h5>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
               <h3 class="counter text-right m-t-15 text-danger">23</h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6 row-in-br  b-r-none">
         <div class="col-in row bg-black">
            <div class="col-md-6 col-sm-6 col-xs-6">
               <i class="ti-pencil-alt"></i>
               <h5 class="text-muted vb">NEW PROJECTS</h5>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
               <h3 class="counter text-right m-t-15 text-info">169</h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6 row-in-br">
         <div class="col-in row bg-black">
            <div class="col-md-6 col-sm-6 col-xs-6">
               <i class="ti-mouse-alt"></i>
               <h5 class="text-muted vb">OPEN PROJECTS</h5>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
               <h3 class="counter text-right m-t-15 text-success">431</h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6  b-0">
         <div class="col-in row bg-black">
            <div class="col-md-6 col-sm-6 col-xs-6">
               <i class="ti-receipt"></i>
               <h5 class="text-muted vb">NEW INVOICES</h5>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
               <h3 class="counter text-right m-t-15 text-warning">157</h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="row first-show-card">
<div class="col-xl-3">
     <div class="card bg-black mb-4 p-0 tasks-card">
        <div class="card-header  p-0  bg-black ">
            <div class=" bg-black  div-header p-4 one-edge-shadow">
               <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                     <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                           <a class="nav-link active text-info " href="#contact-s" data-toggle="tab">
                             <i class="material-icons">account_circle</i>

                            <span class="text-info"> </span>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item ">
                           <a class="nav-link " href="#propeties-s" data-toggle="tab">
                              <i class="material-icons ">business</i>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                            <li class="nav-item pl-0 ml-0">
                           <a class="nav-link pl-0 ml-0" href="#deals-s" data-toggle="tab">
                              <i class="material-icons">monetization_on</i>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item pl-0 ml-0">
                           <a class="nav-link pl-0 ml-0" href="#deals-s" data-toggle="tab">
                             <i class="material-icons">content_copy</i>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
             </div>
            <div class="card-body mb-4">
               <div class="tab-content p-0">
                  <div class="tab-pane active" id="profile">
                    <div class="table-responsive">
                         <table class="table p-0">
                            <input type="text" name="search_tables" class="form-control text-info mt-3" id="dash-search">
                            <tbody class="p-0 ml-0 mr-0 mt-2" id="seach-table-1">
                                <TR></TR>

                            </tbody>
                         </table>
                     </div>
                  </div>
               </div>
            </div>

     </div>
              </div>



   <div class="col-xl-6 col-lg-12 first-show-card">
        <div class="card bg-black mb-4 p-0 deals-card-d">
            <div class="card-header  p-0  bg-black ">
            <div class=" bg-black  div-header p-4 one-edge-shadow">
               <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                     <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                           <a class="nav-link active text-info " href="#profile" data-toggle="tab">
                                <i class="material-icons ">business</i>
                            <span class="text-info"> </span>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#messages" data-toggle="tab">
                              <i class="material-icons">account_circle</i>

                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class=""><h5 class="">Deals <span class="text-muted text-bold-400">- Won 5</span>
                            <small>
                            <a href="#" class="position-right-deal pb-4"><span>   New Deal</span></a>
                            </small>
                        </h5></li>
                     </ul>
                  </div>
               </div>
            </div>
             </div>
            <div class="card-body mb-4">
               <div class="tab-content p-0">
                  <div class="tab-pane active" id="profile">



               <% @deals.each do |deal| %>
               <div class="table-responsive">

                  <table class="table  table-hover bg-black">
                     <thead>
                        <tr>
                           <th class="text-center">Contact</th>
                           <th class="text-center">Name</th>
                           <th class="text-center">Date Created</th>
                           <th class="text-center">Role</th>
                           <th class="text-center">Status</th>
                           <th class="text-center">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td class="text-center"><% if deal.contacts.first == nil %>
                              <%= image_tag small_gravatar_url("user1@example.com"), class: "media-object"  %>
                              <% else %>
                              <%= image_tag deal.contacts.first.avatar.present? ? deal.contacts.first.avatar.url(:thumb) : 'placholder.png', class: "user-image" %>
                              <% end %>
                           </td>
                           <td class="text-center"><%= link_to deal_path(deal)  do %> <%= deal.name %>  <% end %></td>
                           <td class="text-center"><%= deal.created_at.strftime("%B %e, %Y") %></td>
                           <td class="text-center"><%= deal.contacts.first.role  if deal.contacts.first %></td>
                           <td class="text-center"><span class="status text-success">•</span>  <%= deal.status %> </td>
                           <td class="text-center">
                              <a class="text-white"><i class="material-icons">brightness_7</i></a>

                           </td>
                        </tr>
                        <% end %>
                     </tbody>
                  </table>
               </div>



                  </div>
               </div>
            </div>

     </div>

   </div>

       <div class="col-xl-3">


         <div class="card bg-black mb-4 p-0 tasks-card">
            <div class="card-header  p-0  bg-black ">
            <div class=" bg-black  div-header p-4 one-edge-shadow">
               <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                     <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                           <a class="nav-link active text-info " href="#profile" data-toggle="tab">
                                <i class="material-icons ">business</i>
                            <span class="text-info"> All</span>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#messages" data-toggle="tab">
                              <i class="material-icons">account_circle</i>
                              <%= current_user.first_name  %>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>

            </div>
             </div>
            <div class="card-body mb-4">
               <div class="tab-content p-0">
                  <div class="tab-pane active" id="profile">
                    <div class="table-responsive">
                         <table class="table p-0">
                            <tbody class="p-0 m-0" id="task-table-2 ">
                               <%= render 'tasks' %>
                            </tbody>
                         </table>
                     </div>
                  </div>
               </div>
            </div>

     </div>
</div>

</div>


<div class="row">
   <div class="card card-circle-chart black-background-image" data-background-color="blue">
      <div class="card-header text-center black-background-image p-0">
         <div class=" card-1  div-header black-background-image p-4">
            <h5 class="card-title">Dashboard</h5>
            <p class="description">Monthly sales target</p>
         </div>
      </div>
      <div class="card-body">
         <div class="row">
            <div class="col-md-12">
               <div class="black-background-image">
                  <div class="row ">
                     <div class="col-md-4">
                        <div class="card card-chart  bg-black pt-3">
                           <div class="card-header card-header-rose  bg-black">
                              <div id="roundedLineChart" class="ct-chart">
                                 <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;">
                                    <g class="ct-grids">
                                       <line y1="120" y2="120" x1="40" x2="363.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="96" y2="96" x1="40" x2="363.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="72" y2="72" x1="40" x2="363.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="48" y2="48" x1="40" x2="363.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="24" y2="24" x1="40" x2="363.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="0" y2="0" x1="40" x2="363.316650390625" class="ct-grid ct-vertical"></line>
                                    </g>
                                    <g>
                                       <g class="ct-series ct-series-a">
                                          <path d="M40,91.2C47.698,89.2,70.792,77.2,86.188,79.2C101.584,81.2,116.98,103.2,132.376,103.2C147.772,103.2,163.168,85.6,178.564,79.2C193.96,72.8,209.356,65.2,224.752,64.8C240.148,64.4,255.544,82.8,270.94,76.8C286.336,70.8,309.431,36.8,317.129,28.8" class="ct-line"></path>
                                       </g>
                                    </g>
                                    <g class="ct-labels">
                                       <foreignObject style="overflow: visible;" x="40" y="125" width="46.18809291294643" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 46px; height: 20px;">M</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="86.18809291294643" y="125" width="46.18809291294643" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 46px; height: 20px;">T</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="132.37618582589286" y="125" width="46.188092912946416" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 46px; height: 20px;">W</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="178.56427873883928" y="125" width="46.188092912946445" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 46px; height: 20px;">T</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="224.75237165178572" y="125" width="46.188092912946445" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 46px; height: 20px;">F</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="270.94046456473217" y="125" width="46.18809291294639" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 46px; height: 20px;">S</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="317.12855747767856" y="125" width="46.188092912946445" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 46px; height: 20px;">S</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="96" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">0</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="72" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">10</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="48" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">20</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="24" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">30</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="0" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">40</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="-30" x="0" height="30" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 30px; width: 30px;">50</span></foreignObject>
                                    </g>
                                 </svg>
                              </div>
                           </div>
                           <div class="card-body">
                              <h4 class="card-title">New Contacts Chart</h4>
                              <p class="card-category">Line Chart</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="card card-chart  bg-black  pt-3">
                           <div class="card-header card-header-warning  bg-black ">
                              <div id="straightLinesChart" class="ct-chart">
                                 <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;">
                                    <g class="ct-grids">
                                       <line x1="40" x2="40" y1="0" y2="120" class="ct-grid ct-horizontal"></line>
                                       <line x1="75.924072265625" x2="75.924072265625" y1="0" y2="120" class="ct-grid ct-horizontal"></line>
                                       <line x1="111.84814453125" x2="111.84814453125" y1="0" y2="120" class="ct-grid ct-horizontal"></line>
                                       <line x1="147.772216796875" x2="147.772216796875" y1="0" y2="120" class="ct-grid ct-horizontal"></line>
                                       <line x1="183.6962890625" x2="183.6962890625" y1="0" y2="120" class="ct-grid ct-horizontal"></line>
                                       <line x1="219.620361328125" x2="219.620361328125" y1="0" y2="120" class="ct-grid ct-horizontal"></line>
                                       <line x1="255.54443359375" x2="255.54443359375" y1="0" y2="120" class="ct-grid ct-horizontal"></line>
                                       <line x1="291.468505859375" x2="291.468505859375" y1="0" y2="120" class="ct-grid ct-horizontal"></line>
                                       <line x1="327.392578125" x2="327.392578125" y1="0" y2="120" class="ct-grid ct-horizontal"></line>
                                       <line y1="120" y2="120" x1="40" x2="363.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="96" y2="96" x1="40" x2="363.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="72" y2="72" x1="40" x2="363.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="48" y2="48" x1="40" x2="363.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="24" y2="24" x1="40" x2="363.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="0" y2="0" x1="40" x2="363.316650390625" class="ct-grid ct-vertical"></line>
                                    </g>
                                    <g>
                                       <g class="ct-series ct-series-a">
                                          <path d="M40,96C75.924,81.6,75.924,81.6,75.924,81.6C111.848,100.8,111.848,100.8,111.848,100.8C147.772,88.8,147.772,88.8,147.772,88.8C183.696,72,183.696,72,183.696,72C219.62,84,219.62,84,219.62,84C255.544,72,255.544,72,255.544,72C291.469,38.4,291.469,38.4,291.469,38.4C327.393,48,327.393,48,327.393,48" class="ct-line ct-white"></path>
                                          <line x1="40" y1="96" x2="40.01" y2="96" class="ct-point ct-white" ct:value="10" opacity="1"></line>
                                          <line x1="75.924072265625" y1="81.6" x2="75.934072265625" y2="81.6" class="ct-point ct-white" ct:value="16" opacity="1"></line>
                                          <line x1="111.84814453125" y1="100.8" x2="111.85814453125" y2="100.8" class="ct-point ct-white" ct:value="8" opacity="1"></line>
                                          <line x1="147.772216796875" y1="88.8" x2="147.782216796875" y2="88.8" class="ct-point ct-white" ct:value="13" opacity="1"></line>
                                          <line x1="183.6962890625" y1="72" x2="183.7062890625" y2="72" class="ct-point ct-white" ct:value="20" opacity="1"></line>
                                          <line x1="219.620361328125" y1="84" x2="219.630361328125" y2="84" class="ct-point ct-white" ct:value="15" opacity="1"></line>
                                          <line x1="255.54443359375" y1="72" x2="255.55443359375" y2="72" class="ct-point ct-white" ct:value="20" opacity="1"></line>
                                          <line x1="291.468505859375" y1="38.400000000000006" x2="291.478505859375" y2="38.400000000000006" class="ct-point ct-white" ct:value="34" opacity="1"></line>
                                          <line x1="327.392578125" y1="48" x2="327.402578125" y2="48" class="ct-point ct-white" ct:value="30" opacity="1"></line>
                                       </g>
                                    </g>
                                    <g class="ct-labels">
                                       <foreignObject style="overflow: visible;" x="40" y="125" width="35.924072265625" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 36px; height: 20px;">'07</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="75.924072265625" y="125" width="35.924072265625" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 36px; height: 20px;">'08</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="111.84814453125" y="125" width="35.924072265625" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 36px; height: 20px;">'09</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="147.772216796875" y="125" width="35.924072265625" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 36px; height: 20px;">'10</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="183.6962890625" y="125" width="35.924072265625" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 36px; height: 20px;">'11</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="219.620361328125" y="125" width="35.924072265625" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 36px; height: 20px;">'12</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="255.54443359375" y="125" width="35.924072265625" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 36px; height: 20px;">'13</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="291.468505859375" y="125" width="35.924072265625" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 36px; height: 20px;">'14</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="327.392578125" y="125" width="35.924072265625" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 36px; height: 20px;">'15</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="96" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">0</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="72" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">10</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="48" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">20</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="24" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">30</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="0" x="0" height="24" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 24px; width: 30px;">40</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="-30" x="0" height="30" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 30px; width: 30px;">50</span></foreignObject>
                                    </g>
                                 </svg>
                              </div>
                           </div>
                           <div class="card-body">
                              <h4 class="card-title">New Leads Chart</h4>
                              <p class="card-category">Line Chart with Points</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="card card-chart  bg-black  pt-3">
                           <div class="card-header card-header-info bg-black">
                              <div id="simpleBarChart" class="ct-chart">
                                 <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-bar" style="width: 100%; height: 100%;">
                                    <g class="ct-grids">
                                       <line y1="115" y2="115" x1="50" x2="348.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="92.77777777777777" y2="92.77777777777777" x1="50" x2="348.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="70.55555555555556" y2="70.55555555555556" x1="50" x2="348.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="48.33333333333333" y2="48.33333333333333" x1="50" x2="348.316650390625" class="ct-grid ct-vertical"></line>
                                       <line y1="26.111111111111114" y2="26.111111111111114" x1="50" x2="348.316650390625" class="ct-grid ct-vertical"></line>
                                    </g>
                                    <g>
                                       <g class="ct-series ct-series-a">
                                          <line x1="62.42986043294271" x2="62.42986043294271" y1="115" y2="54.77777777777778" class="ct-bar" ct:value="542" opacity="1"></line>
                                          <line x1="87.28958129882812" x2="87.28958129882812" y1="115" y2="65.77777777777777" class="ct-bar" ct:value="443" opacity="1"></line>
                                          <line x1="112.14930216471355" x2="112.14930216471355" y1="115" y2="79.44444444444444" class="ct-bar" ct:value="320" opacity="1"></line>
                                          <line x1="137.00902303059897" x2="137.00902303059897" y1="115" y2="28.33333333333333" class="ct-bar" ct:value="780" opacity="1"></line>
                                          <line x1="161.8687438964844" x2="161.8687438964844" y1="115" y2="53.55555555555556" class="ct-bar" ct:value="553" opacity="1"></line>
                                          <line x1="186.7284647623698" x2="186.7284647623698" y1="115" y2="64.66666666666666" class="ct-bar" ct:value="453" opacity="1"></line>
                                          <line x1="211.58818562825522" x2="211.58818562825522" y1="115" y2="78.77777777777777" class="ct-bar" ct:value="326" opacity="1"></line>
                                          <line x1="236.44790649414065" x2="236.44790649414065" y1="115" y2="66.77777777777777" class="ct-bar" ct:value="434" opacity="1"></line>
                                          <line x1="261.30762736002606" x2="261.30762736002606" y1="115" y2="51.888888888888886" class="ct-bar" ct:value="568" opacity="1"></line>
                                          <line x1="286.16734822591144" x2="286.16734822591144" y1="115" y2="47.22222222222223" class="ct-bar" ct:value="610" opacity="1"></line>
                                          <line x1="311.0270690917969" x2="311.0270690917969" y1="115" y2="31" class="ct-bar" ct:value="756" opacity="1"></line>
                                          <line x1="335.8867899576823" x2="335.8867899576823" y1="115" y2="15.555555555555557" class="ct-bar" ct:value="895" opacity="1"></line>
                                       </g>
                                    </g>
                                    <g class="ct-labels">
                                       <foreignObject style="overflow: visible;" x="50" y="120" width="24.859720865885418" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 25px; height: 20px;">Jan</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="74.85972086588542" y="120" width="24.859720865885418" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 25px; height: 20px;">Feb</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="99.71944173177084" y="120" width="24.859720865885414" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 25px; height: 20px;">Mar</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="124.57916259765625" y="120" width="24.85972086588542" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 25px; height: 20px;">Apr</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="149.43888346354169" y="120" width="24.85972086588542" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 25px; height: 20px;">Mai</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="174.2986043294271" y="120" width="24.859720865885407" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 25px; height: 20px;">Jun</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="199.1583251953125" y="120" width="24.859720865885436" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 25px; height: 20px;">Jul</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="224.01804606119794" y="120" width="24.859720865885407" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 25px; height: 20px;">Aug</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="248.87776692708334" y="120" width="24.859720865885407" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 25px; height: 20px;">Sep</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="273.73748779296875" y="120" width="24.859720865885436" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 25px; height: 20px;">Oct</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="298.5972086588542" y="120" width="24.859720865885436" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 25px; height: 20px;">Nov</span></foreignObject>
                                       <foreignObject style="overflow: visible;" x="323.4569295247396" y="120" width="30" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 30px; height: 20px;">Dec</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="92.77777777777777" x="10" height="22.22222222222222" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 22px; width: 30px;">0</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="70.55555555555554" x="10" height="22.22222222222222" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 22px; width: 30px;">200</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="48.33333333333333" x="10" height="22.22222222222223" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 22px; width: 30px;">400</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="26.111111111111114" x="10" height="22.222222222222214" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 22px; width: 30px;">600</span></foreignObject>
                                       <foreignObject style="overflow: visible;" y="-3.8888888888888857" x="10" height="30" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 30px; width: 30px;">800</span></foreignObject>
                                    </g>
                                 </svg>
                              </div>
                           </div>
                           <div class="card-body">
                              <h4 class="card-title ">Action Steeps Chart</h4>
                              <p class="card-category">Bar Chart</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <!-- BEGIN ALERT - REVENUE -->
   <div class="col-md-3 col-sm-6">
      <div class="card bg-black">
         <div class="card-body no-padding">
            <div class="alert alert-callout card-icon-outline-info no-margin">
               <strong class="pull-right text-success text-lg">0,38% <i class="md md-trending-up"></i></strong>
               <strong class="text-xl">$ 32,829</strong><br>
               <span class="opacity-50">Revenue</span>
               <div class="stick-bottom-left-right">
                  <div class="progress progress-hairline no-margin">
                     <div class="progress-bar progress-bar-info" style="width:63%"></div>
                  </div>
               </div>
            </div>
         </div>
         <!--end .card-body -->
      </div>
      <!--end .card -->
   </div>
   <!--end .col -->
   <!-- END ALERT - REVENUE -->
   <!-- BEGIN ALERT - VISITS -->
   <div class="col-md-3 col-sm-6">
      <div class="card bg-black">
         <div class="card-body no-padding">
            <div class="alert alert-callout card-icon-outline-warning no-margin">
               <strong class="pull-right text-warning text-lg">0,01% <i class="md md-swap-vert"></i></strong>
               <strong class="text-xl">432,901</strong><br>
               <span class="opacity-50">Visits</span>
               <div class="stick-bottom-right">
                  <div class="progress progress-hairline no-margin">
                     <div class="progress-bar progress-bar-warning" style="width:23%"></div>
                  </div>
               </div>
            </div>
         </div>
         <!--end .card-body -->
      </div>
      <!--end .card -->
   </div>
   <!--end .col -->
   <!-- END ALERT - VISITS -->
   <!-- BEGIN ALERT - BOUNCE RATES -->
   <div class="col-md-3 col-sm-6">
      <div class="card bg-black">
         <div class="card-body no-padding">
            <div class="alert alert-callout card-icon-outline-danger no-margin">
               <strong class="pull-right  text-lg">0,18% <i class="md md-trending-down"></i></strong>
               <strong class="text-xl">42.90%</strong><br>
               <span class="opacity-50">Bounce rate</span>
               <div class="stick-bottom-left-right">
                  <div class="progress progress-hairline no-margin">
                     <div class="progress-bar progress-bar-danger" style="width:43%"></div>
                  </div>
               </div>
            </div>
         </div>
         <!--end .card-body -->
      </div>
      <!--end .card -->
   </div>
   <!--end .col -->
   <!-- END ALERT - BOUNCE RATES -->
   <!-- BEGIN ALERT - TIME ON SITE -->
   <div class="col-md-3 col-sm-6">
      <div class="card bg-black">
         <div class="card-body no-padding">
            <div class="alert alert-callout card-icon-outline-success no-margin">
               <h1 class="pull-right card-icon-outline-success"><i class="md md-timer"></i></h1>
               <strong class="text-xl">54 sec.</strong><br>
               <span class="opacity-50">Bounce rate</span>
               <div class="stick-bottom-left-right">
                  <div class="progress progress-hairline no-margin">
                     <div class="progress-bar progress-bar-success" style="width:43%"></div>
                  </div>
               </div>
            </div>
            <!--end .card-body -->
         </div>
         <!--end .card -->
      </div>
      <!--end .col -->
      <!-- END ALERT - TIME ON SITE -->
   </div>
</div>
   <div class="row">

<div class=" col-md-4 profile-nav-ui">

      <ul id="accordion" class="accord">
         <li>
            <div class="col col_4 iamgurdeep-pic pl-0 pr-0">
               <img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="<%= asset_url('rob-lambert-64186-unsplash.jpg') %>">
               <div class="edit-pic">
                  <a href="https://web.facebook.com/iamgurdeeposahan" target="_blank" class="fa fa-facebook"></a>
                  <a href="https://www.instagram.com/gurdeeposahan/" target="_blank" class="fa fa-instagram"></a>
                  <a href="https://twitter.com/gurdeeposahan1" target="_blank" class="fa fa-twitter"></a>
                  <a href="https://plus.google.com/u/0/105032594920038016998" target="_blank" class="fa fa-google"></a>
               </div>
               <div class="username">
                  <h2>Gurdeep Osahan  <small><i class="fa fa-map-marker"></i> India (Punjab)</small></h2>
                  <p><i class="fa fa-briefcase"></i> Web Design and Development.</p>
                  <a href="https://web.facebook.com/iamgurdeeposahan" target="_blank" class="btn-o"> <i class="fa fa-user-plus"></i> Add Friend </a>
                  <a href="https://www.instagram.com/gurdeeposahan/" target="_blank"  class="btn-o"> <i class="fa fa-plus"></i> Follow </a>
                  <ul class="nav navbar-nav">
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-v pull-right"></span></a>
                        <ul class="dropdown-menu pull-right">
                           <li><a href="#">Video Call <i class="fa fa-video-camera"></i></a></li>
                           <li><a href="#">Poke <i class="fa fa-hand-o-right"></i></a></li>
                           <li><a href="#">Report <i class="fa fa-bug"></i></a></li>
                           <li><a href="#">Block <i class="fa fa-lock"></i></a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </li>
         <li>
            <div class="link"><i class="fa fa-globe"></i>About<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
               <li><a href="#"><i class="fa fa-calendar left-none"></i> Date of Birth : 03/09/1994</a></li>
               <li><a href="#">Address : INDIA,Punjab</a></li>
               <li><a href="mailto:gurdeepjawaddi94@gmail.com">Email : gurdeepjawaddi94@gmail.com</a></li>
               <li><a href="#">Phone : +91 85680-79956</a></li>
            </ul>
         </li>
         <li class="default open">
            <div class="link"><i class="fa fa-code"></i>Professional Skills<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
               <li><a href="#"><span class="tags">Adobe Photoshop</span> <span class="tags">Corel Draw</span> <span class="tags">CSS</span> <span class="tags">Css 3</span>
                  <span class="tags">Graphic Design</span> <span class="tags">HTML</span> <span class="tags">HTML5</span> <span class="tags">JavaScript</span>
                  <span class="tags">Twitter bootstrap</span> <span class="tags">bootstrap</span> <span class="tags">User Interface Design</span> <span class="tags">Wordpress</span>
               </li>
               </a>
            </ul>
         </li>
         <li>
            <div class="link"><i class="fa fa-picture-o"></i>Photos <small>1,120</small><i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
               <li class="photosgurdeep"><a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                  </a>
                  <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                  </a>
                  <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                  </a>
                  <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                  </a>
                  <a class="view-all" href="https://web.facebook.com/iamgurdeeposahan" target="_blank" >15+
                  </a>
               </li>
            </ul>
         </li>
         <li>
            <div class="link"><i class="fa fa-users"></i>Friends <small>1,053</small><i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
               <li class="photosgurdeep"><a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                  </a>
                  <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                  </a>
                  <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                  </a>
                  <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                  </a>
                  <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                  </a>
                  <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                  </a>
                  <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                  </a>
                  <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                  </a>
                  <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="http://webncc.in/img/user/gurdeep-singh-osahan.jpg">
                  </a>
                  <a class="view-all" href="https://web.facebook.com/iamgurdeeposahan" target="_blank">50+
                  </a>
               </li>
            </ul>
         </li>
      </ul>
   </div>
</div>
   <div class="col-xl-3 col-lg-12 first-show-card">
      <div class="card no-border box-shadow-0 border-0 pb-0 rounded-0 bg-black" style="height: 535px;">
         <div class="card-content">
            <div class="">
               <div class=" bg-grey bg-lighten-1 white mt-3 p-1 text-center">
                  <span class="date block  text-center">14</span>
                  <span class="month  text-center">Nov</span>
               </div>
            </div>
            <div class="card-body bg-grey bg-lighten-2">
               <ul class="list-inline text-right">
                  <li><a data-action="reload"><i class="ft-rotate-cw font-medium-4 grey"></i></a></li>
               </ul>
               <div class="animated-weather-icons text-center text-white">
                  <svg version="1.1" id="cloudHailAlt" class="climacon text-white climacon_cloudHailAlt climacon-grey climacon-darken-2 height-200" viewBox="15 15 70 70">
                     <g class="climacon_iconWrap climacon_iconWrap-cloudHailAlt">
                        <g class="climacon_wrapperComponent text-white climacon_wrapperComponent-hailAlt">
                           <g class="climacon_component text-white climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-left">
                              <circle cx="42" cy="65.498" r="2"></circle>
                           </g>
                           <g class="climacon_component text-white climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-middle">
                              <circle cx="49.999" cy="65.498" r="2"></circle>
                           </g>
                           <g class="climacon_component text-white climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-right">
                              <circle cx="57.998" cy="65.498" r="2"></circle>
                           </g>
                           <g class="climacon_component text-white climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-left">
                              <circle cx="42" cy="65.498" r="2"></circle>
                           </g>
                           <g class="climacon_component text-white climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-middle">
                              <circle cx="49.999" cy="65.498" r="2"></circle>
                           </g>
                           <g class="climacon_component  text-white climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-right">
                              <circle cx="57.998" cy="65.498" r="2"></circle>
                           </g>
                        </g>
                        <g class="climacon_wrapperComponent text-white climacon_wrapperComponent-cloud">
                           <path class="climacon_component  text-whiteclimacon_component-stroke climacon_component-stroke_cloud" d="M63.999,64.941v-4.381c2.39-1.384,3.999-3.961,3.999-6.92c0-4.417-3.581-8-7.998-8c-1.602,0-3.084,0.48-4.334,1.291c-1.23-5.317-5.974-9.29-11.665-9.29c-6.626,0-11.998,5.372-11.998,11.998c0,3.549,1.55,6.728,3.999,8.924v4.916c-4.776-2.768-7.998-7.922-7.998-13.84c0-8.835,7.162-15.997,15.997-15.997c6.004,0,11.229,3.311,13.966,8.203c0.663-0.113,1.336-0.205,2.033-0.205c6.626,0,11.998,5.372,11.998,12C71.998,58.863,68.656,63.293,63.999,64.941z"></path>
                        </g>
                     </g>
                  </svg>
               </div>
               <div class="weather-details text-center">
                  <span class="mt-2 block grey darken-1">Snow</span>
                  <span class="font-medium-4 text-bold-500 grey darken-4">Poughkeepsie, NY</span>
               </div>
            </div>
            <div class="card-footer bg-grey bg-darken-3 py-3 no-border p-0 m-0 rounded-0 ribbon">
               <div class="row text-center text-white ml-auto mr-auto">
                  <div class="col-4 text-center display-table-cell">
                     <i class="ft-wind font-large-1 white lighten-3 valign-middle"></i> <span class="white valign-middle">2MPH</span>
                  </div>
                  <div class="col-4 text-center display-table-cell">
                     <i class="ft-sun font-large-1 white lighten-3 valign-middle"></i> <span class="white valign-middle">2%</span>
                  </div>
                  <div class="col-4 text-center display-table-cell">
                     <i class="ft-thermometer font-large-1 white lighten-3 valign-middle"></i> <span class="white valign-middle">13.0°</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>

<script type="text/javascript">
   $(function() {
     var Accordion = function(el, multiple) {
     this.el = el || {};
     this.multiple = multiple || false;

     // Variables privadas
     var links = this.el.find('.link');
     // Evento
     links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
   }

   Accordion.prototype.dropdown = function(e) {
     var $el = e.data.el;
       $this = $(this),
       $next = $this.next();

     $next.slideToggle();
     $this.parent().toggleClass('open');

     if (!e.data.multiple) {
       $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
     };
   }

   var accordion = new Accordion($('#accordion'), false);
   });

</script>

<!--  -->
