



<div class="landding-page">
  <div class="layer">
    <!-- Page Content -->
<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-85 p-b-20">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <form class="login100-form ">
          <span class="login100-form-title p-b-70">
           Register
          </span>
          <span class="login100-form ">
            <%= devise_error_messages! %>
          </span>

          <div class="wrap-input100  m-t-85 m-b-35">
          <%= f.text_field :email, class: 'input100' %>
            <span class="focus-input100" data-placeholder="Email"></span>
          </div>

          <div class="wrap-input100 m-b-50  mt-3">
              <%= f.password_field :password, class: 'input100' %>

            <span class="focus-input100" data-placeholder="Password"></span>
          </div>
            <div class="wrap-input100 validate-input m-b-50  mt-3">

            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input100' %>
             <span class="focus-input100" data-placeholder="Password confirmation"></span>
          </div>

          <div class="container-login100-form-btn mt-4 mb-3">
            <button class="login100-form-btn" type="submit">
              Sign up
            </button>
          </div>

          <ul class="login-more p-t-190">
               <li class="m-b-8">
              <span class="txt1">
                 <%= link_to "Forgot?", new_password_path(resource_name), class: 'txt1' %>

              </span>

              <a href="#" class="txt2">
                <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                <%= link_to "Username / Password", new_confirmation_path(resource_name), class: 'txt2' %>
              <% end %>
              <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
                <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: 'txt2' %>
              <% end -%>

              </a>
            </li>


            <li>
              <span class="txt1">
               Have a Account?
              </span>

              <a href="/users/sign_in" class="txt2">
                Sign In
              </a>
            </li>
          </ul>
         <% end %>
      </div>
    </div>
  </div>


  </div>
</div>




