

    <style>
    .reg-page {
      min-height: 100%vh !important;
    }
        .intro-2 {
         margin-top: -20px !important;
            background: url('<%= asset_url("login.jpg")  %>')no-repeat center center;
            background-size: cover
            min-height: 100vh !important;
                    }

        .mask.rgba-gradient7 {
            background: -webkit-linear-gradient(98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
            background: -webkit-gradient(linear, 98deg, from(rgba(22, 91, 231, 0.5)), to(rgba(255, 32, 32, 0.5)));
            background: linear-gradient(to 98deg, rgba(22, 91, 231, 0.5), rgba(255, 32, 32, 0.5) 100%);
        }

        .card {
            background-color: rgba(255, 255, 255, 0.85);
        }

        .reg-nav {
          margin-top: -10px;
        }
        .full-w {
          min-width: 100% !important;
        }
        p {
            font-size: 0.9rem;
            font-weight: 300;
        }

        h4 {
            font-size: 1.3rem;
        }

        h6 {
            line-height: 1.7;
        }

        .md-form label {
            font-size: 0.9rem;
            font-weight: 300;
        }
           .md-form .log-input {
           min-width: 100% !important;
        }


    </style>

</head>



    <!--Main Navigation-->

        <!-- Navbar -->
  <div class="reg-page" style="height: 100vh ">


  <!-- Navbar -->
    <nav class="navbar navbar-color-on-scroll navbar-transparent reg-nav  fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand text-white" href="/">Hudon Commercial Lab </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                      <div class="collapse navbar-collapse justify-content-end" id="navbar">
                        <ul class="navbar-nav text-white">
                          <li class="nav-item">
                            <a href="/" class="nav-link">
                              <i class="material-icons">dashboard</i> Dashboard
                            </a>
                          </li>
                        <li class="nav-item active">
                              <%= link_to "<i class='material-icons'>person_add</i> Register".html_safe, new_user_registration_path, class: 'nav-link' %>
                          </li>
                          <li class="nav-item">
                              <%= link_to "<i class='material-icons'>fingerprint</i> Login".html_safe, new_user_session_path, class: 'nav-link' %>
                            </li>
                            <li class="nav-item ">
                              <%= link_to "<i class='material-icons'>person_add</i> Account".html_safe, edit_user_registration_path, class: 'nav-link' %>
                          </li>
                              <%= link_to "<i class='material-icons'>lock_open</i>Locked".html_safe,  new_user_password_path, class: 'nav-link' %>
                            </li>
                        </ul>
                      </div>
                </ul>
            </div>
        </div>
    </nav>

        <!--Intro Section-->
        <section class="view intro-2" style="height: 100vh !important;">
            <div class="full-bg-img" style="height: 100vh !important;">
                <div class="mask rgba-gradient7" style="height: 100vh !important;">
                    <div class="container flex-center">

                    <!--Grid row-->
                    <div class="row  pt-5 mt-3">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-body">

                                    <h2 class="feature-title text-center mb-5 mt-4 font-weight-bold">
                                        <strong>REGISTER</strong>
                                    </h2>
                                    <hr>

                                    <!--Grid row-->
                                    <div class="row mt-5">

                                        <!--Grid column-->
                                        <div class="col-md-6 ml-lg-5 ml-md-3 features-small">

                                            <!--Grid row-->
                                            <div class="row pb-3">
                                                <div class="col-2 col-lg-1">
                                                    <i class="fa fa-bank indigo-text fa-lg"></i>
                                                </div>
                                                <div class="col-10">
                                                    <h4 class="feature-title">
                                                        <strong>Safety</strong>
                                                    </h4>
                                                    <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                                                        maiores nam, aperiam minima assumenda deleniti hic.</p>
                                                </div>
                                            </div>
                                            <!--Grid row-->

                                            <!--Grid row-->
                                            <div class="row pb-3">
                                                <div class="col-2 col-lg-1">
                                                    <i class="fa fa-desktop indigo-text fa-lg"></i>
                                                </div>
                                                <div class="col-10">
                                                    <h4 class="feature-title">
                                                        <strong>Technology</strong>
                                                    </h4>
                                                    <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                                                        maiores nam, aperiam minima assumenda deleniti hic.</p>
                                                </div>
                                            </div>
                                            <!--Grid row-->

                                            <!--Grid row-->
                                            <div class="row pb-4">
                                                <div class="col-2 col-lg-1">
                                                    <i class="fa fa-money indigo-text fa-lg"></i>
                                                </div>
                                                <div class="col-10">
                                                    <h4 class="feature-title">
                                                        <strong>Finance</strong>
                                                    </h4>
                                                    <p class="dark-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                                                        maiores nam, aperiam minima assumenda deleniti hic.</p>
                                                </div>
                                            </div>
                                            <!--Grid row-->

                                        </div>
                                        <!--Grid column-->
                                         <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                        <!--Grid column-->
                                        <div class="col-md-6 full-w">

                                            <!--Grid row-->
                                            <div class="row pb-4 d-flex justify-content-center mb-4">

                                                <h4 class="mt-3 mr-4">
                                                    <strong>Enter your name, email and password </strong>
                                                </h4>



                                            </div>
                                            <!--/Grid row-->
                                             <%= render 'layouts/messages' %>
                                            <!--Body-->
                                            <div class="md-form">
                                                <i class="fa fa-user prefix dark-grey-text"></i>

                                                   <%= f.text_field :first_name, class: "form-control long-input white-text", required: true %>
                                                </div>

                                                <label for="orangeForm-name">Your first name</label>

                                            <div class="md-form">
                                                <i class="fa fa-user prefix dark-grey-text"></i>
                                                  <%= f.text_field :last_name, class: "form-control white-text", required: true %>
                                                <label for="orangeForm-name">Your last name</label>
                                            </div>
                                            <div class="md-form">
                                                <i class="fa fa-envelope prefix dark-grey-text"></i>

                                                 <%= f.email_field :email, class: "form-control long-input pl-2", required: true %>
                                                <label for="orangeForm-email">Your email</label>
                                            </div>

                                            <div class="md-form">
                                                <i class="fa fa-lock prefix dark-grey-text"></i>
                                                 <%= f.password_field :password, class: "form-control long-input  pl-2", required: true  %>
                                                <label for="orangeForm-pass">Your password</label>
                                            </div>

                                            <div class="text-center">
                                                <button class="btn pink-gradient btn-rounded mt-3">Sign up</button>
                                            </div>

                                        </div>
                                        <!--Grid column-->
                                        <% end %>
                                    </div>
                                    <!--Grid row-->

                                </div>
                            </div>

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </div>
            </div>
        </section>


    <!--Main Navigation-->

    <!--Main Layout-->
      </div>
    <!--Main Layout-->
