<nav class="navbar navbar-expand-lg navbar-trans border-0">
  <a class="navbar-brand" href="#"> Hudson Lab</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <%- if controller_name != 'sessions' %>
    <li class="nav-item ">
  <%= link_to "Log in", new_session_path(resource_name),class: 'nav-link'  %><br />

<% end -%>
</li>
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
 <li class="nav-item active" >


  <%= link_to "Sign up", new_registration_path(resource_name),class: 'nav-link'  %><br />
<% end -%>
</li>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
 <li class="nav-item">
  <%= link_to " Forgot password?", new_password_path(resource_name),class: 'nav-link'  %><br />
<% end -%>
</li>
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<li class="nav-item">


  <%= link_to " Didn't receive confirmation instructions?", new_confirmation_path(resource_name),class: 'nav-link' %><br />
<% end -%>
</li>



    </ul>
    <span class="navbar-text">
      <%= render 'layouts/error_messages'%>
    </span>
  </div>
</nav>
<div class="landding-page">
    <div class="layer">
        <div class="container">
            <div class="col-md-4 container">
                <div class="container creds-sec">
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-signin') do |f| %>

                        <center>

                            <i id="icon" class="fa fa-user" style="text-shadow: rgb(34, 37, 40) 0px 0px 0px, rgb(37, 40, 43) 1px 1px 0px, rgb(40, 43, 47) 2px 2px 0px, rgb(43, 47, 50) 3px 3px 0px, rgb(46, 50, 54) 4px 4px 0px; font-size: 58px; color: rgb(0, 66, 103); height: 90px; width: 90px; line-height: 90px; border-radius: 48%; text-align: center; background-color: rgb(49, 53, 57);"></i>
                        </center>

                        <h1 class="h3 mb-3 font-weight-normal text-center mt-4">Register</h1>
                        <%= devise_error_messages! %>

                        <label for="inputEmail" class="sr-only">Email address</label>
                        <%= f.text_field :email, class: "form-control", placeholder: "Email address", required: true %>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
                        <label class="sr-only">Password Confirmation</label>
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Enter Password confirmation" %>

                            <div class="checkbox mb-3 mt-2">
                                <label>
                                </label>
                            </div>
                            <button class="btn btn-lg btn-block main-creds-btn" type="submit">Sign up</button>
                          <ul class="login-more p-t-190">
                             <li class="m-b-8">
                            <span class="txt1">
                               <%= link_to "Forgot?", new_password_path(resource_name), class: 'txt1' %>

                            </span>

                            </li>
                            <li>
                              <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                              <%= link_to "Username / Password", new_confirmation_path(resource_name), class: 'txt2' %>
                            <% end %>


                            <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
                              <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: 'txt2' %>
                            <% end -%>
                            </li>



                          <li>


                            <a href="/users/sign_in" class="txt2">
                              Sign In
                            </a>
                          </li>
                        </ul>


                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>



