<body class="presentation-page ">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand text-white" href="/">Hudon Commercial Lab </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item">
                      <div class="collapse navbar-collapse justify-content-end" id="navbar">
                        <ul class="navbar-nav text-white">
                          <li class="nav-item">
                            <a href="/" class="nav-link">
                              <i class="material-icons">dashboard</i> Dashboard
                            </a>
                          </li>
                             <li class="nav-item active">
                              <%= link_to "<i class='material-icons'>person_add</i> Register".html_safe, new_user_registration_path, class: 'nav-link' %>
                          </li>
                          <li class="nav-item">
                              <%= link_to "<i class='material-icons'>fingerprint</i> Login".html_safe, new_user_session_path, class: 'nav-link' %>
                            </li>
                            <li>
                              <%= link_to "<i class='material-icons'>lock_open</i>Locked".html_safe,  new_user_password_path, class: 'nav-link' %>
                            </li>
                        </ul>
                      </div>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('<%= asset_url("purple-1.jpg") %>')";>
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                     <%= render 'layouts/messages' %>
                    <div class="brand">
                        <h1>Hudon Commercial
                            <span class="pro-badge">
                                Lab
                            </span>
                        </h1>
                        <h3 class="title"> A well crafted CRM Dashbord. To help take your bussiness to the next level. Let's get strated and see what it's made to do. </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h4 class="description text-center"> This app is a full stack contact manager application for Hudson Commercial and their Employees. It helps the company and their employees to easily manage their contacts, leads, deals and action steps to make successful real estate transactions</h4>
                    </div>
                </div>
                <div class="features-1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-rose">
                                    <i class="material-icons">apps</i>
                                </div>
                                <h4 class="info-title">Full feature multi user CRM</h4>
                                <p>This app is designed to make organizing your business contacts and your personal contacts easy and quick to navigate through.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-info">
                                    <i class="material-icons">view_day</i>
                                </div>
                                <h4 class="info-title">Kepp track of your activty</h4>
                                <p>The Hudson Commercial Lab is also a real estate activity tracker. Allowing you to easily keep track of what actions and events are happing on your listings and deals. </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="material-icons">view_carousel</i>
                                </div>
                                <h4 class="info-title">Action Steps</h4>
                                <p>Plan out action steps needed to get deals done or whats actions are needed to be made on new leads. Assign action steps to other employees and add comments if needed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-sections" style="padding-bottom: 100px !important;">
            <div class="container">
                <div class="col-md-8 ml-auto mr-auto mb-4">
                    <div class="section-description">
                        <h2 class="title">Ready to get strated?</h2>
                        <h5 class="description">Technology is the feature. Connecting with your coustomers and keeping them inform is a fundumantly part of a successful real estate company.</h5>
                         <%= link_to "<i class='material-icons'>person_add</i> Register".html_safe, new_user_registration_path, class: 'btn btn-rose btn-round' %>
                    </div>
                </div>
            </div>
        </div>
</body>

