<div class="card  card-1-color text-white">
   <div class="card-header card-header-icon card-1">
      <div class="card-icon bg-hudson">
         <i class="material-icons">business</i>
      </div>
      <h4 class="card-title text-white pt-2">Owner Watch <span>
         <span class="pull-right"><%= link_to  new_owner_path, class: 'mr-3' do %>
         <i class="fa fa-plus"></i>
         <% end %>
         </span>
         </span>
      </h4>
   </div>
   <div class="col-md-12">
      <div class="card-1-color">
         <div class="card-body">
            <div class="table-responsive">
               <table class="table">
                  <thead class=" text-white">
                     <tr>
                        <th class=" text-white">Name</th>
                        <th class=" text-white">Phone</th>
                        <th class=" text-white">Building</th>
                        <th class=" text-white">Fulladdres</th>
                        <th colspan="3"></th>
                     </tr>
                  </thead>
                  <tbody>
                     <% @owners.each do |owner| %>
                     <tr class=" text-white">
                        <td><%= owner.name %></td>
                        <td><%= owner.phone %></td>
                        <td><%= owner.building %></td>
                        <td><%= owner.fulladdres %></td>
                        <td><%= link_to 'Show', owner %></td>
                        <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
                        <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                     </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
