<div class="modal-header">
   <h5 class="modal-title card-title float-left  text-left mb-3"></h5>
</div>
<div class="col-md-8 ml-auto mr-auto">
   <div class="page-categories">
      <h3 class="title text-center text-white">Create Action Step</h3>
      <br>
      <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist" id="taskTabs">
         <li class="nav-item" role="presentation" >
            <a class="nav-link nav-a-tab text-white" data-toggle="tab" href="#task-deals-tab"  aria-controls="task-deals-tab" role="tablist">
            <i class="material-icons nav-tab-i">business</i> Deals
            </a>
         </li>
         <li class="nav-item active" role="presentation" >
            <a class="nav-link nav-a-tab text-white" data-toggle="tab" href="#task-users-tab"  aria-controls="task-users-tab" role="tablist" id="user-active-tab">
            <i class="material-icons ">assignment</i> Task
            </a>
         </li>
         <li class="nav-item" role="presentation" >
            <a class="nav-link nav-a-tab text-white" data-toggle="tab" href="#task-groups-tab"  aria-controls="task-groups-tab" role="tablist">
            <i class="material-icons">group_add</i>Marketing
            </a>
         </li>
         <li class="nav-item" role="presentation" >
            <a class="nav-link nav-a-tab text-white" data-toggle="tab" href="#task-contacts-tab"  aria-controls="task-contacts-tab" role="tablist">
            <i class="material-icons">content_copy</i> Projects
            </a>
         </li>
      </ul>
      <div class="tab-content tab-space tab-subcategories">
         <%= form_with model: @task, remote: local_assigns[:ajax_true], :authenticity_token => true, id: 'tasks-form-id-just-one' do |f|%>
         <div class="tab-pane" role="tabpanel" id="task-deals-tab" style="display:none;">
            <div class="card rounded-0">
               <div class="card-header bg-white p-0">
                  <div class="bg-white div-header p-4">
                     <h4 class="card-title">Create Action Steps For Deals</h4>
                     <p class="card-category">
                        Select the Deal or Lead so it will tied to this Action Step
                     </p>
                  </div>
               </div>
               <div class="card-body">
                  <div class="col-md-6 ml-auto mr-auto">
                     <% lead_ids = [] %>
                     <% if !@lead_ids.nil? %>
                     <%  @lead_ids.each_with_index do |lead, index| %>
                     <% lead_ids[index] = lead.id %>
                     <% end %>
                     <% end %>
                     <% attr = {prompt: "Select"} %><% attr[:selected] = lead_ids %>
                     <label for="lead_ids" class="bmd-label-floating text-black">Pick Deals and Leads</label>
                     <%= f.collection_select :lead_ids, Lead.all, :id, :name,  attr,{ remote: true, multiple: "true",  class: "selectpicker select_l_picker ", id: "leads-select" } %>
                  </div>
               </div>
            </div>
         </div>
         <div class="tab-pane active" role="tabpanel" id="task-users-tab" >
            <div class="card  card-nav-tabs rounded-0">
               <div class=" card-header  c-h-w text-black p-0">
                  <div class="bg-white white-div-header p-4">
                     <h4 class="card-title  text-black">Action Step and related users</h4>
                     <p class="card-category">
                        Create The Task And Find The Related Users and Contacts
                     </p>
                  </div>
               </div>
               <div class="card-body">
                  <div class="row">
                     <div class="col-md-6 ml-auto mr-auto">
                     <% user_ids = [] %>
                     <% if !@user_ids.nil? %>
                     <%  @user_ids.each_with_index do |user, index| %>
                     <% user_ids[index] = user.id %>
                     <% end %>
                     <% end %>
                     <% attr = {prompt: "Select"} %><% attr[:selected] = user_ids %>
                        <label for="user_ids[]" class="bmd-label-floating text-black">Pick users</label>
                        <%= f.collection_select :user_ids, User.all, :id, :first_name, attr,{ remote: true, multiple: "true",  class: "selectpicker select_u_picker users-for-new-group", id: "users-t" } %>
                     </div>
                     <div class="col-md-6">
                        <label class="form-check-label">Action Step</label>
                        <%= f.text_field :name, id: :task_name, class: 'form-control text-black mb-4' %>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group text-black">
                                 <%= f.check_box(:complete, {}, true) %>
                                 <span class="pl-2">Complete</span>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group text-black">
                                 <%= f.check_box(:personal, {}, true) %>
                                 <span class="pl-2">Personal</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group  pt-1 mt-1">
                           <div class=" pt-0 mt-0  ">
                              <div class="card-collapse  pt-0 mt-0 ">
                                 <div class="card-header pt-0 " role="tab" id="headingTwo">
                                    <div class="row">
                                       <input class="form-control get-contacts ml-3 mr-2 pl-2 mt-0 pt-0" type="text" placeholder="Find Contacts" aria-label="Search" id="search-contat-task">
                                    </div>
                                    <h5 class="mb-0">
                                       <a class="collapsed  pl-2 text-muted" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                       click to see who got added
                                       <i class="material-icons text-muted">keyboard_arrow_down</i>
                                       </a>
                                    </h5>
                                 </div>
                                 <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body" id="form-contact">
                                       <ul class="list-inline p-3">
                                          <li class="list-inline-item m-2">
                                             <div class="form-check mr-3 pr-3">
                                                <label class="form-check-label">
                                                <input type="checkbox" name="contact_ids[]" value="" checked="true" class="contact1 c-ids">
                                                <span class="c1  mt-4 p-2  text-center">contact 1</span>
                                                <span class="form-check-sign">
                                                <span class="check"></span>
                                                </span>
                                                </label>
                                             </div>
                                          </li>
                                          <li class="list-inline-item  m-2">
                                             <div class="form-check mr-3 pr-3">
                                                <label class="form-check-label">
                                                <input type="checkbox" name="contact_ids[]" value="" checked="true" class="contact2  c-ids">
                                                <span class="c2 mt-4 p-2  text-center">contact 2 </span>
                                                <span class="form-check-sign">
                                                <span class="check"></span>
                                                </span>
                                                </label>
                                             </div>
                                          </li>
                                          <li class="list-inline-item  m-2">
                                             <div class="form-check mr-3 pr-3">
                                                <label class="form-check-label">
                                                <input type="checkbox" name="contact_ids[]" value="" checked="true" class="contact3  c-ids">
                                                <span class="c3 mt-4 p-2 text-center"> contact 3 </span>
                                                <span class="form-check-sign">
                                                <span class="check"></span>
                                                </span>
                                                </label>
                                             </div>
                                          </li>
                                          <li class="list-inline-item  m-2">
                                             <div class="form-check mr-3 pr-3">
                                                <label class="form-check-label">
                                                <input type="checkbox" name="contact_ids[]" value="" checked="true" class="contact4  c-ids">
                                                <span class="c4 mt-4 p-2 text-muted text-center">contact 4</span>
                                                <span class="form-check-sign">
                                                <span class="check"></span>
                                                </span>
                                                </label>
                                             </div>
                                          </li>
                                          <li class="list-inline-item  m-2">
                                             <div class="form-check mr-3 pr-3">
                                                <label class="form-check-label">
                                                <input type="checkbox" name="contact_ids[]" value="" checked="true" class="contact5  c-ids">
                                                <span class="c5 mt-4 p-2  text-center"> contact 5 </span>
                                                <span class="form-check-sign">
                                                <span class="check"></span>
                                                </span>
                                                </label>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="tab-pane" role="tabpanel" id="task-groups-tab" style="display:none;">
            <div class="card  card-nav-tabs bg-white text-black rounded-0">
               <div class="card-header bg-white  text-black p-0">
                  <div class="bg-white div-header p-4 text-black">
                     <h4 class="card-title text-black">Marketing Campaign</h4>
                     <p class="card-category text-gray">
                        Find and select related groups
                     </p>
                  </div>
               </div>
               <div class="card-body">
                  <div class="col-md-6 ml-auto mr-auto">
                     <% group_ids = [] %>
                     <% if !@group_ids.nil? %>
                     <% puts @group_ids %>
                     <%  @group_ids.each_with_index do |group, index| %>
                     <% group_ids[index] = group.id %>
                     <% end %>
                     <% end %>
                     <% puts group_ids %>
                     <% attr = {prompt: "Select Groups"} %><% attr[:selected] = group_ids %>
                     <label for="group_ids[]" class="bmd-label-floating text-black">Pick Groups<small></small></label>
                     <%= f.collection_select :group_ids, Group.all, :id, :name, attr,{ remote: true, multiple: "true",  class: "selectpicker select_g_picker groups-for-new-group", id: "groups-t" } %>
                  </div>
               </div>
            </div>
         </div>
         <div class="tab-pane" role="tabpanel" id="task-contacts-tab" style="display:none;">
            <div class="card rounded-0 card-nav-tabs ">
               <div class="card-header bg-white p-0 mb-4">
                  <div class="bg-white div-header p-4">
                     <h4 class="card-title">Action Steps That Relate To Projects</h4>
                     <p class="card-category">
                        Search to find contacts then click on their name
                     </p>
                  </div>
               </div>
               <div class="card-body">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group ml-auto mr-auto">
                           <% project_ids = [] %>
                           <% if !@project_ids.nil? %>
                           <%  @project_ids.each_with_index do |project, index| %>
                           <% project_ids[index] = project.id %>
                           <% end %>
                           <% end %>
                           <% attr = {prompt: "Select related projects"} %><% attr[:selected] = project_ids %>
                           <label for="project_ids[]" class="bmd-label-floating text-black">Pick Projects<small></small></label>
                           <%= f.collection_select :project_ids, Project.all, :id, :name, attr,{ remote: true, multiple: "true",  class: "selectpicker ", id: "projects-select" } %>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group ml-auto mr-auto">
                           <% attr = {prompt: "Select"} %>
                           <label for="property_ids" class="bmd-label-floating text-black">Pick Properties<small></small></label>
                           <%= f.collection_select :property_ids, Property.all, :id, :name, attr,{ remote: true, multiple: "true",  class: "selectpicker select_property_picker ", id: "property-select" } %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<div class="modal-footer">
   <%= f.submit class: "btn btn-outline-info", id: "task-send-2", remote: true %>
</div>
<% end %>
<script>
   var hrefTemp = '#task-users-tab';
   $('#user-active-tab').click();
   $('.nav-a-tab').click(function (e) {
    e.preventDefault()
   var tabSection =  $(this).attr('href');
   if (hrefTemp !== $(this).attr('href')) {
    $("#task-users-tab").hide();
    }

   $(hrefTemp).hide();
   $(tabSection).show();
    hrefTemp = tabSection;
   })
   $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
   e.target // newly activated tab
   e.relatedTarget // previous active tab
   });

   $('#deals-select').selectpicker('setStyle', 'btn-outline-info');
   if( /Android|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
   $('.selectpicker').selectpicker('mobile');
   }

   $('#task-send-2').click(function (e) {
   $("#tasks-form-id-just-one").prop('disabled', false);
   $("#tasks-form-id-just-one").submit();
   });
</script>
