 <% task_contact_array = [] %>
  <% @tasks.each do |task| %>
  <% if task.contacts.count >= 1 %>
   <% task_contact_array.push(task)%>
   <% end %>
 <% end %>

   <div class="tab-pane" id="task-contacts-list">
         <h6>Action Steps For Contacts</h6>
      <table class="table">
         <% task_contact_array.each_with_index do |task, index| %>
            <% is_personl_user = false%>
            <% task.users.each do |user| %>
            <% if user.id == current_user.id %>
            <%  is_personl_user = true   %>

            <% end %>
            <% end %>
         <% next if  !is_personl_user && task.personal?  || task_contact_array[index].nil?%>
         <tr id="edit_task_<%= task.id %>">
            <td>
               <div class="form-check  pt-2 pb-2 mt-0">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="<%= task.complete %>" <%= 'checked=""' if task.complete == true %>>
                  <span class="form-check-sign">
                  <span class="check"></span>
                  </span>
                  </label>
               </div>
            </td>
            <td><%= task.name %></td>
                    <td><%  task.contacts.each_with_index do |contact, index|%>  <%= link_to contact_path(contact.id), class: "btn  btn-link", remote: true, title: 'View contact', rel: "tooltip"  do %>
               <%= contact.name + " | " %>
                <% end %>
               <% end %></td>
            <td class="td-actions text-right">
               <%= link_to edit_task_path(task.id), class: "btn btn-link text-primary", remote: true, title: 'edit', rel: "tooltip"  do %>
               <i class="material-icons text-primary">edit</i>
               <% end %>
               <%= link_to  task, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: 'btn btn-danger btn-link'  do %>
               <i class="material-icons">close</i>
               <% end %>
            </td>
         </tr>
         <% end %>

         <tbody >
         </tbody>
      </table>
   </div>




 <% properties_array = [] %>
  <% @tasks.each do |task| %>
  <% if !task.properties.empty? %>
   <% properties_array.push(task)%>
   <% end %>
 <% end %>


   <div class="tab-pane " id="task-properties_list">
       <h6>Action Steps For Properties</h6>
      <table class="table">
         <% properties_array.each_with_index do |task, index|%>
            <% is_personl_user = false%>
            <% task.users.each do |user| %>
            <% if user.id == current_user.id %>
            <%  is_personl_user = true   %>

            <% end %>
            <% end %>
          <% next if  !is_personl_user && task.personal? || properties_array[index].nil? ||  %>
         <tr id="edit_task_<%= task.id %>">
            <td>
               <div class="form-check  pt-2  mt-0">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="<%= task.complete %>" <%= 'checked=""' if task.complete == true %>>
                  <span class="form-check-sign">
                  <span class="check"></span>
                  </span>
                  </label>
               </div>
            </td>
            <td><%= task.name %></td>
               <td><%  task.properties.each_with_index do |property, index|%>  <%= link_to property_path(property.id), class: "btn  btn-link", remote: true, title: 'View property', rel: "tooltip"  do %>
               <%= property.name + " | " %>
                <% end %>
               <% end %></td>
            <td class="td-actions text-right">
               <%= link_to edit_task_path(task.id), class: "btn text-white btn-link", remote: true, title: 'edit', rel: "tooltip"  do %>
               <i class="material-icons text-white">edit</i>
               <% end %>
               <%= link_to  task, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: 'btn text-white btn-link'  do %>
               <i class="material-icons text-white">close</i>
               <% end %>
            </td>
         </tr>
         <% end %>
         <tbody >
         </tbody>
      </table>
   </div>

 <% projects_array = [] %>
  <% @tasks.each do |task| %>
  <% if task.projects.count >= 1 %>
   <% projects_array.push(task)%>
   <% end %>
 <% end %>


   <div class="tab-pane " id="task-projects-list">
       <h6>Action Steps For Projects</h6>
      <table class="table">
         <% projects_array.each_with_index do |task, index|%>
            <% is_personl_user = false%>
            <% task.users.each do |user| %>
            <% if user.id == current_user.id %>
            <%  is_personl_user = true   %>

            <% end %>
            <% end %>
          <% next if  !is_personl_user && task.personal? || projects_array[index].nil? %>
         <tr id="edit_task_<%= task.id %>">
            <td>
               <div class="form-check  pt-2  mt-0">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="<%= task.complete %>" <%= 'checked=""' if task.complete == true %>>
                  <span class="form-check-sign">
                  <span class="check"></span>
                  </span>
                  </label>
               </div>
            </td>
            <td><%= task.name %></td>
               <td><%  task.projects.each_with_index do |project, index|%>  <%= link_to project_path(project.id), class: "btn  btn-link", remote: true, title: 'View project', rel: "tooltip"  do %>
               <%= project.name + " | " %>
                <% end %>
               <% end %></td>
            <td class="td-actions text-right">
               <%= link_to edit_task_path(task.id), class: "btn text-white btn-link", remote: true, title: 'edit', rel: "tooltip"  do %>
               <i class="material-icons text-white">edit</i>
               <% end %>
               <%= link_to  task, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: 'btn text-white btn-link'  do %>
               <i class="material-icons text-white">close</i>
               <% end %>
            </td>
         </tr>
         <% end %>
         <tbody >
         </tbody>
      </table>
   </div>


 <% leads_array = [] %>
  <% @tasks.each do |task| %>
  <% if task.leads.count >= 1 %>
   <% leads_array.push(task)%>
   <% end %>
 <% end %>


   <div class="tab-pane " id="task-leads-list">
       <h6>Action Steps For Deals</h6>
      <table class="table">
         <% leads_array.each_with_index do |task, index|%>
            <% is_personl_user = false %>
            <% task.users.each do |user| %>
            <% if user.id == current_user.id %>
            <%  is_personl_user = true   %>

            <% end %>
            <% end %>
            <% next if  !is_personl_user && task.personal? || leads_array[index].nil? %>
         <tr id="edit_task_<%= task.id %>">
            <td>
               <div class="form-check  pt-2 mt-0">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="<%= task.complete %>" <%= 'checked=""' if task.complete == true %>>
                  <span class="form-check-sign">
                  <span class="check"></span>
                  </span>
                  </label>
               </div>
            </td>
            <td><%= task.name %></td>
            <td><%  task.leads.each_with_index do |lead, index|%>  <%= link_to lead_path(lead.id), class: "btn  btn-link", remote: true, title: 'View lead', rel: "tooltip"  do %>
               <%= lead.name + " | " %>
                <% end %>
               <% end %></td>
            <td class="td-actions text-right">
               <%= link_to edit_task_path(task.id), class: "btn text-white btn-link", remote: true, title: 'edit', rel: "tooltip"  do %>
               <i class="material-icons text-white">edit</i>
               <% end %>
               <%= link_to  task, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: 'btn text-white btn-link'  do %>
               <i class="material-icons text-white">close</i>
               <% end %>
            </td>
         </tr>
          <% end %>
         <tbody >
         </tbody>
      </table>
   </div>



 <% groups_array = [] %>
  <% @tasks.each_with_index do |task, index|%>
  <% if task.groups.count >= 1 %>
   <% groups_array.push(task)%>
   <% end %>
 <% end %>


   <div class="tab-pane" id="task-marketing-list" >
      <h6>Action Steps For Marketing</h6>
      <table class="table">
         <% groups_array.each_with_index do |task, index| %>
            <% is_personl_user = false%>
            <% task.users.each do |user| %>
            <% if user.id == current_user.id %>
            <%  is_personl_user = true   %>

            <% end %>
            <% end %>
         <% next if !is_personl_user && task.personal? || groups_array[index].nil?  %>
         <tr id="edit_task_<%= task.id %>">
            <td>
               <div class="form-check  pt-2  mt-0">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="<%= task.complete %>" <%= 'checked=""' if task.complete == true %>>
                  <span class="form-check-sign">
                  <span class="check"></span>
                  </span>
                  </label>
               </div>
            </td>
            <td><%= task.name %></td>
             <td><%  task.groups.each_with_index do |group, index|%>  <%= link_to group_path(group.id), class: "btn  btn-link", remote: true, title: 'View Group', rel: "tooltip"  do %>
               <%= group.name + " | " %>
                <% end %>
               <% end %></td>
            <td class="td-actions text-right">
               <%= link_to edit_task_path(task.id), class: "btn text-white btn-link", remote: true, title: 'edit', rel: "tooltip"  do %>
               <i class="material-icons text-white">edit</i>
               <% end %>
               <%= link_to  task, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: 'btn text-white btn-link'  do %>
               <i class="material-icons text-white">close</i>
               <% end %>
            </td>
         </tr>
         <% end %>

         <tbody >
         </tbody>
      </table>
   </div>

