 <% task_contact_array = [] %>
  <% @tasks.each do |task| %>
  <% if task.contacts .count > 1 %>
   <% task_contact_array.push(task)%>
   <% end %>
 <% end %>

   <div class="tab-pane" id="task-contacts-list">
         <h6>Action Steps For Contacts</h6>
      <table class="table">
         <% task_contact_array.each_with_index do |task, index| %>
         <% next if task_contact_array[index].nil? || task_contact_array[index] == '' %>
         <tr id="edit_task_<%= task.id %>">
            <td>
               <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="<%= task.complete %>" <%= 'checked=""' if task.complete == true %>>
                  <span class="form-check-sign">
                  <span class="check"></span>
                  </span>
                  </label>
               </div>
            </td>
            <td><%= task.name   + " Has contacts"%></td>
            <td class="td-actions text-right">
               <%= link_to edit_task_path(task.id), class: "btn btn-primary btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
               <i class="material-icons">edit</i>
               <% end %>
               <%= link_to  task, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: 'btn btn-danger btn-link btn-sm'  do %>
               <i class="material-icons">close</i>
               <% end %>
            </td>
         </tr>
         <% end %>

         <tbody >
         </tbody>
      </table>
   </div>


 <% projects_array = [] %>
  <% @tasks.each do |task| %>
  <% if task.projects .count > 1 %>
   <% projects_array.push(task)%>
   <% end %>
 <% end %>


   <div class="tab-pane " id="task-projects-list">
       <h6>Action Steps For Projects</h6>
      <table class="table">
         <% projects_array.each_with_index do |task, index|%>
          <% next if  projects_array[index].nil? ||  projects_array[index] == '' %>
         <tr id="edit_task_<%= task.id %>">
            <td>
               <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="<%= task.complete %>" <%= 'checked=""' if task.complete == true %>>
                  <span class="form-check-sign">
                  <span class="check"></span>
                  </span>
                  </label>
               </div>
            </td>
            <td><%= task.name  + " Has Projects"%></td>
            <td class="td-actions text-right">
               <%= link_to edit_task_path(task.id), class: "btn btn-primary btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
               <i class="material-icons">edit</i>
               <% end %>
               <%= link_to  task, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: 'btn btn-danger btn-link btn-sm'  do %>
               <i class="material-icons">close</i>
               <% end %>
            </td>
         </tr>
         <% end %>
         <tbody >
         </tbody>
      </table>
   </div>


 <% leads_array = [] %>
  <% @tasks.each do |task| %>
  <% if task.leads.count > 1 %>
   <% leads_array.push(task)%>
   <% end %>
 <% end %>


   <div class="tab-pane " id="task-leads-list">
       <h6>Action Steps For Leads</h6>
      <table class="table">
         <% leads_array.each_with_index do |task, index|%>
         <% next if  leads_array[index].nil? ||  leads_array[index] == '' %>
         <tr id="edit_task_<%= task.id %>">
            <td>
               <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="<%= task.complete %>" <%= 'checked=""' if task.complete == true %>>
                  <span class="form-check-sign">
                  <span class="check"></span>
                  </span>
                  </label>
               </div>
            </td>
            <td><%= task.name  + " Has Leads" %></td>
            <td class="td-actions text-right">
               <%= link_to edit_task_path(task.id), class: "btn btn-primary btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
               <i class="material-icons">edit</i>
               <% end %>
               <%= link_to  task, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: 'btn btn-danger btn-link btn-sm'  do %>
               <i class="material-icons">close</i>
               <% end %>
            </td>
         </tr>
          <% end %>
         <tbody >
         </tbody>
      </table>
   </div>



 <% groups_array = [] %>
  <% @tasks.each_with_index do |task, index|%>
  <% if task.groups.count > 1 %>
   <% groups_array.push(task)%>
   <% end %>
 <% end %>


   <div class="tab-pane" id="task-marketing-list" >
      <h6>Action Steps For Marketing</h6>
      <table class="table">
         <% groups_array.each_with_index do |task, index| %>
         <% next if  groups_array[index].nil? ||  groups_array[index] == '' %>
         <tr id="edit_task_<%= task.id %>">
            <td>
               <div class="form-check">
                  <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="<%= task.complete %>" <%= 'checked=""' if task.complete == true %>>
                  <span class="form-check-sign">
                  <span class="check"></span>
                  </span>
                  </label>
               </div>
            </td>
            <td><%= task.name + " Has Groups" %></td>
            <td class="td-actions text-right">
               <%= link_to edit_task_path(task.id), class: "btn btn-primary btn-link btn-sm", remote: true, title: 'edit', rel: "tooltip"  do %>
               <i class="material-icons">edit</i>
               <% end %>
               <%= link_to  task, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: 'btn btn-danger btn-link btn-sm'  do %>
               <i class="material-icons">close</i>
               <% end %>
            </td>
         </tr>
         <% end %>

         <tbody >
         </tbody>
      </table>
   </div>

