

<%= form_for @group do |form| %>

  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%=  hidden_field(:group, :id, :value => @group.id.to_s, id: 'group_id') %>

    <%= form.text_field :name, id: :group_name, class: 'form-control g-name text-white', placeholder: 'Enter new group name new_group' %>
  </div>

  <div class="form-group">


 <% attr = {prompt: "Select related users"} %>
<% attr[:selected] = current_user.id.to_i if current_user.id %>
    <label for="cell" class="bmd-label-floating text-light">Pick users<small>(required)</small></label>
    <%= form.collection_select :user_ids, User.all, :id, :first_name, attr,{ remote: true, multiple: "true", required: true,  class: "selectpicker select_u_picker  " } %>



<% end %>


