

<%= form_for @group, id: 'edit-group-id', remote: true do |form| %>

  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%=  hidden_field(:group, :id, :value => @group.id.to_s, id: 'group_id') %>

    <%= form.text_field :name, id: :group_name, class: 'form-control g-name text-white', placeholder: 'Enter new group name new_group' %>
  </div>

  <div class="form-group">

<% if !group.persisted? %>
    <div class="btn-group">
      <span class="mt-0 pt-1"><label class="text-light mt-0 pb-4 ">Share with</label> </span>
      <% User.all.each do |user| %><%  next if !user.first_name  %>
      <div class="togglebutton form-check-inline">
        <label>
          <ul class="list-inline">

            <li class="list-inline-item">    <input type="checkbox" name="group[user_id]" checked="true" value=
            <%="#{user.id}" if user.first_name %> class="users-for-new-group"/>
            <span class="toggle"></span>
            <span class="text-light"><%= user.first_name if user.first_name %>
            </span>
          </label></li>

          </ul>

        </div><% end %>

      </div>
<% end %>
    </div>
<%= form.submit class: 'btn btn-block bg-black  update_group' %>
<% end %>


