<%= form_for @group do |form| %>
   <% if group.errors.any? %>
   <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
         <% group.errors.full_messages.each do |message| %>
         <li><%= message %></li>
         <% end %>
      </ul>
   </div>
   <% end %>
   <div class="form-group">
      <%=  hidden_field(:new_authenticity_token, :id, :value => form_authenticity_token.to_s, id: 'group_authenticity_token') %>
      <%=  hidden_field(:group, :id, :value => @group.id.to_s, id: 'group_id') %>
     <label class="bmd-label-floating text-white">Group Name</label>
      <%= form.text_field :name, id: :group_name, class: 'form-control g-name text-white' %>
   </div>
   <div class="form-group">
      <% attr = {prompt: "Select related users"} %>
      <% user_ids = [] %>
      <% User.all.each do |user| %>
      <% user_ids.push(user.id.to_s) %>
      <% end %>
      <% attr[:selected] = user_ids %>
   <% if @group.persisted? %>
      <input type="hidden"  id="update-group-h">
   <% end %>
      <label for="group[user_ids]" class="bmd-label-floating text-light">Pick users<small>(required)</small></label>
   <%= form.collection_select :user_ids, User.all, :id, :first_name, attr,{ multiple: "true", required: true,  class: "selectpicker select_u_picker" } %>
   </div>
   <%= form.submit class: 'btn btn-outline-info btn-block group_fancy_form_btn' %>
<% end %>

<script type="text/javascript">
       $(document).on('click', '.group_fancy_form_btn', function (event) {
                 $.notify({
                        icon: 'fa fa-bell',
                        title: '<strong>Heads up!</strong>',
                        message: "Your Group was Added!"
                    }, {
                        type: 'success'
                    });
                }
       });

</script>
