
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                          <div class="card card-1 dark-table">
                            <div class="card-header card-header-icon">
                              <div class="card-icon bg-dark-secondary ">
                                <i class="material-icons">assignment</i>
                              </div>
                               <%= link_to group_path(group.id),class: 'text-info' do %>
                                                   </span> <h2 class="title ml-0 pl-0"><span class="badge badge-info p-2"><%= group.name %></span></h2><a href="#top" title="top" class="text-white">Back up <i class="fa fa-arrow-up"></i></a><span>
                                                <% end %>
                            </div>
                              <div class="card-body">
                                  <div class="toolbar">
                                    <p class="category"><%= group.contacts.count %>  contacts in this group</p>
                                      <!--        Here you can write extra buttons/actions for the toolbar              -->
                                  </div>
                                  <div class="material-datatables" id="g-name-<%=group.id.to_s%>">

                                  <div id="datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="datatables_length"><label class="form-group">Show <select name="datatables_length" aria-controls="datatables" class="form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="-1">All</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="datatables_filter" class="dataTables_filter"><label class="form-group bmd-form-group bmd-form-group-sm is-filled"><input type="search" class="form-control form-control-sm" placeholder="Search records" aria-controls="datatables"></label></div></div></div><div class="row"><div class="col-sm-12"><table id="datatables" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" cellspacing="0" width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                                      <thead>
                                          <tr role="row"><th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 205px;" aria-label="Name: activate to sort column ascending">Name</th><th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 205px;" aria-label="Position: activate to sort column ascending">Phone</th><th class="sorting_desc" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 205px;" aria-label="Office: activate to sort column ascending" aria-sort="descending">cell</th><th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 205px;" aria-label="Age: activate to sort column ascending">Email</th><th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 205px;" aria-label="Date: activate to sort column ascending">company</th><th class="disabled-sorting text-right sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 205px;" aria-label="Actions: activate to sort column ascending">Actions</th></tr>
                                      </thead>
                                      <tfoot>
                                          <tr><th rowspan="1" colspan="1">Name</th><th rowspan="1" colspan="1">Phone</th><th rowspan="1" colspan="1">cell</th><th rowspan="1" colspan="1">email</th><th rowspan="1" colspan="1">company</th><th class="text-right" rowspan="1" colspan="1">Actions</th></tr>
                                      </tfoot>
                                      <tbody>

                                        <% group.contacts.each do |contact| %>
                                      <tr role="row" class="odd">
                                              <td tabindex="0" class="text-white"><%= contact.name %></td>
                                              <td class="text-white"><%= contact.phone %></td>
                                              <td class="sorting_1"><%= contact.cell %></td>
                                              <td class="text-white"><%= contact.email %></td>
                                              <td class="text-white"><%= contact.company %></td>
                                              <td class="text-right">
                                                  <%= link_to contact_path(contact.id),  class: "btn btn-link btn-info btn-just-icon like", title: 'Profile', rel: "tooltip"  do %><i class="material-icons">pageview</i><div class="ripple-container"></div></a>
                                                  <% end %>
                                                  <%= link_to edit_contact_path(contact.id), class: "btn btn-link btn-warning btn-just-icon edit", title: 'edit', rel: "tooltip"  do %><i class="material-icons text-success">edit</i><div class="ripple-container"></div> <% end %>
                                                    <%= link_to contact_path(contact.id), method: :delete, class: 'btn btn-link btn-danger btn-just-icon remove', remote: true, data: { confirm: "Are you sure you want delete this contact?"}  do %><i class="material-icons">close</i> <% end %>
                                              </td>
                                          </tr>
                                        <% end %>
                                         </tbody>
                                  </table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">Showing 1 to 25 of 28 entries (filtered from 40 total entries)</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_full_numbers" id="datatables_paginate"><ul class="pagination"><li class="paginate_button page-item first disabled" id="datatables_first"><a href="#" aria-controls="datatables" data-dt-idx="0" tabindex="0" class="page-link">First</a></li><li class="paginate_button page-item previous disabled" id="datatables_previous"><a href="#" aria-controls="datatables" data-dt-idx="1" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="datatables" data-dt-idx="2" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="datatables" data-dt-idx="3" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="datatables_next"><a href="#" aria-controls="datatables" data-dt-idx="4" tabindex="0" class="page-link">Next</a></li><li class="paginate_button page-item last" id="datatables_last"><a href="#" aria-controls="datatables" data-dt-idx="5" tabindex="0" class="page-link">Last</a></li></ul></div></div></div></div>
                                  </div>
                              </div><!-- end content-->
                          </div><!--  end card  -->
                      </div>
