<div class="card rounded-0 pt-4 card-5 text-white">
<div class="col-md-12">
   <div class="">
      <div class="collapse" id="contacts-header">
         <div class="row">
            <div class="col-md-8">
               <h2>
                  <span><%= @group.name %> <%= link_to  new_group_path, class: 'btn btn-just-icon btn-round mdl-color--grey-900 ml-3' do %>
                  <i class="fa fa-plus"></i>
                  <% end %>
                  <span class="ml-4 pl-3">
                  <%= link_to  group_path(@group.id, format: "csv"), class: 'btn mdl-color--grey-900  btn-left-margin' do %>
                  <i class="fa fa-file-text"></i> Download Excel/CSV
                  <% end %>
                  </span>
                  </span>
               </h2>
            </div>
            <div class="col-md-4">
               <form action="/contacts/" id="user-search" class="well form-inline pull-right" method="get" accept-charset="utf-8">
                  <div style="display:none;"><input type="hidden" name="group_id" value=<%= "#{@group.id}" %>></div>
                  <input name="term" class="form-control" placeholder="Search this group" id="search" autocomplete="off" type="text">
                  <button type="submit" class="btn mdl-color--grey-900 btn-round btn-just-icon mr-3" id="send-search">
                     <i class="material-icons">search</i>
                     <div class="ripple-container"></div>
                  </button>
               </form>
            </div>
            <div class="col-md-12">
               <div class="filter-box" style="display:none;">
                  <% delete_string =  "Delete " + @group.name %>
                  <div class="col-lg-11 mr-auto ml-auto">
                     <h3 class=" pl-2">  <span> <%= @group.name %> / <%= @group.contacts.count %> <% edit_string =  "Edit " + @group.name %> <%= link_to edit_group_path(@group.id), class: "btn btn-link remote-link btn-success text-success", remote: true, title: edit_string, rel: "tooltip"  do %>
                        <i class=" fa fa-edit e-contact pb-4 mb-3"></i>    <% end %></span><span class="pull-right" > <span class="pull-right ">   <%= link_to @group, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger pr-4", remote: true, title: delete_string, rel: "tooltip" do %>
                        <i class="material-icons text-danger pt-4">delete</i>
                        <% end %></span>  <button type="button" class="btn-back btn btn-link text-white pt-4"><i class="material-icons">keyboard_backspace</i></button> </span></strong>
                     </h3>
                  </div>
               </div>
               <div class="col-md-12">
               </div>
            </div>
         </div>
      </div>
      <div class="card card-5">
         <div class="card-header card-header-icon">
            <div class="card-icon mdl-color--grey-900">
               <i class="material-icons">group</i>
            </div>
            <h4 class="card-title text-white"><%= @group.name %>
               <span>
               <a class="btn-link text-white pull-right  pt-0" data-toggle="collapse" href="#contacts-header" aria-expanded="false" aria-controls="contacts-header">
               <i class="material-icons">whatshot</i>
               </a>
               </span>
            </h4>
         </div>
         <div class="card-body">
            <div class="table-responsive">
               <table class="table">
                  <thead class="">
                     <tr>
                        <th class="d- text-info">Edit </th>
                        <th class="d- text-info">Name </th>
                        <th class="d- text-info">Prefix </th>
                        <th class="d- text-info">First Name </th>
                        <th class="d- text-info">Middle </th>
                        <th class="d- text-info">Last Name </th>
                        <th class="d- text-info">Suffix </th>
                        <th class="d- text-info">Phone </th>
                        <th class="d- text-info">Cell Phone </th>
                        <th class="d- text-info">Email </th>
                        <th class="d- text-info">Company </th>
                        <th class="d- text-info">Web Address</th>
                        <th class="d- text-info">Address</th>
                        <th class="d- text-info">Suite</th>
                        <th class="d- text-info">Street Number</th>
                        <th class="d- text-info">Strret Name </th>
                        <th class="d- text-info">City</th>
                        <th class="d- text-info">State </th>
                        <th class="d- text-info">County </th>
                        <th class="d- text-info">Country </th>
                        <th class="d- text-info">Postal Code </th>
                        <th class="d- text-info">Zip Code Ext</th>
                        <th class="d- text-info">Latitude </th>
                        <th class="d- text-info">Longitude </th>
                        <th class="d- text-info">Owns or Rents </th>
                        <th class="d- text-info">year_of_Founding </th>
                        <th class="d- text-info">Primary Industry </th>
                        <th class="d- text-info">Facility Size</th>
                        <th class="d- text-info">Total Employees </th>
                        <th class="d- text-info">Position </th>
                        <th class="d- text-info">SIC </th>
                        <th class="d- text-info">Notes</th>
                     </tr>
                  </thead>
                  <tbody>
                     <%  @group.contacts.order(:last_name).each do |contact| %>
                     <tr>
                        <td class="text-white">
                           <%= link_to  edit_contact_path(contact), remote: true do %><i class="fa fa-edit"></i><% end %>
                        </td>
                        <td class="d-">
                           <%= link_to contact_path(contact.id), class: "text-black", title: 'view profile', rel: "tooltip"  do %>
                           <%= contact.name %>
                           <% end %>
                        </td>
                        <td class="d-"><%= contact.prefix %></td>
                        <td class="d-"><%= contact.first_name %></td>
                        <td class="d-"><%= contact.middle_name %></td>
                        <td class="d-"><%= contact.last_name %></td>
                        <td class="d-"><%= contact.suffix %></td>
                        <td class="d-"><%= contact.phone %></td>
                        <td class="d-"><%= contact.cell %></td>
                        <td class="d-"><%= contact.email %></td>
                        <td class="d-"><%= contact.company %></td>
                        <td class="d-"><%= contact.web_address %></td>
                        <td class="d-"><%= contact.Fulladdress %></td>
                        <td class="d-"><%= contact.suite %></td>
                        <td class="d-"><%= contact.street_num %></td>
                        <td class="d-"><%= contact.strret_name %></td>
                        <td class="d-"><%= contact.city %></td>
                        <td class="d-"><%= contact.state %></td>
                        <td class="d-"><%= contact.county %></td>
                        <td class="d-"><%= contact.country %></td>
                        <td class="d-"><%= contact.postal_code %></td>
                        <td class="d-"><%= contact.zip_code_ext %></td>
                        <td class="d-"><%= contact.latitude %></td>
                        <td class="d-"><%= contact.longitude %></td>
                        <td class="d-"><%= contact.owns_cents %></td>
                        <td class="d-"><%= contact.year_of_Founding %></td>
                        <td class="d-"><%= contact.primary_industry %></td>
                        <td class="d-"><%= contact.facility_size %></td>
                        <td class="d-"><%= contact.total_number_of_employees %></td>
                        <td class="d-"><%= contact.postion %></td>
                        <td class="d-"><%= contact.sic %></td>
                        <td class="d-"><%= contact.notes %></td>
                     </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
