<div class="container-fluid pt-3">
  <div class="col-md-10 ml-auto mr-auto">


    <h3 class="text-white"><% @group.name %> / <% @group.contacts.count %></h3>
    <h5>Horizontal Scrolling Layout</h5>
         <div class="table-responsive">
            <table class="table table-custom">
                 <div class="col-md-2">
            <th class="d-">Edit </th></div>
           <div class="col-md-2"> <th class="d-">Name </th></div>
          <div class="col-md-2">  <th class="d-">Prefix </th></div>
          <div class="col-md-2">  <th class="d-">First Name </th></div>
           <div class="col-md-2"> <th class="d-">Middle </th></div>
         <div class="col-md-2">   <th class="d-">Last Name </th></div>
          <div class="col-md-2">  <th class="d-">Suffix </th></div>
        <div class="col-md-2">    <th class="d-">Phone </th></div>
         <div class="col-md-2">   <th class="d-">Cell Phone </th></div>
         <div class="col-md-2">   <th class="d-">Email </th></div>
           <div class="col-md-2"> <th class="d-">Company </th></div>
           <div class="col-md-2"> <th class="d-">Web Address</th></div>
           <div class="col-md-2"> <th class="d-">Address</th></div>


         <div class="col-md-2">   <th class="d-">Suite</th></div>
           <div class="col-md-2"> <th class="d-">Street Number</th></div>
          <div class="col-md-2">  <th class="d-">Strret Name </th></div>
          <div class="col-md-2">  <th class="d-">City</th></div>
           <div class="col-md-2"> <th class="d-">State </th></div>
          <div class="col-md-2">   <th class="d-">County </th></div>
           <div class="col-md-2">  <th class="d-">Country </th></div>



         <div class="col-md-2">   <th class="d-">Postal Code </th></div>
          <div class="col-md-2">  <th class="d-">Zip Code Ext</th></div>

            <div class="col-md-2">  <th class="d-">Latitude </th></div>
         <div class="col-md-2">   <th class="d-">Longitude </th></div>

          <div class="col-md-2">  <th class="d-">Owns or Rents </th></div>
          <div class="col-md-2">  <th class="d-">year_of_Founding </th></div>
         <div class="col-md-2">   <th class="d-">Primary Industry </th></div>
           <div class="col-md-2"> <th class="d-">Facility Size</th></div>
           <div class="col-md-2"> <th class="d-">Total Employees </th></div>

           <div class="col-md-2"> <th class="d-">Position </th></div>
           <div class="col-md-2"> <th class="d-">SIC </th></div>

           <div class="col-md-2"> <th class="d-">Notes</th></div>






          <% @group.contacts.each do |contact| %>


           <div class="col-md-2">    <td>  <%= link_to edit_contact_path(contact.id), class: "btn btn-circle btn btn-outline-info", title: 'edit', rel: "tooltip"  do %>
          <i class=" fa fa-edit e-contact"></i>
          <% end %></td></div>
         <div class="col-md-2">    <td class="d-">
              <%= link_to contact_path(contact.id), class: "text-info", title: 'view profile', rel: "tooltip"  do %>
                <%= contact.name %>
              <% end %>
            </td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.prefix %></td></div>
          <div class="col-md-2">  <td class="d-"><%= contact.first_name %></td></div>
            <div class="col-md-2"><td class="d-"><%= contact.middle_name %></td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.last_name %></td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.suffix %></td></div>
          <div class="col-md-2">  <td class="d-"><%= contact.phone %></td></div>
            <div class="col-md-2"><td class="d-"><%= contact.cell %></td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.email %></td></div>

           <div class="col-md-2"> <td class="d-"><%= contact.company %></td></div>
            <div class="col-md-2"><td class="d-"><%= contact.web_address %></td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.address %></td></div>

            <div class="col-md-2"><td class="d-"><%= contact.suite %></td></div>

           <div class="col-md-2"> <td class="d-"><%= contact.street_num %></td></div>
            <div class="col-md-2"><td class="d-"><%= contact.strret_name %></td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.city %></td></div>
          <div class="col-md-2">  <td class="d-"><%= contact.state %></td></div>

           <div class="col-md-2"> <td class="d-"><%= contact.county %></td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.country %></td></div>
          <div class="col-md-2">  <td class="d-"><%= contact.postal_code %></td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.zip_code_ext %></td></div>

         <div class="col-md-2">   <td class="d-"><%= contact.latitude %></td></div>
          <div class="col-md-2">  <td class="d-"><%= contact.longitude %></td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.owns_cents %></td></div>
          <div class="col-md-2">  <td class="d-"><%= contact.year_of_Founding %></td></div>

         <div class="col-md-2">   <td class="d-"><%= contact.primary_industry %></td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.facility_size %></td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.total_number_of_employees %></td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.postion %></td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.sic %></td></div>
           <div class="col-md-2"> <td class="d-"><%= contact.notes %></td></div>

  </div>

 </div>
  </div>
<% end %>
