<p id="notice"><%= notice %></p>

<span>
<%   @groups.each_with_index do |g, i| %>

<a href="<%= '#g-name-' + g.id.to_s %>" title=""><span class="badge badge-default"><%= g.name %></span></a>
</span>
<% end %>
<%= link_to 'New Group', new_group_path %>
<div id="groups">
  <%= render  @groups %>
</div>
          <div class="container">
            <div class="col-md-8 mr-auto ml-auto">


            <div class="modal-body" id="form-modal-body"></div>
            </div>
          </div>








