<p id="notice"><%= notice %></p>

<span>
<%   @groups.each_with_index do |g, i| %>

<a href="<%= '#g-name-' + g.id.to_s %>" title=""><span class="badge badge-default"><%= g.name %></span></a>
</span>
<% end %>
<%= link_to 'New Group', new_group_path %>
<%= render  @groups %>

        <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" >
          <div class="modal-dialog modal-signup" role="document">
            <div class="modal-content bg-modal">
              <div class="card card-signup card-plain">
                <div class="modal-header">
                  <h5 class="modal-title card-title text-left" id="form-modal-title">Register</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                  </button>
                </div>
                <div class="modal-body" id="form-modal-body"></div>
              </div>
            </div>
          </div>
        </div>
