<td>
  <%= link_to user.email, user, class: 'text-info' %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]},{}, { :class => 'selectpicker col-md-6' }  )%>
    <%= f.submit 'Change Role', :class => 'btn btn-info' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'text-danger button-xs') unless user == current_user %>
</td>
