<td>
  <%= link_to user, class: 'text-info'  do %>
 <%=  user.first_name + ' | view profile' %>
<% end %>
</td>
<td class="mt-4 pt-4">
  <%= form_for(user) do |f| %>

    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]},{}, { :class => 'custom-select col-md-6 bg-black rounded-0 border-0 text-white', id: 'inputGroupSelectrole' }  )%>



    <%= f.submit 'Change Role', :class => 'btn btn-outline-info rounded-0' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'text-danger button-xs') unless user == current_user %>
</td>

<td class="text-white"> <%= user.first_name %> | <%= link_to 'send message', new_personal_message_path(receiver_id: user) %></td>
