
<div class="col-md-12  mdl-color--grey-900">
   <div class="   mdl-color--grey-900 pt-4 ">
      <h3 class="text-white ml-3">Users</h3>
      <div class="row  mdl-color--grey-900">
         <div class="col-md-12  mdl-color--grey-900">
            <div class="column  mdl-color--grey-900">
               <table class="table  mdl-color--grey-900">
                  <tbody>
                     <% @users.each do |user| %>
                     <tr>
                        <%= render user %>
                     </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="col-md-12  mdl-color--grey-900">
   <div class="   mdl-color--grey-900 pt-4  rounded-0">
      <div class="card-body  mdl-color--grey-900">
         <div class="row   mdl-color--grey-900  rounded-0">
            <div class="col-9">
               <h4 class="text-white">Give Access to Groups and Contacts for Users</h4>
               <p class=" text-white">You can also remove access to certain groups</p>
            </div>
         </div>
      </div>
      <div class=" mdl-color--grey-900 pt-4 rounded-0 ">
         <div class="table-responsive">
            <table class="table   mdl-color--grey-900">
               <tbody>
                  <tr>
                     <th>Select</th>
                     <th colspan="2"></th>
                     <th>Username</th>
                     <th colspan="3" align="right" class="ml-4 pl-4"><span class="ml-4 "></span></th>
                     <th colspan="2" align="left"> Groups</th>
                     <th colspan="2" align="left"> </th>
                  </tr>
                  <% @users.each do |user| %>
                  <tr>
                     <td width="60">
                        <div class="form-check pb-4 mt-3 pt-1 pb-0">
                           <label class="form-check-label">
                           <%= form_with model: user,  url: sharegroups_url, action: "sharegroups", method: 'post', :format=> :js, remote: true, :authenticity_token => true, id: "sharegroup_form"  do |form|%>
                           <input type="checkbox" class="form-check-input the-selected-user  mt-0 " value=<%="#{user.id}" %> name="user[user_id]">
                           <span class="form-check-sign pb-4">
                           <span class="check"></span>
                           </span>
                           </label>
                        </div>
                     </td>
                     <td colspan="2"></td>
                     <td width="30" class="pl-4">
                        <div class="user mt-4">
                           <%= image_tag small_gravatar_url(user.email), class: 'user-image' %>
                           <div class="">
                              <strong></strong>
                              <br>
                           </div>
                        </div>
                     </td>
                     <td></td>
                     <td class="text-white" colspan="3">
                        <% group_ids = [[]] %>
                        <%   Group.all.each_with_index do |group, index| %>
                        <% group_ids.push([group.id.to_s,group.name ])  %>
                        <% end %>
                        <% attr = {prompt: "Select Groups"} %>
                        <p >
                           <a class="btn  bg-black col-md-12 mt-4" data-toggle="collapse" href=<%="#dropdown#{user.id}" %> aria-expanded="false" aria-controls=<%="#dropdown#{user.id}"%>>
                           Select Groups to share thier contacts to useres
                           </a>
                        </p>
                        <div class="collapse" id=<%="dropdown#{user.id}" %>>
                           <div class="   mdl-color--grey-900 card ">
                              <ul class="list-group">
                                 <input type="hidden" value="groups[]" class="groups-hiiden">
                                 <button type="button" class="btn bg-dark  select-allgroups pull-right">Select All Groups</button>
                                 <% group_ids.each_with_index do |group, index| %>
                                 <% next if group[1].nil? || group[1] == '' %>
                                 <li class="list-group-item d-flex justify-content-between align-items-center text-white">
                                    <%= group[1] %>
                                    <span class="badge badge-pill badge-dark rounded-0 pl-4">
                                       <div class="form-check pl-4">
                                          <label class="form-check-label">
                                          <input class="form-check-input" name="groups[]" type="checkbox" value=<%="#{group[0]}"%>>
                                          <span class="form-check-sign">
                                          <span class="check"></span>
                                          </span>
                                          </label>
                                       </div>
                                    </span>
                                 </li>
                                 <% end %>
                              </ul>
                           </div>
                        </div>
                     </td>
                     <td colspan="2"></td>
                     <td>
                        <input type="hidden" class="option_value" name="option" value="">
                        <%= submit_tag "", :class => 'Scomit', :style => "visibility: hidden;" %>
                     </td>
                     <% end %>
                  </tr>
                  <% end %>
               </tbody>
            </table>
         </div>
      </div>
      <div class="card-body padding-top-10">
         <div class="form-row margin-top-20">
            <div class="col-md-11">
               <span>
                  <div class="row">
                     <div class="col-md-3 pr-5">
                        <select class="form-control text-white select-simple" name="option">
                           <option value="Share with selected">Share with selected</option>
                           <option value="Remove form selected">Remove form selected</option>
                        </select>
                     </div>
                     <div class="col-md-6">
                     </div>
                     <div class="col-md-3 pr-4">
                        <div  class="pr-4">
                            <button type="submit" class="btn btn-outline-info btn-block pull-right mr-4" id="share-group-2-users">Chnage </button>
                        </div>
                     </div>
                  </div>
               </span>
            </div>
            <div class="container">
            </div>
         </div>
      </div>
   </div>
</div>

<div class=" col-md-12 p-4 mdl-color--grey-900">
   <hr>
   <div class="row">
      <div class="borderd-list-group  col-md-4 ">
         <h4> User Last Seen With Cookies</h4>
         <div class="list-group">
            <% @users.each do |user| %>
            <%= link_to user_path user, class: "list-group-item pt-4" do %>
            <div class="col-md-12 pt-3">
            </div>
            <div class="row">
               <div class=" col-md-6" >
                  <span class=" mb-0 pb-0 text-white pl-1"> <%= user.first_name + ' ' + user.last_name %></span>
               </div>
               <div class=" col-md-6" >
                  <span class="pull-right mr-0 pr-2 text-info " ><%= user.last_sign_in_at.strftime("%B %e, %Y at %I:%M %p")  if !user.last_sign_in_at.nil? %></span>
               </div>
            </div>
            <% end %>
            <% end %>
         </div>
         <a href="#" class="list-group-item">More login sessions</a>
      </div>
      <div class="col-md-4">
         <div class="borderd-list-group  ">
            <h4>User Last Seen IP address</h4>
            <div class="list-group">
               <% @users.each do |user| %>
               <%= link_to user_path user, class: "list-group-item pt-4" do %>
               <div class="col-md-12 pt-3">
               </div>
               <div class="row">
                  <div class=" col-md-6" >
                     <span class=" mb-0 pb-0 text-white pl-1"> <%= user.first_name + ' ' + user.last_name %></span>
                  </div>
                  <div class=" col-md-6" >
                     <span class="pull-right mr-0 pr-2 text-info " ><%= user.last_sign_in_ip  if user.last_sign_in_ip %></span>
                  </div>
               </div>
               <% end %>
               <% end %>
            </div>
            <a href="#" class="list-group-item">More login sessions</a>
         </div>
      </div>
      <div class="borderd-list-group  col-md-4 ">
         <h4>User's Actions Steps Not Complete</h4>
         <div class="list-group">
            <% @users.each do |user| %>
            <%= link_to user_path user, class: "list-group-item pt-4" do %>
            <div class="col-md-12 pt-3">
            </div>
            <div class="row">
               <div class=" col-md-6" >
                  <span class=" mb-0 pb-0 text-white pl-1"> <%= user.first_name + ' ' + user.last_name %></span>
               </div>
               <div class=" col-md-6" >

                  <span class="pull-right mr-0 pr-2 text-info " ><%= user.tasks.count  if user.tasks %></span>
               </div>
            </div>
            <% end %>
            <% end %>
         </div>
           <%= link_to tasks_path, class: "list-group-item p-4" do %>
          <span class="pl-1"> See All Action Steps
           </span><% end %>
      </div>
   </div>
</div>


