<div class="container">
  <div class="col-md-6">
    <div class="card" style="background-color: #191b1c !important;">
      <div class="card-header  card-header-icon">
        <div class="card-icon bg-black">
          <i class="material-icons">mail_outline</i>
        </div>
        <h4 class="card-title  text-white">Property form</h4>
      </div>
      <div class="card-body ">
        <%= form_for(@property, multipart: true) do |f| %>
          <div class="form-group bmd-form-group text-white">
            <label for="exampleEmail" class="bmd-label-floating  text-white">Property Name</label>
            <%= f.text_field :name, class: 'form-control text-white' %>
          </div>
          <div class="form-group bmd-form-group text-white">
            <label for="examplePass" class="bmd-label-floating  text-white">Property Code</label>
             <%= f.text_field :code, class: 'form-control text-white' %>
          </div>
           <div class="form-group bmd-form-group text-white">
            <label for="examplePass" class="bmd-label-floating  text-white">Property category</label>
              <%= f.text_field :category, class: 'form-control text-white' %>
          </div>
            <h4 class="title text-white">Property Image</h4>
            <div class="fileinput fileinput-new text-center e" data-provides="fileinput">
              <div class="fileinput-new thumbnail square-image">
                <%= image_tag("image_placeholder.jpg") %>
              </div>
              <div class="fileinput-preview fileinput-exists thumbnail"></div>
              <div>
                <span class="btn btn-round btn-file ">
                  <span class="fileinput-new  ">Select image</span>
                  <span class="fileinput-exists">Change</span>
                  <%= f.file_field :avatar %>
                </span>
                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
              </div>
            </div>

      </div>
      <div class="card-footer ">
        <%= f.submit @property.new_record? ? "New Property" : "Update Property", class: "btn btn-outline-success "  %>
        <%= link_to 'Nevermind', properties_path, class: ' text-white' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
