<div class="container">
   <header class=" p-4 card-1 bg-dark">
      <h2><%= @property.name %> <span><%= link_to edit_property_path(@property) do %> <i class="fa fa-pencil-square-o text-success " aria-hidden="true"></i><% end %>
</span></h2>
      <small class="pl-1"><%= @property.Fulladdress %></small>
   </header>
   <div class="row">
      <div class="col-md-8">
         <div class="card  card-1-color">
            <div class="detail-media">
               <div class="tab-content">
                  <div class="image-content" >
                     <%= image_tag @property.avatar.url(:medium) %>
                  </div>
                  <div class="tab-pane fade in active light-gallery" id="detail-media-images">
                     <a href="">
                     </a>
                  </div>
                  <div class="tab-pane fade light-gallery" id="detail-media-floorplan">
                     <a href="img/demo/floor-plan.png">
                     </a>
                  </div>
                  <div class="tab-pane fade" id="detail-media-map">
                  </div>
               </div>
            </div>
            <div class="detail-info">
               <div class="card card-1-color">
                  <div class=" card-header-icon ">
                     <h4 class="card-title text-white ml-3">Basic Property Facts</h4>
                  </div>
                  <div class="card-body ">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="table-responsive table-sales">
                              <table class="table">
                                 <tbody>
                                    <tr>
                                       <td>
                                          <div class="flag">
                                          </div>
                                       </td>
                                       <td> <span>Web Brochure</span></td>
                                       <td class="text-right ">
                                            <%= link_to(@property.webbrochure, @property.webbrochure, class: "btn btn-inverse text-white") if @property.webbrochure  %>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="flag">
                                          </div>
                                       </td>
                                       <td> <span>Property Type</span></td>
                                       <td class="text-right">
                                          <%= @property.category %>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="flag">
                                          </div>
                                       </td>
                                       <td>  <span>Property Class</span></td>
                                       <td class="text-right">
                                          <%= @property.building_class %>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="flag">
                                          </div>
                                       </td>
                                       <td>  <span>Space Use</span></td>
                                       <td class="text-right">
                                          <%= @property.space_use %>
                                       </td>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="flag">
                                          </div>
                                       </td>
                                       <td> <span>For Sale</span></td>
                                       <td class="text-right">
                                          <%= @property.for_lease %>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="flag">
                                          </div>
                                       </td>
                                       <td>For Sale</td>
                                       <td class="text-right">
                                          <%= @property.for_sale %>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <div class="flag">
                                          </div>
                                       </td>
                                       <td> Min Divisible</td>
                                       <td class="text-right">
                                          <%= @property.min_divisible %>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card  card-1-color pl-4 pr-4 pt-4 pb-3  ">
            <div class="p-0">
               <div class=" card-1-color  div-header p-4">
               <h2>Highlights</h2>
                </div>
            </div>
            <div class="card-body">
               <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     price:
                     <span class="badge bg-dark badge-pill"><%= @property.price %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     year built:
                     <span class="badge bg-dark badge-pill"><%= @property.year_built %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     building class:
                     <span class="badge-dark badge-pill"><%= @property.building_class %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     lease type:
                     <span class="badge bg-dark badge-pill"><%= @property.lease_type %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     overhead doors:
                     <span class="badge bg-dark badge-pill"><%= @property.overhead_doors %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     loading docks:
                     <span class="badge-dark badge-pill"><%= @property.loading_docks%></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     space use:
                     <span class="badge bg-dark badge-pill"><%= @property.space_use %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     Space Available:
                     <span class="badge bg-dark badge-pill"><%= @property.space_available %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     property type:
                     <span class="badge-dark badge-pill"><%= @property.property_type %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     min divisible:
                     <span class="badge-dark badge-pill"><%= @property.min_divisible %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     for lease:
                     <span class="badge bg-dark badge-pill"><%= @property.for_lease %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     for sale:
                     <span class="badge bg-dark badge-pill"><%= @property.for_sale %></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                     owner_name:
                     <span class="badge-dark badge-pill"><%= @property.owner_name %></span>
                  </li>
               </ul>
            </div>
         </div>
         <div class="card  card-1-color  p-4">

            <div class="p-0">
            <div class=" card-1-color  div-header p-4">
               <h2>Property Overview</h2>
            </div>
         </div>
            <div class="card-body">
               <p><%=  @property.description %></p>
            </div>
         </div>
         <div class="card  card-1-color  p-4">
            <div >
            <div class=" card-1-color  div-header p-4">
               <h2>Property Comments <span class="float-right"><small><%= link_to 'New post', new_property_post_path(@property), class: 'text-muted' %></span></small></h2>
            </div>
            </div>
            <div class="card-body">
               <%  @property.posts.each do |post| %>
               <%= link_to '/properties/' + @property.id.to_s + '/posts/' + post.id.to_s + '/edit/' do %>
               <div class="row">
                  <div class="col-md-8">
                     <p class="text-white"> <%= post.comment %></p>
                  </div>
                  <div class="col-md-4">
                     <div class="text-white  user float-right">
                        <div class="photo-user">
                           <%= image_tag small_gravatar_url(post.user.email), class: 'user-image' %>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <p class="pt-1 text-white">Rating: <%= post.rating %></p>
                     <% if post.rating %>
                     <% post.rating.to_i.times do |i|  %>
                     <div class="col-md-1">
                        <i class="material-icons ml-0 mr-0 pl-0 pr-0 text-warning">star_rate</i>
                     </div>
                     <% end %>
                     <% end %>
                  </div>
               </div>
               <% end %>
               <% end %>
            </div>
         </div>
      </div>
<!-- Start of right column section -->
      <div id="inquire" class="col-md-4 rmd-sidebar-mobile">
         <div class="card card-1-color">

               <div class="p-3">
             <div class=" card-1-color  div-header p-4">
              <h4 class="card-title text-white">Owners Informations</h4>
            </div>

            </div>
            <div class="card-body text-white">
               <div id="accordion" role="tablist">
                  <div class="card-collapse">
                     <div class="card-h-1 pl-2" role="tab" id="headingOne">
                        <h5 class="">
                           <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed p-2">
                           Owners Name
                           <i class="material-icons">keyboard_arrow_down</i>
                           </a>
                        </h5>
                     </div>
                     <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                        <div class="card-body">
                         <% contact_owner_str = ', ' if  !@property.owner_name.nil? || !@property.owner_name.empty? %>
                            <p> <%= @property.owner_name + contact_owner_str  if !@property.owner_name.nil? && !@property.owner_name.empty?  %></p>
                           <% @property.contacts.each do |contact | %>
                          <p> <%= contact.name + contact_owner_str if contact.owner?  %></p>
                           <% end %>
                        </div>
                     </div>
                  </div>
                  <div class="card-collapse">
                     <div class="p-0" role="tab" id="headingTwo">
                      <div class=" card-1-color  div-header p-4">
                        <h5 class="mb-0">
                           <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           Owners Phone Number
                           <i class="material-icons">keyboard_arrow_down</i>
                           </a>
                        </h5>
                     </div>
                     </div>
                     <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                           <% @property.contacts.each do |contact | %>
                           <%= contact.phone if contact.owner?  %>
                           <% end %>
                        </div>
                     </div>
                  </div>
                  <div class="card-collapse">
                     <div class="card-h-1 pl-2" role="tab" id="headingThree">
                        <h5 class="mb-0">
                           <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           Owners Email
                           <i class="material-icons">keyboard_arrow_down</i>
                           </a>
                        </h5>
                     </div>
                     <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                           <% @property.contacts.each do |contact | %>
                           <%= contact.email if contact.owner?  %>
                           <% end %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         <div class="card card-1-color mb-4">
            <div class="  bg-black">

               <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                     <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                           <a class="nav-link active text-info " href="#profile" data-toggle="tab">
                              <i class="material-icons">bug_report</i>
                            <span class="text-info"> Onwner</span>
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#messages" data-toggle="tab">
                              <i class="material-icons">code</i>
                              Teanets
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="card-body mb-4">
               <div class="tab-content">
                  <div class="tab-pane active" id="profile">
                     <table class="table">
                        <tbody id="task-table-1">
                           <%= render 'tasks' %>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
         </div>
         <div class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="tasks-form-modal">
            <div class="modal-dialog modal-lg">
               <div class="modal-content bg-black" id="f-body">
               </div>
            </div>
         </div>

         <div class="card card-1-color mt-4 mb-4">
            <div class="p-0 mt-4">
                <div class=" card-1-color  div-header p-4">
               <h4 class="card-title text-white">Borkers Informations</h4>
            </div>
            </div>
            <div class="card-body mt-4">
               <div id="accordion" role="tablist">
                  <div class="card-collapse">
                     <div class="card-h-1 pl-2" role="tab" id="heading-b-One">
                        <h5 class="mb-0">
                           <a data-toggle="collapse" href="#brokerOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                           Brokers Name
                           <i class="material-icons">keyboard_arrow_down</i>
                           </a>
                        </h5>
                     </div>
                     <div id="brokerOne" class="collapse show" role="tabpanel" aria-labelledby="heading-b-One" data-parent="#accordion" style="">
                        <div class="card-body">
                           <% @property.contacts.each do |contact | %>
                           <% contact_string = contact.name + ', ' if  @property.contacts %>
                           <%= contact_string if contact.broker? || contact.agent? %>
                           <% end %>
                        </div>
                     </div>
                  </div>
                  <div class="card-collapse">
                     <div class="card-h-1 pl-2" role="tab" id="heading-b-Two">
                        <h5 class="mb-0">
                           <a class="collapsed" data-toggle="collapse" href="#brokertwo" aria-expanded="false" aria-controls="collapseTwo">
                           Brokers Phone Number
                           <i class="material-icons">keyboard_arrow_down</i>
                           </a>
                        </h5>
                     </div>
                     <div id="brokertwo" class="collapse" role="tabpanel" aria-labelledby="heading-b-Two" data-parent="#accordion">
                        <div class="card-body">
                           <% @property.contacts.each do |contact | %>
                           <%= contact.phone + ', ' if contact.broker? || contact.agent? %>
                           <% end %>
                        </div>
                     </div>
                  </div>
                  <div class="card-collapse">
                     <div class="card-h-1 pl-2" role="tab" id="heading-b-three">
                        <h5 class="mb-0">
                           <a class="collapsed" data-toggle="collapse" href="#brokerthree" aria-expanded="false" aria-controls="collapseThree">
                           Brokers Email
                           <i class="material-icons">keyboard_arrow_down</i>
                           </a>
                        </h5>
                     </div>
                     <div id="brokerthree" class="collapse" role="tabpanel" aria-labelledby="heading-b-three" data-parent="#accordion">
                        <div class="card-body">
                           <% @property.contacts.each do |contact | %>
                           <%= contact.email + ', ' if contact.broker? || contact.agent? %>
                           <% end %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="mt-4 p4">

         </div>
         <div class="card hidden-xs hidden-sm hidden-print mt-4 card-1-color">
            <div class=" p-0">
               <div class=" card-1-color  div-header p-4">
               <h2>Also Related...</h2>
               <small>Smimliar properties that are in the category <%= @property.category %></small>
            </div>
            </div>
            <div class="col-md-12">
               <!--Image-->
               <div class="view overlay rounded z-depth-1-half mb-3">
                  <% @similar_properties.each do |prop| %>
                  <% if prop.name != @property.name  && prop.avatar? %>
                  <%= image_tag prop.avatar.url(:thumb), class: 'img-fluid' %>
                  <% end %>
                  <a>
                     <div class="mask rgba-white-slight waves-effect waves-light"></div>
                  </a>
               </div>
               <!--Excerpt-->
               <div class="news-data">
                  <a href="" class="light-blue-text">
                     <h6>
                        <i class="material-icons text-muted">business</i>
                        <strong class="pt-4 mt-3"><%= @property.category %></strong>
                     </h6>
                  </a>
                  <p>
                     <strong>
                     <i class="fa fa-clock-o"></i>  <%= prop.created_at.strftime("%d %b. %Y") %></strong>
                  </p>
               </div>
               <h3>
                  <a>
                  <strong><%= link_to property_path(prop.id), class: 'text-white' do %><%= prop.name %><% end %></strong>
                  </a>
               </h3>
               <p> <%=  prop.description %>
               </p>
               <!--/Featured news-->
               <hr>
               <%  break %>
               <% end %>
               <!--Small news-->
               <%  @similar_properties.each_with_index do |prop, index| %>
               <% next if prop.name == @property.name %>
               <% break if index == 3 %>
               <div class="row">
                  <div class="col-md-3">
                     <!--Image-->
                     <div class="view overlay rounded z-depth-1">
                        <%= image_tag prop.avatar.url(), class: 'img-fluid' %>
                        <a>
                           <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                     </div>
                  </div>
                  <!--Excerpt-->
                  <div class="col-md-9">
                     <p class="dark-grey-text">
                        <strong><%= prop.created_at.strftime("%d %b. %Y") %></strong>
                     </p>
                     <%= link_to property_path(prop.id), class: 'text-muted' do %>
                     <%= prop.name %>
                     <% end %>
                  </div>
               </div>
               <!--/Small news-->
               <hr>
               <% end %>
               <!--/Small news-->
            </div>
            <div class="p-10"></div>
         </div>
         <div class="card-1-color card p-3">
              <div class=" p-0">
               <div class=" card-1-color  div-header p-4">
               <h4 class="card-title text-white">All Contact related <span class="float-right"><%= link_to edit_property_path( @property.id), class: "text-info", title: 'edit property', rel: "tooltip"  do %>
                  <i class="material-icons text-info">account_circle</i>
                  <% end %></span>
               </h4>
            </div>
            </div>
            <div class="table-responsive table-sales">
               <table class="table">
                  <tbody>
                     <% @property.contacts.each do |contact | %>
                     <tr>
                        <td class="text-left">
                           <%= contact.name %>
                        </td>
                        <td class="text-right">
                           <%= contact.role %>
                        </td>
                     </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="card-1-color card p-3">
            <div class="p-0">

               <div class=" card-1-color  div-header p-4">
               <h4 class="card-title text-white">Issues for this Property <span class="float-right"> <%= link_to  new_property_issue_path(@property) do %>
                  <i class="material-icons text-danger">report_problem</i>
                  <% end %></span>
               </h4>
            </div>
            </div>
            <div class="table-responsive table-sales">
               <table class="table">
                  <tbody>
                     <% @property.issues.each do |issue | %>
                     <tr>
                        <td class="text-left">
                           severity
                        </td>
                        <td class="text-right">
                           <%= issue.severity %>
                        </td>
                     </tr>
                     <tr>
                        <td class="text-left">
                           status
                        </td>
                        <td class="text-right">
                           <%= issue.status %>
                        </td>
                     </tr>
                     <tr>
                        <td class="text-left">
                           <i class="material-icons text-muted">mode_comment</i>
                        </td>
                        <td class="text-right">
                           <%= issue.comment %>
                        </td>
                     </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
