<div class="col-md-4">
   <div class="card card-product  card-1" data-count="3">
      <div class="card-header card-header-image" data-header-animation="true">
         <%= link_to property_path(property.id) do %>
         <%= image_tag property.avatar.present? ? property.avatar.url() : 'image_placeholder.jpg', class: "media-object" %>
         <% end %>
      </div>
      <div class="card-body">
         <div class="card-actions text-center">
            <button type="button" class="btn btn-danger btn-link fix-broken-card" rel="tooltip" data-placement="bottom" title="" data-original-title="Fix">
            <%= link_to new_property_issue_path(property)  do %>
            <i class="material-icons pr-2">build</i> Fix Header!
            <% end %>
            </button>
            <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="" data-original-title="View">
            <%= link_to property_path(property.id) do %>
            <i class="material-icons">art_track</i>
            <% end %>
            </button>
            <button type="button" class="btn btn-success btn-link" rel="tooltip" data-placement="bottom" title="" data-original-title="Edit">
            <%= link_to edit_property_path( property.id), class: "", title: 'edit property', rel: "tooltip"  do %>
            <i class="material-icons">edit</i>
            <% end %>
            </button>
            <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="" data-original-title="Remove">
            <%= link_to  property_path( property.id), method: :delete, class: ' ', data: { confirm: "Are you sure you want delete this  property?"}  do %>
            <i class="material-icons">close</i>
            <% end %>
            </button>
         </div>
         <h4 class="card-title">
            <%= link_to property_path(property.id), class: 'text-info' do %>
            <%= property.name %>
            <% end %>
         </h4>
         <div class="rating pt-2 mt-1">
            <div class="row">
               <% property.average_ratings.times do %>
               <div class="col-md-1">
                  <i class="material-icons text-warning">star_rate</i>
               </div>
               <% end %>
            </div>
            <div class="card-description card-description-property">
               <%= property.description %>
            </div>
         </div>
         <div class="card-footer">
            <div class="price">
               <h4 class="pl-3 pr-1 mb-2"><%= link_to 'New post', new_property_post_path(property), class: 'text-white ml-0 pl-0' %><span class="float-right pr-0 mr-0"> <%= link_to 'See Activy', property_posts_path(property), class: "text-muted" %></span></h4>
               <div class="row">
                  <div class="col-md-6 pl-0">
                     <%= link_to  new_property_issue_path(property), class: 'btn btn-success btn-link fix-broken-card ml-0 pl-3' do %>
                     <i class="material-icons">report_problem</i> New Issues!
                     <% end %>
                  </div>
                  <div class="col-md-6">
                     <%= link_to  property_issues_path(property), class: 'btn btn-danger btn-link fix-broken-card' do %>
                     <i class="material-icons">build</i> Fix Issues!
                     <% end %>
                  </div>
               </div>
            </div>
            <div class="stats">
            </div>
         </div>
      </div>
   </div>
</div>


<!--
temp project list  -->

<div class="section-deck">
<!-- .card -->
<div class="card card-fluid">
   <header class="card-header"> Active Projects </header>
   <!-- .lits-group -->
   <div class="lits-group list-group-flush">
      <!-- .lits-group-item -->
      <div class="list-group-item">
         <!-- .lits-group-item-figure -->
         <div class="list-group-item-figure">
            <div class="has-badge">
               <a href="app-tasks.html" class="tile tile-md bg-blue">LT</a>
               <a href="#team" class="user-avatar user-avatar-xs">
               <img src="assets/images/avatars/team1.jpg" alt="">
               </a>
            </div>
         </div>
         <!-- .lits-group-item-figure -->
         <!-- .lits-group-item-body -->
         <div class="list-group-item-body">
            <h5 class="card-title mb-2">
               <a href="app-tasks.html">Looper Admin Theme</a>
            </h5>
            <p class="card-subtitle text-muted"> Progress in 74% - Last update 1d </p>
            <!-- .progress -->
            <div class="progress progress-xs bg-white">
               <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="2181" aria-valuemin="0" aria-valuemax="100" style="width: 74%">
                  <span class="sr-only">74% Complete</span>
               </div>
            </div>
            <!-- /.progress -->
         </div>
         <!-- .lits-group-item-body -->
      </div>
      <!-- /.lits-group-item -->
      <!-- .lits-group-item -->
      <div class="list-group-item">
         <!-- .lits-group-item-figure -->
         <div class="list-group-item-figure">
            <div class="has-badge">
               <a href="app-tasks.html" class="tile tile-md bg-indigo">SP</a>
               <a href="#team" class="user-avatar user-avatar-xs">
               <img src="assets/images/avatars/team1.jpg" alt="">
               </a>
            </div>
         </div>
         <!-- .lits-group-item-figure -->
         <!-- .lits-group-item-body -->
         <div class="list-group-item-body">
            <h5 class="card-title mb-2">
               <a href="app-tasks.html">Smart Paper</a>
            </h5>
            <p class="card-subtitle text-muted"> Progress in 22% - Last update 2h </p>
            <!-- .progress -->
            <div class="progress progress-xs bg-white">
               <div class="progress-bar bg-indigo" role="progressbar" aria-valuenow="867" aria-valuemin="0" aria-valuemax="100" style="width: 22%">
                  <span class="sr-only">22% Complete</span>
               </div>
            </div>
            <!-- /.progress -->
         </div>
         <!-- .lits-group-item-body -->
      </div>
      <!-- /.lits-group-item -->
      <!-- .lits-group-item -->
      <div class="list-group-item">
         <!-- .lits-group-item-figure -->
         <div class="list-group-item-figure">
            <div class="has-badge">
               <a href="app-tasks.html" class="tile tile-md bg-yellow">OS</a>
               <a href="#team" class="user-avatar user-avatar-xs">
               <img src="assets/images/avatars/team2.png" alt="">
               </a>
            </div>
         </div>
         <!-- .lits-group-item-figure -->
         <!-- .lits-group-item-body -->
         <div class="list-group-item-body">
            <h5 class="card-title mb-2">
               <a href="app-tasks.html">Online Store</a>
            </h5>
            <p class="card-subtitle text-muted"> Progress in 99% - Last update 2d </p>
            <!-- .progress -->
            <div class="progress progress-xs bg-white">
               <div class="progress-bar bg-yellow" role="progressbar" aria-valuenow="6683" aria-valuemin="0" aria-valuemax="100" style="width: 99%">
                  <span class="sr-only">99% Complete</span>
               </div>
            </div>
            <!-- /.progress -->
         </div>
         <!-- .lits-group-item-body -->
      </div>
      <!-- /.lits-group-item -->
      <!-- .lits-group-item -->
      <div class="list-group-item">
         <!-- .lits-group-item-figure -->
         <div class="list-group-item-figure">
            <div class="has-badge">
               <a href="app-tasks.html" class="tile tile-md bg-purple">BA</a>
               <a href="#team" class="user-avatar user-avatar-xs">
               <img src="assets/images/avatars/team3.png" alt="">
               </a>
            </div>
         </div>
         <!-- .lits-group-item-figure -->
         <!-- .lits-group-item-body -->
         <div class="list-group-item-body">
            <h5 class="card-title mb-2">
               <a href="app-tasks.html">Booking App</a>
            </h5>
            <p class="card-subtitle text-muted"> Progress in 35% - Last update 4h </p>
            <!-- .progress -->
            <div class="progress progress-xs bg-white">
               <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="112" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                  <span class="sr-only">35% Complete</span>
               </div>
            </div>
            <!-- /.progress -->
         </div>
         <!-- .lits-group-item-body -->
      </div>
      <!-- /.lits-group-item -->
      <!-- .lits-group-item -->
      <div class="list-group-item">
         <!-- .lits-group-item-figure -->
         <div class="list-group-item-figure">
            <div class="has-badge">
               <a href="app-tasks.html" class="tile tile-md bg-teal">SB</a>
               <a href="#team" class="user-avatar user-avatar-xs">
               <img src="assets/images/avatars/team3.png" alt="">
               </a>
            </div>
         </div>
         <!-- .lits-group-item-figure -->
         <!-- .lits-group-item-body -->
         <div class="list-group-item-body">
            <h5 class="card-title mb-2">
               <a href="app-tasks.html">SVG Icon Bundle</a>
            </h5>
            <p class="card-subtitle text-muted"> Progress in 32% - Last update 1d </p>
            <!-- .progress -->
            <div class="progress progress-xs bg-white">
               <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="461" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                  <span class="sr-only">32% Complete</span>
               </div>
            </div>
            <!-- /.progress -->
         </div>
         <!-- .lits-group-item-body -->
      </div>
      <!-- /.lits-group-item -->
      <!-- .lits-group-item -->
      <div class="list-group-item">
         <!-- .lits-group-item-figure -->
         <div class="list-group-item-figure">
            <div class="has-badge">
               <a href="app-tasks.html" class="tile tile-md bg-pink">SP</a>
               <a href="#team" class="user-avatar user-avatar-xs">
               <img src="assets/images/avatars/team1.jpg" alt="">
               </a>
            </div>
         </div>
         <!-- .lits-group-item-figure -->
         <!-- .lits-group-item-body -->
         <div class="list-group-item-body">
            <h5 class="card-title mb-2">
               <a href="app-tasks.html">Syrena Project</a>
            </h5>
            <p class="card-subtitle text-muted"> Progress in 93% - Last update 8h </p>
            <!-- .progress -->
            <div class="progress progress-xs bg-white">
               <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="3981" aria-valuemin="0" aria-valuemax="100" style="width: 93%">
                  <span class="sr-only">93% Complete</span>
               </div>
            </div>
            <!-- /.progress -->
         </div>
         <!-- .lits-group-item-body -->
      </div>
      <!-- /.lits-group-item -->
   </div>
   <!-- /.lits-group -->
</div>


<!-- temp side widets  -->

   <div class="col-xl-3 col-lg-12 col-md-12 first-show-card">
      <div class="card rounded-0 bg-black">
         <div class="card-content">
            <div class="card-body">
               <div class="media">
                  <div class="media-body text-left">
                     <h3 class="success">2,780</h3>
                     <span>Today's Leads</span>
                  </div>
                  <div class="media-right media-middle">
                     <i class="ft-award success font-large-2 float-right"></i>
                  </div>
               </div>
               <div class="progress mt-1 mb-0" style="height: 7px;">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="card rounded-0 text-white">
         <div class="card-content bg-black">
            <div class="card-body">
               <div class="media">
                  <div class="media-body text-left">
                     <h3 class="deep-orange">2,780</h3>
                     <span>New Deal</span>
                  </div>
                  <div class="media-right media-middle">
                     <i class="ft-package deep-orange font-large-2 float-right"></i>
                  </div>
               </div>
               <div class="progress mt-1 mb-0" style="height: 7px;">
                  <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 75%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="card rounded-0 text-white">
         <div class="card-content bg-black">
            <div class="card-body">
               <div class="media">
                  <div class="media-body text-left">
                     <h3 class="">56</h3>
                     <span>New Customers</span>
                  </div>
                  <div class="media-right media-middle">
                     <i class="ft-package bg-info font-large-2 float-right"></i>
                  </div>
               </div>
               <div class="progress mt-1 mb-0" style="height: 7px;">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 45%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
