<div class="ml-4 pl-2">
<%= form_with(model: lead, local: true) do |form| %>
<% if lead.errors.any? %>
<div id="error_explanation">
   <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>
   <ul>
      <% lead.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
   </ul>
</div>
<% end %>
<div class="row">
   <div class="col-md-8 col-md-offset-2 bg-footer">
      <div class="ml-1">
         <h3 class="page-title">Lead Form</h3>
         <div class="row">
            <div class="col-sm-6 mt-4">
               <div class="form-group">
                  <label>Company Name <span class="text-danger">*</span></label>
                  <%= form.text_field :business, id: :lead_business, class: 'form-control  text-white' %>
               </div>
            </div>
            <div class="col-sm-6 mt-4">
               <div class="form-group">
                  <label>Contact Person</label>
                  <%= form.text_field :name, id: :lead_name, class: 'form-control  text-white' %>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12 mt-4">
               <div class="form-group">
                  <label>Address</label>
                  <%= form.text_field :address, id: :lead_address, class: 'form-control  text-white' %>
               </div>
            </div>
            <div class=" col-sm-3 mt-4">
               <div class="form-group">
                  <label>Size Requirement</label>
                  <%= form.text_field :size_requirement, id: :lead_size_requirement, class: 'form-control  text-white' %>
               </div>
            </div>
            <div class="col-sm-3 mt-4">
               <div class="form-group">
                  <label>Contact Id</label>
                  <input class="form-control  text-white" type="text" name=lead[contact_id]>
               </div>
            </div>
            <div class="col-sm-3 mt-4">
               <div class="form-group">
                  <label>Location Need</label>
                  <%= form.text_field :location_need, id: :lead_location_need, class: 'form-control text-white' %>
               </div>
            </div>
            <div class="col-sm-3 mt-4">
               <div class="form-group">
                  <label>Postal Code</label>
                  <input class="form-control  text-white"  type="text">
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6 mt-4">
               <div class="form-group">
                  <label>Email</label>
                  <%= form.text_field :email, id: :lead_email, class: 'form-control  text-white' %>
               </div>
            </div>
            <div class="col-sm-6 mt-4">
               <div class="form-group">
                  <label>Phone Number</label>
                  <%= form.text_field :phone, id: :lead_phone, class: 'form-control  text-white' %>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6 mt-4">
               <div class="form-group">
                  <label>Mobile Number</label>
                  <%= form.text_field :number, id: :lead_number, class: 'form-control  text-white' %>
               </div>
            </div>
            <div class="col-sm-6 mt-4">
               <div class="form-group">
                  <label>Time Requirement</label>
                  <%= form.text_field :time_requirement, id: :lead_time_requirement, class: 'form-control  text-white' %>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12 mt-4">
               <div class="form-group">
                  <label>Notes</label>
                  <%= form.text_area :notes, id: :lead_notes, class: 'form-control  text-white'  %>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12 text-center  mt-4">
               <div class="actions">
                  <%= form.submit class: 'btn btn-danger rounded-0 btn-lg' %>
               </div>
               <% end %>
            </div>
         </div>
      </div>
   </div>
</div>

