<div class="main main-raised main-lead card-1-color p-3 mt-3" data-parallax="true">
   <%= form_with(model: lead, remote: true) do |form| %>
   <% if lead.errors.any? %>
   <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>
      <ul>
         <% lead.errors.full_messages.each do |message| %>
         <li><%= message %></li>
         <% end %>
      </ul>
   </div>
   <% end %>
   <div class="">
      <div class="">
         <div class="row">
            <div class="col-md-12">
               <h3 class="page-title"><span class="ml-4 pl-2">Lead Form</span> <span><%= form.submit class: 'btn btn-outline-white roundd-0  float-right mr-4 lead-submit-btn' %></span></h3>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6" >

               <div class="form-group p-2">
                  <%= form.text_field :business, id: :lead_business, class: 'form-control  text-white', placeholder: 'Company Name'  %>
               </div>

         </div>
         <div class="col-md-6">

            <div class="form-group  p-2">
               <%= form.text_field :name, id: :lead_name, class: 'form-control  text-white', placeholder: 'Contact Person'  %>

            </div>
         </div>
      </div>
      <div class="">
         <div class="row">
            <div class=" col-sm-3 ">

               <div class="form-group  p-2">
                  <%= form.text_field :size_requirement, id: :lead_size_requirement, class: 'form-control  text-white mt-4', placeholder: 'Size Requirement' %>

            </div>
            </div>
            <div class="col-sm-3 ">

               <div class="form-group  p-2">
                  <label  class="bmd-label-floating text-white">Assign To</label>
                  <select class="selectpicker  mt-0 mb-0 pt-0" data-style="select-with-transition" title="" data-size="8" data-style="btn-outline-info" name="lead[contact_id]" id="lead-contact-user" >
                     <% User.all.each do |user| %>
                     <option class="text-dark" value=<%= "#{user.id}"%>><%= "#{user.first_name}"%></option>
                     <% end %>
                  </select>

            </div>
         </div>
            <div class="col-sm-3">

               <div class="form-group p-2">
                  <%= form.text_field :location_need, id: :lead_location_need, class: 'form-control text-white', placeholder: 'Location Need' %>
               </div>

         </div>
            <div class="col-sm-3 ">

               <div class="form-group  p-2">
                  <input class="form-control  text-white"  type="text" placeholder= 'Postal Code'>
               </div>
            </div>

         </div>
      </div>
      <div class="">
         <div class="row">
            <div class="col-sm-6 ">

               <div class="form-group  p-2">
                  <%= form.text_field :email, id: :lead_email, class: 'form-control  text-white', placeholder: 'Email' %>
               </div>

         </div>
            <div class="col-sm-6">

               <div class="form-group  p-2">
                  <%= form.text_field :phone, id: :lead_phone, class: 'form-control  text-white', placeholder: 'Phone Number' %>
               </div>

            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <div class="   card-1-color">
               <div class="form-group p-2">
                  <%= form.text_field :number, id: :lead_number, class: 'form-control  text-white', placeholder: 'Mobile Number' %>
               </div>
            </div>
            </div>
            <div class="col-sm-6">
                   <div class="    card-1-color">
               <div class="form-group p-2">
                  <%= form.text_field :time_requirement, id: :lead_time_requirement, class: 'form-control  text-white ', placeholder: 'Time Requirement' %>
               </div>
            </div>
         </div>
         </div>
         <div class="row mb-2 pb-0 ">
            <div class="col-sm-6" >
                   <div class="    card-1-color">
               <div class="form-group  p-2">
                  <%= form.text_area :notes, id: :lead_notes, class: 'form-control  text-white ', placeholder: 'Notes'  %>
               </div>
            </div>
            </div>
            <div class="col-sm-6 mb-0 mt-3 ">
                   <div class="  mt-4   card-1-color">
                  <div class="form-group  mt-3 p-2">
                  <input type="hidden" name="lead[address_ids]" class="address_id_hidden">
                  <%= form.text_field :address, id: :lead_address, class: 'form-control address-auto  text-white', placeholder: 'Address'  %>
               </div>
            </div>
            </div>
          </div>
          <div class="col-md-6 mt-0">



            <div class="form-group card-1-color">
               <div class="form-group  pt-0 mt-0  ">
                  <div class=" pt-0 mt-0  ">
                     <div class="card-collapse  pt-0 mt-0 ">
                        <div class="card-header pt-0 card-1-color" role="tab" id="headingTwo">
                           <div class="row">
                              <input class="form-control get-contacts ml-3 mr-2 pl-2 mt-0 pt-2 pb-2" type="text" placeholder="Type name then select the contact" aria-label="Search" id="search-contat-task">
                           </div>
                           <h5 class="mb-0">
                              <a class="collapsed  pl-2 text-muted" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              click to see who got added
                              <i class="material-icons text-muted">keyboard_arrow_down</i>
                              </a>
                           </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                           <div class="card-body" id="form-contact">
                              <ul class="list-inline p-3">
                                 <li class="list-inline-item m-2">
                                    <div class="form-check mr-3 pr-3">
                                       <label class="form-check-label">
                                       <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact1">
                                       <span class="c1  mt-4 p-2  text-muted text-center">contact 1</span>
                                       <span class="form-check-sign">
                                       <span class="check"></span>
                                       </span>
                                       </label>
                                    </div>
                                 </li>
                                 <li class="list-inline-item  m-2">
                                    <div class="form-check mr-3 pr-3">
                                       <label class="form-check-label">
                                       <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact2">
                                       <span class="c2 mt-4 p-2 text-muted text-center">contact 2 </span>
                                       <span class="form-check-sign">
                                       <span class="check"></span>
                                       </span>
                                       </label>
                                    </div>
                                 </li>
                                 <li class="list-inline-item  m-2">
                                    <div class="form-check mr-3 pr-3">
                                       <label class="form-check-label">
                                       <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact3">
                                       <span class="c3 mt-4 p-2 text-muted text-center"> contact 3 </span>
                                       <span class="form-check-sign">
                                       <span class="check"></span>
                                       </span>
                                       </label>
                                    </div>
                                 </li>
                                 <li class="list-inline-item  m-2">
                                    <div class="form-check mr-3 pr-3">
                                       <label class="form-check-label">
                                       <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact4">
                                       <span class="c4 mt-4 p-2 text-muted text-center">contact 4</span>
                                       <span class="form-check-sign">
                                       <span class="check"></span>
                                       </span>
                                       </label>
                                    </div>
                                 </li>
                                 <li class="list-inline-item  m-2">
                                    <div class="form-check mr-3 pr-3">
                                       <label class="form-check-label">
                                       <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact5">
                                       <span class="c5 mt-4 p-2  text-muted text-center"> contact 5 </span>
                                       <span class="form-check-sign">
                                       <span class="check"></span>
                                       </span>
                                       </label>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
                     </div>
                  </div>
               </div>

            <% end %>

      </div>
   </div>
</div>
<script >
      $('.address-auto').autocomplete({
        source: '/addresses/autocomplete',
        minLength: 2,
        select: function (event, ui) {
          console.log(ui);
            $('.address-auto').val(ui.item.value);

        }
    });

</script>
