<div class="ml-4 pl-2">
<%= form_with(model: lead, local: true) do |form| %>
<% if lead.errors.any? %>
<div id="error_explanation">
   <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>
   <ul>
      <% lead.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
   </ul>
</div>
<% end %>
   <div class="">
      <div class="col-md-8 col-md-offset-2 bg-footer">
<div class="row">



<div class="col-md-6">
   <h3 class="page-title">Lead Form </h3>
</div>
<div class="col-md-6">
  <div class="">
                  <%= form.submit class: 'btn info-color-dark rounded-0 btn-lg pull-right mt-3' %>
               </span>
</div>
</div>
</div>
</div>
 <div class="col-md-8 col-md-offset-2 bg-footer">



         <div class="row">
            <div class="col-md-6 mt-4">
               <div class="form-group">
                  <label  class="bmd-label-floating">Company Name <span class="text-danger">*</span></label>
                  <%= form.text_field :business, id: :lead_business, class: 'form-control  text-white' %>
               </div>
            </div>
            <div class="col-md-6 mt-4">
               <div class="form-group">
                  <label  class="bmd-label-floating">Contact Person</label>
                  <%= form.text_field :name, id: :lead_name, class: 'form-control  text-white' %>
               </div>
            </div>
         </div>
      </div>
       <div class="col-md-8 col-md-offset-2 bg-footer">
         <div class="row">
            <div class="col-sm-12 mt-4">
               <div class="form-group">
                  <label  class="bmd-label-floating">Address</label>
                  <%= form.text_field :address, id: :lead_address, class: 'form-control  text-white' %>
               </div>
            </div>
            <div class=" col-sm-3 mt-4">
               <div class="form-group">
                  <label  class="bmd-label-floating">Size Requirement</label>
                  <%= form.text_field :size_requirement, id: :lead_size_requirement, class: 'form-control  text-white' %>
               </div>
            </div>
            <div class="col-sm-3 mt-4">
               <div class="form-group">
                  <label  class="bmd-label-floating">Contact Id</label>
                  <input class="form-control  text-white" type="text" name=lead[contact_id]>
               </div>
            </div>
            <div class="col-sm-3 mt-4">
               <div class="form-group">
                  <label  class="bmd-label-floating">Location Need</label>
                  <%= form.text_field :location_need, id: :lead_location_need, class: 'form-control text-white' %>
               </div>
            </div>
            <div class="col-sm-3 mt-4">
               <div class="form-group">
                  <label  class="bmd-label-floating">Postal Code</label>
                  <input class="form-control  text-white"  type="text">
               </div>
            </div>
         </div>
      </div>
       <div class="col-md-8 col-md-offset-2 bg-footer ">
         <div class="row">
            <div class="col-sm-6 mt-4">
               <div class="form-group">
                  <label  class="bmd-label-floating">Email</label>
                  <%= form.text_field :email, id: :lead_email, class: 'form-control  text-white' %>
               </div>
            </div>
            <div class="col-sm-6 mt-4">
               <div class="form-group">
                  <label  class="bmd-label-floating">Phone Number</label>
                  <%= form.text_field :phone, id: :lead_phone, class: 'form-control  text-white' %>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6 mt-4">
               <div class="form-group">
                  <label  class="bmd-label-floating">Mobile Number</label>
                  <%= form.text_field :number, id: :lead_number, class: 'form-control  text-white' %>
               </div>
            </div>
            <div class="col-sm-6 mt-4">
               <div class="form-group">
                  <label  class="bmd-label-floating">Time Requirement</label>
                  <%= form.text_field :time_requirement, id: :lead_time_requirement, class: 'form-control  text-white' %>
               </div>
            </div>
         </div>
         <div class="row mb-4 pb-4">
            <div class="col-sm-12 mt-4 mb-4 pb-4" >
               <div class="form-group">
                  <label class="bmd-label-floating">Notes  <span class="text-danger">*</span></label>
                  <%= form.text_area :notes, id: :lead_notes, class: 'form-control  text-white mb-4'  %>
               </div>
            </div>
         </div>
      </div>

      </div>

  <% end %>
   </div>
