<div class="card  card-1-color text-white">
   <div class="card-header card-header-icon card-1">
      <div class="card-icon bg-hudson">
         <i class="material-icons">business</i>
      </div>
      <h4 class="text-white pt-2"><%= @lead.name %> | for <%= @lead.contact.name if @lead.contact %>
         <span class="pull-right">      <span class="pl-0"> <%= link_to 'Edit', edit_lead_path(@lead), class: 'pl-0  ml-3 text-info' %>&nbsp; <%= link_to 'Back', leads_path, class: 'pr-4 text-info ' %> </span>
         <%= link_to  new_lead_path, class: 'btn btn-link mr-0 mt-2', title: 'Add New Lead', rel: "tooltip" do %>
         <i class="fa fa-plus"></i>
         <% end %>
         </span>
      </h4>
   </div>
   <div class="col-md-12">
      <!-- start of deal borderd table in container -->
      <div class="card-1-color">
         <div class="card-body">
            <div class="table-responsive">

                    <table class="table">
            <% @lead.tasks.each do |task| %>
            <% can_show = false%>
            <% task.users.each do |user| %>
            <% if user.id == current_user.id %>
            <%  can_show = true   %>
            <% end %>
            <% end %>
            <% next if !can_show && task.personal  %>
            <tr id="edit_task_<%= task.id %>">
               <input type="hidden" class="task_id_hide" value="#edit_task_<%= task.id %>">
               <td>
                  <div class="form-check">
                     <label class="form-check-label">
                     <input class="form-check-input" type="checkbox" value="<%= task.complete %>" <%= 'checked=""' if task.complete == true %>>
                     <span class="form-check-sign">
                     <span class="check"></span>
                     </span>
                     </label>
                  </div>
               </td>
               <td><%= task.name %> </td>
               <td class="td-actions text-right">
                  <%= link_to edit_task_path(task.id), class: "btn text-white btn-link btn-sm text-white", remote: true, title: 'edit', rel: "tooltip"  do %>
                  <i class="material-icons text-white">edit</i>
                  <% end %>
                  <%= link_to  task, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: 'btn text-white btn-link btn-sm'  do %>
                  <i class="material-icons text-white">close</i>
                  <% end %>
               </td>
            </tr>
            <% end %>
            <tbody >
            </tbody>
         </table>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="leadsModal" tabindex="-1" role="dialog" aria-labelledby="leadsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-black">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lead Notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(model: @lead, remote: true) do |form| %>
      <div class="modal-body">
         <div class="form-group  p-2">
            <%= form.text_area :notes, id: :lead_notes, class: 'form-control  text-white ', placeholder: 'Notes', rows: "20"  %>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-3  roundd-0" data-dismiss="modal">Close</button>
        <%= form.submit class: 'btn btn-outline-white roundd-0 notes_lead' %>
      </div>
    <% end %>
    </div>
  </div>
</div>
<script>
   $(document).on('click', '.notes_lead', function (e) {
     $(this).closest('form').submit();
     $('#leadsModal').modal('hide');
     var location = window.location.href;
     $.get( location );
   }


</script>
