
<div class="container">
   <div class="mdl-color--grey-900  card rounded-0 p-3">
      <h2 class="title text-white ml-4 pl-3">Lead Information</h2>
      <ul class="scondary-smaller-text">
         <div class="row">
            <div class="col-md-4">
               <ul class="list-group scondary-size-text text-white">
                  <li class="list-group-item">
                     <p class="scondary-size-text">
                        <strong class="pb-3">Name:</strong>
                        <%= @lead.name %>
                     </p>
                  </li>
                  <li class="list-group-item">
                      <p class="scondary-size-text">
                  <strong class="mb-3">Email:</strong>
               <span><%= @lead.email %></span>
               </p>
                  </li>
                  <li class="list-group-item">
                     <p class="scondary-size-text">
                        <strong class="mb-3">Business:</strong>
                        <%= @lead.business %>
                     </p>
                  </li>
                  <li class="list-group-item">
                     <p class="scondary-size-text">
                        <strong class="mb-3">Date:</strong>
                     <span>  <%= @lead.date %></span>
                     </p>
                  </li>
               </ul>
            </div>
            <div class="col-md-4">
               <ul class="list-group scondary-size-text text-white">
                  <li class="list-group-item">
                     <p class="scondary-size-text">
                        <strong class="mb-3">Address:</strong>
                     <span><%= @lead.address %></span>
                     </p>
                  </li>
                  <li class="list-group-item">
                     <p class="scondary-size-text">
                        <strong class="mb-3">Phone:</strong>
                      <span> <%= @lead.phone %></span>
                     </p>
                  </li>
                  <li class="list-group-item">
                     <p class="scondary-size-text">
                        <strong class="mb-3"> Cell Number:</strong>
                        <%= @lead.number %>
                     </p>
                  </li>
                  <li class="list-group-item">
                     <p class="scondary-size-text">
                        <strong class="mb-3">Size requirement:</strong>
                     <span>  <%= @lead.size_requirement %></span>
                     </p>
                  </li>
               </ul>
            </div>
            <div class="col-md-4">
               <ul class="list-group  text-white">
                  <li class="list-group-item">
                     <p class="scondary-size-text">
                        <strong class="mb-3">Location need:</strong>
                   <span>    <%= @lead.location_need %></span>
                     </p>
                  </li>
                  <li class="list-group-item">
                     <p class="scondary-size-text">
                        <strong class="mb-3"> Time requirement:</strong>
                   <span> <%= @lead.time_requirement %> </span>
                     </p>
                  </li>
                  <li class="list-group-item">
                     <p class="scondary-size-text">
                        <strong class="mb-3">Contact:</strong>
                  <span> <%= @lead.contact.name if  @lead.contact &&  @lead.contact.name %></span>
                     </p>
                  </li>

               </ul>
            </div>
          <div class="row">
            <div class="p-4 text-white">
               <h5>  <strong class="scondary-size-text text-white mb-4">Notes: &nbsp;</strong></h5>
               <h5 class="scondary-size-text text-white">

                <span> <%= @lead.notes %> </span>
            </h5>
           </div>
         </div>
     <span class="pl-0"> <%= link_to 'Edit', edit_lead_path(@lead), class: 'pl-4  ml-3 text-info' %>&nbsp;&nbsp;&nbsp; <%= link_to 'Back', leads_path, class: 'pr-4 pull-right text-info mr-4' %> </span>
      </div>
   </div>
</div>
