<%= simple_form_for @event, remote: true, :authenticity_token => true do |f| %>
  <div class="form-inputs text-white event-select-group">


 <label for="user_ids[]" class="bmd-label-floating text-white">Pick users</label>
 <%= f.collection_select :user_ids, User.all, :id, :first_name, remote: true, multiple: "true",  class: "selectpicker select_u_picker users-for-new-group", id: "users-t"  %>
    <%= f.input :title, class: 'text-white' %>
    <%= f.input :date_range, input_html: { class: "form-control input-sm date-range-picker text-white" } %>
    <%= f.input_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden text-white' %>
    <%= f.input_field :end, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden text-white' %>
    <%= f.input :color, as: :select, collection: [['Black','black'], ['Green','green'], ['Red','red']] %>

   <div class="form-group card card-5 p-2">
      <%= f.text_field :phone_number, :class => 'form-control text-white', placeholder: 'Phone Number' %>
   </div>
   <%=f.error_span(:phone_number) %>


  </div>

  <div class="form-actions text-info">
    <%= f.button :submit,  class: 'btn btn-outline-info' %>
    <%= link_to 'New Recurring Event',
                new_recurring_event_path,
                class: 'btn text-info btn-outline-info',
                remote: true if @event.new_record? %>
    <%= link_to 'Delete',
                event,
                method: :delete,
                class: 'btn btn-outline-danger',
                data: { confirm: 'Are you sure?' },
                remote: true unless @event.new_record? %>
  </div>
<% end %>
