
              <tr>
                <td class="middle">
                  <div class="media">
                    <div class="media-left">
                       <a href="#">

                      <%= image_tag contact.avatar.present? ? contact.avatar.url(:thumb) : gravatar_url(contact.email), class: "media-object" %>

                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading text-info"><%= contact.name %></h4>
                      <address>
                        <strong><%= contact.company %></strong><br>
                        <%= contact.email %>
                      </address>
                    </div>
                  </div>
                </td>
                <td width="100" class="middle">
                  <div>
                    <%= link_to edit_contact_path(contact), class: 'btn btn-circle btn btn-outline-info    ', title: 'edit', rel: "tooltip"  do %>
                      <i class=" fa fa-edit"></i>
                    </a><% end %>
                      <%= link_to contact_path(contact), method: :delete, class: 'btn btn-circle btn btn-outline-info  ', title: 'delete', rel: "tooltip", data: { confirm: "Are you sure you want delete this contact?"}  do %>
                      <i class="fa fa-trash "></i>
                    </a><% end %>

                    </a>
                  </div>
                </td>
              </tr>


