<tr>

  <td class="middle">
    <div class="media">
      <div class="media-left thumbnail contact-main-image">
        <%= link_to contact_path(contact.id) do %>

          <% if contact.email  == nil %>
          <%= image_tag contact.avatar.present? ? contact.avatar.url(:thumb) : 'https://placehold.it/150x150', class: "media-object small-image" %>
          <% else %>
        <%= image_tag contact.avatar.present? ? contact.avatar.url(:thumb) : gravatar_url(contact.email), class: "media-object"  unless contact.email == nil %>

        <% end %>
      <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading text-info">
     <%= link_to contact_path(contact.id), class: 'text-info',  remote: true  do %>

        <% if contact.first_name || contact.last_name %>
          <%= contact.first_name if contact.first_name %>
          <%= contact.last_name if contact.last_name %>
        <% elsif contact.name %>
          <%= contact.name  %>
           <% else %>
          No Name
        <% end %>
      <% end %>
        </h4>

        <address>

          <strong>  <%= link_to contact_path(contact.id), class: 'text-white',  remote: true  do %><%= contact.company %> <% end %></strong><br>
          <%= link_to contact_path(contact.id), class: 'text-white',  remote: true  do %><%= contact.email %>  <% end %>
        </address>
      </div>
    </div>
  </td>

  <td width="100" class="middle">
    <div>
      <%= link_to edit_contact_path(contact.id), class: "btn btn-circle btn btn-outline-info", remote: true, title: 'edit', rel: "tooltip"  do %>
      <i class=" fa fa-edit e-contact"></i>
      <% end %>
      <%= link_to contact_path(contact.id), method: :delete, class: 'btn btn-circle btn btn-outline-info  ', remote: true, data: { confirm: "Are you sure you want delete this contact?"}  do %>
      <i class="fa fa-trash d-contact" title='delete' rel="tooltip"></i>
      <% end %>
      </a>
    </div>
  </td>
</tr>
