<tr>
  <td class="middle pb-0 pt-1">
    <div class="media">
      <div class="media-left thumbnail contact-main-image mt-4">
        <%= link_to contact_path(contact.id), class: 'remote-link', remote: true do %>
        <% if contact.email  == nil %>
            <%= image_tag contact.avatar.present? ? contact.avatar.url(:thumb) : 'placholder.png', class: "media-object small-image" %>
            <% else %>
            <%= image_tag contact.avatar.present? ? contact.avatar.url(:thumb) : gravatar_url(contact.email), class: "media-object"  unless contact.email == nil %>
            <% end %>
        <% end %>
      </div>
      <div class="media-body pt-0 pb-0">
        <h4 class="media-heading mt-3 mb-0 pt-2 pb-2">
        <%= link_to contact_path(contact.id), class: 'text-white remote-link main-size-text',  remote: true  do %>
        <% if contact.first_name || contact.last_name %>
          <%= contact.first_name if contact.first_name %>
          <%= contact.last_name if contact.last_name %>
        <% elsif contact.name %>
          <%= contact.name  %>
           <% else %>
          No Name
        <% end %>
        <% end %>
        </h4>
        <address>
        <strong class=" ">
          <span><%= link_to contact_path(contact.id), class: 'text-white remote-link scondary-size-text' ,  remote: true  do %><%= contact.company %> <% end %></p></strong></span>
         <span><a href="<%= "mailto:#{contact.email}"%>"  class="text-white"><%= contact.email %></a></span>
         <span class="text-white"><%= tel_to contact.phone %></span>
        </address>
      </div>
    </div>
  </td>
  <td width="100" class="middle  pb-1">
    <div>
      <%= link_to edit_contact_path(contact.id), class: "btn btn-circle btn btn-outline-info remote-link", remote: true, title: 'edit', rel: "tooltip"  do %>
      <i class=" fa fa-edit e-contact"></i>
      <% end %>
      <%= link_to contact_path(contact.id), method: :delete, class: 'btn btn-circle btn btn-outline-info remote-link ', remote: true, data: { confirm: "Are you sure you want delete this contact?"}  do %>
      <i class="fa fa-trash d-contact" title='delete' rel="tooltip"></i>
      <% end %>
      </a>
    </div>
  </td>
</tr>
