<%= form_for(@contact, html: { multipart: true}) do |form| %> <!-- start of form to add new contact -->

          <div class=" special-color">

              <div class="">
                <div class="row">
                  <div class="col-md-8"><% if @contact.errors.any? %>
                    <div class="alert alert-danger">
                      <h4>Please correct the following errors:</h4>
                      <ul><% @contact.errors.full_messages.each do |message| %>
                        <li><%= message %>
                        </li>
                      </ul><% end %>
                    </div><% end %>
                  </div>
                </div>
                <div class="form-horizontal bg-dark">
                  <h2>New Contact</h2>
                  <div class="row mt-3">
                    <div class="col-md-6 no-gutters mr-1 pr-1">
                      <div class="form-group">

                        <div class="col-md-12">
                          <%= form.text_field :name, id: :contact_name, class: 'form-control rounded-0 ', placeholder: 'name' %>
                          </div>
                        </div>
                        <div class="form-group">

                          <div class="col-md-12">
                             <%= form.text_field :company, id: :contact_company, class: 'form-control rounded-0 ', placeholder: 'Company' %>
                            </div>
                          </div>
                          <div class="form-group">

                            <div class="col-md-12">
                               <%= form.text_field :email, id: :contact_email, class: 'form-control rounded-0 ', placeholder: 'Email'  %>
                              </div>
                            </div>
                            <div class="form-group">

                              <div class="col-md-12">
                                <%= form.text_field :phone, id: :contact_phone, class: 'form-control rounded-0 ', placeholder: 'Phone' %>
                                </div>
                              </div>
                              <div class="form-group">

                                <div class="col-md-12">
                                      <%= form.text_area :address, id: :contact_address, class: 'form-control rounded-0', placeholder: 'Address', row: '3' %>

                                </div>
                              </div>
                            </div>
                            <div class="col-md-5 form-right no-gutters ml-0 pl-0 mr-0 pr-0 mt-3">
                              <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="row">
                                  <div class="col-md-6 pl-4 ">
                                    <div class="fileinput-new thumbnail" style="width: 150px; height: 150px;">
                                     <%= image_tag @contact.avatar.present? ? @contact.avatar.url(:thumb) : 'http://placehold.it/150x150', class: "media-object" %>
                                      <img src="http://placehold.it/150x150" alt="Photo">
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="fileinput-preview fileinput-exists thumbnail  mt-4 pt-4" style="max-width: 200px; max-height: 150px;"></div>
                                      <div class="text-center  mt-3 pt-2">
                                        <span class="btn-default btn-file rounded-0 mt-4 pt-4">
                                          <span class="fileinput-new">Choose Photo</span>
                                          <span class="fileinput-exists">Change</span>
                                        <%= form.file_field :avatar %>
                                          </span>
                                          <a href="#" class="btn btn-danger fileinput-exists rounded-0" data-dismiss="fileinput">Remove</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <% attr = {prompt: "Select Group"} %>
                                   <% attr[:selected] = session[:selected_group_id].to_i if session[:selected_group_id] %>
                                    <div class="col-md-12  mt-2  mr-0 pr-0">
                                      <div class="pt-3 mb-2">
                                         <%= form.collection_select :group_id, Group.all, :id, :name, attr, class: "form-control" %>
                                      </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                      <div class="row">
                                        <div class="col-md-12 mt-4  pr-0">

                                        </div>
                                        <div class="col-md-12 mt-2 pr-0" >
                                        <div class="" id="add-new-group">


                                            <div class="row">
                                              <div class="col-md-12">

                                                  <div class="input-group">

                                                    <input type="text" id="new_group" class="form-control rounded-0  mr-0 input-group" placeholder="Make new group if needed then click button">
                                                  </div>
                                              </div>
                                            </div>



                                       </div>
                                          </div>
                                          <div class="panel-footer mt-4 mb-0  ">
                                            <div class="col-md-12">

                                              <div class="row  mt-2 ">
                                                <div class="col-md-4">
                                                  <%= form.submit @contact.new_record? ? "Save" : "Update", class: "btn btn-primary btn-lg mr-0 "  %>
                                                </div>
                                                <div class="col-md-4">
                                                  <a href="#" class="btn  btn-danger  ml-0  mr-4 rounded-0 btn-lg" >Cancel</a>
                                                </div>
                                                 <div class="col-md-4">
                                                  <a href="#" class="btn btn-default  ml-0 rounded-0 btn-lg" id="save-new-group">Group</a>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% end %>
