<div class="wizard-container " id="contact-form-wiz">
   <%= form_with model: @contact,  :format=> :js, multipart: true, remote: local_assigns[:ajax_true], :authenticity_token => true, id: "contact_form"  do |form|%>
   <%= render 'layouts/messages' if !flash.empty? %>
   <div class="card card-wizard card-5" data-color="green" id="wizardProfile" >
      <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
      <div class="card-header text-center p-0">
         <div class="div-header  p-4 card-6">
            <button type="button" class="close text-white wiz-close p-3" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="card-title text-white">
               Build The Contact Profile
            </h3>
            <h5 class="card-description text-white">This information will store what we need for the contact or customer.</h5>
         </div>
      </div>
      <div class="wizard-navigation" >
         <ul class="nav nav-pills text-light">
            <li class="nav-item col-md-3" text-light>
               <a class="nav-link active text-light" href="#about" id="about_id" data-toggle="tab" role="tab" style="color: white !important">
               Account
               </a>
            </li>
            <li class="nav-item col-md-3 text-light">
               <a class="nav-link  text-light" href="#account"  id="account_id" data-toggle="tab" role="tab" style="color: white !important">
               More
               </a>
            </li>
            <li class="nav-item col-md-3 text-light" >
               <a class="nav-link  text-light" href="#address" id="address_id" data-toggle="tab" role="tab" style="color: white !important">
               Address
               </a>
            </li>
            <li class="nav-item col-md-3 text-light" >
               <a class="nav-link  text-light" href="#group" id="link_group_id" data-toggle="tab" role="tab" style="color: white !important">
               Group
               </a>
            </li>
         </ul>
      </div>
      <div class="card-body">
         <div class="tab-content">
            <div class="tab-pane active" id="about">
               <input id="check-wiz" name="prodId" type="hidden" value="befor-submit">
               <div class="row mb-3">
                  <div class="col-md-4">
                     <label class="bmd-label-floating text-white">Name</label>
                     <%= form.text_field :name, id: :contact_name, class: 'form-control text-white' %>
                  </div>
                  <div class="col-md-4">
                     <label class="bmd-label-floating text-white">Phone Number</label>
                     <%= form.text_field :phone, id: :contact_phone, class: 'form-control text-white',  autofocus: true %>
                  </div>
                  <div class="col-md-4">
                     <label class="bmd-label-floating text-white">Cell Phone</label>
                     <%= form.text_field :cell, id: :contact_cell, class: 'form-control text-white' %>
                  </div>
               </div>
               <div class="row mb-3">
                  <div class="col-md-12 ">
                     <label class="bmd-label-floating text-white">Company</label>
                     <%= form.text_field :company, id: :contact_company, class: 'form-control text-white r-r-input'%>
                  </div>
               </div>
               <div class="row mb-3">
                  <div class="col-md-4">
                     <label  class="bmd-label-floating text-white">First Name</label>
                     <%= form.text_field :first_name, id: :contact_first_name, class: 'form-control text-white' %>
                  </div>
                  <div class="col-md-4 ">
                     <label  class="bmd-label-floating text-white">Middle Name</label>
                     <%= form.text_field :middle_name, id: :contact_middle_name, class: 'form-control text-white' %>
                  </div>
                  <div class="col-md-4">
                     <label  class="bmd-label-floating text-white">Last Name</label>
                     <%= form.text_field :last_name, id: :contact_last_name, class: 'form-control text-white' %>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <label class="bmd-label-floating text-white">Email</label>
                     <%= form.email_field :email, id: :contact_email, class: 'form-control  col-md-12 mr-0 text-white' %>
                  </div>
                  <div class="col-md-6">
                     <label  class="bmd-label-floating text-white">Prefix</label>
                     <%= form.text_field :prefix, id: :contact_prefix, class: 'form-control text-white ' %>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="account">
               <div class="controls">
                  <div class="row justify-content-center">
                     <div class="col-sm-12">
                        <h5 class="info-text text-white">Fill out the more section for the contact </h5>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-md-3">
                        <%= form.label :suffix, class: 'bmd-label-floating text-white' %>
                        <%= form.text_field :suffix, id: :contact_suffix, class: 'form-control text-white',  autofocus: true %>
                     </div>
                     <div class="col-md-3">
                        <label class="bmd-label-floating text-white">Owns or Rents</label>
                        <%= form.text_field :owns_cents, id: :contact_owns_cents, class: 'form-control text-white' %>
                     </div>
                     <div class="col-md-3">
                        <%= form.label :year_of_Founding, class: 'bmd-label-floating text-white' %>
                        <%= form.text_field :year_of_Founding, id: :contact_year_of_Founding, class: 'form-control text-white' %>
                     </div>
                     <div class="col-md-3">
                        <%= form.label :primary_industry, class: 'bmd-label-floating text-white' %>
                        <%= form.text_field :primary_industry, id: :contact_primary_industry, class: 'form-control text-white' %>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-md-4">
                        <%= form.label :web_address, class: 'bmd-label-floating text-white' %>
                        <%= form.text_field :web_address, id: :contact_web_address, class: 'form-control text-white' %>
                     </div>
                     <div class="col-md-4">
                        <%= form.label :latitude, class: 'bmd-label-floating text-white' %>
                        <%= form.text_field :latitude, id: :contact_latitude, class: 'form-control text-white' %>
                     </div>
                     <div class="col-md-4 ">
                        <%= form.label :longitude, class: 'bmd-label-floating text-white' %>
                        <%= form.text_field :longitude, id: :contact_longitude, class: 'form-control text-white' %>
                     </div>
                  </div>
                  <div class="row mb-3">
                     <div class="col-md-3">
                        <%= form.label :facility_size, class: 'bmd-label-floating text-white' %>
                        <%= form.text_field :facility_size, id: :contact_facility_size, class: 'form-control' %>
                     </div>
                     <div class="col-md-4 ">
                        <%= form.label :total_number_of_employees, class: 'bmd-label-floating text-white' %>
                        <%= form.text_field :total_number_of_employees, id: :contact_total_number_of_employees, class: 'form-control text-white' %>
                     </div>
                     <div class="col-md-3">
                        <LABEL class= "bmd-label-floating text-white">position</LABEL>
                        <%= form.text_field :postion, id: :contact_postion, class: 'form-control text-white' %>
                     </div>
                     <div class="col-md-2">
                        <%= form.label :sic, class: 'bmd-label-floating text-white' %>
                        <%= form.text_field :sic, id: :contact_sic, class: 'form-control text-white' %>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="address">
               <div class="row justify-content-center">
                  <div class="col-sm-12">
                     <h5 class="info-text text-white">Fill out the current address for contact </h5>
                  </div>
               </div>
               <div class="row justify-content-center">
                  <div class="col-sm-7">
                     <div class="form-group text-white">
                        <label class="bmd-label-floating  text-white">Address</label>
                        <input type="hidden" name="lead[address_ids]" class="address_id_hidden">
                        <%= form.text_field :Fulladdress, id: :contact_address, class: 'form-control text-white address-parse address-auto',  autofocus: true, value: '' %>
                     </div>
                  </div>
                  <div class="col-sm-5">
                     <div class="form-group text-white">
                        <label class="bmd-label-floating  text-white">Street No.</label>
                        <%= form.text_field :street_num, id: :contact_street_num, class: 'form-control text-white' %>
                     </div>
                  </div>
               </div>
               <div class="row justify-content-center">
                  <div class="col-sm-4">
                     <div class="form-group text-white">
                        <label class="bmd-label-floating  text-white">Street Name</label>
                        <%= form.text_field :strret_name, id: :contact_strret_name, class: 'form-control text-white' %>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group text-white">
                        <label class="bmd-label-floating  text-white">City</label>
                        <%= form.text_field :city, id: :contact_city, class: 'form-control text-white' %>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group text-white">
                        <label class="bmd-label-floating  text-white">County</label>
                        <%= form.text_field :county, id: :contact_county, class: 'form-control text-white' %>
                     </div>
                  </div>
               </div>
               <div class="row justify-content-center">
                  <div class="col-md-3">
                     <div class="form-group text-white">
                        <label class="bmd-label-floating  text-white">Suite</label>
                        <%= form.text_field :suite, id: :contact_suite, class: 'form-control text-white' %>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group text-white">
                        <label class="bmd-label-floating  text-white">State</label>
                        <%= form.text_field :state, id: :contact_state, class: 'form-control text-white' %>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group text-white">
                        <label class="bmd-label-floating  text-white">Country</label>
                        <%= form.text_field :country, id: :contact_country, class: 'form-control text-white' %>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group text-white">
                        <label class="bmd-label-floating  text-white">Postal Code</label>
                        <%= form.text_field :postal_code, id: :contact_postal_code, class: 'form-control text-white' %>
                     </div>
                  </div>
               </div>
               <div class="row justify-content-center">
                  <div class="col-md-8">
                     <div class="form-group text-white">
                        <label class="text-white">Contact Notes</label>
                        <div class="form-group">
                           <%= form.text_area :notes, id: :contact_notes, class: 'form-control text-white', row: 20 %>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group text-white">
                        <label class=" text-white">Postal Code Ext</label>
                        <div class="form-group">
                           <%= form.text_area :zip_code_ext, id: :contact_zip_code_ext, class: 'form-control text-white', row: 20 %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="group">
               <div class="row justify-content-center">
                  <div class="col-sm-12">
                     <h5 class="info-text text-white">Very important to select group and the Emplyees, click icon to add group<span  class=" mt-1">  <a  data-toggle="collapse" href="#add-group" aria-expanded="false" aria-controls="add-group"><i class="material-icons">group_add</i></a></span></h5>
                  </div>
                  <div class="col-md-12  ml-auto mr-auto">
                     <div class="form-inline ml-auto mr-auto justify-content-center">
                        <div class="form-group  ">
                           <a class="btn btn-round btn-outline-info  ml-0 mr-0" data-toggle="collapse" href="#collapseGroup" aria-expanded="false" aria-controls="collapseGroup" id="round-group-btn">
                           <i class="material-icons">group</i>
                           Select Groups
                           </a>
                        </div>
                        <div class="form-group">
                           <button class="btn  btn-outline-info  btn-round  ml-2 mr-0" type="button" data-toggle="collapse" data-target="#collapseleads" aria-expanded="false" aria-controls="collapseleads" >
                           <i class="material-icons">person_add</i>
                           Add as Lead
                           </button>
                        </div>
                        <div class="form-group ">
                           <a  class="btn btn-outline-info btn-round  ml-2 mr-0"  data-toggle="collapse" href="#add-users-group" aria-expanded="false" aria-controls="add-users-group">
                           <i class="material-icons">account_circle</i>
                           Upload Image
                           </a>
                        </div>
                     </div>
                  </div>
                  <p class="mt-3"> Pick One Best describes the contact role or leave blank</p>
                  <div class="col-md-12">
                     <div class="row m-0">
                        <div class="col-md-12">
                           <div class="form-group">
                              <div class="form-check form-check-inline ">
                                 <label class="bmd-label-floating mr-1   ml-2  pt-2">Broker:</label>
                                 <input type="checkbox" name="contact[role]" value="broker">
                              </div>
                              <div class="form-check form-check-inline">
                                 <label class="bmd-label-floating mr-1   ml-2  pt-2">Agent:</label>
                                 <input type="checkbox" name="contact[role]" value="agent">
                              </div>
                              <div class="form-check form-check-inline">
                                 <label class="bmd-label-floating mr-1   ml-2  pt-2">Owner:</label>
                                 <input type="checkbox" name="contact[role]" value="owner">
                              </div>
                              <div class="form-check form-check-inline">
                                 <label class="bmd-label-floating mr-1 ml-2  pt-2">Buyer:</label>
                                 <input type="checkbox" name="contact[role]" value="buyer">
                              </div>
                              <div class="form-check form-check-inline">
                                 <label class="bmd-label-floating mr-1 ml-2  pt-2">Employee:</label>
                                 <input type="checkbox" name="contact[role]" value="employee">
                              </div>
                              <div class="form-check form-check-inline">
                                 <label class="bmd-label-floating mr-1 ml-2  pt-2">Management:</label>
                                 <input type="checkbox" name="contact[role]" value="management">
                              </div>
                              <div class="form-check form-check-inline">
                                 <label class="bmd-label-floating mr-1   ml-2  pt-2">Peronal:</label>
                                 <input type="checkbox" name="contact[role]" value="peronal">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="collapse" id="collapseleads">
                           <%= form_with(model:  @lead, remote: true) do |form| %>
                        <div class="card card-body card-1  rounded-0">
                           <span class="pull-right"><a  title="sendLeadInfo " id="Leads-contact-send"><i class="material-icons text-info">arrow_right_alt</i> Send</a></span>
                                  <input type="hidden" name="lead[business]" id="lead_c_business">
                                  <input type="hidden" name="lead[name]"  id="lead_c_name">
                                   <input type="hidden" name="lead[number]"  id="lead_c_number">
                                   <input type="hidden" name="form_authenticity_token" value=<%= "#{form_authenticity_token}" %> id="lead_c_form_authenticity_token">
                           <div class="row">
                              <div class=" col-sm-3 mt-4">
                                 <div class="form-group">
                                    <label  class="bmd-label-floating text-white">Size Requirement</label>
                                    <%= form.text_field :size_requirement, id: :lead_size_requirement, class: 'form-control  text-white' %>
                                 </div>
                              </div>
                              <div class="col-sm-3 mt-4">
                                 <div class="form-group">
                                    <label  class="bmd-label-floating text-white">Location Need</label>
                                    <%= form.text_field :location_need, id: :lead_location_need, class: 'form-control text-white' %>
                                 </div>
                              </div>
                              <div class="form-group mt-4">
                                 <label  class="bmd-label-floating text-white pt-2">Assign To</label>
                                 <select class="selectpicker  mb-0" data-style="select-with-transition" title="" data-size="8" data-style="btn-outline-info" name="lead[contact_id]" >
                                    <% User.all.each do |user| %>
                                    <option class="text-dark" value=<%= "#{user.id}"%>><%= "#{user.first_name}"%></option>
                                    <% end %>
                                 </select>
                              </div>
                              <div class="col-sm-3 mt-4">
                                 <div class="form-group">
                                    <label  class="bmd-label-floating text-white">Time Requirement</label>
                                    <%= form.text_field :time_requirement, id: :lead_time_requirement, class: 'form-control  text-white' %>
                                 </div>
                              </div>
                              <div class="row">
                                  <%= form.submit  :class => 'btn btn-link pull', id: "Leads-contact-send" do %>
                                  <i class="material-icons text-info">arrow_right_alt</i> Send
                                  <% end %>
                              </div>
                           </div>
                        </div>
                        <% end %>
                     </div>
                  </div>
                  <div class="col-md-5 ml-0 pl-0 ">
                     <div class="row">
                        <div class="form-group  collapse" id="add-users-group">
                           <div class="row mt-1">
                              <div class=" col-md-12">
                                 <div class="input-group ">
                                    <div class="col-xl-12">
                                       <div class="row ">
                                          <div class="col-sm-4 ml-auto mr-auto">
                                             <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="max-width: 150px; max-height: 150px;"><%= image_tag @contact.avatar.present? ? @contact.avatar.url(:thumb) : 'http://placehold.it/150x150', class: "media-object" %>
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"><%= image_tag @contact.avatar.present? ? @contact.avatar.url(:thumb) : 'http://placehold.it/150x150', class: "media-object" %>
                                                </div>
                                                <div class="text-center">
                                                   <span class="btn btn-default btn-file">
                                                   <span class="fileinput-new text-white">Choose Photo</span>
                                                   <span class="fileinput-exists text-white">Change</span><%= form.file_field :avatar %>
                                                   </span>
                                                   <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
         <div class="form-group ml-4 collapse" id="add-group">
            <div class="row mt-4">
              <div class=" col-md-12">
                <div class="input-group pl-0">
                  <div class="col-xl-12">
                    <div class="row pl-0">
                      <div class="col-xl-10 pl-3 mb-4">
                        <label for="new_group" class="bmd-label-floating">New Group Name</label>
                        <input type="text" name="new_group" id="new_group" class="form-control ml-0 new_group pb-4 text-white">
                        </div>
                        <div class="col-xl-2 ">
                           <input type="hidden" id="group_authenticity_token" value=<%="#{form_authenticity_token}"%>>
                          <span class="input-group-btn mr-0 ml-2">
                            <button type="button" class="btn btn-fab btn-round btn-info save-new-group" id="save-new-group" data-remote="true">
                              <i class="material-icons">input</i>
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="btn-group"><% User.all.each do |user| %><%  next if !user.first_name  %>
                  <div class="togglebutton form-check-inline">
                    <label>
                      <input type="checkbox" checked="true" value=
                        <%="#{user.id}" if user.first_name %> class="users-for-new-group"/>
                        <span class="toggle"></span>
                        <span class="text-light"><%= user.first_name if user.first_name %>
                        </span>
                      </label>
                    </div><% end %>
                  </div>
                </div>
              </div>
               <!--  end of main row justify center -->
               <div style= "min-width: 400px; margin: 0 auto;">


               <div class="row">
                  <div class="form-group ">
                     <div class=" ">
                        <div class="collapse " id="collapseGroup">
                           <div style= "min-width: 600px; margin: 0 auto;">
                              <div class="card text-center rounded-0 card mdl-color--grey-900">

  <div class="card-header p-0 bg-black rounded-0 pb-0 mb-0" >
   <div class="div-header  p-4 card-6 rounded-0">
    <ul class="nav nav-pills card-header-pills rounded-0 mdl-color--grey-900  mt-3">
      <li class="nav-item text-white">
        <a class="nav-link active nav-t-tab text-white" href="#groups-pane"><span class="text-white">Groups</span></a>
      </li>
      <li class="nav-item text-white">
        <a class="nav-link nav-t-tab text-white text-white" href="#users"><span class="text-white">Users</span></a>
      </li>
        <li class="nav-item text-white">
        <a  data-toggle="collapse" href="#add-group" aria-expanded="false" aria-controls="add-group"><span class="text-white">New Group</span></a>
      </li>


    </ul>
  </div>
</div>
  <div class="card-body card mdl-color--grey-900 rounded-0">
                  <div class="tab-pane group-pane" id="users">
                     <div class="col-md-12">
                        <h4 class="ml-4 ml-3 pull-right"><i class="material-icons text-white">
                           folder_shared
                           </i>
                        </h4>
                        <% User.all.each.each_slice(6) do |user| %>
                        <div class="col-md-12">
                           <div class="row">
                              <% user.each do |user| %>
                              <%  next if !user.first_name  %>
                              <div class="col-md-2">
                                 <div class="togglebutton ">
                                    <label>
                                    <input type="checkbox" name="user_ids[]" checked="true" value=
                                       <%="#{user.id}" if user.first_name %> class="users-for-new-group"/>
                                    <span class="toggle"></span>
                                    <span class="text-white"><%= user.first_name if user.first_name %>
                                    </span>
                                    </label>
                                 </div>
                              </div>
                              <% end %>
                           </div>
                        </div>
                        <% end %>
                     </div>
                  </div>
                  <div class="tab-pane group-pane mdl-color--grey-900 rounded-0" id="groups-pane">
                     <div class="mdl-color--grey-900 rounded-0 text-white ">
                        <ul class="list-group mdl-color--grey-900 text-white" id="list-group-to-select-group">
                           <input type="hidden"  value="group_id[]" class="groups-hiiden">
                           <% Group.all.each_with_index do |group, index| %>
                           <% next if group.nil? || group.name.empty? %>
                           <li class="list-group-item d-flex form-group-li justify-content-between align-items-center text-muted">
                              <h5 class="text-wheight-light text-white pt-2 "><%= group.name %></h5>
                              <nav class="navbar  bg-footer  justify-content-between align-items-center " id="group-check-nav">
                                 <span class="ml-auto mr-auto text-center p-0   ">
                              <div class="form-check form-check-right ml-auto mr-auto  ">
                                 <div class="togglebutton ">
                                    <label>
                                    <input type="checkbox" name="group_ids[]" value=<%="#{group.id}"%> />
                                    <span class="toggle"></span>
                                    <span class="text-white">
                                    </span>
                                    </label>
                                 </div>

                              </div>
                                 </span>
                              </nav>
                           </li>
                           <% end %>
                        </ul>
                     </div>
                  </div>
  </div>
</div>


                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               </div>

            </div>
         </div>
      </div>
      <div class="card-footer">
         <div class="mr-auto">
            <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
         </div>
         <div class="ml-auto c-form-foot">
            <input type="hidden" name="update-wiz" value="update" >
            <% if local_assigns[:ajax_true] %>
            <input type="button"  class="btn btn_next btn-fill bg-hudson btn-wd" value="Next" id="btn_next">
            <% if @contact.persisted? %>
            <input type="hidden" name="id" value=<%="#{@contact.id}"%> id="hidden_update">
           <input type="hidden" name="page_url" value="" id="hidden_page_url">

            <% end %>
            <% else %>

            <% end %>
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"></input>
            <%= form.submit 'finshed', :class => 'btn btn-fill b-finsh btn-rose ', id: "btn_finshed" %>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
   <% end %>
</div>
<!-- wizard container -->
<script >
   var hrefTempIndex = "#groups-pane"
   $('.group-pane').hide();
   $("#groups-pane").show();
   $(document).on('click', '.nav-t-tab', function (e) {
      e.preventDefault()
      var tabSection =  $(this).attr('href');
      $(hrefTempIndex).hide();
       $(tabSection).show();
        hrefTempIndex = tabSection;
   })
   $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      e.target // newly activated tab
      e.relatedTarget // previous active tab
   });
</script>
