<%= form_with model: @contact,  :format=> :js, multipart: true, remote: local_assigns[:ajax_true], :authenticity_token => true, id: "contact_form"  do |form|%>
<%= render 'layouts/messages' if !flash.empty? %>
<!--      Wizard container        -->
<div class="wizard-container">
   <div class="card card-wizard" data-color="green" id="wizardProfile" style=" background-color: #212121 !important; color: white !important;">


         <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
         <div class="card-header text-center">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-form">
          <span aria-hidden="true">&times;</span>
        </button>
            <h3 class="card-title">
               Build The Contact Profile
            </h3>
            <h5 class="card-description">This information will store what we need for the contact or customer.</h5>
         </div>
         <div class="wizard-navigation" >
            <ul class="nav nav-pills text-light">
               <li class="nav-item col-md-3" text-light>
                  <a class="nav-link active text-light" href="#about" data-toggle="tab" role="tab" style="color: white !important">
                  Account
                  </a>
               </li>
               <li class="nav-item col-md-3 text-light">
                  <a class="nav-link  text-light" href="#account" data-toggle="tab" role="tab" style="color: white !important">
                  Users
                  </a>
               </li>
               <li class="nav-item col-md-3 text-light" >
                  <a class="nav-link  text-light" href="#address" data-toggle="tab" role="tab" style="color: white !important">
                  Address
                  </a>
               </li>
               <li class="nav-item col-md-3 text-light" >
                  <a class="nav-link  text-light" href="#group" data-toggle="tab" role="tab" style="color: white !important">
                  Group
                  </a>
               </li>
            </ul>
         </div>
         <div class="card-body">
            <div class="tab-content">
               <div class="tab-pane active" id="about">
                  <div class="row">
                     <div class="col-sm-4">
                     </div>
                     <div class="form-group col-sm-6 ml-4 pl-4">
                        <div class="input-group form-control-lg ml-4">
                           <div class="input-group-prepend">
                              <span class="input-group-text">
                              <i class="material-icons">phone</i>
                              </span>
                           </div>
                           <div class="form-group">
                              <label for="exampleInput1" class="bmd-label-floating">Contact Phone</label>
                              <%= form.text_field :phone, id: :contact_phone, class: 'form-control text-light' %>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row justify-content-center">
                     <div class="col-sm-4">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                           <div class="fileinput-new thumbnail" style="max-width: 150px; max-height: 150px;"><%= image_tag @contact.avatar.present? ? @contact.avatar.url(:thumb) : 'http://placehold.it/150x150', class: "media-object" %>
                           </div>
                           <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"><%= image_tag @contact.avatar.present? ? @contact.avatar.url(:thumb) : 'http://placehold.it/150x150', class: "media-object" %>
                           </div>
                           <div class="text-center">
                              <span class="btn btn-default btn-file">
                              <span class="fileinput-new">Choose Photo</span>
                              <span class="fileinput-exists">Change</span><%= form.file_field :avatar %>
                              </span>
                              <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                           <div class="input-group-prepend">
                              <span class="input-group-text">
                              <i class="material-icons">face</i>
                              </span>
                           </div>
                           <div class="form-group">
                              <label for="exampleInput1" class="bmd-label-floating">Contact Name (required)</label>
                              <%= form.text_field :name, id: :contact_name, class: 'form-control text-light', required: true %>
                           </div>
                        </div>
                        <div class="input-group form-control-lg">
                           <div class="input-group-prepend">
                              <span class="input-group-text">
                              <i class="material-icons">record_voice_over</i>
                              </span>
                           </div>
                           <div class="form-group">
                              <label for="exampleInput11" class="bmd-label-floating">Company Name</label>
                              <%= form.text_field :company, id: :contact_company, class: 'form-control text-light'%>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-10 mt-3 ml-0 pl-0">
                        <div class="input-group form-control-lg ml-0 pl-0">
                           <div class="input-group-prepend ml-0 pl-0">
                              <span class="input-group-text ml-0 pl-0">
                              <i class="material-icons">email</i>
                              </span>
                           </div>
                           <div class="form-group pl-0">
                              <label for="exampleInput1" class="bmd-label-floating">Email (required)</label>
                              <%= form.email_field :email, id: :contact_email, class: 'form-control text-light', required: true  %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tab-pane" id="account">
                  <h5 class="info-text"> Pick users inculding yourself if needed (checkboxes) </h5>
                  <div class="row justify-content-center" id="circle-users">
                     <div class="col-lg-10">
                        <div class="row">

                           <div class="col-sm-4">
                              <div class="choice" data-toggle="wizard-checkbox">
                                 <input type="checkbox" checked=false name="adrrian" value="adrrian" class="users-for-new-contact">
                                 <div class="icon">
                                    <i class="fa fa-user u-check-box"></i>
                                 </div>
                                 <h6><label class="user-lable"  for="">Adrrian</h6>
                                 </label>
                              </div>
                           </div>
                            <div class="col-sm-4">
                              <div class="choice" data-toggle="wizard-checkbox">
                                 <input type="checkbox" checked=false name="sam" class="users-for-new-contact">
                                 <div class="icon">
                                    <i class="fa fa-user u-check-box"></i>
                                 </div>
                                 <h6><label class="user-lable">Sam</h6>
                                 </label>
                              </div>
                           </div>
                            <div class="col-sm-4">
                              <div class="choice" data-toggle="wizard-checkbox">
                                 <input type="checkbox" checked=false value="noah" class="users-for-new-contact">
                                 <div class="icon">
                                    <i class="fa fa-user u-check-box"></i>
                                 </div>
                                 <h6><label class="user-lable">Noah</h6>
                                 </label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tab-pane" id="address">
                  <div class="row justify-content-center">
                     <div class="col-sm-12">
                        <h5 class="info-text">Fill out the current address for contact </h5>
                      <input type="hidden" name="contact[address]" id="c-add-hidden">
                     </div>
                     <div class="col-sm-7">
                        <div class="form-group">
                           <label class="bmd-label-floating">Street Name</label>
                           <%= form.text_field :strret_name, id: :contact_strret_name, class: 'form-control' %>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                           <label class="bmd-label-floating">Street No.</label>
                           <%= form.text_field :street_num, id: :contact_street_num, class: 'form-control' %>
                        </div>
                     </div>
                     <div class="col-sm-5">
                        <div class="form-group text-light">
                           <label class="bmd-label-floating">City</label>
                           <%= form.text_field :city, id: :contact_city, class: 'form-control text-light' %>
                        </div>
                     </div>
                     <div class="col-sm-5">
                        <div class="form-group">
                           <select class="selectpicker county-select" name="contact[contact_county]" data-style="select-with-transition" title="Single Select">
                              <option value="Select County" class="tex-mute"> Select County </option>
                              <option value="Dutchess"> Dutchess </option>
                              <option value="Ulster"> Ulster </option>
                              <option value="Putnam"> Putnam </option>
                              <option value="Orange"> Orange </option>
                              <option value="Columbia"> Columbia </option>
                              <option value="Sullivan"> Sullivan </option>
                              <option value="Greene"> Greene </option>
                              <option value="westchester"> westchester </option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row pl-4 pr-4 ml-4">
                     <div class="col-md-4">
                        <div class="form-group">
                           <label class="bmd-label-floating">State</label>
                           <%= form.text_field :state, id: :contact_state, class: 'form-control text-light' %>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label class="bmd-label-floating">Country</label>
                           <%= form.text_field :country, id: :contact_country, class: 'form-control text-light' %>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label class="bmd-label-floating">Postal Code</label>
                           <%= form.text_field :postal_code, id: :contact_postal_code, class: 'form-control text-light' %>
                        </div>
                     </div>
                  </div>
                  <div class="row  pl-4 pr-4 ml-4">
                     <div class="col-md-12">
                        <div class="form-group">
                           <label>Contact Notes</label>
                           <div class="form-group">
                              <label class="bmd-label-floating">Enter important notes for this contact.</label>
                              <%= form.text_area :notes, id: :contact_notes, class: 'form-control text-light' %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tab-pane" id="account">
                  <h5 class="info-text"> Pick users inculding yourself if needed (checkboxes) </h5>
                  <div class="row justify-content-center" id="circle-users">
                     <div class="col-lg-10">
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="choice" data-toggle="wizard-checkbox">
                                 <input type="checkbox" checked=false name="adrrian" value="adrrian" class="users-for-new-contact">
                                 <div class="icon">
                                    <i class="fa fa-user u-check-box"></i>
                                 </div>
                                 <h6><label class="user-lable"  for="">Adrrian</h6>
                                 </label>
                              </div>
                           </div>
                            <div class="col-sm-4">
                              <div class="choice" data-toggle="wizard-checkbox">
                                 <input type="checkbox" checked=false name="sam" class="users-for-new-contact">
                                 <div class="icon">
                                    <i class="fa fa-user u-check-box"></i>
                                 </div>
                                 <h6><label class="user-lable">Sam</h6>
                                 </label>
                              </div>
                           </div>
                            <div class="col-sm-4">
                              <div class="choice" data-toggle="wizard-checkbox">
                                 <input type="checkbox" checked=false value="noah" class="users-for-new-contact">
                                 <div class="icon">
                                    <i class="fa fa-user u-check-box"></i>
                                 </div>
                                 <h6><label class="user-lable">Noah</h6>
                                 </label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tab-pane" id="group">
                  <div class="row justify-content-center">
                     <div class="col-sm-12">
                        <h5 class="info-text">Very important to select group and the Emplyees who need access to the contact</h5>
                     </div>
                     <div class="col-md-4 ml-3 mr-0 pr-0 pl-0">
                        <div class="form-inline ">
                           <div class="form-group ml-2 mr-0 pr-0 pl-0">
                              <a class="btn btn-just-icon btn-round  ml-0 mr-0" data-toggle="collapse" href="#collapseGroup" aria-expanded="false" aria-controls="collapseGroup" id="round-group-btn">
                              <i class="material-icons">group</i>
                              </a>
                           </div>
                           <div class="form-group ml-2 mr-0 pr-0 pl-0">
                              <button class="btn btn-just-icon btn-round  ml-2 mr-0" type="button" data-toggle="collapse" data-target="#pickUsers" aria-expanded="false" aria-controls="pickUsers" id="round-user-btn">
                              <i class="material-icons">person_add</i>
                              </button>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-5 ml-0 pl-0 ">
                        <div class="form-group ml-0 pr-2 pl-0 mt-0">
                           <div class=" mr-0 pl-3">
                              <% attr = {prompt: "Select Group"} %><% attr[:selected] = session[:selected_group_id].to_i if session[:selected_group_id] %>
                              <div class="collapse " id="collapseGroup">
                                 <label for="cell" class="bmd-label-floating text-light ">Pick a Group<small>(required)</small></label><%= form.collection_select :group_id, @groups, :id, :name, attr,{remote: true, required: true, class: "selectpicker select_g_picker" } %>
                              </div>
                           </div>
                           <div class="form-group  pl-3">
                              <div class="collapse " id="pickUsers"><% attr = {prompt: "Select related users"} %><% attr[:selected] = current_user.id.to_i if current_user.id %>
                                 <label for="cell" class="bmd-label-floating text-light" >Pick users<small>(required)</small></label><%= form.collection_select :user_id, User.all, :id, :first_name, attr,{ remote: true, multiple: "true", required: true,  class: "selectpicker select_u_picker  " } %>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col--5">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div class="mr-auto">
               <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
            </div>
            <div class="ml-auto">
               <a class="btn btn_next btn-fill bg-hudson" id="btn_next">Next</a>
               <button type="submit" class="btn btn-finish btn-fill bg-hudson btn-wd"  style="display: none;">Finish</button>
            </div>
            <div class="clearfix"></div>
         </div>
      </form>
   </div>
</div>
<!-- wizard container -->
<% end %>
