<div id="myModal" class="modal fade  bd-example-modal-lg  modal-size-xl" role="dialog">
<div class="modal-dialog  modal-size-xl" >
<div class="modal-content modal-size-xl card-6">
<div class="modal-header b-bottom pb-4">
   <button type="button" class="close" data-dismiss="modal">&times;</button>
   <h4 class="modal-title text-left text-light">Import CSV for Contacts</h4>
</div>
<div class="modal-body b-bottom">
   <%= form_tag inport_contacts_path, multipart: true do %>
   <div class="row" style="width 100% !important;">
      <div class="col-md-6 text-white mb-4">
         <label class=" text-white ml-2" >Choose file<small>(required)</small></label>
         <div class="fileinput fileinput-new input-group pt-3" data-provides="fileinput">
            <span class="input-group-addon btn bg-black text-white btn-file ml-2"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span> <%= file_field_tag :file %></span>
            <a href="#" class="input-group-addon btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
            <br> <br>
            <div class="col-md-12 ">
               <div class="form-control ml-0 text-white" data-trigger="fileinput"><i class="fa fa-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <label class=" text-white ml-2" >Select Groups and Employees <small>(required)</small></label>
         <!-- Tabs with icons on Card -->
         <div class="card card-nav-tabs">
            <div class="card-header bg-black">
               <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
               <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                     <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                           <a class="nav-link" href="#users" data-toggle="tab">
                           <i class="material-icons">face</i> Users
                           </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#group" data-toggle="tab">
                              <i class="material-icons">group</i> Group
                              <div class="ripple-container"></div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="card-body mdl-color--grey-900 rounded-0 ">
               <div class="tab-content text-center">
                  <div class="tab-pane" id="users">
                     <div class="col-md-12">
                        <h4 class="ml-4 ml-3 pull-right"><i class="material-icons text-white">
                           folder_shared
                           </i>
                        </h4>
                        <% User.all.each.each_slice(6) do |user| %>
                        <div class="col-md-12">
                           <div class="row">
                              <% user.each do |user| %>
                              <%  next if !user.first_name  %>
                              <div class="col-md-2">
                                 <div class="togglebutton ">
                                    <label>
                                    <input type="checkbox" name="input[]" checked="true" value=
                                       <%="#{user.id}" if user.first_name %> class="users-for-new-group"/>
                                    <span class="toggle"></span>
                                    <span class="text-white"><%= user.first_name if user.first_name %>
                                    </span>
                                    </label>
                                 </div>
                              </div>
                              <% end %>
                           </div>
                        </div>
                        <% end %>
                     </div>
                  </div>
                  <div class="tab-pane mdl-color--grey-900" id="group">
                     <div class="mdl-color--grey-900 rounded-0 text-white ">
                        <ul class="list-group mdl-color--grey-900 text-white">
                           <input type="hidden"  value="groups[]" class="groups-hiiden">
                           <% Group.all.each_with_index do |group, index| %>
                           <% next if group.nil? || group.name.empty? %>
                           <li class="list-group-item d-flex form-group-li justify-content-between align-items-center text-muted">
                              <h5 class="text-wheight-light text-white pt-4 "><%= group.name %></h5>
                              <nav class="navbar  bg-footer pb-4  justify-content-between align-items-center " id="group-check-nav">
                                 <span class="ml-auto mr-auto text-center p-0 pb-4 mb-3 ">
                                    <div class="form-check form-check-right ml-auto mr-auto p-0   mb-4 ">
                                       <div class="form-check ml-auto mr-auto  mb-0 pt-0 pb-0 ">
                                          <label class="form-check-label ">
                                          <input class="form-check-input " name="groups[]" type="checkbox" value=<%="#{group.id}"%>>
                                          <span class="form-check-sign ">
                                          <span class="check"></span>
                                          </span>
                                          </label>
                                       </div>
                                    </div>
                                 </span>
                              </nav>
                           </li>
                           <% end %>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Tabs with icons on Card -->
      </div>
   </div>
   <div class="col-md-12">
   </div>
   <div class="modal-footer b-top">
      <hr>
      <%= submit_tag "Import CSV", class: "btn bg-hudson" %>
   </div>
   <% end %>
</div>
