<div class="container-fluid outer-contact-show">
<div class="row">
<div class="col-md-8">
<div class="card card-5 r-s-p" >
<div class="card-header card-header-icon ">
   <div class="card-icon bg-hudson ">
      <i class="material-icons">perm_identity</i>
   </div>
   <%= form_with model: @contact, id: "contact_form_show" do |form|%>
   <h4 class="card-title text-light text-left"><span class="r-r">Contact / Profile </span><span class="hide-btn  pull-right ">    <button class=" btn-link btn btn-just-icon toggle-contact " type="button" data-toggle="collapse" data-target="#form-collapse" aria-expanded="false" aria-controls="form-collapse">
      <i class=" fa fa-edit text-info"></i>
      </button> </span>
      <span>
      <button class="btn bg-hudson pull-right toggle-contact show-btn" type="button" data-toggle="collapse" data-target="#form-collapse" aria-expanded="false" aria-controls="form-collapse">
      Edit Contact
      </button>
      </span>
   </h4>
</div>
<div class="card-body first-show-card">
   <div class="collapse " id="form-collapse">
      <%= render 'layouts/messages' if !flash.empty? %>
      <%=  hidden_field(:contact, :id, :value => @contact.id.to_s, id: 'contact_id_hidden') %>
      <div class="row">
         <div class="col-lg-3">
            <label class="text-muted">Company Name <span class="text-danger">*</span></label>
            <div class="form-group">
               <div class="">
                  <div class="input-group">
                     <%= form.text_field :company, id: :contact_company, class: ' text-white form-control'%>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <label class="text-muted bmd-label-floating">Prefix </label>
            <div class="form-group">
               <div class="c">
                  <div class="input-group">
                     <%= form.text_field :prefix, id: :contact_prefix, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <label class="text-muted bmd-label-floating">First Name</label>
            <div class="form-group">
               <div class="">
                  <div class="input-group">
                     <%= form.text_field :first_name, id: :contact_first_name, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class=" col-lg-3">
            <label class="text-muted  bmd-label-floating">Middle Name</label>
            <div class="form-group">
               <div class="">
                  <div class="input-group">
                     <%= form.text_field :middle_name, id: :contact_suffix, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row ">
         <div class="col-lg-3">
            <label class="text-muted  bmd-label-floating">Last Name</label>
            <div class="form-group">
               <div class="">
                  <div class="input-group">
                     <%= form.text_field :last_name, id: :contact_last_name, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <label class="text-muted bmd-label-floating">Suffix</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :suffix, id: :contact_suffix, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <label class="text-muted  bmd-label-floating">Owns Or Rents </label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :owns_cents, id: :contact_owns_cents, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <label class="text-muted  bmd-label-floating">Year Of Founding</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :year_of_Founding, id: :contact_year_of_Founding, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-3">
            <label class="text-muted  bmd-label-floating">Primary Industry</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :primary_industry, id: :contact_primary_industry, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <label class="text-muted  bmd-label-floating">Web Address</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :web_address, id: :contact_web_address, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class=" col-lg-3">
            <label class="text-muted bmd-label-floating">Latitude </label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :latitude, id: :contact_latitude, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <label class="text-muted bmd-label-floating">Longitude </label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :longitude, id: :contact_longitude, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row ">
         <div class=" col-lg-3">
            <label class="text-muted  bmd-label-floating">Email</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :email, id: :contact_email, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <label class="text-muted bmd-label-floating">Type</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :type, id: :contact_type, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <label class="text-muted  bmd-label-floating">Total Employees</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :total_number_of_employees, id: :contact_total_number_of_employees, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <label class="text-muted bmd-label-floating">Position </label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :postion, id: :contact_postion, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row ">
         <div class="col-sm-6 col-md-6 col-lg-3">
            <label class="text-muted bmd-label-floating">SIC </label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :sic, id: :contact_sic, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class=" col-lg-3">
            <label class="text-muted bmd-label-floating">Address</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :address, id: :contact_address, class: 'form-control text-white' %>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <labe class="text-muted bmd-label-floating">
            Street Number</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :street_num, id: :contact_street_num, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class=" col-lg-3">
            <labe class="text-muted bmd-label-floating">
            Street Name</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :strret_name, id: :contact_strret_name, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-3">
            <label class="text-muted bmd-label-floating">City <span class="text-danger">*</span></label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :city, id: :contact_city, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class=" col-lg-3">
            <label class="text-muted bmd-label-floating">County</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                      <%= form.text_field :county, id: :contact_county, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class=" col-lg-3">
            <label class="text-muted bmd-label-floating">state</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :state, id: :contact_state, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <label class=" bmd-label-floating text-muted">Postal Code</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :postal_code, id: :contact_postal_code, class: ' text-white form-control' %>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row ">
         <div class="col-md-3">
         </div>
         <div class="col-md-3">
         </div>
         <div class="col-md-3">
         </div>
         <div class="col-lg-3">
            <label class="text-muted">Country</label>
            <div class="form-group">
               <div class="cols-sm-10">
                  <div class="input-group">
                     <%= form.text_field :country, id: :contact_country, class: ' text-white form-control'  %>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- wizard container -->
      <div class="form-check pull-right p-2">
         <label class="form-check-label ">

            <%= form.check_box :verified, id: :contact_verified, class: 'form-check-input text-success ' %>
            <span class="form-check-sign text-success "  style="color:green">
            <span class="check text-success"></span>
            </span>
            <p class=" mb-3">  <%= @contact.verified ? 'Yes' : 'No' %>, Contact is <%= 'not' if !@contact.verified %>  verified.</p>
         </label>
      </div>
      <!-- wizard container -->
   </div>
</div>
<% end %>
