<div class="container-fluid">
  <div class="row">
     <div class="col-md-8">
        <div class="card card-5" >
           <div class="card-header card-header-icon ">
              <div class="card-icon bg-hudson ">
                 <i class="material-icons">perm_identity</i>
              </div>
              <h4 class="card-title text-light text-left">Contact / Facts
              <%= form_with model: @contact,  :format=> :js, multipart: true, remote: local_assigns[:ajax_true], :authenticity_token => true, id: "contact_form"  do |form|%>
                 <button class="btn bg-hudson pull-right toggle-contact" type="button" data-toggle="collapse" data-target="#form-collapse" aria-expanded="false" aria-controls="form-collapse">
                 Edit Contact
                 </button>
              </h4>
           </div>

              <div class="card-body">
                 <div class="collapse bg-footer" id="form-collapse">
                    <%= render 'layouts/messages' if !flash.empty? %>


            <div class="row bg-footer">
            <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">Company Name <span class="text-danger">*</span></label>
                      <div class="">
                        <div class="input-group">

                           <%= form.text_field :company, id: :contact_company, class: 'dark-form-control text-white'%>
                        </div>
                     </div>

               </div>
            </div>
            <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">Prefix </label>
                      <div class="c">
                        <div class="input-group">

                          <%= form.text_field :prefix, id: :contacts_prefix, class: 'dark-form-control text-white' %>
                        </div>
                     </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">First Name</label>
                    <div class="">
                      <div class="input-group">

                        <%= form.text_field :first_name, id: :contact_first_name, class: 'dark-form-control text-white' %>
                      </div>
                   </div>

               </div>
            </div>
            <div class=" col-lg-3">
               <div class="form-group">
                  <label class="text-white">Middle Name</label>
                  <div class="">
                      <div class="input-group">

                   <%= form.text_field :middle_name, id: :contacts_suffix, class: 'dark-form-control text-white' %>
                      </div>
                   </div>
               </div>
            </div>

         </div>

          <div class="row bg-footer">
              <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">Last Name</label>
                  <div class="">
                      <div class="input-group">

                          <%= form.text_field :last_name, id: :contacts_last_name, class: 'dark-form-control text-white' %>
                      </div>
                   </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">Suffix</label>
                      <div class="cols-sm-10">
                        <div class="input-group">

                            <%= form.text_field :suffix, id: :contact_suffix, class: 'dark-form-control text-white' %>
                        </div>
                     </div>

               </div>
            </div>
            <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">Owns Or Rents </label>
                      <div class="cols-sm-10">
                        <div class="input-group">

                           <%= form.text_field :owns_cents, id: :contact_owns_cents, class: 'dark-form-control text-white' %>
                        </div>
                     </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">Year Of Founding</label>
                    <div class="cols-sm-10">
                      <div class="input-group">

                        <%= form.text_field :year_of_Founding, id: :contact_year_of_Founding, class: 'dark-form-control text-white' %>
                      </div>
                   </div>

               </div>
            </div>

         </div>


          <div class="row bg-footer">
            <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">Primary Industry</label>
                  <div class="cols-sm-10">
                      <div class="input-group">

                    <%= form.text_field :primary_industry, id: :contact_primary_industry, class: 'dark-form-control text-white' %>
                      </div>
                   </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">Web Address</label>
                  <div class="cols-sm-10">
                      <div class="input-group">

                          <%= form.text_field :web_address, id: :contact_web_address, class: 'dark-form-control text-white' %>
                      </div>
                   </div>
               </div>
            </div>
            <div class=" col-lg-3">
               <div class="form-group">
                  <label class="text-white">Latitude </label>
                      <div class="cols-sm-10">
                        <div class="input-group">

                            <%= form.text_field :latitude, id: :contact_latitude, class: 'dark-form-control text-white' %>
                        </div>
                     </div>

               </div>
            </div>
            <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">Longitude </label>
                      <div class="cols-sm-10">
                        <div class="input-group">

                           <%= form.text_field :longitude, id: :contact_longitude, class: 'dark-form-control text-white' %>
                        </div>
                     </div>
               </div>
            </div>
          </div>
          <div class="row bg-footer">


            <div class=" col-lg-3">
               <div class="form-group">
                  <label class="text-white">Email</label>
                    <div class="cols-sm-10">
                      <div class="input-group">

                         <%= form.text_field :email, id: :contact_email, class: 'dark-form-control text-white' %>
                      </div>
                   </div>

               </div>
            </div>
            <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">Type</label>
                  <div class="cols-sm-10">
                      <div class="input-group">

                      <%= form.text_field :type, id: :contact_type, class: 'dark-form-control text-white ' %>
                      </div>
                   </div>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">Total Employees</label>
                  <div class="cols-sm-10">
                      <div class="input-group">

                         <%= form.text_field :total_number_of_employees, id: :contactnews_total_number_of_employees, class: 'dark-form-control text-white' %>
                      </div>
                   </div>
               </div>
            </div>


            <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">Position </label>
                      <div class="cols-sm-10">
                        <div class="input-group">

                            <%= form.text_field :postion, id: :contacts_postion, class: 'dark-form-control text-white' %>
                        </div>
                     </div>

               </div>
            </div>
         </div>
         <div class="row bg-footer">
            <div class="col-sm-6 col-md-6 col-lg-3">
               <div class="form-group">
                  <label class="text-white">SIC </label>
                      <div class="cols-sm-10">
                        <div class="input-group">

                          <%= form.text_field :sic, id: :contacts_sic, class: 'dark-form-control text-white' %>
                        </div>
                     </div>
               </div>
            </div>
            <div class=" col-lg-3">
               <div class="form-group">
                  <label class="text-white">Address</label>
                    <div class="cols-sm-10">
                      <div class="input-group">

                          <input type="text" name="contact[address]" id="c-add-hidden" class= "dark-form-control text-white">
                      </div>
                   </div>

               </div>
            </div>
            <div class="col-lg-3">
               <div class="form-group">
                  <labe class="text-white"l>Street Number</label>
                  <div class="cols-sm-10">
                      <div class="input-group">

                      <%= form.text_field :street_num, id: :contact_street_num, class: 'dark-form-control text-white' %>
                      </div>
                   </div>
               </div>
            </div>
            <div class=" col-lg-3">
               <div class="form-group">
                  <labe class="text-white"l>Street Name</label>
                  <div class="cols-sm-10">
                      <div class="input-group">

                         <%= form.text_field :strret_name, id: :contact_strret_name, class: 'dark-form-control text-white' %>
                      </div>
                   </div>
               </div>
            </div>
         </div>

          <div class="row bg-footer ">
            <div class="col-lg-3">
               <div class="form-group">
                  <label class="text-white">City <span class="text-danger">*</span></label>
                      <div class="cols-sm-10">
                        <div class="input-group">

                            <%= form.text_field :city, id: :contact_city, class: 'dark-form-control text-white' %>
                        </div>
                     </div>

               </div>
            </div>
             <div class=" col-lg-3">
               <div class="form-group">
                  <label class="text-white">County</label>
                    <div class="cols-sm-10">
                      <div class="input-group">

                          <input type="text" name="contact[county]" class="dark-form-control text-white">
                      </div>
                   </div>

               </div>
            </div>

            <div class=" col-lg-3">
               <div class="form-group">
                  <label class="text-white">state</label>
                    <div class="cols-sm-10">
                      <div class="input-group">

                          <%= form.text_field :state, id: :contact_state, class: 'dark-form-control text-white' %>
                      </div>
                   </div>

               </div>
            </div>
              <div class="col-lg-3"">
             <div class="form-group">
                <label class="text-white">Postal Code</label>
                <div class="cols-sm-10">
                    <div class="input-group">

                       <%= form.text_field :postal_code, id: :contact_postal_code, class: 'dark-form-control text-white' %>
                    </div>
                 </div>
             </div>

</div>

          </div>




         <div class="row bg-footer">
          <div class="col-md-3">
            <label class="text-white">Role</label>
            <%= form.select(:role, Contact.roles.keys.map {|role| [role.titleize,role]},{}, { :class => 'selectpicker' }  )%>
         </div>
          <div class="col-md-3">

              <label>Users</label>
              <% attr = {prompt: "Select related users"} %>
                 <%= form.collection_select :user_id, User.all, :id, :first_name, attr,{ remote: true, multiple: "true", required: true,  class: "selectpicker  " } %>



         </div>
                <div class="col-md-3">
          <label class="text-white">Select Groups</label>
          <div class="">
            <% group_ids = [] %>
            <%  @group_ids.each_with_index do |group, index| %>

                         <% group_ids[index] = group.group_id %>/>

              <% end %>

              <% attr = {prompt: "Select Groups"} %><% attr[:selected] = group_ids %>

               <%= form.collection_select :group_id, @groups, :id, :name, attr,{remote: true, multiple: "true", required: true, class: "selectpicker select_g_picker", id: 'contact_group_id' } %>

           </div>
         </div>
             <div class="col-lg-3">
             <div class="form-group">
                  <label class="text-white">Country</label>
                  <div class="cols-sm-10">
                      <div class="input-group">

                      <%= form.text_field :country, id: :contact_country, class: 'dark-form-control text-white' %>
                      </div>
                   </div>
               </div>



         </div>



         </div>



     <!-- wizard container -->
       <div class="form-check pull-right p-2">
           <label class="form-check-label ">
              <%= form.check_box :verified, id: :contact_verified, class: 'form-check-input text-success ' %>
              <span class="form-check-sign text-success "  style="color:green">
              <span class="check text-success"></span>
              </span>
              <p class=" mb-3">  <%= @contact.verified ? 'Yes' : 'No' %>, Contact is <%= 'not' if !@contact.verified %>  verified.</p>
           </label>
        </div><!-- wizard container -->

  </div>

      </div>

<% end %>

