       <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card card-5" >
               <%= form_with model: @contact,  :format=> :js, multipart: true, :authenticity_token => true, id: "contact_form"  do |form|%>

                <div class="card-header card-header-icon ">
                  <div class="card-icon bg-hudson ">
                    <i class="material-icons">perm_identity</i>
                  </div>
                  <h4 class="card-title text-light">Edit Profile -
                    <small class="category text-light">Complete contact profile</small>
                  <button type="submit" class="btn btn-danger pull-right">Save Changes</button>
                  </h4>
                </div>
                <div class="card-body">

         <div class="card-body">
            <div>
               <div class=>
                  <div class="row">
                     <div class="col-sm-4">
                     </div>
                     <div class="form-group col-sm-6 ml-4 pl-4">
                        <div class="input-group form-control-lg ml-4">
                           <div class="input-group-prepend ">
                              <span class="input-group-text">

                              </span>
                           </div>
                           <div class="form-group text-white ml-2">
                              <label for="exampleInput1" class="bmd-label-floating text-white">Contact Phone</label>
                              <%= form.text_field :phone, id: :contact_phone, class: 'form-control text-white show-input', id: "show-input" %>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row justify-content-center">
                     <div class="col-sm-4">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                           <div class="fileinput-new thumbnail" style="max-width: 150px; max-height: 150px;"><%= image_tag @contact.avatar.present? ? @contact.avatar.url(:thumb) : 'http://placehold.it/150x150', class: "media-object" %>
                           </div>
                           <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"><%= image_tag @contact.avatar.present? ? @contact.avatar.url(:thumb) : 'http://placehold.it/150x150', class: "media-object" %>
                           </div>
                           <div class="text-center">
                              <span class="btn btn-default btn-file">
                              <span class="fileinput-new text-white">Choose Photo</span>
                              <span class="fileinput-exists text-white">Change</span><%= form.file_field :avatar %>
                              </span>
                              <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="row">
                          <div class="col-xl-12">



                        <div class="input-group form-control-lg text-white">
                           <div class="input-group-prepend">
                              <span class="input-group-text">

                              </span>
                           </div>
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-xl-12">
                                     <label for="exampleInput1" class="bmd-label-floating text-white pl-3">Contact Name </label>
                                    <%= form.text_field :name, id: :contact_name, class: 'form-control text-white show-input', id: "show-input" %>
                                 </div>
                              </div>

                           </div>
                        </div>
                           </div>
                        </div>
                        <div class="input-group form-control-lg text-white">
                           <div class="input-group-prepend">
                              <span class="input-group-text">

                              </span>
                           </div>
                           <div class="form-group text-white">
                              <label for="exampleInput11" class="bmd-label-floating text-white">Company Name</label>
                              <%= form.text_field :company, id: :contact_company, class: 'form-control text-white show-input ', id: "show-input"%>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>


                  <div class="row justify-content-center">
                     <div class="col-sm-12">

                      <input type="hidden" name="contact[address]" id="c-add-hidden">
                     </div>
                     <div class="col-sm-7">
                        <div class="form-group text-white">
                           <label class="bmd-label-floating">Street Name</label>
                           <%= form.text_field :strret_name, id: :contact_strret_name, class: 'form-control text-white' %>
                        </div>
                     </div>
                     <div class="col-sm-3">
                        <div class="form-group text-white">
                           <label class="bmd-label-floating">Street No.</label>
                           <%= form.text_field :street_num, id: :contact_street_num, class: 'form-control text-white' %>
                        </div>
                     </div>
                     <div class="col-sm-5">
                        <div class="form-group text-white">
                           <label class="bmd-label-floating">City</label>
                           <%= form.text_field :city, id: :contact_city, class: 'form-control text-white' %>
                        </div>
                     </div>
                     <div class="col-sm-5">
                        <div class="form-group">
                           <select class="selectpicker county-select " name="contact[county]" data-style="select-with-transition" title="Single Select">
                              <option value="Select County"> Select County </option>
                              <option value="Dutchess"> Dutchess </option>
                              <option value="Ulster"> Ulster </option>
                              <option value="Putnam"> Putnam </option>
                              <option value="Orange"> Orange </option>
                              <option value="Columbia"> Columbia </option>
                              <option value="Sullivan"> Sullivan </option>
                              <option value="Greene"> Greene </option>
                              <option value="westchester"> westchester </option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row pl-4 pr-4 ml-4">
                     <div class="col-md-4">
                        <div class="form-group text-white">
                           <label class="bmd-label-floating">State</label>
                           <%= form.text_field :state, id: :contact_state, class: 'form-control text-white ml-2' %>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group text-white">
                           <label class="bmd-label-floating">Country</label>
                           <%= form.text_field :country, id: :contact_country, class: 'form-control text-white' %>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group text-white">
                           <label class="bmd-label-floating">Postal Code</label>
                           <%= form.text_field :postal_code, id: :contact_postal_code, class: 'form-control text-white' %>
                        </div>
                     </div>
                  </div>




                  <div class="row justify-content-center">
                     <div class="col-sm-12">

                     </div>
                     <div class="col-md-4 ml-3 mr-0 pr-0 pl-0">
                        <div class="form-inline ">
                           <div class="form-group ml-2 mr-0 pr-0 pl-0">
                              <a class="btn btn-just-icon btn-round  ml-0 mr-0" data-toggle="collapse" href="#collapseGroup" aria-expanded="false" aria-controls="collapseGroup" id="round-group-btn">
                              <i class="material-icons">group</i>
                              </a>
                           </div>
                           <div class="form-group ml-2 mr-0 pr-0 pl-0">
                              <button class="btn btn-just-icon btn-round  ml-2 mr-0" type="button" data-toggle="collapse" data-target="#pickUsers" aria-expanded="false" aria-controls="pickUsers" id="round-user-btn">
                              <i class="material-icons">person_add</i>
                              </button>
                           </div>
                         <div class="form-group ml-2 mr-0 pr-0 pl-0">
                           <a  class="btn btn-just-icon btn-round  ml-2 mr-0"  data-toggle="collapse" href="#add-users-group" aria-expanded="false" aria-controls="add-users-group">
                              <i class="material-icons">group_add</i>
                           </a>
                        </div>

                        </div>

                     </div>


                     <div class="col-md-5 ml-0 pl-0 ">
                        <div class="row">
                           <div class="form-group  collapse" id="add-users-group">
                              <div class="row mt-4">
                                 <div class=" col-md-12">
                                    <div class="input-group pl-0">
                                       <div class="col-xl-12">
                                          <div class="row pl-0">
                                             <div class="col-xl-10 pl-3 mb-4">
                                                <label for="address" class="bmd-label-floating">New Group Name</label>
                                                <input type="text" name="new_group" id="new_group" class="form-control ml-0 new_group text-white">
                                             </div>
                                             <div class="col-xl-2 ">
                                                <span class="input-group-btn mr-0 ml-2">
                                                <button type="button" class="btn btn-fab btn-round btn-info save-new-group" id="save-new-group" data-remote="true">
                                                <i class="material-icons">input</i>
                                                </button>
                                                </span>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div>
                                 <div class="btn-group">
                                    <% User.all.each do |user| %><%  next if !user.first_name  %>
                                    <div class="togglebutton form-check-inline">
                                       <label>
                                       <input type="checkbox" checked="true" value=
                                          <%="#{user.id}" if user.first_name %> class="users-for-new-group"/>
                                       <span class="toggle"></span>
                                       <span class="text-muted"><%= user.first_name if user.first_name %>
                                       </span>
                                       </label>
                                    </div>
                                    <% end %>
                                 </div>
                              </div>
                           </div>
                         </div>
                        <div class="form-group ml-0 pr-2 pl-0 mt-0">
                           <div class=" mr-0 pl-3">
                              <% attr = {prompt: "Select Groups"} %><% attr[:selected] = session[:selected_group_id].to_i if session[:selected_group_id] %>
                              <div class="collapse " id="collapseGroup">
                                 <label for="cell" class="bmd-label-floating text-light ">Pick a Groups<small>(required)</small></label><%= form.collection_select :group_id, @groups, :id, :name, attr,{remote: true, multiple: "true", class: "selectpicker select_g_picker", id: 'contact_group_id' } %>
                              </div>
                           </div>
                           <div class="form-group  pl-3">
                              <div class="collapse " id="pickUsers"><% attr = {prompt: "Select related users"} %><% attr[:selected] = current_user.id.to_i if current_user.id %>
                                 <label for="cell" class="bmd-label-floating text-light" >Pick users<small>(required)</small></label><%= form.collection_select :user_id, User.all, :id, :first_name, attr,{ remote: true, multiple: "true",  class: "selectpicker select_u_picker  " } %>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col--5">
                     </div>
                  </div>


         <div class="card-footer">

            <div class="clearfix"></div>
         </div>

   </div>
</div>
<!-- wizard container -->
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">Company (disabled)</label>
                          <%= form.text_field :company, id: :contact_company, class: 'form-control text-light'%>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Role</label>
                         <%= form.select(:role, Contact.roles.keys.map {|role| [role.titleize,role]},{}, { :class => 'selectpicker btn-outline-info col-md-12' }  )%>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email address</label>
                          <%= form.email_field :email, id: :contact_email, class: 'form-control text-light'  %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Fist Name</label>
                          <%= form.text_field :name, id: :contact_name, class: 'form-control text-light', required: true %>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Phone</label>
                          <%= form.text_field :phone, id: :contact_phone, class: 'form-control rounded-0 text-light' %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Adress</label>
                           <input type="text" name="contact[address]" class="form-control text-light">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">County</label>
                          <input type="text" name="contact[county]" class="form-control text-light">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Postal Code</label>
                           <%= form.text_field :postal_code, id: :contact_postal_code, class: 'form-control text-light' %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Contact Notes</label>
                          <div class="form-group">
                            <label class="bmd-label-floating text-light"> </label>
                            <%= form.text_area :notes, id: :contact_notes, class: 'form-control text-light', row: '5', placeholder: 'Enter important notes for this contact.' %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
              </div>
              <div class="card card-5  text-right">
                <div class="card-header card-header-icon ">
                  <div class="card-icon bg-hudson ">
                    <i class="material-icons">perm_identity</i>
                  </div>

                <h4 class="card-title text-light text-left">Contact / Facts
                  <div class="form-check pull-right">
                  <label class="form-check-label ">
                     <%= form.check_box :verified, id: :contact_verified, class: 'form-check-input text-success ' %>

                      <span class="form-check-sign text-success "  style="color:green">
                          <span class="check text-success"></span>
                      </span>
                 <p class=" mb-3">  <%= @contact.verified ? 'Yes' : 'No' %>, Contact has beeen verified.</p>
                  </label>
                </div>
                </span>
                </div>
                </h4>
                 <% end %>
