
   <%= render 'show_form' %>

<div class="card-body  first-show-card" >
   <div class="panel panel-default first-show-card">
      <div class="panel-heading mb-0 pl-4 pb-0">
          <h4 class="card-title text-light main-size-text pl-4 ml-4"><span class="r-r head-underline">Contact / Profile </span>
      </div>
      <div class="panel-body col-md-12 first-show-card">
         <ul id="contact-info list-group first-show-card mt-2">

            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Name</strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.name if @contact.name %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Phone: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.phone if  @contact.phone %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Cell Phone: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.cell if  @contact.cell %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Address: </strong></span><span class="float-right c-info-text-rightt scondary-size-text"><%= @contact.address if  @contact.address %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Email: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.email if @contact.email %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Company: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.company if @contact.company %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Web Address</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.web_address  if  @contact.web_address  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Owns or Rents</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.owns_cents  if  @contact.owns_cents  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Prefix</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.prefix  if  @contact.prefix  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">First Name</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.first_name  if  @contact.first_name  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Middle Name</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.middle_name  if  @contact.middle_name  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Last Name</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.last_name  if  @contact.last_name  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Suffix</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.suffix  if  @contact.suffix  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Position</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.postion  if  @contact.first_name  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Latitude</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.latitude  if  @contact.latitude  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Longitude</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.longitude  if  @contact.longitude  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Type</strong></span> <span class="float-right c-info-text-right"> <%= @contact.type  if  @contact.type  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Facility Size</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.facility_size  if  @contact.facility_size  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Total Number Of Employees</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.total_number_of_employees  if  @contact.total_number_of_employees  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Sic</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.sic  if  @contact.sic  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Primary Industry</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.primary_industry  if  @contact.primary_industry  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Year Of Founding</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.year_of_Founding  if  @contact.year_of_Founding  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Created</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.created_at.strftime("%d %b. %Y")   if  @contact.created_at  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Last contacted</strong></span> <span class="float-right c-info-text-right scondary-size-text"> </span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Street Number: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.street_num if @contact.street_num  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Street Name: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.strret_name if @contact.strret_name  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">County: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.county if @contact.county  %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Country: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.country if @contact.country %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text  main-size-text">Postal_code: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.postal_code if @contact.postal_code %></span></li>
            <li class="profile-list list-group-item"><span class="pull-left"><strong class="left-c-text main-size-text">City: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.city if @contact.city%></span></li>
         </ul>
      </div>
   </div>
</div>
</div>
</div>
<div class="col-md-4">
   <div class="card card-profile card-5">
      <div class="card-avatar">
         <a href="">
         <%= image_tag @contact.avatar.present? ? @contact.avatar.url(:thumb) : 'https://placehold.it/150x150', class: "media-object" %>
         </a>
      </div>
      <div class="card-body">
         <h6 class="card-category text-gray scondary-size-text"> <%= @contact.company  if @contact.company  %></h6>
         <h4 class="card-title scondary-size-text"> <%= @contact.first_name if @contact.last_name  %> <%= @contact.first_name if @contact.last_name  %> </h4>
         <p class="card-description scondary-size-text">
            <%= @contact.address if @contact.address%>
         </p>

         <button type="button" class="btn-back btn bg-hudson btn-round text-white scondary-size-text">Go Back</button>




      </div>
   </div>
   <div class="list-group">
      <a href="#" class="list-group-item bg-black">
      </a>
   </div>
   <div class="card card-5 p-3 irst-show-card">
      <div class="card-header first-show-card">
         <h5>Contact Basic Info <span>     <%= link_to edit_contact_path(@contact.id), class: "text-info pull-right", title: 'edit', rel: "tooltip"  do %>
      <i class=" fa fa-edit e-contact"></i>
      <% end %></span></h5>
      </div>
      <ul class="list-group">
         <li class="profile-list list-group-item"><span class="pull-left "><strong class="pr-2  main-size-text">First Name</strong></span> <span class="float-right scondary-size-text"> <%= @contact.first_name  if  @contact.first_name  %></span></li>
         <li class="profile-list list-group-item"><span class="pull-left"><strong class="pr-2  main-size-text">Middle Name</strong></span> <span class="float-right scondary-size-text"> <%= @contact.middle_name  if  @contact.middle_name  %></span></li>
         <li class="profile-list list-group-item"><span class="pull-left"><strong class="pr-2  main-size-text">Last Name</strong></span> <span class="float-right scondary-size-text"> <%= @contact.last_name  if  @contact.last_name  %></span></li>
         <li class="profile-list list-group-item"><span class="pull-left"><strong class="pr-2  main-size-text">Position</strong></span> <span class="float-right scondary-size-text"> <%= @contact.postion  if  @contact.first_name  %></span></li>
         <li class="profile-list list-group-item"><span class="pull-left"><strong class="pr-2  main-size-text">Web Address</strong></span> <span class="float-right scondary-size-text"> <%= @contact.web_address  if  @contact.web_address  %></span></li>
         <li class="profile-list list-group-item"><span class="pull-left"><strong class="pr-2  main-size-text">Phone: </strong></span><span class="float-right scondary-size-text"><%= @contact.phone if  @contact.phone %></span></li>
         <li class="profile-list list-group-item"><span class="pull-left"><strong class="pr-2  main-size-text">Cell: </strong></span><span class="float-right scondary-size-text"><%= @contact.cell if  @contact.cell %></span></li>
         <li class="profile-list list-group-item"><span class="pull-left"><strong class="pr-2  main-size-text">Email: </strong></span><span class="float-right scondary-size-text"><%= @contact.email if @contact.email %></span></li>
      </ul>
   </div>
   <div class="card card-5 p-4 bg-black rounded-0" style="background-color: black !important;">
      <div class="card-header bg-black rounded-0">
         <h2>Contact Notes</h2>
      </div>
      <div class="card-body bg-black">
         <p><%= @contact.notes %></p>
      </div>
   </div>
   <div class="card card-5 p-4 bg-black rounded-0">
      <div class="card-header p-0 bg-black rounded-0">
         <div class="row">
            <div class="col-md-5">
               <h4>Contact Touches</h4>
         </div>
          <div class="col-md-7">
            <span class="pull-right"> <%= link_to  contact_touches_path(@contact.id), class: 'text-danger' do %>
                View <%= @contact.name %> touches
            <% end %>
            </span>
         </div>
         </div>

      </div>
      <% if @contact.contact_touches %>
      <% @contact.contact_touches.each do |touch| %>
      <p>
         <% if touch.email %>
         <strong>Email:</strong>
         <%= touch.email %>
         <% end %>
      </p>
      <% if touch.phone %>
      <p>
         <strong>Phone:</strong>
         <%= touch.phone %>
      </p>
      <% end %>
      <% if touch.postcard %>
      <p>
         <strong>Postcard:</strong>
         <%= touch.postcard %>
      </p>
      <% end %>
      <% if touch.social_media %>
      <p>
         <strong>Social media:</strong>
         <%= touch.social_media %>
      </p>
      <% end %>
      <% if touch.in_person %>
      <p>
         <strong>In person:</strong>
         <%= touch.in_person %>
      </p>
      <% end %>
      <% if touch.letter %>
      <p>
         <strong>Letter:</strong>
         <%= touch.letter %>
      </p>
      <% end %>
      <% if touch.description %>
      <p>
         <strong>Description:</strong>
         <%= touch.description %>
      </p>
      <% end %>



      <span> <%= link_to 'Edit', edit_touch_path(touch), class: 'text-success' %>

      </span>
      <hr>
      <% end %>
      <% end %>
      <div class="row">
         <div class="col-md-6">
             <%= link_to 'All touches', touches_path, class: 'text-info' %>
          </div>
          <div class="col-md-6">
             <%= link_to 'New Touch', new_touch_path, class: 'text-info pull-right pt-1' %>
          </div>
      </div>

   </div>
</div>
</div>
</div>
