<%= render 'show_form' %>
<style type="text/css">
   .main-c-info {
      margin-top: -21px !important;
   }
   .card-avatar {
      height: 150px;
      width: 150px;
      overflow: hidden;
   }
      .card-avatar img{
       object-fit: cover;
       min-width: 100%;
       min-height: 100%
      }
</style>
<div class="card-body pt-0 mt-0 first-show-card main-c-info" >
   <div class=" first-show-card">

      <div class=" p-0 col-md-12 first-show-card">
         <ul id="contact-info" class="pl-0 ml-0 list-group first-show-card mt-0" >

            <li class="profile-list list-group-item pl-0 "><span class="pull-left"><strong class="left-c-text pl-0  main-size-text">Name</strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.name if @contact.name %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">First Name</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.first_name  if  @contact.first_name  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Middle Name</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.middle_name  if  @contact.middle_name  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Last Name</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.last_name  if  @contact.last_name  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Phone: </strong></span><span class="  scondary-size-text text-white" id="c-phone"><%= tel_to @contact.phone %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Cell Phone: </strong></span><span class=" scondary-size-text text-white " id="c-cell"><%= tel_to @contact.cell %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Address: </strong></span><span class="float-right c-info-text-rightt scondary-size-text"><%= @contact.Fulladdress if  @contact.Fulladdress %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Email: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.email if @contact.email %></span></li>
            <li class="profile-list list-group-item pl-0 "><span class="pull-left"><strong class="left-c-text pl-0 main-size-text">Company: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.company if @contact.company %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Web Address</strong></span> <span class=" scondary-size-text"> <a class="text-info scondary-size-text text-right c-webaddress" rel="external" href=<%= "https://#{@contact.web_address}" %>><%= @contact.web_address %></a></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Owns or Rents</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.owns_cents  if  @contact.owns_cents  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Lease is up at</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.lease_is_up.strftime("%b. %d %Y")  if  !@contact.lease_is_up.nil?   %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Prefix</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.prefix  if  @contact.prefix  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Suffix</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.suffix  if  @contact.suffix  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Position</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.postion  if  @contact.first_name  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Latitude</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.latitude  if  @contact.latitude  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Longitude</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.longitude  if  @contact.longitude  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Type</strong></span> <span class="float-right c-info-text-right"> <%= @contact.type  if  @contact.type  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Facility Size</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.facility_size  if  @contact.facility_size  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Total Number Of Employees</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.total_number_of_employees  if  @contact.total_number_of_employees  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Sic</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.sic  if  @contact.sic  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Primary Industry</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.primary_industry  if  @contact.primary_industry  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Year Of Founding</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.year_of_Founding  if  @contact.year_of_Founding  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Created</strong></span> <span class="float-right c-info-text-right scondary-size-text"> <%= @contact.created_at.strftime("%b. %d %Y")   if  @contact.created_at  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Last contacted</strong></span> <span class="float-right c-info-text-right scondary-size-text"> </span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Street Number: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.street_num if @contact.street_num  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Street Name: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.strret_name if @contact.strret_name  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">County: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.county if @contact.county  %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Country: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.country if @contact.country %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">Postal_code: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.postal_code if @contact.postal_code %></span></li>
            <li class="profile-list list-group-item pl-0"><span class="pull-left"><strong class="left-c-text  pl-0 main-size-text">City: </strong></span><span class="float-right c-info-text-right scondary-size-text"><%= @contact.city if @contact.city%></span></li>
         </ul>
      </div>
   </div>
</div>
</div>
</div>
<div class="col-md-4">
   <div class="card card-profile card-1-color">
      <div class="card-avatar avatar-hudson">
          <%= link_to edit_contact_path(@contact.id), class: 'remote-link', remote: true do %>
            <% if @contact.image.attached? %> <%= image_tag url_for(@contact.image), class: 'media-object-2'  %> <% else %>  <%= image_tag  'https://placehold.it/150x150', class: "media-object" %> <% end %>
          <% end %>
      </div>
      <div class="card-body">
         <h6 class="card-category text-gray scondary-size-text"> <%= @contact.company  if @contact.company  %></h6>
         <h4 class="card-title text-white scondary-size-text"> <%= @contact.first_name if @contact.last_name  %> <%= @contact.last_name if @contact.last_name  %> </h4>
         <p class="card-description scondary-size-text">
            <%= @contact.Fulladdress if  @contact.Fulladdress %>
         </p>
         <div class="row">
            <div class="col-md-12">

               <%= link_to "/contacts/#{@contact.id}/letter/", class: "btn bg-hudson btn-round text-white scondary-size-text" do %>
                  <i class="fa fa-envelope-o pb-1 pr-2"></i>Create Letter
               <% end %>
            </div>
         </div>
         <a href="" title="" class="btn-back btn btn-link text-danger text-center">Go Back</a>
      </div>
   </div>

   <div class="card card-1-color pl-1  pr-4 first-show-card">
      <div class="pl-2 pr-0  pt-3 first-show-card c-basic-h4 ">
         <h4 class=""><span>     <%= link_to edit_contact_path(@contact.id), class: "text-info pull-right", title: 'edit', rel: "tooltip"  do %>
      <i class=" fa fa-edit e-contact"></i>
      <% end %></span></h4>
      </div>
      <ul class="list-group pl-0">
         <li class="profile-list list-group-item mb-2 "><span class="pull-left "><strong class="pr-2  main-size-text"><i class="material-icons">face</i></strong></span> <span class="float-right scondary-size-text"> <%= @contact.first_name  if  @contact.first_name  %></span></li>
         <li class="profile-list list-group-item mb-2 "><span class="pull-left"><strong class="pr-2  main-size-text"><i class="material-icons">perm_identity</i></strong></span> <span class="float-right scondary-size-text"> <%= @contact.middle_name  if  @contact.middle_name  %></span></li>
         <li class="profile-list list-group-item mb-2"><span class="pull-left"><strong class="pr-2  main-size-text"><i class="material-icons">account_circle</i></strong></span> <span class="float-right scondary-size-text"> <%= @contact.last_name  if  @contact.last_name  %></span></li>
         <li class="profile-list list-group-item mb-2 "><span class="pull-left"><strong class="pr-2  main-size-text"><i class="material-icons contact-title-i ">account_box</i></strong></span><p class=" float-right  scondary-size-text"><%= @contact.postion  if  @contact.postion  %> </p> </li>
         <li class="profile-list list-group-item mb-2 "><span class="pull-left"><strong class="pr-2  main-size-text"><i class="material-icons">code</i></strong></span> <span class="float-right scondary-size-text"> <a class="text-info scondary-size-text c-webaddress-basic " rel="external" href=<%= "https://#{@contact.web_address}" %>><%= @contact.web_address %></a></span></li>
         <li class="profile-list list-group-item mb-2 "><span class="pull-left mb-3"><strong class="pr-2 mb-3 main-size-text"><i class="material-icons">contact_phone</i> </strong></span><span class="float-right mb-3  scondary-size-text text-white""><%= @contact.phone if  @contact.phone %></span></li>
         <li class="profile-list list-group-item mb-2 "><span class="pull-left"><strong class="pr-2  main-size-text"><i class="material-icons">settings_cell</i> </strong></span><span class="float-right scondary-size-text text-white""><%= @contact.cell if  @contact.cell %></span></li>
         <li class="profile-list list-group-item mb-2 "><span class="pull-left"><strong class="pr-2  main-size-text"><i class="material-icons">contact_mail</i></strong></span><span class="float-right scondary-size-text"><%= @contact.email if @contact.email %></span></li>
      </ul>
   </div>
   <div class="card card-1-color  p-4  rounded-0" >
         <h4>Contact Notes</h4>
      <div class="card-body card-1-color">
        <p><%= @contact.notes %></p>
      </div>
   </div>
      <div class="card-1-color  p-4  rounded-0">
         <h4>Contact Leads</h4>

         <% @contact.leads.each do |lead| %>
         <div class="card-body">

            <div class="table-responsive">
               <table class="table">
                  <thead class=" text-primary">
                     <tr>
                        <th class="text-white">Action</th>
                        <th class="text-white"><a>Name</a></th>
                        <th class="text-white"><a>Email</a></th>
                        <th class="text-white"><a>Business</a></th>
                        <th class="text-white"><a>Date</a></th>
                        <th class="text-white"><a>Address</a></th>
                        <th class="text-white"><a>Phone</a></th>
                        <th class="text-white"><a>Cell Number</a></th>
                        <th class="text-white"><a>Size requirement</a></th>
                        <th class="text-white"><a>Location Need</a></th>
                        <th class="text-white"><a>Time requirement</a></th>
                        <th class="text-white"><a>Notes</a></th>
                        <th class="text-white"><a>Contacts</a></th>
                        <th class="text-white"><a>Created</a></th>
                        <th class="text-white"><a>Users</a></th>
                        <th colspan="1" class="text-white text-right pr-4">Delete</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td class="text-white">
                           <%= link_to  edit_lead_path(lead) do %><i class="fa fa-edit"></i><% end %>
                        </td>
                        <td class="text-white"> <%= lead.name %></td>
                        <td class="text-white"> <%= lead.email %></td>
                        <td class="text-white"> <%= lead.business %> </td>
                        <td class="text-white"> <%= lead.date %> </td>
                        <td class="text-white"> <%= lead.address %> </td>
                        <td class="text-white"> <%= lead.phone %> </td>
                        <td class="text-white"> <%= lead.number %> </td>
                        <td class="text-white"> <%= lead.size_requirement %> </td>
                        <td class="text-white"> <%= lead.location_need %></td>
                        <td class="text-white"> <%= lead.time_requirement %></td>
                        <td class="text-white"> <%= lead.notes %></td>
                        <td class="text-white"> <%  lead.contacts.each do |contact| %> <span><%= contact.first_name + ' ' %> <% end %></span></td>
                        <td class="text-white"> <%= lead.created_at.strftime("%d %b. %Y") %></td>
                        <td class="text-white"> <% lead.users.each do |user| %> <span><%= user.first_name + ' ' %> <% end %></span></td>
                        <td colspan="1" class="text-danger text-right">      <%= link_to lead_path(lead.id), method: :delete, class: 'btn btn-link', remote: true, data: { confirm: "Are you sure you want delete this Lead?"}  do %>
                           <i class="fa fa-trash text-white"></i>     <% end %>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <% end %>
      </div>
   <div class="card card-1-color  p-4  rounded-0">

         <div class="row">
            <div class="col-md-5">
               <h4>Contact Touches</h4>
         </div>
          <div class="col-md-7">
            <span class="pull-right"> <%= link_to  contact_touches_path(@contact.id), class: 'text-danger' do %>
                View <%= @contact.name %> touches
            <% end %>
            </span>
         </div>
         </div>


      <% if @contact.contact_touches %>
      <% @contact.contact_touches.each do |touch| %>
      <p>
         <% if touch.email %>
         <strong>Email:</strong>
         <%= touch.email %>
         <% end %>
      </p>
      <% if touch.phone %>
      <p>
         <strong>Phone:</strong>
         <%= touch.phone %>
      </p>
      <% end %>
      <% if touch.postcard %>
      <p>
         <strong>Postcard:</strong>
         <%= touch.postcard %>
      </p>
      <% end %>
      <% if touch.social_media %>
      <p>
         <strong>Social media:</strong>
         <%= touch.social_media %>
      </p>
      <% end %>
      <% if touch.in_person %>
      <p>
         <strong>In person:</strong>
         <%= touch.in_person %>
      </p>
      <% end %>
      <% if touch.letter %>
      <p>
         <strong>Letter:</strong>
         <%= touch.letter %>
      </p>
      <% end %>
      <% if touch.description %>
      <p>
         <strong>Description:</strong>
         <%= touch.description %>
      </p>
      <% end %>

      <span> <%= link_to 'Edit', edit_touch_path(touch), class: 'text-success' %>
      </span>
      <hr>
      <% end %>
      <% end %>
      <div class="row">
         <div class="col-md-6">
             <%= link_to 'All touches', touches_path, class: 'text-info' %>
          </div>
          <div class="col-md-6">
             <%= link_to 'New Touch', new_touch_path, class: 'text-info pull-right pt-1' %>
          </div>
      </div>

   </div>
</div>
</div>
</div>

