
                   <%= render 'show_form' %>

                <div class="card-body">


               <div class="panel panel-default">
                 <div class="panel-heading">
                 </div>
                  <div class="panel-body col-md-12">

                    <ul class="">
                      <li class="list-group-item text-muted text-left" contenteditable="false">Profile</li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Prefix</strong></span> <span class="float-right"> <%= @contact.prefix  if  @contact.prefix  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">First Name</strong></span> <span class="float-right"> <%= @contact.first_name  if  @contact.first_name  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Middle Name</strong></span> <span class="float-right"> <%= @contact.middle_name  if  @contact.middle_name  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Last Name</strong></span> <span class="float-right"> <%= @contact.last_name  if  @contact.last_name  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Suffix</strong></span> <span class="float-right"> <%= @contact.suffix  if  @contact.suffix  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Position</strong></span> <span class="float-right"> <%= @contact.postion  if  @contact.first_name  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Web Address</strong></span> <span class="float-right"> <%= @contact.web_address  if  @contact.web_address  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Latitude</strong></span> <span class="float-right"> <%= @contact.latitude  if  @contact.latitude  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Longitude</strong></span> <span class="float-right"> <%= @contact.longitude  if  @contact.longitude  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Type</strong></span> <span class="float-right"> <%= @contact.type  if  @contact.type  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Facility Size</strong></span> <span class="float-right"> <%= @contact.facility_size  if  @contact.facility_size  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Total Number Of Employees</strong></span> <span class="float-right"> <%= @contact.total_number_of_employees  if  @contact.total_number_of_employees  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Sic</strong></span> <span class="float-right"> <%= @contact.sic  if  @contact.sic  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Primary Industry</strong></span> <span class="float-right"> <%= @contact.primary_industry  if  @contact.primary_industry  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Year Of Founding</strong></span> <span class="float-right"> <%= @contact.year_of_Founding  if  @contact.year_of_Founding  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Owns or Rents</strong></span> <span class="float-right"> <%= @contact.owns_cents  if  @contact.owns_cents  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Created</strong></span> <span class="float-right"> <%= @contact.created_at  if  @contact.created_at  %></span></li>
                      <li class=" profile-list"><span class="pull-left"><strong class="">Last contacted</strong></span> <span class="float-right"> <%= @contact.created_at if @contact.created_at%></span></li>
                      <li class=" profile-list"><span class="pull-left"><strong class="">Name</strong></span><span class="float-right"><%= @contact.name if @contact.name %></span></li>
                      <li class=" profile-list"><span class="pull-left"><strong class="">Fisrt Name</strong></span><span class="float-right"><%= @contact.first_name if @contact.first_name %></span></li>
                      <li class=" profile-list"><span class="pull-left"><strong class="">Last Name</strong></span><span class="float-right"><%= @contact.last_name if @contact.last_name %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Email: </strong></span><span class="float-right"><%= @contact.email if  @contact.email %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Company: </strong></span><span class="float-right"><%= @contact.company if @contact.company %></span></li>
                      <li class=" profile-list"><span class="pull-left"><strong class="">Address: </strong></span><span class="float-right"><%= @contact.address if  @contact.address %></span></li>
                      <li class="profile-list"><span class="pull-left"><strong class="">Street Number: </strong></span><span class="float-right"><%= @contact.street_num if @contact.street_num  %></span></li>
                      <li class="profile-list"><span class="pull-left"><strong class="">Street Name: </strong></span><span class="float-right"><%= @contact.strret_name if @contact.strret_name  %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">Phone: </strong></span><span class="float-right"><%= @contact.phone if  @contact.phone %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">County: </strong></span><span class="float-right"><%= @contact.county if @contact.county  %></span></li>
                      <li class="profile-list"><span class="pull-left"><strong class="">Country: </strong></span><span class="float-right"><%= @contact.country if @contact.country %></span></li>
                      <li class=" profile-list"><span class="pull-left"><strong class="">Postal_code: </strong></span><span class="float-right"><%= @contact.postal_code if @contact.postal_code %></span></li>
                      <li class="profile-list "><span class="pull-left"><strong class="">City: </strong></span><span class="float-right"><%= @contact.city if @contact.city%></span></li>
                      <li class="profile-list"><span class="pull-left"><strong class="">Email: </strong></span><span class="float-right"><%= @contact.email if @contact.email %></span></li>
                  </ul>
                </div>
              </div>
            </div>
           </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile card-5">
                <div class="card-avatar">
                  <a href="">
                    <%= image_tag @contact.avatar.present? ? @contact.avatar.url(:thumb) : 'http://placehold.it/150x150', class: "media-object" %>
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray"> <%= @contact.company  if @contact.company  %></h6>
                  <h4 class="card-title"> <%= @contact.first_name if @contact.last_name  %> <%= @contact.first_name if @contact.last_name  %> </h4>
                  <p class="card-description">
                    <%= @contact.address if @contact.address%>
                  </p>
                  <%= link_to 'Go Back', contacts_path, class: 'btn bg-hudson btn-round text-white' %>
                </div>
              </div>
              <div class="list-group">
            <a href="#" class="list-group-item bg-dark">
              </a>

          </div>

                        <div class="card  card-1  p-4">
                            <div class="card-header">
                                <h2>Contact Notes</h2>
                            </div>
                            <div class="card-body">
                                <p><%= @contact.notes %></p>
                            </div>
                        </div>

                        <div class="card card-1 p-4">
                            <div class="card-header p-0">
                                <h4>Contact Touches</h4>
                            </div>
                       <% if @touches %>
                        <% @touches.each do |touch| %>
                      <p>
                        <% if touch.email %>
                        <strong>Email:</strong>
                        <%= touch.email %>
                        <% end %>
                      </p>

                       <% if touch.phone %>
                      <p>
                        <strong>Phone:</strong>
                        <%= touch.phone %>
                      </p>
                       <% end %>

                         <% if touch.postcard %>
                      <p>
                        <strong>Postcard:</strong>
                        <%= touch.postcard %>
                      </p>
                       <% end %>

                        <% if touch.social_media %>
                      <p>
                        <strong>Social media:</strong>
                        <%= touch.social_media %>
                      </p>
                       <% end %>

                        <% if touch.in_person %>
                      <p>
                        <strong>In person:</strong>
                        <%= touch.in_person %>
                      </p>
                       <% end %>
                       <% if touch.letter %>
                      <p>
                        <strong>Letter:</strong>
                        <%= touch.letter %>
                      </p>
                        <% end %>
                        <% if touch.description %>
                      <p>
                        <strong>Description:</strong>
                        <%= touch.description %>
                      </p>
                       <% end %>
                      <p>
                      <% if touch.contact.name %>
                        <strong>Contact:</strong>
                        <%= touch.contact.name %>
                      </p>
                       <% end %>

                     <span> <%= link_to 'Edit', edit_touch_path(touch), class: 'text-success' %> |
                      <%= link_to 'All touches', touches_path, class: 'text-info' %>
                      </span>
                      <hr>
                       <% end %>
                        <% end %>

                        </div>
            </div>
          </div>
        </div>
      </div>





