

<%= form_with model: @contact,  :format=> :js, multipart: true, remote: local_assigns[:ajax_true], :authenticity_token => true, id: "contact_form"  do |form|%>
<div class="panel-body">
  <div class="form-horizontal">
    <div class="container">
      <div class="row">
        <div class="col-lg-6"><%= render 'layouts/messages' if !flash.empty? %><%= content_tag :div, class: "form-group #{'has-danger' if has_error?(@contact, :name)}" do %>
          <div class="col-xl-12">
            <label for="name" class="bmd-label-floating text-light">Contacts Name<small>(required)</small></label><%= form.text_field :name, id: :contact_name, class: 'form-control text-light', required: true %>
          </div><% end %>
          <div class="form-group">
            <div class="col-xl-12">
              <label for="company" class="bmd-label-floating text-light">Contacts Company</label><%= form.text_field :company, id: :contact_company, class: 'form-control text-light'%>
            </div>
          </div><%= content_tag :div, class: "form-group text-light #{'has-danger' if has_error?(@contact, :name)}" do %>
          <div class="col-xl-12">
            <label for="email" class="bmd-label-floating text-light">Contacts Email<small>(required)</small></label><%= form.email_field :email, id: :contact_email, class: 'form-control rounded-0 text-light', required: true  %>
          </div><% end %>
          <div class="form-group">
            <div class="col-xl-12">
              <label for="phone" class="bmd-label-floating text-light">Contacts Phone</label><%= form.text_field :phone, id: :contact_phone, class: 'form-control rounded-0 text-light' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xl-12">
              <label for="cell" class="bmd-label-floating text-light">Contacts Cell</label><%= form.text_field :cell, id: :contact_cell, class: 'form-control rounded-0 text-light'%>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xl-12">
              <label for="address" class="bmd-label-floating text-light">Address</label><%= form.text_area :address, id: :contact_address, class: 'form-control text-light rounded-0', row: '3' %>
            </div>
          </div>
          <div class="row ml-0">
            <div class="col-md-7 mr-0 pl-3"><% attr = {prompt: "Select Group"} %><% attr[:selected] = session[:selected_group_id].to_i if session[:selected_group_id] %>
              <div class="collapse mr-0" id="collapseGroup">
                <label for="cell" class="bmd-label-floating text-light ">Pick a Group<small>(required)</small></label><%= form.collection_select :group_id, @groups, :id, :name, attr,{remote: true, required: true, class: "selectpicker select_g_picker" } %>
              </div>
            </div>
            <div class="col-md-5 ml-0 pl-0 ">
              <div class="form-group ml-0 pr-2 pl-0 mt-0">
                <div class="collapse mr-0 ml-0 pl-0" id="pickUsers"><% attr = {prompt: "Select related users"} %><% attr[:selected] = current_user.id.to_i if current_user.id %>

                  <label for="cell" class="bmd-label-floating text-light ml-0 pl-0" >Pick users<small>(required)</small></label><%= form.collection_select :user_id, User.all, :id, :first_name, attr,{ remote: true, multiple: "true", required: true,  class: "selectpicker select_u_picker ml-0 " } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 mt-4">
          <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-8  mr-0 pr-0">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="max-width: 150px; max-height: 150px;"><%= image_tag @contact.avatar.present? ? @contact.avatar.url(:thumb) : 'http://placehold.it/150x150', class: "media-object" %>
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"><%= image_tag @contact.avatar.present? ? @contact.avatar.url(:thumb) : 'http://placehold.it/150x150', class: "media-object" %>
                </div>
                <div class="text-center">
                  <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Choose Photo</span>
                    <span class="fileinput-exists">Change</span><%= form.file_field :avatar %>
                  </span>
                  <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
              </div>
              <div class="row">
                <% if local_assigns[:ajax_true]%>
                <div class="col-md-11">
                  <% else %>
                <div class="col-md-10  pr-4">
                  <% end %>
                  <div class=" pl-0 mt-4 pr-2">
                    <a  class="btn btn-outline-info btn-block mb-4 pr-4 mr-0"  data-toggle="collapse" href="#add-users-group" aria-expanded="false" aria-controls="add-users-group">Add Group</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group ml-4 collapse" id="add-users-group">
            <div class="row mt-4">
              <div class=" col-md-12">
                <div class="input-group pl-0">
                  <div class="col-xl-12">
                    <div class="row pl-0">
                      <div class="col-xl-10 pl-3 mb-4">
                        <label for="address" class="bmd-label-floating">New Group Name</label>
                        <input type="text" name="new_group" id="new_group" class="form-control ml-0 new_group">
                        </div>
                        <div class="col-xl-2 ">
                          <span class="input-group-btn mr-0 ml-2">
                            <button type="button" class="btn btn-fab btn-round btn-info save-new-group" id="save-new-group" data-remote="true">
                              <i class="material-icons">input</i>
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="btn-group"><% User.all.each do |user| %><%  next if !user.first_name  %>
                  <div class="togglebutton form-check-inline">
                    <label>
                      <input type="checkbox" checked="true" value=
                        <%="#{user.id}" if user.first_name %> class="users-for-new-group"/>
                        <span class="toggle"></span>
                        <span class="text-light"><%= user.first_name if user.first_name %>
                        </span>
                      </label>
                    </div><% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-7 ml-0 mr-0">
              <div class="row">
                <div class="col-md-6 ml-0 mr-0">
                  <div class="form-inline mr-3 ml-0">
                    <div class="col-md-4 ml-3 mr-3 pr-0 pl-0">
                      <div class="form-group ml-0 mr-2 pr-0 pl-0"><%= form.submit @contact.new_record? ? "Save" : "Update", class: "btn btn-outline-success mr-1 ml-0", id: "save-form-modal"  %>
                      </div>
                    </div>
                    <div class="col-md-4 ml-2 mr-0 pr-0 pl-0">
                      <div class="form-group ml-3 mr-0 pr-0 pl-0">
                        <a href="/contacts/" class=" <%=  @contact.new_record? ? ' btn btn btn-outline-danger mr-1"' : 'btn btn-outline-danger  ml-2 mr-3"' %>  ">Cancel </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 ml-3 mr-0 pr-0 pl-0">
                  <div class="form-inline ">
                    <div class="form-group ml-2 mr-0 pr-0 pl-0">
                      <a class="btn btn-just-icon btn-round  ml-0 mr-0" data-toggle="collapse" href="#collapseGroup" aria-expanded="false" aria-controls="collapseGroup" id="round-group-btn">
                        <i class="material-icons">group</i>
                      </a>

                    </div>
                    <div class="form-group ml-2 mr-0 pr-0 pl-0">
                      <button class="btn btn-just-icon btn-round  ml-2 mr-0" type="button" data-toggle="collapse" data-target="#pickUsers" aria-expanded="false" aria-controls="pickUsers" id="round-user-btn">
                        <i class="material-icons">person_add</i>
                      </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-5 info-feedback">
          <div class="">
           <label for="contact[group_id]" class=" text-light">Please pick a group. </label><span><i class="material-icons mt-3">group</i></span>
          <label for="contact[user_id]" class=" text-light"> Make sure you and the nessasry users are selected if needed. <span><i class="material-icons text-muted">person_add</i></span></label>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div><% end %>


<div class="col-xl-3 col-lg-12 first-show-card">
      <div class="card no-border box-shadow-0 border-0 pb-0 rounded-0 " style="height: 535px;">
         <div class="card-content">
            <div class="">
               <div class=" bg-grey bg-lighten-1 white mt-3 p-1 text-center">
                  <span class="date block  text-center">14</span>
                  <span class="month  text-center">Nov</span>
               </div>
            </div>
            <div class="card-body bg-grey bg-lighten-2">
               <ul class="list-inline text-right">
                  <li><a data-action="reload"><i class="ft-rotate-cw font-medium-4 grey"></i></a></li>
               </ul>
               <div class="animated-weather-icons text-center text-white">
                  <svg version="1.1" id="cloudHailAlt" class="climacon text-white climacon_cloudHailAlt climacon-grey climacon-darken-2 height-200" viewBox="15 15 70 70">
                     <g class="climacon_iconWrap climacon_iconWrap-cloudHailAlt">
                        <g class="climacon_wrapperComponent text-white climacon_wrapperComponent-hailAlt">
                           <g class="climacon_component text-white climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-left">
                              <circle cx="42" cy="65.498" r="2"></circle>
                           </g>
                           <g class="climacon_component text-white climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-middle">
                              <circle cx="49.999" cy="65.498" r="2"></circle>
                           </g>
                           <g class="climacon_component text-white climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-right">
                              <circle cx="57.998" cy="65.498" r="2"></circle>
                           </g>
                           <g class="climacon_component text-white climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-left">
                              <circle cx="42" cy="65.498" r="2"></circle>
                           </g>
                           <g class="climacon_component text-white climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-middle">
                              <circle cx="49.999" cy="65.498" r="2"></circle>
                           </g>
                           <g class="climacon_component  text-white climacon_component-stroke climacon_component-stroke_hailAlt climacon_component-stroke_hailAlt-right">
                              <circle cx="57.998" cy="65.498" r="2"></circle>
                           </g>
                        </g>
                        <g class="climacon_wrapperComponent text-white climacon_wrapperComponent-cloud">
                           <path class="climacon_component  text-whiteclimacon_component-stroke climacon_component-stroke_cloud" d="M63.999,64.941v-4.381c2.39-1.384,3.999-3.961,3.999-6.92c0-4.417-3.581-8-7.998-8c-1.602,0-3.084,0.48-4.334,1.291c-1.23-5.317-5.974-9.29-11.665-9.29c-6.626,0-11.998,5.372-11.998,11.998c0,3.549,1.55,6.728,3.999,8.924v4.916c-4.776-2.768-7.998-7.922-7.998-13.84c0-8.835,7.162-15.997,15.997-15.997c6.004,0,11.229,3.311,13.966,8.203c0.663-0.113,1.336-0.205,2.033-0.205c6.626,0,11.998,5.372,11.998,12C71.998,58.863,68.656,63.293,63.999,64.941z"></path>
                        </g>
                     </g>
                  </svg>
               </div>
               <div class="weather-details text-center bg-black">
                  <span class="mt-2 block grey darken-1">Snow</span>
                  <span class="font-medium-4 text-bold-500 grey darken-4">Poughkeepsie, NY</span>
               </div>
            </div>
            <div class="card-footer bg-grey bg-darken-3 py-3 no-border p-0 m-0 rounded-0 ribbon">
               <div class="row text-center text-white ml-auto mr-auto">
                  <div class="col-4 text-center display-table-cell">
                     <i class="ft-wind font-large-1 white lighten-3 valign-middle"></i> <span class="white valign-middle">2MPH</span>
                  </div>
                  <div class="col-4 text-center display-table-cell">
                     <i class="ft-sun font-large-1 white lighten-3 valign-middle"></i> <span class="white valign-middle">2%</span>
                  </div>
                  <div class="col-4 text-center display-table-cell">
                     <i class="ft-thermometer font-large-1 white lighten-3 valign-middle"></i> <span class="white valign-middle">13.0°</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
