<style>
   .icon-circle {
   height: 160px;
   width: 160px;
   border-radius: 100px;
   border: 1px solid #fff;
   margin: auto;
   }
   .center-icon {
   font-size: 4rem;
   }
   .card-background:after {
   position: absolute;
   z-index: 1;
   width: 100%;
   height: 100%;
   display: block;
   left: 0;
   top: 0;
   content: "";
   background-color: rgba(0, 0, 0, 0.0)  !important;
   border-radius: 6px;
   }
</style>
<div class="container">
   <div class="">
      <section class="row text-center placeholders">
         <div class="col-6 col-sm-3 placeholder">
            <div class="card-body flex">
               <div class="icon icon-circle d-flex justify-content-center  align-self-center">
                  <i class="material-icons align-self-center text-danger center-icon">business</i>
               </div>
               <h3 class="card-title text-white">Development</h3>
               <p class="card-description">
               </p>
                <%= link_to development_projects_path, remote: true, class: "btn bg-trans b-white btn-round align-self-center text-white" do %>
                  View Projects
               <% end %>
            </div>
         </div>
         <div class="col-6 col-sm-3 placeholder">
            <div class="card-body flex">
               <div class="icon icon-circle d-flex justify-content-center  align-self-center">
                  <i class="material-icons align-self-center  center-icon text-warning">report_problem</i>
               </div>
               <h3 class="card-title text-white">Maintenance</h3>
               <p class="card-description">
               </p>
              <%= link_to maintenance_projects_path, remote: true, class: "btn bg-trans b-white btn-round align-self-center text-white" do %>
                  View Projects
               <% end %>
            </div>
         </div>
         <div class="col-6 col-sm-3 placeholder">
            <div class="card-body flex">
               <div class="icon icon-circle d-flex justify-content-center text-white align-self-center">
                  <i class="material-icons align-self-center  center-icon text-info">laptop_mac</i>
               </div>
               <h3 class="card-title text-white">Technology</h3>
               <p class="card-description">
               </p>
              <%= link_to technology_projects_path, remote: true, class: "btn bg-trans b-white btn-round align-self-center text-white" do %>
                  View Projects
               <% end %>
              </div>
         </div>
         <div class="col-6 col-sm-3 placeholder">
            <div class="card-body flex">
               <div class="icon icon-circle d-flex justify-content-center  align-self-center">
                  <i class="material-icons align-self-center text-success center-icon">store</i>
               </div>
               <h3 class="card-title text-black text-white">Business </h3>
               <p class="card-description">
               </p>
                <%= link_to business_projects_path, remote: true, class: "btn bg-trans b-white btn-round align-self-center text-white" do %>
                  View Projects
               <% end %>
            </div>
         </div>
      </section>
      <hr class="b-white-hr">
      <div class="col-md-12">
         <div id="project-main">
            <% @projects.each_slice(3) do |projects| %>
            <div class="row">
               <% projects.each_with_index do |project, index| %>

               <% btn_color = 'bg-black' %>
               <% if index == 0
                  btn_color = "btn-warning"
                  elsif index == 1
                  btn_color = "btn-info"

                  else
                    btn_color = "bg-success"
                  %>
               <% end %>
               <% category = '' %>
               <% if project.development
                  category = "Development"
                  elsif project.maintenance
                   category = "Maintenance"
                  elsif project.technology
                   category = "Technology"
                  else
                  category = "Business"

                   %>
               <% end %>
               <% if index <= 1 %>
               <div class="col-md-6">
                  <div class="card card-raised card-background"  style="background-image: url('<%= asset_url(project.avatar.present? ? project.avatar.url() : 'ant-rozetsk.jpg') %>');">
                     <div class="card-body">
                        <h6 class="card-category text-info"><%= category %></h6>
                        <a >
                           <h3 class="card-title"><%= project.name %></h3>
                        </a>
                        <p class="card-description">
                           <%= project.description %>
                        </p>
                        <%= link_to project_path(project.id), class: "btn #{btn_color} btn-round  text-white view-project-btn" do %>
                        <i class="material-icons">content_copy</i> View Project
                        <% end %>
                     </div>
                  </div>
               </div>
               <% else %>
               <div class="col-md-12">
                  <div class="card card-raised card-background"  style="background-image: url('<%= asset_url(project.avatar.present? ? project.avatar.url() : 'rob-lambert-64186-unsplash.jpg') %>');">
                     <div class="card-body">
                        <h6 class="card-category text-info"><%= category %></h6>
                        <h3 class="card-title"><%= project.name %></h3>
                        <h4 class="card-title">Finshed by <%= project.projected_start_time.strftime("%d %b. %Y") if project.projected_start_time %></h4>
                        <p class="card-description">
                           <%= project.description %>
                        </p>
                        <%= link_to project_path(project.id), class: "btn #{btn_color} text-white btn-round view-project-btn" do %>
                        <i class="material-icons">subject</i> View Project
                        <% end %>
                     </div>
                  </div>
               </div>
               <% end %>
               <% end  %>
            </div>
            <% end %>
         </div>
      </div>
   </div>
</div>
