<style>
   .icon-circle {
   height: 160px;
   width: 160px;
   border-radius: 100px;
   border: 1px solid #fff;
   margin: auto;
   }
   .center-icon {
   font-size: 4rem;
   }
   .card-background:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.0)  !important;
    border-radius: 6px;
 }
</style>
<div class="container">

      <div class="">
         <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
               <div class="card-body flex">
                  <div class="icon icon-circle d-flex justify-content-center  align-self-center">
                     <i class="material-icons align-self-center text-danger center-icon">business</i>
                  </div>
                  <h3 class="card-title text-white">Development</h3>
                  <p class="card-description">

                  </p>
                  <a href="#pablo" class="btn bg-trans b-white btn-round align-self-center text-white">View Projects</a>
               </div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
               <div class="card-body flex">
                  <div class="icon icon-circle d-flex justify-content-center  align-self-center">
                     <i class="material-icons align-self-center  center-icon text-warning">report_problem</i>
                  </div>
                  <h3 class="card-title text-white">Maintenance</h3>
                  <p class="card-description">

                  </p>
                  <a href="#pablo" class="btn bg-trans b-white btn-round align-self-center text-white">View Projects</a>
               </div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
               <div class="card-body flex">
                  <div class="icon icon-circle d-flex justify-content-center text-white align-self-center">
                     <i class="material-icons align-self-center  center-icon text-info">laptop_mac</i>
                  </div>
                  <h3 class="card-title text-white">Technology</h3>
                  <p class="card-description">

                  </p>
                  <a href="#pablo" class="btn bg-trans b-white btn-round align-self-center text-white">View Projects</a>
               </div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
               <div class="card-body flex">
                  <div class="icon icon-circle d-flex justify-content-center  align-self-center">
                     <i class="material-icons align-self-center text-success center-icon">store</i>
                  </div>
                  <h3 class="card-title text-black text-white">Business </h3>
                  <p class="card-description">

                  </p>
                  <a href="#pablo" class="btn bg-trans b-white btn-round align-self-center text-white">View Projects</a>
               </div>
            </div>
         </section>

         <hr>
         <div class="col-md-12">
            <div class="row">
                        <div class="col-md-6">
                            <div class="card card-raised card-background"  style="background-image: url('<%= asset_url("ant-rozetsk.jpg") %>')">
                                <div class="card-body">
                                    <h6 class="card-category text-info">Productivity</h6>
                                    <a href="#pablo">
                                        <h3 class="card-title">The Best Productivity Apps on Market</h3>
                                    </a>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p>
                                    <a href="#pablo" class="btn btn-danger btn-round">
                                        <i class="material-icons">content_copy</i> View App
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-raised card-background"  style="background-image: url('<%= asset_url("rob-lambert-64186-unsplash.jpg") %>')">
                                <div class="card-body">
                                    <h6 class="card-category text-info">Design</h6>
                                    <h3 class="card-title">The Sculpture Where Details Matter</h3>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p>
                                    <a href="#pablo" class="btn btn-info btn-round">
                                        <i class="material-icons">build</i> View Project
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-raised card-background" style="background-image: url('<%= asset_url("ant-rozetsk.jpg") %>')">
                                <div class="card-body">
                                    <h6 class="card-category text-info">Marketing</h6>
                                    <h3 class="card-title">0 to 100.000 Customers in 6 months</h3>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p>
                                    <a href="#pablo" class="btn btn-warning btn-round">
                                        <i class="material-icons">subject</i> Case Study
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

            <div class="row">
                        <div class="col-md-6">
                            <div class="card card-raised card-background"  style="background-image: url('<%= asset_url("ant-rozetsk.jpg") %>')">
                                <div class="card-body">
                                    <h6 class="card-category text-info">Productivity</h6>
                                    <a href="#pablo">
                                        <h3 class="card-title">The Best Productivity Apps on Market</h3>
                                    </a>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p>
                                    <a href="#pablo" class="btn btn-danger btn-round">
                                        <i class="material-icons">content_copy</i> View App
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-raised card-background"  style="background-image: url('<%= asset_url("rob-lambert-64186-unsplash.jpg") %>')">
                                <div class="card-body">
                                    <h6 class="card-category text-info">Design</h6>
                                    <h3 class="card-title">The Sculpture Where Details Matter</h3>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p>
                                    <a href="#pablo" class="btn btn-info btn-round">
                                        <i class="material-icons">build</i> View Project
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-raised card-background" style="background-image: url('<%= asset_url("ant-rozetsk.jpg") %>')">
                                <div class="card-body">
                                    <h6 class="card-category text-info">Marketing</h6>
                                    <h3 class="card-title">0 to 100.000 Customers in 6 months</h3>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p>
                                    <a href="#pablo" class="btn btn-warning btn-round">
                                        <i class="material-icons">subject</i> Case Study
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>



         </div>
             </div>
         </div>
