<style>
   .icon-circle {
   height: 160px;
   width: 160px;
   border-radius: 100px;
   border: 1px solid #fff;
   margin: auto;
   }
   .center-icon {
   font-size: 4rem;
   }
   .card-background:after {
   position: absolute;
   z-index: 1;
   width: 100%;
   height: 100%;
   display: block;
   left: 0;
   top: 0;
   content: "";
   background-color: rgba(0, 0, 0, 0.0)  !important;
   border-radius: 6px;
   }
</style>
<div class="container ">
   <div class="uppder-content">
   </div>
   <div id="main-project-content">
      <div class="row mt-0 pt-0 " >
         <div class="col-sm-4 mt-0 pt-0">
            <div class="info info-white-top  ">
               <%= link_to resources_projects_path, remote: true do %>
               <div class="icon text-center  ">
                  <i class="material-icons text-center">code</i>
                  <h4 class="info-title text-center text-white">Resources</h4>
                  <div class="row mt-4 ">
                     <div class="col-md-12 pt-4">
                     </div>
                  </div>
               </div>
               <% end %>
            </div>
         </div>
         <div class="col-sm-4 mt-0 pt-0 mb-4">
            <div class="info  text-center info-white-center mb-2 ">
               <%= link_to requirements_projects_path, remote: true do %>
               <div class="icon">
                  <i class="material-icons text-center">format_paint</i>
                  <h4 class="info-title text-center text-white">Requirements</h4>
               </div>
               <% end %>
            </div>
            <div class="info-white-top ml-4 mr-4 pl-4 pt-4 pr-4"></div>
         </div>
         <div class="col-sm-4 mt-0 pt-0">
            <div class="info info-white-top   ">
               <%= link_to budget_projects_path, remote: true do %>
               <div class="icon text-center">
                  <i class="material-icons text-center">attach_money</i>
                  <h4 class="info-title text-center text-white">Project Budget</h4>
                  <div class="row mt-4 ">
                     <div class="col-md-12 pt-4">
                     </div>
                  </div>
               </div>
               <% end %>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4 mt-3">
            <div class="info ">
               <%= link_to description_projects_path, remote: true do %>
               <div class="icon text-center ">
                  <i class="material-icons text-center">notes</i>
                  <h4 class="info-title text-center text-white">Description</h4>
               </div>
               <% end %>
            </div>
         </div>
         <div class="col-sm-4  mt-3">
            <div class="info  info-white-center">
               <%= link_to projected_start_time_projects_path, remote: true do %>
               <div class="icon text-center ">
                  <i class="material-icons text-center">access_time</i>
               </div>
               <h4 class="info-title text-center text-white">Start Time</h4>
               <% end %>
            </div>
         </div>
         <div class="col-sm-4  mt-3">
            <div class="info  ">
               <%= link_to projected_start_time_projects_path, remote: true do %>
               <div class="icon text-center">
                  <i class="material-icons text-center">access_time</i>
                  <h4 class="info-title text-white text-center ">Finsh Time</h4>
               </div>
               <% end %>
            </div>
         </div>
      </div>
   </div>
   <h3 class="text-white mt-4 text-center pt-3 "><%= @project.name %></h3>
   <hr class="">
   <% category = '' %>
   <% if @project.development
      category = "Development"
      elsif @project.maintenance
       category = "Maintenance"
      elsif @project.technology
       category = "Technology"
      else
      category = "Business"

       %>
   <% end %>
   <div class="row">
      <div class="col-md-12">
         <div class="card card-raised card-background"  style="background-image: url('<%= asset_url(@project.avatar.present? ? @project.avatar.url() : 'rob-lambert-64186-unsplash.jpg') %>');">
            <div class="card-body">
               <h6 class="card-category text-info"><%= category %></h6>
               <h3 class="card-title">Finshed by <%= @project.name %></h3>
               <p class="card-description text-white">
                  <%= @project.description %>
               </p>
               <%= link_to projects_path, class: "btn bg-black text-white btn-round view-project-btn" do %>
               <i class="material-icons">subject</i> Back to Projects
               <% end %>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="card card-timeline card-plain">
            <div class="card-body">
               <ul class="timeline">
                  <li class="timeline-inverted">
                     <div class="timeline-badge danger">
                        <i class="material-icons">card_travel</i>
                     </div>
                     <div class="timeline-panel">
                        <div class="timeline-heading">
                           <span class="badge badge-danger">Some Title</span>
                        </div>
                        <div class="timeline-body">
                           <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme !!! It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.</p>
                        </div>
                        <h6>
                           <i class="ti-time"></i> 11 hours ago via Twitter
                        </h6>
                     </div>
                  </li>
                  <li>
                     <div class="timeline-badge success">
                        <i class="material-icons">extension</i>
                     </div>
                     <div class="timeline-panel">
                        <div class="timeline-heading">
                           <span class="badge badge-success">Another One</span>
                        </div>
                        <div class="timeline-body">
                           <p>Thank God for the support of my wife and real friends. I also wanted to point out that it’s the first album to go number 1 off of streaming!!! I love you Ellen and also my number one design rule of anything I do from shoes to music to homes is that Kim has to like it....</p>
                        </div>
                     </div>
                  </li>
                  <li class="timeline-inverted">
                     <div class="timeline-badge info">
                        <i class="material-icons">fingerprint</i>
                     </div>
                     <div class="timeline-panel">
                        <div class="timeline-heading">
                           <span class="badge badge-info">Another Title</span>
                        </div>
                        <div class="timeline-body">
                           <p>Called I Miss the Old Kanye That’s all it was Kanye And I love you like Kanye loves Kanye Famous viewing @ Figueroa and 12th in downtown LA 11:10PM</p>
                           <p>What if Kanye made a song about Kanye Royère doesn't make a Polar bear bed but the Polar bear couch is my favorite piece of furniture we own It wasn’t any Kanyes Set on his goals Kanye</p>
                           <hr>
                        </div>
                        <div class="timeline-footer">
                           <div class="dropdown">
                              <button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
                              <i class="material-icons">build</i>
                              </button>
                              <div class="dropdown-menu">
                                 <a class="dropdown-item" href="#">Action</a>
                                 <a class="dropdown-item" href="#">Another action</a>
                                 <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="timeline-badge warning">
                        <i class="material-icons">flight_land</i>
                     </div>
                     <div class="timeline-panel">
                        <div class="timeline-heading">
                           <span class="badge badge-warning">Another One</span>
                        </div>
                        <div class="timeline-body">
                           <p>Tune into Big Boy's 92.3 I'm about to play the first single from Cruel Winter also to Kim’s hair and makeup Lorraine jewelry and the whole style squad at Balmain and the Yeezy team. Thank you Anna for the invite thank you to the whole Vogue team</p>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
