<div class="modal-dialog modal-login" role="document">
   <div class="modal-content">
      <div class="card card-signup bg-black">
         <div class="modal-header ">
            <div class="card-header p-0 card-1 ">
               <div class="div-header card-1   p-4">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                  <div class="social-line text-center card-1 pl-4">
                     <a href="#first-company-tab" class="btn btn-just-icon btn-link nav-company-tabs" >
                     <i class="fa fa-address-card text-danger text-center"></i>
                     </a>
                     <a href="#second-company-tab" class="btn btn-just-icon btn-link nav-company-tabs">
                     <i class="fa fa-list-alt text-info text-center"></i>
                     </a>
                     <a href="#last-compnay-tab" class="btn btn-just-icon btn-link nav-company-tabs">
                     <i class=" fa fa-image text-warning text-center"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <!-- addres earnings rent  age image  -->
         <div class="modal-body">
            <%= form_for(@company, id: 'company-form-2') do |form| %>
            <p class="description text-center">Company form</p>
            <div class="card-body">
               <div id="first-company-tab">
                  <div class="form-group bmd-form-group">
                     <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-user-circle"></i>
                        </span>
                        <%= form.text_field :name, id: :company_name, class: 'form-control text-white', placeholder: 'Name...' %>
                     </div>
                  </div>
                  <div class="form-group bmd-form-group">
                     <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-address-card"></i>
                        </span>
                        <input type="hidden" name="lead[address_ids]" class="address_id_hidden">
                        <%= form.text_field :addres, id: :company_addres, class: 'form-control text-white address-auto', placeholder: 'Addres...' %>
                     </div>
                  </div>
                  <div class="form-group bmd-form-group">
                     <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-universal-access "></i>
                        </span>
                        <%= form.text_field :sector, id: :company_sector, class: 'form-control text-white', placeholder: 'Sector...' %>
                     </div>
                  </div>
               </div>
               <!--   second section   -->
               <div id="second-company-tab" style="display: none;">
                  <div class="form-group bmd-form-group">
                     <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-user-circle"></i>
                        </span>
                        <%= form.text_field :rent, id: :company_earnings, class: 'form-control text-white', placeholder: 'Rent...' %>
                     </div>
                  </div>
                  <div class="form-group bmd-form-group">
                     <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-address-card"></i>
                        </span>
                        <%= form.text_field :earnings, id: :company_earnings, class: 'form-control text-white', placeholder: 'Earnings...' %>
                     </div>
                  </div>
                  <div class="form-group bmd-form-group">
                     <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-universal-access "></i>
                        </span>
                        <%= form.text_field :age, id: :company_age, class: 'form-control text-white', placeholder: 'Age...' %>
                     </div>
                  </div>
               </div>

            </div>
         </div>
         <div class="modal-footer justify-content-center">
            <%= form.submit "save", class: "btn btn-info btn-link btn-wd btn-lg bt-company" %>
         </div>
         <% end %>
      </div>
   </div>
</div>
<script type="text/javascript">

$(".bt-company").click(function(event){
    event.preventDefault(); //prevent default action
    console.log("company")
    var post_url = $('#company-form-2').attr("action"); //get form action url
    var request_method = $('#company-form-2').attr("method"); //get form GET/POST method
    var form_data = $('#company-form-2').serialize(); //Encode form elements for submission

    $.ajax({
        url : post_url,
        type: request_method,
        data : form_data
    }).done(function(response){ //
      console.log("done")
      $('#main-content').html('<%= escape_javascript render("show") %>');
        // $('#main-content').html(response);
    });
});
</script>
