<style type="text/css" media="screen">
   .profile-env > header {
   position: relative;
   z-index: 20;
   margin-top: 0px !important;
   }
      .full-size-img {
       max-width: 300px !important;
       max-height: 400px !important;
   }

  .profile-picture img {
    display:block;
    margin:auto;

}
   .profile-picture img {
   -moz-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
   -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
   box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-picture:hover img {
   zoom: 1;
   -webkit-opacity: 0.5;
   -moz-opacity: 0.5;
   opacity: 0.5;
   filter: alpha(opacity=50);
   }
   .profile-env > header .profile-info-sections {
   margin: 0;
   padding: 0;
   margin-top: 15px;
   padding-left: 0;
   list-style: none;
   margin-left: -5px;
   }
   .profile-env > header .profile-info-sections > li {
   display: inline-block;
   padding-left: 5px;
   padding-right: 5px;
   }
   .profile-env > header .profile-info-sections .profile-name strong,
   .profile-env > header .profile-info-sections .profile-name span {
   display: block;
   }
   .profile-env > header .profile-info-sections .profile-name strong {
   font-size: 18px;
   font-weight: normal;
   }
   .profile-env > header .profile-info-sections .profile-name span {
   font-size: 12px;
   color: #bbbbbb;
   }
   .profile-env > header .profile-info-sections .profile-name span a {
   color: #bbbbbb;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env > header .profile-info-sections .profile-name span a:hover {
   color: #888888;
   }
   .profile-env > header .profile-info-sections .profile-name .user-status {
   position: relative;
   display: inline-block;
   background: #575d67;
   top: -2px;
   margin-left: 5px;
   width: 6px;
   height: 6px;
   -webkit-border-radius: 6px;
   -webkit-background-clip: padding-box;
   -moz-border-radius: 6px;
   -moz-background-clip: padding;
   border-radius: 6px;
   background-clip: padding-box;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env > header .profile-info-sections .profile-name .user-status.is-online {
   background-color: #06b53c;
   }
   .profile-env > header .profile-info-sections .profile-name .user-status.is-offline {
   background-color: #575d67;
   }
   .profile-env > header .profile-info-sections .profile-name .user-status.is-idle {
   background-color: #f7d227;
   }
   .profile-env > header .profile-info-sections .profile-name .user-status.is-busy {
   background-color: #ee4749;
   }
   .profile-env > header .profile-info-sections .profile-stat h3 {
   font-size: 18px;
   margin-bottom: 5px;
   }
   .profile-env > header .profile-info-sections .profile-stat span {
   color: #bbbbbb;
   }
   .profile-env > header .profile-info-sections .profile-stat span a {
   color: #bbbbbb;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env > header .profile-info-sections .profile-stat span a:hover {
   color: #888888;
   }
   .profile-env > header .profile-info-sections > li {
   padding: 0 40px;
   position: relative;
   }
   .profile-env > header .profile-info-sections > li + li:after {
   content: '';
   display: block;
   position: absolute;
   top: 15px;
   bottom: 0;
   left: 0;
   width: 1px;
   margin: 8px 0;
   }
   .profile-env > header .profile-info-sections > li:first-child {
   padding-left: 0;
   }
   .profile-env > header .profile-buttons {
   margin-top: 35px;
   }
   .profile-env > header .profile-buttons a {
   margin: 0 4px;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env section {
   position: relative;
   z-index: 10;
   }
   .profile-env section.profile-info-tabs {
   position: relative;
   margin-left: -20px;
   margin-right: -20px;
   padding: 20px;
   margin-top: -20px;
   margin-bottom: 30px;
   }
   .profile-env section.profile-info-tabs .user-details {
   padding-left: 0;
   list-style: none;
   }
   .profile-env section.profile-info-tabs .user-details li {
   margin-bottom: 10px;
   }
   .profile-env section.profile-info-tabs .user-details li a {
   color: #a0a0a0;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env section.profile-info-tabs .user-details li a:hover {
   color: #606060;
   }
   .profile-env section.profile-info-tabs .user-details li a:hover span {
   color: #e72c28;
   }
   .profile-env section.profile-info-tabs .user-details li a i {
   margin-right: 5px;
   }
   .profile-env section.profile-info-tabs .user-details li a span {
   color: #ec5956;
   font-weight: normal;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env section.profile-info-tabs .nav-tabs {
   position: relative;
   margin-bottom: -20px;
   border-bottom: 0;
   }
   .profile-env section.profile-info-tabs .nav-tabs > li:first-child a {
   margin-left: 0;
   }
   .profile-env section.profile-info-tabs .nav-tabs li {
   margin-bottom: 0;
   }
   .profile-env section.profile-info-tabs .nav-tabs li a {
   border: none;
   padding: 10px 35px;
   font-size: 13px;
   background: #e1e1e1;
   margin-right: 10px;
   }
   .profile-env section.profile-info-tabs .nav-tabs li.active a {
   background: #fff;
   }


</style>
<div class="container">
   <div class="container-fluid">
      <div class="row ">
         <div class="col-md-4 pb-0">
            <div class="profile-env img-thumbnail table-reponsive bg-black pl-0" style="height:400px;">
               <table class="profile-picture p-0 ml-auto mr-auto" style="height:400px; width: 300px !important;" id="deal-company-logo">
                  <td  class="">  <%= image_tag @company.avatar.present? ?  @company.avatar.url(:medium) : 'placholder.png', class: "ml-auto mr-auto full-size-img" %>
               </table>
            </div>
         </div>
         <div class="col-md-8">
            <section class="profile-info-tabs  mt-4">
               <div class="row mt-4 pt-4">
                  <div class="col-sm-offset-2 col-sm-10 mt-4 pt-4">
                     <div class="card card-nav-tabs bg-transparent">
                        <div class="card-header ">
                           <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                           <div class="nav-tabs-navigation">
                              <div class="nav-tabs-wrapper">
                                 <ul class="nav nav-pills nav-pills-icons mt-2  nav-pills-dark" role="tablist" id="deal-nav-pills">
                                    <!--
                                       color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                       -->
                                    <li class="nav-item nav-pills-dark">
                                       <a class="nav-link active" href="#dashboard-1" role="tab" data-toggle="tab">
                                       <i class="material-icons">dashboard</i>
                                       Info
                                       </a>
                                    </li>
                                    <li class="nav-item nav-pills-dark">
                                       <a class="nav-link " href="#description-1" role="tab" data-toggle="tab">
                                       <i class="material-icons">description</i>
                                       More
                                       </a>
                                    </li>
                                    <li class="nav-item nav-pills-dark">
                                       <a class="nav-link " href="#schedule-1" role="tab" data-toggle="tab">
                                       <i class="material-icons">list</i>
                                       Contacts
                                       </a>
                                    </li>
                                    <li class="nav-item link-tabs" >
                                       <div class="  mr-4 mt-4 pt-4 pr-4">
                                          <span class=" pt-4 ">
                                          <%= link_to 'Edit', edit_company_path(@company), class: " pb-4 text-white" %> | <%= link_to 'Back', companies_path, class: " pb-4 text-white"  %>
                                          </span>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="card-content bg-transparent">
                           <div class="tab-content tab-space">
                              <div class="tab-pane active" id="dashboard-1">
                                 <div class="row">
                                    <div class="col-md-6 pl-4">
                                       <p class="pl-4">
                                          <strong>Name:</strong>
                                          <%= @company.name %>
                                       </p>
                                       <p class="pl-4">
                                          <strong>Earnings:</strong>
                                          <%= @company.earnings %>
                                       </p>
                                       <p class="pl-4">
                                          <strong>Sector:</strong>
                                          <%= @company.sector %>
                                       </p>
                                    </div>
                                    <div class="col-md-6 pl-4">
                                       <p class="pl-4">
                                          <strong>Age:</strong>
                                          <%= @company.age %>
                                       </p>
                                       <p class="pl-4">
                                          <strong>Rent:</strong>
                                          <%= @company.rent %>
                                       </p>
                                       <p class="pl-4">
                                          <strong>Addres:</strong>
                                          <%= @company.addres %>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="tab-pane" id="description-1">
                               <p class="p-3">
                                 <%= @company.description %>
                               </p>
                              </div>
                              <div class="tab-pane" id="schedule-1">
                              <p class="p-3">
                                 <% @company.contacts.each do |contact| %>
                                 <%= link_to contact_path(contact), class: "text-hudson-ornage" do %>
                                 <%= contact.name %> | &nbsp;
                                 <% end %>
                                 <%end %>
                              </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
      <div class="profile-env">
         <header class="row">
            <div class="col-sm-3 ml-auto mt-0">
               <div class="profile-env ">
                  <section class="profile-info-tabs">
                     <ul class="user-details">
                        <li> <a href="#"> <i class="entypo-location"></i> <h4><%= @company.name %> </h4></a></li>
                        <% if @ceo %>
                        <li> <a href="#"> <i class="material-icons ">recent_actors</i> <span class="text-white"><%=  @ceo.name %> </span></a></li>
                        <li><a href="#"> <i class="material-icons mt-3 pb-3">work</i> <span class="pb-3  text-white">Works as <span class="text-hudson-ornage"><%= @ceo.postion %></span> </span></a></li>
                        <% end %>
                     </ul>
                  </section>
               </div>
            </div>
            <div class="col-sm-9">
               <ul class="profile-info-sections">
                  <li>
                     <div class="profile-name"> <p> <a class="text-white" ><%=  @ceo.name if @ceo %></a> <a href="#" class="user-status is-online tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="Online"></a> <%= @company.updated_at.strftime("%B %e, %Y at %I:%M %p") if  @company.updated_at %></p> <span> <a href="#"><%= @ceo.postion if @ceo %> at <%= @company.name %></a> </span></div>
                  </li>
                  <li>
                     <div class="profile-stat">
                        <h3><%= @company.contacts.count if @company.contacts %></h3>
                        <span> <a href="#">Contacts</a> </span>
                     </div>
                  </li>
                  <li>
                     <div class="profile-stat">
                        <h3>Not sure</h3>
                        <span> <a href="#">Branches</a> </span>
                     </div>
                  </li>
                  <li>
                     <div class=" mt-0 mb-0 pt-0 pb-3" style= "display: inline; position: relative; bottom: .6rem;">
                       <%= link_to new_company_path, class: "btn pb-4 btn-just-icon btn-round mdl-grey-900-btn" do %>
                           <i class="material-icons">person_add</i>
                           <div class="ripple-container"></div>
                      <% end %>
                     </div>
                  </li>
               </ul>
            </div>
            <div class="">
            </div>
         </header>
      </div>
   </div>
   <div class="container">
 <hr>
   </div>
</div>
