
            <!--Section: Modals-->
            <section>

                <!--Modal: modalConfirmDelete-->
                <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                        <!--Content-->
                        <div class="modal-content text-center">
                            <!--Header-->
                            <div class="modal-header d-flex justify-content-center">
                                <p class="heading">Are you sure?</p>
                            </div>

                            <!--Body-->
                            <div class="modal-body">

                                <i class="fa fa-times fa-4x animated rotateIn"></i>

                            </div>

                            <!--Footer-->
                            <div class="modal-footer flex-center">
                                <a href="https://mdbootstrap.com/product/material-design-for-bootstrap-pro/" class="btn  btn-outline-secondary-modal">Yes</a>
                                <a type="button" class="btn  btn-primary-modal waves-effect" data-dismiss="modal">No</a>
                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
                <!--Modal: modalConfirmDelete-->

            </section>
            <!--Section: Modals-->

            <!--Section: Main panel-->
            <section class="card card-cascade narrower mb-5">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-5">

                        <!--Panel Header-->
                        <div class="view py-3 gradient-card-header info-color-dark">
                            <h5 class="mb-0">Sales</h5>
                        </div>
                        <!--/Panel Header-->

                        <!--Panel content-->
                        <div class="card-body">

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6 mb-4">

                                    <!--Date select-->
                                    <p class="lead">
                                        <span class="badge info-color-dark p-2">Date range</span>
                                    </p>
                                    <select class="selectpicker " data-style="select-with-transition" title="Single Select" data-size="8" data-style="btn-outline-info">
                                        <option value="" disabled selected>Choose time period</option>
                                        <option value="1">Today</option>
                                        <option value="2">Yesterday</option>
                                        <option value="3">Last 7 days</option>
                                        <option value="4">Last 30 days</option>
                                        <option value="5">Last week</option>
                                        <option value="6">Last month</option>
                                        <option value="6">Last 6 months</option>
                                       <option value="7">last year</option>
                                    </select>

                                    <!--Date pickers-->
                                    <p class="lead my-4">
                                        <span class="badge info-color-dark p-2">Custom date</span>
                                    </p>
                                    <div class="md-form">
                                        <input placeholder="Selected date" type="text" id="from" class="form-control datepicker">
                                        <label for="date-picker-example">From</label>
                                    </div>
                                    <div class="md-form">
                                        <input placeholder="Selected date" type="text" id="to" class="form-control datepicker">
                                        <label for="date-picker-example">To</label>
                                    </div>

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6 mb-4 text-center">

                                    <!--Summary-->
                                    <p>Total sales:
                                        <strong>2000$</strong>
                                        <button type="button" class="btn btn-info btn-sm p-2 mb-4 position-right" data-toggle="tooltip" data-placement="top" title="Total sales in the given period">
                                               <i class="material-icons text-white">monetization_on</i>
                                        </button>
                                    </p>
                                    <p>Average sales:
                                        <strong>100$</strong>
                                        <button type="button" class="btn btn-info btn-sm p-2 mb-4 position-right" data-toggle="tooltip" data-placement="top" title="Average daily sales in the given period">
                                           <i class="material-icons text-white ">monetization_on</i>
                                        </button>
                                    </p>

                                    <!--Change chart-->
                                    <span class="min-chart my-4" id="chart-sales" >
                                       <table class="table table-bordered ">
            <thead class="info">
                <tr><th>Deal</th> <th>Date</th> <th>Amount</th></tr>            </thead>
            <tbody>
                                <tr>
                    <td class="dashboard" style="text-align: left;">
                        <a href="/crm/contacts/view" class="text-info-dark">

                                                  2319      </a>
                    </td>
                    <td>
                                                May, 22 20017
                    </td>
                    <td>
                        <img src="/crm/img/../files/user/photo/1/view_htt.php" class="img-circle" width="16px" height="16px" alt="">                        &nbsp;$22,340                    </td>
                </tr>
                                <tr>
                    <td class="dashboard" style="text-align: left;">
                        <a href="/crm/contacts/view" class="text-info-dark">
                             2319
                                                     </a>
                    </td>
                    <td>
                                                    November, 12 20017
                    </td>
                    <td>
                        <img src="/crm/img/../files/user/photo/1/view_htt.php" class="img-circle" width="16px" height="16px" alt="">                        &nbsp;$12,340                    </td>
                </tr>
                                <tr>
                    <td class="dashboard" style="text-align: left;">
                        <a href="/crm/contacts/view/4941" class="text-info-dark">
                            1129                         </a>
                    </td>
                    <td>
                                                   June, 22 20018
                    </td>
                    <td>
                        <img src="/crm/img/../files/user/photo/1/view_htt.php" class="img-circle" width="16px" height="16px" alt="">                        &nbsp;$41,340                    </td>
                </tr>
                                <tr>
                    <td class="dashboard" style="text-align: left;">
                        <a href="/crm/contacts/view/4941" class="text-info-dark">
                            1829                        </a>
                    </td>
                    <td>
                                         December, 12 20018
                    </td>
                    <td>
                        <img src="/crm/img/../files/user/photo/1/view_htt.php" class="img-circle" width="16px" height="16px" alt="">                        &nbsp;$102,190                    </td>
                </tr>
                            </tbody>
        </table>
                                    </span>
                                    <h5>
                                        <span class="badge green p-2">Change
                                            <i class="fa fa-arrow-circle-up ml-1"></i>
                                        </span>

                                    </h5>

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                        </div>
                        <!--Panel content-->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-7">

                        <!--Panel Header-->
                        <div class="view py-3 gradient-card-header info-color-dark mb-4">

                            <div class="card">
                  <div class="card-header card-header-icon card-header-info">
                    <div class="card-icon">
                      <i class="material-icons">timeline</i>
                    </div>
                    <h4 class="card-title">Coloured Line Chart
                      <small> - Rounded</small>
                    </h4>
                  </div>
                  <div class="card-body">
                    <div id="colouredRoundedLineChart" class="ct-chart"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="300px" class="ct-chart-line" style="width: 100%; height: 300px;"><g class="ct-grids"><line y1="265" y2="265" x1="50" x2="595" class="ct-grid ct-vertical"></line><line y1="240" y2="240" x1="50" x2="595" class="ct-grid ct-vertical"></line><line y1="215" y2="215" x1="50" x2="595" class="ct-grid ct-vertical"></line><line y1="190" y2="190" x1="50" x2="595" class="ct-grid ct-vertical"></line><line y1="165" y2="165" x1="50" x2="595" class="ct-grid ct-vertical"></line><line y1="140" y2="140" x1="50" x2="595" class="ct-grid ct-vertical"></line><line y1="115" y2="115" x1="50" x2="595" class="ct-grid ct-vertical"></line><line y1="90" y2="90" x1="50" x2="595" class="ct-grid ct-vertical"></line><line y1="65" y2="65" x1="50" x2="595" class="ct-grid ct-vertical"></line><line y1="40" y2="40" x1="50" x2="595" class="ct-grid ct-vertical"></line><line y1="15" y2="15" x1="50" x2="595" class="ct-grid ct-vertical"></line></g><g><g class="ct-series ct-series-a"><path d="M 50 193.25 C 58.258 185.208 83.03 145.125 99.545 145 C 116.061 144.875 132.576 195.583 149.091 192.5 C 165.606 189.417 182.121 143.167 198.636 126.5 C 215.152 109.833 231.667 98.167 248.182 92.5 C 264.697 86.833 281.212 84.583 297.727 92.5 C 314.242 100.417 330.758 142.583 347.273 140 C 363.788 137.417 380.303 83.25 396.818 77 C 413.333 70.75 429.848 108.667 446.364 102.5 C 462.879 96.333 479.394 52.25 495.909 40 C 512.424 27.75 537.197 30.833 545.455 29" class="ct-line"></path><line x1="50" y1="193.25" x2="50.01" y2="193.25" class="ct-point" ct:value="287" opacity="1"></line><line x1="99.54545454545455" y1="145" x2="99.55545454545455" y2="145" class="ct-point" ct:value="480" opacity="1"></line><line x1="149.0909090909091" y1="192.5" x2="149.10090909090908" y2="192.5" class="ct-point" ct:value="290" opacity="1"></line><line x1="198.63636363636363" y1="126.5" x2="198.64636363636362" y2="126.5" class="ct-point" ct:value="554" opacity="1"></line><line x1="248.1818181818182" y1="92.5" x2="248.19181818181818" y2="92.5" class="ct-point" ct:value="690" opacity="1"></line><line x1="297.72727272727275" y1="92.5" x2="297.73727272727274" y2="92.5" class="ct-point" ct:value="690" opacity="1"></line><line x1="347.27272727272725" y1="140" x2="347.28272727272724" y2="140" class="ct-point" ct:value="500" opacity="1"></line><line x1="396.8181818181818" y1="77" x2="396.8281818181818" y2="77" class="ct-point" ct:value="752" opacity="1"></line><line x1="446.3636363636364" y1="102.5" x2="446.37363636363636" y2="102.5" class="ct-point" ct:value="650" opacity="1"></line><line x1="495.90909090909093" y1="40" x2="495.9190909090909" y2="40" class="ct-point" ct:value="900" opacity="1"></line><line x1="545.4545454545455" y1="29" x2="545.4645454545455" y2="29" class="ct-point" ct:value="944" opacity="1"></line></g></g><g class="ct-labels"><foreignObject style="overflow: visible;" x="50" y="270" width="49.54545454545455" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 50px; height: 20px;">'06</span></foreignObject><foreignObject style="overflow: visible;" x="99.54545454545455" y="270" width="49.54545454545455" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 50px; height: 20px;">'07</span></foreignObject><foreignObject style="overflow: visible;" x="149.0909090909091" y="270" width="49.54545454545453" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 50px; height: 20px;">'08</span></foreignObject><foreignObject style="overflow: visible;" x="198.63636363636363" y="270" width="49.54545454545456" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 50px; height: 20px;">'09</span></foreignObject><foreignObject style="overflow: visible;" x="248.1818181818182" y="270" width="49.54545454545456" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 50px; height: 20px;">'10</span></foreignObject><foreignObject style="overflow: visible;" x="297.72727272727275" y="270" width="49.545454545454504" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 50px; height: 20px;">'11</span></foreignObject><foreignObject style="overflow: visible;" x="347.27272727272725" y="270" width="49.54545454545456" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 50px; height: 20px;">'12</span></foreignObject><foreignObject style="overflow: visible;" x="396.8181818181818" y="270" width="49.54545454545456" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 50px; height: 20px;">'13</span></foreignObject><foreignObject style="overflow: visible;" x="446.3636363636364" y="270" width="49.54545454545456" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 50px; height: 20px;">'14</span></foreignObject><foreignObject style="overflow: visible;" x="495.90909090909093" y="270" width="49.54545454545456" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 50px; height: 20px;">'15</span></foreignObject><foreignObject style="overflow: visible;" x="545.4545454545455" y="270" width="49.545454545454504" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 50px; height: 20px;"></span></foreignObject><foreignObject style="overflow: visible;" y="240" x="10" height="25" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 25px; width: 30px;">0</span></foreignObject><foreignObject style="overflow: visible;" y="215" x="10" height="25" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 25px; width: 30px;">100</span></foreignObject><foreignObject style="overflow: visible;" y="190" x="10" height="25" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 25px; width: 30px;">200</span></foreignObject><foreignObject style="overflow: visible;" y="165" x="10" height="25" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 25px; width: 30px;">300</span></foreignObject><foreignObject style="overflow: visible;" y="140" x="10" height="25" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 25px; width: 30px;">400</span></foreignObject><foreignObject style="overflow: visible;" y="115" x="10" height="25" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 25px; width: 30px;">500</span></foreignObject><foreignObject style="overflow: visible;" y="90" x="10" height="25" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 25px; width: 30px;">600</span></foreignObject><foreignObject style="overflow: visible;" y="65" x="10" height="25" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 25px; width: 30px;">700</span></foreignObject><foreignObject style="overflow: visible;" y="40" x="10" height="25" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 25px; width: 30px;">800</span></foreignObject><foreignObject style="overflow: visible;" y="15" x="10" height="25" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 25px; width: 30px;">900</span></foreignObject><foreignObject style="overflow: visible;" y="-15" x="10" height="30" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 30px; width: 30px;">1000</span></foreignObject></g></svg></div>
                  </div>
                </div>

                        </div>
                        <!--/Card image-->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Main panel-->




   <div class="card rounded-0 pt-4">
   <div class="col-md-12">


<!-- start of deal borderd table in container -->
<div class="container">
                                    <div class="row">
    <div class="col-md-8">
        <h2>

             <span>   Deals                   <a class="btn btn-just-icon btn-round info-color-dark ml-3" href="/crm/deals/add"><i class="fa fa-plus"></i></a>  <span class="ml-4 pl-3">
                <a class="btn info-color-dark  btn-left-margin" href="/crm/deals/index/deals-05-27-2018-080059-AM.csv"><i class="fa fa-file-text"></i> Download Excel/CSV</a>
            </span> </span>


        </h2>
    </div>
    <div class="col-md-4">
        <form action="/crm/deals" id="user-search" class="well form-inline pull-right" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"></div>        <input name="data[Deal][search_all]" class="form-control" placeholder="Search" id="search" autocomplete="off" type="text">          <button type="submit" class="btn info-color-dark btn-round btn-just-icon mr-3" id="send-search">
          <i class="material-icons">search</i>
          <div class="ripple-container"></div>
        </button>
        <a class="btn info-color-dark" id="more"><i class="fa fa-caret-down"></i> More </a>
        <div id="hints" class="hints-search"></div>
        </form>    </div>
    <div class="col-md-12">
                <div class="filter-box" style="display:none;">
            <form action="/crm/deals" class="well form-inline" id="DealIndexForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"></div>            <fieldset>
                <legend>Filters</legend>
                <div class="col-md-11">
                    <table>
                        <tbody><tr>
                            <td class="col-md-3" style="padding: 0;">
                                Name:&nbsp;<div class="form-group"><input name="data[Deal][search_name]" class="form-control" placeholder="Name" type="text" id="DealSearchName"></div>                            </td>
                            <td class="col-md-3" style="padding: 0 10px 0 0;">
                                Amount:&nbsp;<div class="form-group"><input name="data[Deal][search_amount]" class="form-control" placeholder="Amount" type="text" id="DealSearchAmount"></div>                            </td>
                            <td class="col-md-3" style="padding: 0;">
                                From:&nbsp;<div class="form-group"><input name="data[Deal][search_date_from]" class="form-control date hasDatepicker" placeholder="From" type="text" id="DealSearchDateFrom"></div>                            </td>
                            <td class="col-md-3" style="padding: 0;">
                                To:&nbsp;<div class="form-group"><input name="data[Deal][search_date_to]" class="form-control date hasDatepicker" placeholder="To " type="text" id="DealSearchDateTo"></div>                            </td>
                        </tr>
                    </tbody></table>
                </div>
                <div class="col-md-1" style="padding-top: 2px;"><button class="btn btn-info btn-sm" type="submit">Filter</button></div>
            </fieldset>
            </form>        </div>
    </div>
    <div class="col-md-12">


       </div>
   </div>
   </div>

    <table   class="table table-bordered table-hover table-striped custom-striped table-striped-warning">
        <thead class="warning">
        <tr><th>Action</th> <th><a href="/crm/deals/index/sort:Deal.amount/direction:asc">Amount</a></th> <th><a href="/crm/deals/index/sort:Contact.first_name/direction:asc">Contact Name</a></th> <th><a href="/crm/deals/index/sort:DealStatus.name/direction:asc">Status</a></th> <th><a href="/crm/deals/index/sort:User.full_name/direction:asc">User's Name</a></th> <th><a href="/crm/deals/index/sort:Deal.date/direction:asc">Date</a></th></tr>     </thead>

        <tbody>
                        <tr>
        <td>
                <a href="/crm/deals/edit/3"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/3">CCID1,572.00</a></td>
            <td>Lauren Duke</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2017-07-29 14:58:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/4"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/4">CCID600.00</a></td>
            <td>Tom C. Tysohn</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2015-10-09 00:24:57</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/5"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/5">CCID15,000.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-danger">Rejected</span></td>
            <td></td>
            <td>2017-06-19 17:44:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/8"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/8">CCID45,673.00</a></td>
            <td>Melissa Ranch</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2015-10-08 20:24:57</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/9"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/9">CCID92,344.00</a></td>
            <td>John Doe</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2017-07-21 11:37:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/10"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/10">CCID10,000.00</a></td>
            <td>Si Huan</td>
            <td><span class="label label-danger">Rejected</span></td>
            <td></td>
            <td>2015-10-08 18:24:57</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/11"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/11">CCID56,744.00</a></td>
            <td>Melissa Ranch</td>
            <td><span class="label label-danger">Rejected</span></td>
            <td></td>
            <td>2015-10-08 17:24:57</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/12"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/12">CCID1,134,400.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2015-10-08 15:24:57</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/13"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/13">CCID34,520.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2015-10-08 14:24:57</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/14"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/14">CCID500.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-danger">Rejected</span></td>
            <td></td>
            <td>2015-10-08 13:24:57</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/15"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/15">CCID50,000.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2015-10-08 12:24:57</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/16"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/16">CCID2,500.00</a></td>
            <td>Tony West</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2015-10-08 11:24:57</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/17"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/17">CCID1,000.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2016-10-01 22:52:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/18"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/18">CCID0.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-10-06 15:30:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/19"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/19">CCID5,000.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2016-10-07 11:30:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/20"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/20">CCID23.00</a></td>
            <td>West </td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2016-10-15 15:56:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/21"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/21">CCID200.00</a></td>
            <td>Duke Cliente</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-10-21 17:10:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/22"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/22">CCID232.00</a></td>
            <td>Si Huan</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2016-10-10 00:24:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/23"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/23">CCID500.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td></td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/24"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/24">CCID20,002.00</a></td>
            <td>Huan Oportunidade</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2016-10-21 07:23:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/25"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/25">CCID0.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td></td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/26"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/26">CCID455.00</a></td>
            <td>Melissa Ranch</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-10-20 23:39:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/27"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/27">CCID124.00</a></td>
            <td>Sweeny Hunt</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2016-10-31 02:25:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/28"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/28">CCID0.00</a></td>
            <td>test test</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-10-27 16:22:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/29"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/29">CCID1.00</a></td>
            <td>Karl </td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-10-27 16:28:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/30"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/30">CCID0.00</a></td>
            <td> </td>
            <td><span class="label label-danger">Rejected</span></td>
            <td></td>
            <td></td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/31"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/31">CCID0.00</a></td>
            <td> </td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/32"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/32">CCID0.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2016-09-25 19:42:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/33"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/33">CCID4,502,589.00</a></td>
            <td>Melissa Ranch</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2016-11-03 17:49:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/34"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/34">CCID35.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-11-05 00:28:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/35"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/35">CCID23,300.00</a></td>
            <td>Doe </td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-11-11 00:29:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/36"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/36">CCID120.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-10-31 11:02:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/37"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/37">CCID1,500.00</a></td>
            <td>Tony West</td>
            <td></td>
            <td></td>
            <td>2016-11-09 09:57:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/38"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/38">CCID0.00</a></td>
            <td>Ed Test</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-11-11 00:41:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/39"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/39">CCID0.00</a></td>
            <td>Ed Test</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-11-11 00:41:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/40"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/40">CCID0.00</a></td>
            <td>Ed Test</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-11-11 00:41:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/41"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/41">CCID1,000.00</a></td>
            <td> </td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2016-11-17 23:01:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/42"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/42">CCID0.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2016-11-19 15:40:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/43"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/43">CCID100.00</a></td>
            <td>Si Huan</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2016-11-21 15:28:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/44"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/44">CCID15.50</a></td>
            <td>Si Huan</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-11-22 18:36:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/45"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/45">CCID2.00</a></td>
            <td>Ed Test</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-11-23 15:33:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/46"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/46">CCID0.00</a></td>
            <td> </td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/47"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/47">CCID150.00</a></td>
            <td>Tom C. Tysohn</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-11-25 01:11:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/48"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/48">CCID23.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-11-25 20:53:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/49"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/49">CCID32.00</a></td>
            <td>TEst kkak</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-11-14 21:28:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/50"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/50">CCID32.00</a></td>
            <td>TEst kkak</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-11-14 21:28:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/51"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/51">CCID32.00</a></td>
            <td>TEst kkak</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-11-14 21:28:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/52"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/52">CCID0.00</a></td>
            <td>TEst kkak</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2016-11-26 21:39:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/53"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/53">CCID40.00</a></td>
            <td>Dwayne Karl</td>
            <td><span class="label label-success">Accepted</span></td>
            <td></td>
            <td>2016-11-16 15:40:00</td>

        </tr>
                <tr>
        <td>
                <a href="/crm/deals/edit/54"><i class="fa fa-edit"></i></a>
            </td>
            <td><a href="/crm/deals/view/54">CCID3,600.00</a></td>
            <td>Karim Hamidi</td>
            <td><span class="label label-warning">Process</span></td>
            <td></td>
            <td>2016-11-26 21:30:00</td>

        </tr>
                </tbody>
    </table>

</div>
</div>

<script>
jQuery(function($) {
    $("#more").click(function(){
        $(".filter-box").toggle('fold');
    });
    $(".date").datepicker({ dateFormat: 'yy-mm-dd' });
    $('#filter-result-close').click(function(){
        window.location.href = "/crm/deals";
    });
});
</script>
   </div>
<!-- end of deal borderd table  -->

<div class="row">



                                    <div class=" col-md-4">
                                        <div class="card info-color-dark ">
                                            <div class="card-body  ">
                                                <h5 class="card-category card-category-social text-white">
                                                     <i class="material-icons text-white">monetization_on</i> TechCrunch
                                                </h5>
                                                <h4 class="card-title text-white">
                                                    <a href="#pablo">"Focus on Your Employees"</a>
                                                </h4>
                                                <p class="card-description text-white">
                                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                                </p>
                                                <div class="card-stats justify-content-center text-dark">
                                                    <a href="#pablo" class="btn btn-white btn-round text-dark">Read Deal</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                             <div class=" col-md-4">
                                        <div class="card info-color-dark ">
                                            <div class="card-body" >
                                                <h5 class="card-category card-category-social text-white">
                                                     <i class="material-icons text-white">monetization_on</i> TechCrunch
                                                </h5>
                                                <h4 class="card-title text-white">
                                                    <a href="#pablo">"Focus on Your Employees"</a>
                                                </h4>
                                                <p class="card-description text-white">
                                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                                </p>
                                                <div class="card-stats justify-content-center text-dark">
                                                    <a href="#pablo" class="btn btn-white btn-round text-dark">View Deal</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
         <div class="col-md-4">
                                        <div class="card info-color-dark ">
                                            <div class="card-body  ">
                                                <h5 class="card-category card-category-social text-white">
                                                     <i class="material-icons text-white">monetization_on</i> TechCrunch
                                                </h5>
                                                <h4 class="card-title text-white">
                                                    <a href="#pablo">"Focus on Your Employees"</a>
                                                </h4>
                                                <p class="card-description text-white">
                                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                                </p>
                                                <div class="card-stats justify-content-center text-dark">
                                                    <a href="#pablo" class="btn btn-white btn-round text-dark">View Deal</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
</div>
<div class="row">


         <div class=" col-md-4">
                                        <div class="card info-color-dark ">
                                            <div class="card-body">
                                                <h5 class="card-category card-category-social text-white">
                                                    <i class="material-icons text-white">monetization_on</i>TechCrunch
                                                </h5>
                                                <h4 class="card-title text-white">
                                                    <a href="#pablo">"Focus on Your Employees"</a>
                                                </h4>
                                                <p class="card-description text-white">
                                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                                </p>
                                                <div class="card-stats justify-content-center text-dark">
                                                   <a href="#pablo" class="btn btn-white btn-round text-dark">View Deal</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                          <div class=" col-md-4">
                                        <div class="card info-color-dark ">
                                            <div class="card-body">
                                                <h5 class="card-category card-category-social text-white">
                                                     <i class="material-icons">monetization_on</i> TechCrunch
                                                </h5>
                                                <h4 class="card-title text-white">
                                                    <a href="#pablo">"Focus on Your Employees"</a>
                                                </h4>
                                                <p class="card-description text-white">
                                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                                </p>
                                                <div class="card-stats justify-content-center">
                                                    <a href="#pablo" class="btn btn-white btn-round text-dark">View Deal</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                 <div class=" col-md-4">
                                        <div class="card info-color-dark ">
                                            <div class="card-body">
                                                <h5 class="card-category card-category-social text-white">
                                                    <i class="material-icons text-white">monetization_on</i> TechCrunch
                                                </h5>
                                                <h4 class="card-title text-white">
                                                    <a href="#pablo">"Focus on Your Employees"</a>
                                                </h4>
                                                <p class="card-description text-white">
                                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                                </p>
                                                <div class="card-stats justify-content-center">
                                                    <a href="#pablo" class="btn btn-white btn-round text-dark">View Deal</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

</div>
   <!--Main layout-->
    <main>
        <div class="container-fluid">

            <!--Section: Modals-->
            <section>

                <!--Modal: modalConfirmDelete-->
                <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                        <!--Content-->
                        <div class="modal-content text-center">
                            <!--Header-->
                            <div class="modal-header d-flex justify-content-center">
                                <p class="heading">Are you sure?</p>
                            </div>

                            <!--Body-->
                            <div class="modal-body">

                                <i class="fa fa-times fa-4x animated rotateIn"></i>

                            </div>

                            <!--Footer-->
                            <div class="modal-footer flex-center">
                                <a href="https://mdbootstrap.com/product/material-design-for-bootstrap-pro/" class="btn  btn-outline-secondary-modal">Yes</a>
                                <a type="button" class="btn  btn-primary-modal waves-effect" data-dismiss="modal">No</a>
                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
                <!--Modal: modalConfirmDelete-->

            </section>
            <!--Section: Modals-->





<p id="notice"><%= notice %></p>

<h1>Deals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Category</th>
      <th>Contact ids</th>
      <th>Active</th>
      <th>Potential commission</th>
      <th>Lead</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.name %></td>
        <td><%= deal.code %></td>
        <td><%= deal.category %></td>
        <td><%= deal.contact_ids %></td>
        <td><%= deal.active %></td>
        <td><%= deal.potential_commission %></td>
        <td><%= deal. lead_id %></td>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <%= link_to 'New Deal', new_deal_path, class: 'btn-info  btn btn-round ' %>
  <button type="" class="btn-back btn bg-hudson btn-round text-white pull-right">Go Back</button>


  <div class="fw-body">
      <div class="content">



