<style type="text/css" media="screen">
   .profile-env > header {
   position: relative;
   z-index: 20;
   margin-top: 0px !important;
   }
   .profile-picture {
   position: absolute;
   bottom: 56px !important;
   max-width: 100%;
   }
   .profile-picture img {
   -moz-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
   -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
   box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.9);
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-picture:hover img {
   zoom: 1;
   -webkit-opacity: 0.5;
   -moz-opacity: 0.5;
   opacity: 0.5;
   filter: alpha(opacity=50);
   }
   .profile-env > header .profile-info-sections {
   margin: 0;
   padding: 0;
   margin-top: 15px;
   padding-left: 0;
   list-style: none;
   margin-left: -5px;
   }
   .profile-env > header .profile-info-sections > li {
   display: inline-block;
   padding-left: 5px;
   padding-right: 5px;
   }
   .profile-env > header .profile-info-sections .profile-name strong,
   .profile-env > header .profile-info-sections .profile-name span {
   display: block;
   }
   .profile-env > header .profile-info-sections .profile-name strong {
   font-size: 18px;
   font-weight: normal;
   }
   .profile-env > header .profile-info-sections .profile-name span {
   font-size: 12px;
   color: #bbbbbb;
   }
   .profile-env > header .profile-info-sections .profile-name span a {
   color: #bbbbbb;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env > header .profile-info-sections .profile-name span a:hover {
   color: #888888;
   }
   .profile-env > header .profile-info-sections .profile-name .user-status {
   position: relative;
   display: inline-block;
   background: #575d67;
   top: -2px;
   margin-left: 5px;
   width: 6px;
   height: 6px;
   -webkit-border-radius: 6px;
   -webkit-background-clip: padding-box;
   -moz-border-radius: 6px;
   -moz-background-clip: padding;
   border-radius: 6px;
   background-clip: padding-box;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env > header .profile-info-sections .profile-name .user-status.is-online {
   background-color: #06b53c;
   }
   .profile-env > header .profile-info-sections .profile-name .user-status.is-offline {
   background-color: #575d67;
   }
   .profile-env > header .profile-info-sections .profile-name .user-status.is-idle {
   background-color: #f7d227;
   }
   .profile-env > header .profile-info-sections .profile-name .user-status.is-busy {
   background-color: #ee4749;
   }
   .profile-env > header .profile-info-sections .profile-stat h3 {
   font-size: 18px;
   margin-bottom: 5px;
   }
   .profile-env > header .profile-info-sections .profile-stat span {
   color: #bbbbbb;
   }
   .profile-env > header .profile-info-sections .profile-stat span a {
   color: #bbbbbb;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env > header .profile-info-sections .profile-stat span a:hover {
   color: #888888;
   }
   .profile-env > header .profile-info-sections > li {
   padding: 0 40px;
   position: relative;
   }
   .profile-env > header .profile-info-sections > li + li:after {
   content: '';
   display: block;
   position: absolute;
   top: 15px;
   bottom: 0;
   left: 0;
   width: 1px;
   margin: 8px 0;
   }
   .profile-env > header .profile-info-sections > li:first-child {
   padding-left: 0;
   }
   .profile-env > header .profile-buttons {
   margin-top: 35px;
   }
   .profile-env > header .profile-buttons a {
   margin: 0 4px;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env section {
   position: relative;
   z-index: 10;
   }
   .profile-env section.profile-info-tabs {
   position: relative;
   margin-left: -20px;
   margin-right: -20px;
   padding: 20px;
   margin-top: -20px;
   margin-bottom: 30px;
   }
   .profile-env section.profile-info-tabs .user-details {
   padding-left: 0;
   list-style: none;
   }
   .profile-env section.profile-info-tabs .user-details li {
   margin-bottom: 10px;
   }
   .profile-env section.profile-info-tabs .user-details li a {
   color: #a0a0a0;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env section.profile-info-tabs .user-details li a:hover {
   color: #606060;
   }
   .profile-env section.profile-info-tabs .user-details li a:hover span {
   color: #e72c28;
   }
   .profile-env section.profile-info-tabs .user-details li a i {
   margin-right: 5px;
   }
   .profile-env section.profile-info-tabs .user-details li a span {
   color: #ec5956;
   font-weight: normal;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env section.profile-info-tabs .nav-tabs {
   position: relative;
   margin-bottom: -20px;
   border-bottom: 0;
   }
   .profile-env section.profile-info-tabs .nav-tabs > li:first-child a {
   margin-left: 0;
   }
   .profile-env section.profile-info-tabs .nav-tabs li {
   margin-bottom: 0;
   }
   .profile-env section.profile-info-tabs .nav-tabs li a {
   border: none;
   padding: 10px 35px;
   font-size: 13px;
   background: #e1e1e1;
   margin-right: 10px;
   }
   .profile-env section.profile-info-tabs .nav-tabs li.active a {
   background: #fff;
   }
   .profile-env section.profile-feed {
   margin-bottom: 15px;
   padding-left: 20px;
   padding-right: 20px;
   }
   .profile-env section.profile-feed .profile-post-form .form-options {
   border-top: 1px solid #ebebeb;
   padding: 10px;
   }
   .profile-env section.profile-feed .profile-post-form .form-options:before,
   .profile-env section.profile-feed .profile-post-form .form-options:after {
   content: " ";
   display: table;
   }
   .profile-env section.profile-feed .profile-post-form .form-options:after {
   clear: both;
   }
   .profile-env section.profile-feed .profile-post-form .form-options .post-type {
   float: left;
   padding-top: 6px;
   }
   .profile-env section.profile-feed .profile-post-form .form-options .post-type a {
   margin-left: 10px;
   font-size: 13px;
   color: #aaaaaa;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env section.profile-feed .profile-post-form .form-options .post-type a:hover {
   color: #303641;
   }
   .profile-env section.profile-feed .profile-post-form .form-options .post-submit {
   float: right;
   }
   .profile-env section.profile-feed .profile-post-form .form-options .post-submit .btn {
   padding-left: 20px;
   padding-right: 20px;
   }
   .profile-env section.profile-feed .profile-stories article.story {
   margin: 30px 0;
   }
   .profile-env section.profile-feed .profile-stories article.story:before,
   .profile-env section.profile-feed .profile-stories article.story:after {
   content: " ";
   display: table;
   }
   .profile-env section.profile-feed .profile-stories article.story:after {
   clear: both;
   }
   .profile-env section.profile-feed .profile-stories article.story .user-thumb {
   float: left;
   width: 8%;
   }
   .profile-env section.profile-feed .profile-stories article.story .user-thumb a img {
   -moz-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.04);
   -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.04);
   box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.04);
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content {
   float: right;
   width: 92%;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content header {
   display: block;
   margin-bottom: 10px;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content header:before,
   .profile-env section.profile-feed .profile-stories article.story .story-content header:after {
   content: " ";
   display: table;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content header:after {
   clear: both;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content header .publisher {
   float: left;
   color: #9b9fa6;
   font-size: 14px;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content header .publisher a {
   color: #303641;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content header .publisher em {
   display: block;
   font-style: normal;
   font-size: 12px;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content header .story-type {
   float: right;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content .story-main-content {
   font-size: 13px;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content .story-main-content p {
   font-size: 13px;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer {
   margin-top: 15px;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .liked i {
   color: #ff4e50;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer > a {
   margin-right: 30px;
   display: inline-block;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer > a span {
   zoom: 1;
   -webkit-opacity: 0.6;
   -moz-opacity: 0.6;
   opacity: 0.6;
   filter: alpha(opacity=60);
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments {
   list-style: none;
   margin: 0;
   padding: 0;
   margin-top: 30px;
   border-top: 1px solid #ebebeb;
   padding-top: 20px;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li {
   display: table;
   vertical-align: top;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li:before,
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li:after {
   content: " ";
   display: table;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li:after {
   clear: both;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li + li {
   margin-top: 15px;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-thumb,
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content {
   display: table-cell;
   vertical-align: top;
   width: 100%;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-thumb {
   width: 1%;
   padding-right: 20px;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content {
   border-bottom: 1px solid #ebebeb;
   padding-bottom: 15px;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-name {
   font-weight: bold;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta {
   font-size: 11px;
   margin-top: 15px;
   color: #9b9fa6;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a {
   color: #8d929a;
   margin-right: 5px;
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a + a {
   margin-left: 5px;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a i {
   zoom: 1;
   -webkit-opacity: 0.8;
   -moz-opacity: 0.8;
   opacity: 0.8;
   filter: alpha(opacity=80);
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a:hover {
   color: #737881;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li .user-comment-content .user-comment-meta a:hover i {
   zoom: 1;
   -webkit-opacity: 1;
   -moz-opacity: 1;
   opacity: 1;
   filter: alpha(opacity=100);
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li.comment-form .user-comment-content {
   position: relative;
   border-bottom: 0;
   padding-bottom: 0;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li.comment-form .user-comment-content .form-control {
   background: #eeeeee;
   border: 0;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li.comment-form .user-comment-content .btn {
   position: absolute;
   right: 5px;
   top: 5px;
   border: 0;
   background: transparent;
   color: #737881;
   font-size: 13px;
   zoom: 1;
   -webkit-opacity: 0.7;
   -moz-opacity: 0.7;
   opacity: 0.7;
   filter: alpha(opacity=70);
   -moz-transition: all 300ms ease-in-out;
   -webkit-transition: all 300ms ease-in-out;
   -o-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content footer .comments li.comment-form .user-comment-content .btn:hover {
   zoom: 1;
   -webkit-opacity: 1;
   -moz-opacity: 1;
   opacity: 1;
   filter: alpha(opacity=100);
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content hr {
   margin-top: 40px;
   }
   @media (max-width: 992px) {
   .profile-env > header .profile-picture img {
   width: 90%;
   }
   .profile-env > header .profile-buttons {
   margin-top: 18px;
   }
   .profile-env > header .profile-info-sections .profile-name strong,
   .profile-env > header .profile-info-sections .profile-stat h3 {
   font-size: 16px;
   }
   .profile-env > header .profile-info-sections {
   margin-top: 0;
   }
   .profile-env > header .profile-info-sections > li {
   padding: 0 20px;
   }
   .profile-env section.profile-info-tabs .nav-tabs li a {
   padding-left: 25px;
   padding-right: 25px;
   }
   .profile-env section.profile-feed .profile-stories article.story .user-thumb {
   width: 10%;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content {
   width: 90%;
   }
   }
   @media (max-width: 768px) {
   .profile-env section.profile-info-tabs {
   margin-top: 30px;
   }
   .profile-env > header .profile-picture img {
   float: none;
   }
   .profile-env > header .profile-buttons a {
   margin-bottom: 5px;
   }
   }
   @media (max-width: 601px) {
   .profile-env > header .profile-info-sections {
   margin-bottom: 10px;
   }
   .profile-env > header .profile-info-sections li {
   padding: 15px;
   }
   .profile-env > header .profile-info-sections > li:first-child {
   padding-left: 0;
   }
   .profile-env > header .profile-buttons {
   margin-top: 0;
   }
   .profile-env > header .profile-picture {
   text-align: center;
   display: block;
   }
   .profile-env > header .profile-picture img {
   float: none;
   display: inline-block;
   }
   .profile-env section.profile-feed .profile-stories article.story .user-thumb {
   width: 18%;
   }
   .profile-env section.profile-feed .profile-stories article.story .story-content {
   width: 82%;
   }
   .profile-env section.profile-info-tabs .nav-tabs li a {
   padding-left: 15px;
   padding-right: 15px;
   margin-right: 5px;
   font-size: 12px;
   }
   .profile-env section.profile-feed {
   padding: 0;
   }
   .profile-env .col-sm-7,
   .profile-env .col-sm-3 {
   text-align: center;
   }
   .profile-env .col-sm-7 .profile-info-sections,
   .profile-env .col-sm-3 .profile-info-sections,
   .profile-env .col-sm-7 .profile-buttons,
   .profile-env .col-sm-3 .profile-buttons {
   display: inline-block;
   }
   .profile-env > header .profile-info-sections > li + li:after {
   margin: 18px 0;
   }
   }
   .user-comment-thumb img{
   border-radius: 50% !important;
   }
   #more, #load-more-deal {
   color:  #fff !important;
   }
   #deal-company-logo {
   margin: auto !important;
   }
   .profile-feed a, .text-hudson-ornage{ color:  #be7e45 !important; }
   .post-input {
   min-width: 600px !important;
   }
   .extra-hiiden {
   overflow: hidden;
   }
   .comment-position {
   position: absolute;
   top: .4rem;
   }
</style>
<p id="notice"><%= notice %></p>
<div class="container">
   <div class="container-fluid">
      <div class="row ">
         <div class="col-md-4 pb-0">
            <div class="profile-env img-thumbnail table-reponsive bg-black pl-0" style="height:400px;">
               <table class="profile-picture pb-0 pl-0 image-content" style="height:400px; width: 200px !important;" id="deal-company-logo">
                  <td  class=""> <%= image_tag @deal.image if !@deal.image.nil? %></td>
               </table>
            </div>
         </div>
         <div class="col-md-8">
            <section class="profile-info-tabs  mt-4">
               <div class="row mt-4 pt-4">
                  <div class="col-sm-offset-2 col-sm-10 mt-4 pt-4">
                     <div class="card card-nav-tabs bg-transparent">
                        <div class="card-header ">
                           <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                           <div class="nav-tabs-navigation">
                              <div class="nav-tabs-wrapper">
                                 <ul class="nav nav-pills nav-pills-icons mt-2  nav-pills-dark" role="tablist" id="deal-nav-pills">
                                    <!--
                                       color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                       -->
                                    <li class="nav-item nav-pills-dark">
                                       <a class="nav-link active" href="#dashboard-1" role="tab" data-toggle="tab">
                                       <i class="material-icons">dashboard</i>
                                       Deals
                                       </a>
                                    </li>
                                    <li class="nav-item nav-pills-dark">
                                       <a class="nav-link " href="#schedule-1" role="tab" data-toggle="tab">
                                       <i class="material-icons">schedule</i>
                                       Schedule
                                       </a>
                                    </li>
                                    <li class="nav-item nav-pills-dark">
                                       <a class="nav-link" href="#tasks-1" role="tab" data-toggle="tab">
                                       <i class="material-icons">list</i>
                                       Tasks
                                       </a>
                                    </li>
                                    <li class="nav-item link-tabs" >
                                       <div class="  mr-4 mt-4 pt-4 pr-4">
                                          <span class=" pt-4 ">
                                          <%= link_to 'Edit', edit_deal_path(@deal), class: " pb-4 text-white" %> | <%= link_to 'Back', deals_path, class: " pb-4 text-white"  %>
                                          </span>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="card-content bg-transparent">
                           <div class="tab-content tab-space">
                              <div class="tab-pane active" id="dashboard-1">
                                 <div class="row">
                                    <div class="col-md-6 pl-4">
                                       <p>
                                          <strong>Name:</strong>
                                          <%= @deal.name %>
                                       </p>
                                       <p>
                                          <strong>Code:</strong>
                                          <%= @deal.code %>
                                       </p>
                                       <p>
                                          <strong>Category:</strong>
                                          <%= @deal.category %>
                                       </p>
                                    </div>
                                    <div class="col-md-6">
                                       <p>
                                          <strong>Active:</strong>
                                          <%= @deal.active %>
                                       </p>
                                       <p>
                                          <strong>Potential commission:</strong>
                                          <%= @deal.potential_commission %>
                                       </p>
                                       <p>
                                          <strong>Lead:</strong>
                                          <%= @deal.lead_id %>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="tab-pane pl-4" id="schedule-1">
                                 <%= link_to new_event_path, class: ' btn btn-outline-info btn-lg  remote-link', remote: true do %>
                                 schedule a reminder
                                 <% end %>
                              </div>
                              <div class="tab-pane" id="tasks-1">
                                 <% @deal.tasks.each do |task| %>
                                 <span> <%= task.name %> </span>
                                 <% end %>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
      <div class="profile-env">
         <header class="row">
            <div class="col-sm-3 ml-auto mt-0">
               <div class="profile-env ">
                  <section class="profile-info-tabs mt-3 ">
                     <ul class="user-details">
                        <li> <a href="#"> <i class="entypo-suitcase"></i><%= @deal.contacts.first.name if @deal.contacts %>  Works as <span class="text-hudson-ornage"><%= @deal.contacts.first.postion if @deal.contacts %> </span> </a></li>
                        <li> <a href="#"> <i class="entypo-location"></i>At <%= @deal.contacts.first.postion if @deal.contacts %> at <%= @deal.contacts.first.company if @deal.contacts %></a></li>
                        <li> <a href="#"> <i class="entypo-calendar"></i><%= @deal.created_at.strftime("%d %b. %Y") %> </a></li>
                     </ul>
                  </section>
               </div>
            </div>
            <div class="col-sm-9 pt-4">
               <ul class="profile-info-sections mt-4">
                  <li>
                     <div class="profile-name"> <strong> <a class="text-white" ><%= @deal.contacts.first.name if @deal.contacts %></a> <a href="#" class="user-status is-online tooltip-info" data-toggle="tooltip" data-placement="top" data-original-title="Online"></a> </strong> <span> <a href="#"><%= @deal.contacts.first.postion if @deal.contacts %> at <%= @deal.contacts.first.company if @deal.contacts %></a> </span></div>
                  </li>
                  <li>
                     <div class=" mt-0 mb-0 pt-0 pb-3" style= "display: inline; ">
                        <%= link_to new_deal_path, class: 'btn btn-sm mdl-grey-900-btn  remote-link', remote: true do %>
                           New Deal
                        <% end %>
                     </div>
                  </li>
               </ul>
            </div>
            <div class="">
            </div>
         </header>
      </div>
   </div>
   <div class="container">
      <section class="profile-feed">
         <a class="btn  mdl-grey-900-btn  ml-3" id="more"><i class="fa fa-caret-down"></i> Post A Note </a>
         <div class="col-md-12">
            <div class="filter-box extra-hiiden" style="display:none;">
               <div class="card mdl-color--grey-900 col-md-12 p-4">
                  <%= simple_form_for(@mainpost) do |f| %>
                  <div class="row">
                     <div class="col-md-8 ">
                        <%= f.error_notification %>
                        <input type="hidden" value=<%="#{@deal.id}"%> id="deal_post_id" name="mainpost[deal_ids]">
                        <div class="form-group">
                           <%= f.input :body, class: 'form-control post-input ', label: false, placeholder: "Post a note to this deal"%>
                        </div>
                     </div>
                     <div class="form-group col-md-4 mt-4 pt-4">
                        <%= f.button :submit, class: 'btn btn-outline-info mt-2' %>
                     </div>
                  </div>
                  <% end %>
               </div>
            </div>
         </div>
         <hr>
         <!--   <form class="profile-post-form" method="post">
            <textarea class="form-control autogrow mdl-color--grey-900" placeholder="What's on your mind?" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 80px;"></textarea>
            <div class="form-options">
               <div class="post-type"> <a href="#" class="tooltip-primary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Upload a Picture"> <i class="entypo-camera"></i> </a> <a href="#" class="tooltip-primary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Attach a file"> <i class="entypo-attach"></i> </a> <a href="#" class="tooltip-primary" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Check-in"> <i class="entypo-location"></i> </a></div>
               <div class="post-submit mt-2"> <button type="button" class="btn mdl-grey-900-btn">POST</button></div>
            </div>
            </form> -->
         <div class="profile-stories">
            <% @deal.mainpost.each do |post| %>
            <article class="story">
               <% if !post.users.first.nil? && !post.users.first.email.nil?
                  post_user_email = post.users.first.email
                  else
                     post_user_email = 'hudsonlab@example.com' end %>
               <aside class="user-thumb"> <%= image_tag small_gravatar_url(post_user_email), class: 'user-image' %> </aside>
               <div class="story-content">
                  <header>
                     <div class="publisher"> <a href="#"><%= @deal.contacts.first.name if @deal.contacts %> </a>&nbsp; posted a note <em><%= time_ago_in_words(post.created_at)%></em></div>
                     <div class="story-type"> <i class="entypo-feather"></i></div>
                  </header>
                  <div class="story-main-content">
                     <p><%= post.body %></p>
                     <span>
                     <a class="btn btn-info text-info btn-link" data-toggle="collapse" href="#collapsecomment" aria-expanded="false" aria-controls="collapsecomment">
                     <span class="text-info">Comment <i class="material-icons">comment</i></span>
                     </a>
                     </span>
                     <div class="collapse" id="collapsecomment">
                        <div class="card card-1 rounded-0  extra-hiiden">
                           <div class="col-md-12 pl-4">
                              <%= simple_form_for(@comment, remote: true, :authenticity_token => true) do |f| %>
                              <%= f.error_notification %>
                              <input type="hidden" value=<%="#{post.id}"%> id="deal_post_id" name="comment[mainpost_ids]">
                              <div class="row">
                                 <div class="col-md-2 mt-3 p-1">
                                    <label class="">Add Tag</label>
                                    <%= f.input :title, class: 'form-control', label: false %>
                                 </div>
                                 <div class="col-md-6 mt-3">
                                    <label class=" comment-position">Add Comment</label>
                                    <%= f.input :body, class: 'form-control ', label: false  %>
                                 </div>
                                 <div class="col-md-4   mt-4 pt-4">
                                    <%= f.button :submit, class: 'btn btn-outline-info mt-2 btn-block' %>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <% end %>
                     </div>
                  </div>
               </div>
         </div>
         <a href="#" class="liked mb-3"> <i class="entypo-heart"></i> Liked <span class="text-info"><a>(</a><a id=<%="like_#{post.id}"%>><%= post.likes.count %></a><a>)</a>  </span> </a> <a href="#"> <i class="entypo-comment"></i> Comment <span>(<%= post.comments.count %>)</span></a>&nbsp;&nbsp;<span class="badge badge-dark like-btn">like <input class="like_post" type="hidden" value=<%="#{post.id}"%>>  <input class="like_authenticity" type="hidden" value=<%="#{form_authenticity_token}"%>  > </span>
         <ul class="comments mt-2" id=<%="comment_#{post.id}"%>>
         <% post.comments.each do |comment| %>
         <li class="mt-3" id=<%="comment_#{comment.id}"%>><% if !comment.users.first.nil? && !comment.users.first.email.nil?
            comment_user_email = comment.users.first.email
            else
               post_user_email = 'hudsonlab@example.com' end %>
         <div class="user-comment-thumb mb-2"> <%= image_tag small_gravatar_url(comment_user_email), class: 'user-image' %></div>
         <div class="user-comment-content">
         <a href="#" class="user-comment-name text-danger"><%= comment.users.first.first_name if comment.users %> </a><%= comment.body if comment.body %>
         <div class="user-comment-meta"> <a href="#" class="comment-date"><%= comment.created_at.strftime("%B %e, %Y at %I:%M %p") %></a> - <a href="#"> <i class="entypo-heart"></i><%= comment.title %> </a> - <a href="#"> <i class="entypo-comment"></i>
          <%= link_to comment_path(id: comment.id, authenticity_token: form_authenticity_token, post_id: post.id), method: :delete, class: 'text-danger remote-link ', remote: true, data: { confirm: "Are you sure you want delete this contact?"}  do %>
      <i class="fa fa-trash" title='delete' rel="tooltip"></i>
      <% end %></a></div>
         </div>
         </li>
         <% end %>
         <% end %>
         </ul>
         <hr>
   </div>
   </article>

</div>
</section>
</div>
</div>
