



<!-- Your custom styles (optional) -->
<style>
   .intro-2 {
   margin: auto;
   width: 42%;
   }
   .card {
   background-color: rgba(229, 228, 255, 0.2);
   }
   .card-creds-form { margin-top: 15% !important; margin: auto !important; }
   h6 {
   line-height: 1.7;
   }
   .card-reg { z-index: 99999999; }
</style>
<body class="presentation-page ">
   <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
      <div class="container">
         <div class="navbar-translate">
            <a class="navbar-brand text-white" href="/">Hudon Commercial Lab </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            </button>
         </div>
         <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
               <li class="dropdown nav-item">
                  <div class="collapse navbar-collapse justify-content-end" id="navbar">
                     <ul class="navbar-nav text-white">
                        <li class="nav-item ">
                           <a href="/" class="nav-link">
                           <i class="material-icons">dashboard</i> Dashboard
                           </a>
                        </li>
                        <li class="nav-item active">
                           <%= link_to "<i class='material-icons'>person_add</i> Register".html_safe, new_user_registration_path, class: 'nav-link' %>
                        </li>
                        <li class="nav-item ">
                           <%= link_to "<i class='material-icons'>fingerprint</i> Login".html_safe, new_user_session_path, class: 'nav-link' %>
                        </li>
                        <li>
                           <%= link_to "<i class='material-icons'>lock_open</i>Locked".html_safe,  new_user_password_path, class: 'nav-link' %>
                        </li>
                     </ul>
                  </div>
            </ul>
         </div>
      </div>
   </nav>

   <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('<%= asset_url("purple-1.jpg") %>')";>

      <section class=" ml-auto mr-auto">
         <div class=" ml-auto mr-auto">

            <div class="mask ml-auto mr-auto ">
               <div class="ml-auto mr-auto mainlogin">
                     <div >

                      <div class=" cool-form ml-auto mr-auto bg-footer  p-4">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: '') do |f| %>
                        <h2 class="text-center">Log in</h2>
                        <div class="form-group mr-auto ml-auto">
                          <label>Enter Email</label> <br>
                            <%= f.email_field :email, class: "dark-form-control pl-2 text-light", required: true %>
                        </div>
                        <div class="form-group">
                          <label>Enter Password</label> <br>
                            <%= f.password_field :password, class: "dark-form-control  pl-2 text-light", required: true  %>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-block">Log in</button>
                        </div>
                        <div class="clearfix">
                            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                            <a href="#" class="pull-right text-muted">Forgot Password?</a>
                        </div>
                    <% end %>
                    <p class="text-center"><%= link_to "Create an Account".html_safe, new_user_registration_path, class: 'text-muted' %></p>
                </div>



    </div>
      <!-- wizard container -->
    </div>
            </div>

         </div>
     </div>
      </section>

   </div>
</body>



