

<div class="landding-page">
  <div class="layer">
    <!-- Page Content -->
<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-85 p-b-20">
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <%= devise_error_messages! %>
        <form class="login100-form validate-form">
          <span class="login100-form-title p-b-70">
            Welcome
          </span>
          <span class="login100-form ">
             <%= render 'layouts/error_messages', object: resource %>
          </span>

          <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter Email">
          <%= f.text_field :email, class: 'input100' %>
            <span class="focus-input100" data-placeholder="Email"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-50  mt-3" data-validate="Enter password">
              <%= f.password_field :password, class: 'input100' %>

            <span class="focus-input100" data-placeholder="Password"></span>
          </div>

          <div class="container-login100-form-btn mt-4 mb-3">
            <button class="login100-form-btn">
              Login
            </button>
          </div>

          <ul class="login-more p-t-190">
            <li class="m-b-8">
              <span class="txt1">
                 <%= link_to "Forgot?", new_password_path(resource_name), class: 'txt1' %>

              </span>

              <a href="#" class="txt2">
                <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                <%= link_to "Username / Password", new_confirmation_path(resource_name), class: 'txt2' %>
              <% end %>
              <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
                <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: 'txt2' %>
              <% end -%>

              </a>
            </li>

            <li>
              <span class="txt1">
                Don’t have an account?
              </span>

              <a href="/users/sign_up" class="txt2">
                Sign up
              </a>
            </li>
          </ul>
         <% end %>
      </div>
    </div>
  </div>


  </div>
</div>




