<div class="landding-page">
    <div class="layer">
        <div class="container">
            <div class="col-md-4 container">
                <div class="container creds-sec">

                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-signin') do |f| %>
                        <center>

                            <i id="icon" class="fa fa-user" style="text-shadow: rgb(34, 37, 40) 0px 0px 0px, rgb(37, 40, 43) 1px 1px 0px, rgb(40, 43, 47) 2px 2px 0px, rgb(43, 47, 50) 3px 3px 0px, rgb(46, 50, 54) 4px 4px 0px; font-size: 58px; color: rgb(0, 66, 103); height: 90px; width: 90px; line-height: 90px; border-radius: 48%; text-align: center; background-color: rgb(49, 53, 57);"></i>
                        </center>

                        <h1 class="h3 mb-3 font-weight-normal text-center mt-4">Please sign in</h1>
                        <%= devise_error_messages! %>
                        <%= render 'layouts/error_messages'%>
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <%= f.text_field :email, class: "form-control", placeholder: "Email address", required: true %>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
                            <div class="checkbox mb-3 mt-2">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-block main-creds-btn" type="submit">Sign in</button>



                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
