





<div class="container">
<div class="row">


<div class="">
<div class="card card-1  ml-auto mr-auto" style="width: 28rem;">

<%= form_with(model: touch, local: true) do |form| %>
  <% if touch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(touch.errors.count, "error") %> prohibited this touch from being saved:</h2>

      <ul>
      <% touch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
       <div class="card-header">
      <h5 class="card-title text-info">Record a new touch</h5>

    <p class="card-text">Pick a contact you want to document a touch</p>
        <hr>
  </div>
  <div class="card-body">


 <div class="form-group">
    <div class="form-check">
      <label class="form-check-label">
          <%= form.check_box :email, id: :touch_email, class: 'form-check-input' %>
          Email
          <span class="form-check-sign">
              <span class="check"></span>
          </span>
      </label>
  </div>

  </div>

  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label">
         <%= form.check_box :phone, id: :touch_phone, class: 'form-check-input' %>
         Phone
          <span class="form-check-sign">
              <span class="check"></span>
          </span>
      </label>
  </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label">
          <%= form.check_box :postcard, id: :touch_postcard, class: 'form-check-input' %>
          Postcard
          <span class="form-check-sign">
              <span class="check"></span>
          </span>
      </label>
   </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label">
          <%= form.check_box :social_media, id: :touch_social_media, class: 'form-check-input' %>
          Social Media
          <span class="form-check-sign">
              <span class="check"></span>
          </span>
      </label>
   </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <%= form.check_box :in_person, id: :touch_in_person, class: 'form-check-input' %>
        In Person
          <span class="form-check-sign">
              <span class="check"></span>
          </span>
      </label>
   </div>
  </div>

  <div class="form-group">
     <div class="form-check">
      <label class="form-check-label">
        <%= form.check_box :letter, id: :touch_letter, class: 'form-check-input' %>
        Letter
          <span class="form-check-sign">
              <span class="check"></span>
          </span>
      </label>
   </div>
  </div>

  <div class="form-group">
    <%= form.label :description, class: 'bmd-label-floating' %>
    <%= form.text_area :description, id: :touch_description, class: 'form-control  text-white' %>
  </div>


                        <div class="form-group ml-0 pr-2 pl-0 mt-0">
                            <div class=" mr-0 pl-3">
                                <div class="card-collapse">
                                    <div class="card-header  ml-0 mr-0  p3 card-1" role="tab" id="headingTwo">
                                        <div class="row">

                                            <input class="form-control get-contacts  ml-3 mr-2 pl-2" type="text" placeholder="Search" aria-label="Search" id="search-contat-task">

                                        </div>
                                        <h5 class="mb-0">
                          <a class="collapsed  pl-2 text-white" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             Create task for contacts
                            <i class="material-icons">keyboard_arrow_down</i>
                          </a>
                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body" id="form-contact">

                                            <ul class="list-inline p-0">
                                                <li class="list-inline-item">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact1">
                                                            <p class="c1  text-white">contact 1</p>
                                                            <span class="form-check-sign">
                                  <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact2">
                                                            <p class="c2  text-white">contact 2 </p>
                                                            <span class="form-check-sign">
                                  <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact3">
                                                            <p class="c3  text-white"> contact 3 </p>
                                                            <span class="form-check-sign">
                                  <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact4">
                                                            <p class="c4  text-white">contact 4</p>
                                                            <span class="form-check-sign">
                                  <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li class="list-inline-item">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact5">
                                                            <p class="c5  text-white"> contact 5 </p>
                                                            <span class="form-check-sign">
                                  <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
  </div>
  <div class="form-group pl-3">
    <%= form.submit class: 'btn btn-success' %>
  </div>

  </div>
<% end %>


</div>
