<p id="notice"><%= notice %></p>

<h1>Touches</h1>

<table class="table card-5">
  <thead>
    <tr >
      <th class="p-3  text-white">Email</th>
      <th class="p-3  text-white">Phone</th>
      <th class="p-3  text-white">Postcard</th>
      <th class="p-3  text-white">Social media</th>
      <th class="p-3  text-white">In person</th>
      <th class="p-3  text-white">Letter</th>
      <th class="p-3  text-white">Description</th>
      <th class="p-3  text-white contact-over-flow">Contact</th>
      <th class="p-3  text-white">Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @touches.each do |touch| %>
      <tr>
        <td class="p-3"><%= touch.email %></td>
        <td class="p-3"><%= touch.phone %></td>
        <td class="p-3"><%= touch.postcard %></td>
        <td class="p-3"><%= touch.social_media %></td>
        <td class="p-3"><%= touch.in_person %></td>
        <td class="p-3"><%= touch.letter %></td>
        <td class="p-3"><%= touch.description %></td>
          <div class=" contact-over-flow">
             <td class="p-3 contact-flow-height">

           <% if touch.contacts %>
          <% touch.contacts.each do |contact| %>




           <% if contact.first_name %>
           <%= link_to contact_path(contact.id), class: 'text-info' do  %>
          <%= contact.first_name %>
            <%= contact.last_name if contact.last_name   %>
          <% end %>

          <% else %>
            <% if contact.company %>
               <%= link_to contact_path(contact.id), class: 'text-info' do  %>
          <%= contact.company   %>
          <% end %>


          <% end %>



         <% end %>
       <% end %>
        <% end %>
        </td>
         </div>
        <td class="p-3"><%= link_to 'Show', touch, class: "text-white" %></td>
        <td class="p-3"> <%= link_to  edit_touch_path(touch), class: 'btn btn-success' do  %>
           <i class="material-icons">edit</i>
           <% end %>
        </td>
        <td class="p-3"><%= link_to touch, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-round" do %>
            <i class="material-icons">close</i>
            <% end %>

        </td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Touch', new_touch_path, class: 'text-white' %>


