<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @touch.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @touch.phone %>
</p>

<p>
  <strong>Postcard:</strong>
  <%= @touch.postcard %>
</p>

<p>
  <strong>Social media:</strong>
  <%= @touch.social_media %>
</p>

<p>
  <strong>In person:</strong>
  <%= @touch.in_person %>
</p>

<p>
  <strong>Letter:</strong>
  <%= @touch.letter %>
</p>

<p>
  <strong>Description:</strong>
  <%= @touch.description %>
</p>

      <% if @touch.contacts %>
          <% @touch.contacts.each do |contact| %>
       <p>
         <strong>Contact:</strong>
         <% if contact.name %>
            <%= contact.name %>
           <% elsif contact.first_name %>
             <%= contact.first_name %>
            <%= contact.last_name if contact.last_name   %>
          <% else %>
             <%= contact.company if contact.company   %>
          <% end %>
      </p>
      <% end %>
       <% end %>



      <hr>


<%= link_to 'Edit', edit_touch_path(@touch) %> |
<%= link_to 'Back', touches_path %>
