
<div class="col-md-6">
              <div class="card text-muted rounded-0">

                <div class="card-header ">

                  <h4 class="card-title">Touch Show Page -
                    <small class="description">Touch Info</small>
                  </h4>
                </div>
                <div class="card-body  text-muted"">
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <!--
                                        color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                    -->
                      <ul class="nav nav-pills nav-pills-info nav-pills-icons flex-column" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active text-muted" data-toggle="tab" href="#link10" role="tablist">
                            <i class='material-icons'>fingerprint</i> Touch Type
                          </a>
                        </li>
                        <li class="nav-item text-muted">
                          <a class="nav-link text-muted" data-toggle="tab" href="#link11" role="tablist">
                           <i class="material-icons">account_circle</i> Contacts
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-8">
                      <div class="tab-content">
                        <div class="tab-pane active" id="link10">

                                  <div class="card-header card-header-info card-header-icon mb-3 pt-0 mt-0">
                              <div class="card-icon pull-right">
                              <i class="material-icons">touch_app</i>
                              </div>

                            </div>
                            <% if @touch.email %>
                          <p class=" text-muted">
                            <strong>Email:</strong>
                            <%= @touch.email  %>
                          </p>
                          <% end %>

                          <% if @touch.phone %>
                          <p class=" text-muted">
                            <strong class=" text-muted">Phone:</strong>
                            <%= @touch.phone   %>
                          </p>
                          <% end %>

                          <% if @touch.postcard %>
                          <p class=" text-muted">
                            <strong class=" text-muted">Postcard:</strong>
                            <%= @touch.Postcard  %>
                          </p>
                          <% end %>

                          <% if @touch.social_media %>
                          <p class=" text-muted">
                            <strong class=" text-muted">Social media:</strong>
                            <%= @touch.social_media  %>
                          </p>
                          <% end %>
                          <% if @touch.in_person %>
                          <p class=" text-muted">
                            <strong class=" text-muted">In person:</strong>
                            <%= @touch.in_person  %>
                          </p>
                          <% end %>
                          <% if @touch.letter %>
                          <p class=" text-muted">
                            <strong class=" text-muted">Letter:</strong>
                            <%= @touch.letter  %>
                          </p>
                          <% end %>


                                  <br>
                            <hr>
                          <p class=" text-muted">
                            <strong class=" text-muted">Description:</strong>
                            <%= @touch.description %>
                          </p>
                        </div>
                        <div class="tab-pane" id="link11">
                       <div class="col-md-12">
                         <strong class=" text-muted">Contacts:</strong>

                      <div class="table-responsive table-sales">
                        <table class="table">
                          <tbody>
                               <% @touch.contacts.each do |contact| %>
                            <tr>
                              <td>
                                <div class="flag">
                                  <i class="material-icons">touch_app</i>
                              </div></td>
                              <td> <%= contact.name  %></td>
                              <td class="text-right">
                            <% if @touch.email %>
                          <p class=" text-black">

                            <%= contact.email  %>
                          </p>
                          <% end %>

                          <% if @touch.phone %>
                          <p class=" text-muted">

                            <%= contact.phone   %>
                          </p>
                          <% end %>

                          <% if @touch.postcard %>
                          <p class=" text-black">

                            <%= @touch.Postcard  %>
                          </p>
                          <% end %>

                          <% if @touch.social_media %>
                          <p class=" text-black">

                            <%= contact.social_media  %>
                          </p>
                          <% end %>
                          <% if @touch.in_person %>
                          <p class=" text-black">

                            <%= contact.in_person  %>
                          </p>
                          <% end %>
                          <% if @touch.letter %>
                          <p class=" text-black">

                            <%= contact.letter  %>
                          </p>
                          <% end %>

                              </td>
                              <td class="text-right">
                               <i class="material-icons">how_to_reg</i>
                              </td>
                            </tr>

                            <% end %>
                          </tbody>
                        </table>
                        </div>


                              </div>

                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="ml-2">
                <%= link_to 'Edit', edit_touch_path(@touch), class: 'text-white' %> |
                <%= link_to 'Back', touches_path, class: 'text-white' %>
                </span>
              </div>
            </div>
