<style type="text/css" media="screen">
 .full-with-input {
    min-width: 250% !important;
  }
  .form-group .full-with-input #form-input-w  {
    width: 250% !important;
  }
  .bmd-form-group .form-control {
width: 200% !important;
  }
</style>
<div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-rasied  card-1">

<%= simple_form_for(@address) do |f| %>
  <%= f.error_notification %>
  <div class="row mt-4">
      <div class="col-md-3">
    <h2 class="card-title text-white pull-right">Address</h2>
  </div>
  </div>

<label></label>
                        <div class="card-body" id="address-card-form">
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons text-white">contact_mail</i>
                                                    </span>
                                                </div>
    <%= f.input :address, :as => :string, class: 'form-control full-with-input',  placeholder: 'Full Address', label: false, id: 'form-input-w'  %>
                                            </div>
                                        </div>

                                                                       <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons text-white">contact_mail</i>
                                                    </span>
                                                </div>
    <%= f.input :street_num, :as => :string, class: 'form-control full-with-input', placeholder: 'Street Number', label: false  %>
                                            </div>
                                        </div>

                                 <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons text-white">contact_mail</i>
                                                    </span>
                                                </div>
    <%= f.input :strret_name, :as => :string, class: 'form-control full-with-input', placeholder: 'Street Name', label: false  %>
                                            </div>
                                        </div>


                                                                 <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons text-white">contact_mail</i>
                                                    </span>
                                                </div>
    <%= f.input :city, :as => :string, class: 'form-control full-with-input', placeholder: 'City', label: false  %>
                                            </div>
                                        </div>



                                        <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons text-white">contact_mail</i>
                                                    </span>
                                                </div>
    <%= f.input :state, :as => :string, class: 'form-control full-with-input', placeholder: 'State', label: false  %>
                                            </div>
                                        </div>



                                        <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons text-white">contact_mail</i>
                                                    </span>
                                                </div>
    <%= f.input :suite, :as => :string, class: 'form-control full-with-input', placholder: 'Suite', label: false  %>
                                            </div>
                                        </div>


                               </div>
                                <div class="col-md-5 mr-auto">









                                                                      <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons text-white">contact_mail</i>
                                                    </span>
                                                </div>
    <%= f.input :county, :as => :string, class: 'form-control full-with-input', placholder: 'County', label: false  %>
                                            </div>
                                        </div>

                                                                       <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons text-white">contact_mail</i>
                                                    </span>
                                                </div>
    <%= f.input :country, :as => :string, class: 'form-control full-with-input', placholder: 'Country', label: false  %>
                                            </div>
                                        </div>

                                 <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons text-white">contact_mail</i>
                                                    </span>
                                                </div>
    <%= f.input :postal_code, :as => :string, class: 'form-control full-with-input ', placholder: 'Postal Code', label: false  %>
                                            </div>
                                        </div>


                                                                 <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons text-white">contact_mail</i>
                                                    </span>
                                                </div>
    <%= f.input :zip_code_ext, :as => :string, class: 'form-control full-with-input', placholder: 'Postal Code Extension', label: false  %>
                                            </div>
                                        </div>


                                                                 <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons text-white">contact_mail</i>
                                                    </span>
                                                </div>
    <%= f.input :notes, :as => :string, class: 'form-control full-with-input', placholder: 'Notes', label: false %>
                                            </div>
                                        </div>


     <div class="form-group">


    <div class="form-actions ml-auto mr-auto p-4">
    <%= f.button :submit, class: 'btn btn-outline-white mt-4 btn-block' %>
  </div>
                                   <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

