<div class="main main-raised main-lead  rounded-0 p-3 mt-3" data-parallax="true" style="background-image: url('<%= asset_url("buildin-row.jpg") %>')";>
   <%= simple_form_for(@searched) do |form| %>
   <% if @searched.errors.any? %>
   <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>
      <ul>
         <% @searched.errors.full_messages.each do |message| %>
         <li><%= message %></li>
         <% end %>
      </ul>
   </div>
   <% end %>
   <div class="">
      <div class="">
         <div class="row">
            <div class="col-md-12">
               <h3 class="page-title"><span class="ml-4 pl-2">Searched Form</span> <span><%= form.submit class: 'btn btn-outline-white roundd-0  float-right mr-4 lead-submit-btn' %></span></h3>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6" >
            <div class="  m-4 p-3  bg-gray66">
               <div class="form-group card card-5 p-2">
                  <%= form.text_field :name, id: :searched_name, class: 'form-control  text-white', placeholder: 'Contact Name'  %>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="  m-4 p-3  bg-gray66">
               <div class="form-group card card-5 p-2">
                  <%= form.text_field :contact_id, id: :searched_contact, class: 'form-control  text-white', placeholder: 'Contact ID'  %>
               </div>
            </div>
         </div>
      </div>
      <div class="">
         <div class="row">
            <div class=" col-sm-3 ">
               <div class="  m-4 p-3  bg-gray66">
                  <div class="form-group card card-5 p-2">
                     <%= form.text_field :email, id: :searched_email, class: 'form-control  text-white mt-4', placeholder: 'Email' %>
                  </div>
               </div>
            </div>
            <div class="col-sm-3 ">
               <div class="  m-4 p-3  bg-gray66">
                  <div class="form-group card card-5 p-2">
                     <label  class="bmd-label-floating text-white">Assign To</label>
                     <select class="selectpicker  mt-0 mb-0 pt-0" data-style="select-with-transition" title="" data-size="8" data-style="btn-outline-info" name="searched[user_ids]" id="lead-contact-user" >
                        <% User.all.each do |user| %>
                        <option class="text-dark" value=<%= "#{user.id}"%>><%= "#{user.first_name}"%></option>
                        <% end %>
                     </select>
                  </div>
               </div>
            </div>
            <div class="col-sm-3">
               <div class="  m-4 p-3  bg-gray66">
                  <div class="form-group card card-5 p-2">
                     <%= form.text_field :cell, id: :searched_cell, class: 'form-control text-white', placeholder: 'Cell Phone' %>
                  </div>
               </div>
            </div>
            <div class="col-sm-3 ">
               <div class="  m-4 p-3  bg-gray66">
                  <div class="form-group card card-5 p-2">
                     <%= form.text_field :fulladdress, id: :searched_address, class: 'form-control address-auto text-white', placeholder: 'Address'  %>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="">
         <div class="row">
            <div class="col-md-6">
               <div class="form-group ml-4 ">
                  <div class="   p-3  mr-4 bg-gray66">
                     <div class="col-md-12  ">
                        <div class="form-group bg-black">
                           <div class="form-group  pt-0 mt-0  ">
                              <div class=" pt-0 mt-0  ">
                                 <div class="card-collapse  pt-0 mt-0 ">
                                    <div class="card-header pt-0 bg-black" role="tab" id="headingTwo">
                                       <div class="row">
                                          <input class="form-control get-contacts ml-3 mr-2 pl-2 mt-0 pt-2 pb-2" type="text" placeholder="Type name then select the contact" aria-label="Search" id="search-contat-task">
                                       </div>
                                       <h5 class="mb-0">
                                          <a class="collapsed  pl-2 text-muted" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          click to see who got added
                                          <i class="material-icons text-muted">keyboard_arrow_down</i>
                                          </a>
                                       </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                       <div class="card-body" id="form-contact">
                                          <ul class="list-inline p-3">
                                             <li class="list-inline-item m-2">
                                                <div class="form-check mr-3 pr-3">
                                                   <label class="form-check-label">
                                                   <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact1">
                                                   <span class="c1  mt-4 p-2  text-muted text-center">contact 1</span>
                                                   <span class="form-check-sign">
                                                   <span class="check"></span>
                                                   </span>
                                                   </label>
                                                </div>
                                             </li>
                                             <li class="list-inline-item  m-2">
                                                <div class="form-check mr-3 pr-3">
                                                   <label class="form-check-label">
                                                   <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact2">
                                                   <span class="c2 mt-4 p-2 text-muted text-center">contact 2 </span>
                                                   <span class="form-check-sign">
                                                   <span class="check"></span>
                                                   </span>
                                                   </label>
                                                </div>
                                             </li>
                                             <li class="list-inline-item  m-2">
                                                <div class="form-check mr-3 pr-3">
                                                   <label class="form-check-label">
                                                   <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact3">
                                                   <span class="c3 mt-4 p-2 text-muted text-center"> contact 3 </span>
                                                   <span class="form-check-sign">
                                                   <span class="check"></span>
                                                   </span>
                                                   </label>
                                                </div>
                                             </li>
                                             <li class="list-inline-item  m-2">
                                                <div class="form-check mr-3 pr-3">
                                                   <label class="form-check-label">
                                                   <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact4">
                                                   <span class="c4 mt-4 p-2 text-muted text-center">contact 4</span>
                                                   <span class="form-check-sign">
                                                   <span class="check"></span>
                                                   </span>
                                                   </label>
                                                </div>
                                             </li>
                                             <li class="list-inline-item  m-2">
                                                <div class="form-check mr-3 pr-3">
                                                   <label class="form-check-label">
                                                   <input type="checkbox" name="contact_ids[]" value="0" checked="true" class="contact5">
                                                   <span class="c5 mt-4 p-2  text-muted text-center"> contact 5 </span>
                                                   <span class="form-check-sign">
                                                   <span class="check"></span>
                                                   </span>
                                                   </label>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="  m-4 p-3  bg-gray66">
                  <div class="form-group card card-5 p-2">
                     <%= form.text_field :number, id: :searched_number, class: 'form-control  text-white', placeholder: 'Phone Number' %>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-12 mt-0">
            <div class="row m-0">
            </div>
         </div>
         <% end %>
      </div>
   </div>
</div>
<script src="/javascripts/application.js" type="text/javascript" charset="utf-8" async defer>
   $('.address-auto').autocomplete({
     source: '/addresses/autocomplete',
     minLength: 2,
     select: function (event, ui) {
       console.log(ui);
         $('.address-auto').val(ui.item.value);
     }
   });
</script>
