<p id="notice"><%= notice %></p>

<h1>Searcheds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Number</th>
      <th>Email</th>
      <th>Cell</th>
      <th>Fulladdress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searcheds.each do |searched| %>
      <tr>
        <td><%= searched.name %></td>
        <td><%= searched.contact_id %></td>
        <td><%= searched.number %></td>
        <td><%= searched.email %></td>
        <td><%= searched.cell %></td>
        <td><%= searched.fulladdress %></td>
        <td><%= link_to 'Show', searched %></td>
        <td><%= link_to 'Edit', edit_searched_path(searched) %></td>
        <td><%= link_to 'Destroy', searched, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Searched', new_searched_path %>
