<div class="card card-5 mt-4" >
  <div class="card-header card-header-icon b-bottom pb-3 mt-4 pt-3">
      <a class="text-info" data-toggle="collapse" href="#collapseGroupSearch" aria-expanded="false" aria-controls="collapseGroupSearch">

    <div class="card-icon bg-dark  ml-2">
      <i class="material-icons">group</i>
    </div>
  </a>
    <div class="pt-3">
      <%= link_to 'Groups ','/groups/', class: "text-info mt-4", remote: true %> | <%= link_to '+ Contact', new_contact_path, class: "text-info  mt-4", remote: true %>
    </div>

      <div class="collapse mt-2 mb-2 p-1" id="collapseGroupSearch">
          <div class="row mb-2">
            <div class="col-md-12 mt-3">
                        <input name="query" id="query_groups" class="form-control form-control-lg" placeholder="Search Groups..." autocomplete="off" type="text">

            </div>


    </div>

  </div>
  </div>
  <div class="card-body sidnav-section" id="body-sidnav">
    <div class="list-group border-0 pt-0  mt-0">
      <% user_contact = current_user.contacts %>
      <% active = params[:group_id] == nil || params[:group_id].empty? && !session[:selected_group_id] ? 'bg-dark' : '' %>
        <%= link_to( contacts_path, class: "list-group-item text-white get-group custom-tip #{active}", data: { data_toggle: 'tooltip', placement: 'right', remote: true },  'aria-expanded': 'false',:title => user_contact.count.to_s + ' Contacts in this Group', rel: 'tooltip'  ) do %>
          All Contacts
      <% end %>

      <% @groups.each do |group| %>
        <% active = params[:group_id].to_i == group.id || (session[:selected_group_id] && session[:selected_group_id].to_i == group.id) ? 'bg-dark' : ''  %>
        <%= link_to( contacts_path(group_id: group.id), class: "list-group-item text-white pt-2 get-group custom-tip #{active}", data: { data_toggle: 'tooltip', placement: 'right', remote: true },  'aria-expanded': 'false',:title => group.contacts.count.to_s + ' Contacts in this Group', rel: 'tooltip' ) do %>
            <%= group.name %>
           <%= hidden_field(:contact, :group_id, :value => group.id.to_s, class: 'get-group-id') %>
          <% end %>
      <% end %>
      <a href="#top" title="" id="back_up" class="pull-right text-info">Back Up</a>
    </div>
  </div>
</div>


