<div class="sidebar  text-white" >
  <div class="logo text-white">
    <a href="" class="simple-text logo-mini mb-2 text-white scondary-size-text">
     <%= current_user.first_name[0] if current_user.first_name %> <%= current_user.last_name[0] if current_user.last_name %>
    </a>
    <a href="" class="simple-text logo-normal mb-2 text-white scondary-size-text">
    <%= current_user.first_name if current_user.first_name %> <%= current_user.last_name if current_user.last_name %>
    </a>
  </div>
  <div class="sidebar-wrapper text-white">
    <div class="user pb-4">
      <div class="photo   pb-4">
         <%= image_tag gravatar_url(current_user.email), class: "media-object  pb-4" %>
      </div>
      <div class="user-info text-white">
        <a data-toggle="collapse" href="#collapseExample" class="username">
          <span class="text-white">
            <%= current_user.name if current_user.name %>
            <b class="caret"></b>
          </span>
        </a>
        <div class="collapse " id="collapseExample">
          <ul class="nav text-white">
            <li class="nav-item">
                <%= link_to current_user, class: 'nav-link text-white'  do %>
                <span class="sidebar-mini"> MP </span>
                <span class="sidebar-normal"> My Profile </span>
              <% end %>
             </li>
            <li class="nav-item">
              <%= link_to  edit_user_registration_path, class: 'nav-link text-white'   do %>
                <span class="sidebar-mini"> EP </span>
                <span class="sidebar-normal"> Edit Profile </span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  users_path, class: 'nav-link text-white'  do %>
                <span class="sidebar-mini"> AA </span>
                <span class="sidebar-normal"> Admin Area </span>
              <% end %>
            </li>
               <li class="nav-item">
               <%= link_to destroy_user_session_path, :method=>'delete', class: 'nav-link text-white'   do %>
                <span class="sidebar-mini"> SO</span>
                <span class="sidebar-normal"> Sign Out </span>
              <% end %>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <ul class="nav text-white ">
        <li class="nav-item text-white <%=active_item('dashboard') %>">
         <%= link_to "<i class='material-icons text-white'>dashboard</i><p> Dashboard </p>".html_safe, dashboard_path, class: 'nav-link text-white' %>
        </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
          <i class="material-icons text-white">image</i>
          <p> Pages
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="pagesExamples">
          <ul class="nav">
            <li class="nav-item <%=active_item('about') %>">
             <%= link_to '<span class="sidebar-mini"> D </span><span class="sidebar-normal"> Documentation </span>'.html_safe, 'pages/about', class: 'nav-link text-white' %>
            </li>
            <li class="nav-item <%=active_item('contacts/new') %>">
             <%= link_to '<span class="sidebar-mini"> +C </span><span class="sidebar-normal"> New Contact </span>'.html_safe, new_contact_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item ">
              <a class="nav-link" data-toggle="collapse" href="/groups/">
                <span class="sidebar-mini text-white"> G </span>
                <span class="sidebar-normal"> Groups <i class="material-icons text-white">group</i> </span>


              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item text-white ">
        <a class="nav-link" data-toggle="collapse" href="#componentsExamples">
          <i class="material-icons text-white">person</i>
          <p> Contacts
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="componentsExamples">
          <ul class="nav text-white ">
            <li class="nav-item ">
              <%= link_to new_contact_path, class: "nav-link text-white" do %>
                <span class="sidebar-mini"> NC </span>
                <span class="sidebar-normal"> New Contact </span>
              <% end %>
            </li>
               <li class="nav-item text-white">
                <%= link_to new_touch_path, class: "nav-link" do %>
                <span class="sidebar-mini"> RT </span>
                <span class="sidebar-normal"> Record Touch </span>
             <% end %>
            </li>

             <li class="nav-item text-white">
              <% active = params[:group_id] == nil || params[:group_id].empty? && !session[:selected_group_id] ? 'active' : '' %>
              <%= link_to contacts_path, class: "nav-link #{active}" do %>
                <span class="sidebar-mini">  A</span>
                 <span class="sidebar-normal"> All Contacts <span class="text-muted">  <%=  current_user.contacts.count %></span></span>
              <% end %>
            </li>
            <%  @groups.each do |group| %>
            <li class="nav-item ">
                <% active = params[:group_id].to_i == group.id || (session[:selected_group_id] && session[:selected_group_id].to_i == group.id) ? 'active' : '' %>
                <%= link_to contacts_path(group_id: group.id ), class: "nav-link #{active}" do %>
                <span class="sidebar-mini">  <%= group.name[0] %> </span>
                <span class="sidebar-normal">  <%= group.name %> <span class=" text-text-white">  <%= group.contacts.count %></span></span>
                <% end %>
            <% end %>
            </li>
          </ul>
        </div>
      <li class="nav-item text-white ">
        <a class="nav-link" data-toggle="collapse" href="#formsExamples">
          <i class="material-icons text-white">content_paste</i>
          <p> Actions Steps
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="formsExamples">
          <ul class="nav text-white ">
            <li class="nav-item ">
              <a class="nav-link text-white" href="/tasks/">
                <span class="sidebar-mini"> VA </span>
                <span class="sidebar-normal"> View Action Steps </span>
              </a>
            </li>
            <li class="nav-item text-white">
              <a class="nav-link" href="/tasks/">
                <span class="sidebar-mini"> AA </span>
                <span class="sidebar-normal"> Add Action Step </span>
              </a>
            </li>
            <li class="nav-item text-white ">
              <a class="nav-link" href="/properties/">
                <span class="sidebar-mini"> FP </span>
                <span class="sidebar-normal"> For Properties </span>
              </a>
            </li>
            <li class="nav-item text-white">
              <a class="nav-link" href="/deals/">
                <span class="sidebar-mini"> FD </span>
                <span class="sidebar-normal"> For Deals </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item text-white  ">
        <a class="nav-link" data-toggle="collapse" href="#groups">
          <i class="material-icons text-white">group</i>
          <p> Groups
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="groups">
          <ul class="nav text-white ">
            <li class="nav-item ">
              <a class="nav-link" href="/groups/">
                <span class="sidebar-mini"> VG</span>
                <span class="sidebar-normal"> View Groups </span>
              </a></li>
              <li class="nav-item text-white ">

              <%= link_to new_group_path, class: "nav-link text-white" do %>
                <span class="sidebar-mini"> AG</span>
                <span class="sidebar-normal"> Add Group </span>
              <% end %></li>
            <%  @groups.each do |group| %>
            <li class="nav-item ">
                <% active = params[:group_id].to_i == group.id || (session[:selected_group_id] && session[:selected_group_id].to_i == group.id) ? 'active' : '' %>
                <%= link_to group_path(group), class: "nav-link #{active}" do %>
                <span class="sidebar-mini">  <%= group.name[0] %> </span>
                <span class="sidebar-normal">  <%= group.name %> <span class=" text-text-white">  <%= group.contacts.count %></span></span>
                <% end %>
            <% end %>
            </li>
          </ul>
        </div>
      </li>
        <li class="nav-item text-white ">
        <a class="nav-link text-white" data-toggle="collapse" href="#properties">
          <i class="material-icons text-white">how_to_reg</i>
          <p>  Touches
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="properties">
          <ul class="nav text-white">
            <li class="nav-item text-white">
               <%= link_to touches_path, class: 'nav-link'  do %>
                <span class="sidebar-mini"> AT </span>
                <span class="sidebar-normal"> All Touches</span>
               <% end %>
            </li>
            <li class="nav-item ">
               <%= link_to new_touch_path, class: 'nav-link'  do %>
                <span class="sidebar-mini"> NT </span>
                <span class="sidebar-normal"> New Touch </span>
              <% end %>
            </li>

          </ul>
        </div>
      </li>
      <li class="nav-item text-white ">
        <a class="nav-link text-white" data-toggle="collapse" href="#touches">
          <i class="material-icons text-white">store</i>
          <p>  Properties
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse text-white" id="touches">
          <ul class="nav text-white">
            <li class="nav-item text-white">
               <%= link_to properties_path, class: 'nav-link'  do %>
                <span class="sidebar-mini"> AP </span>
                <span class="sidebar-normal"> All Properties</span>
               <% end %>
            </li>
            <li class="nav-item text-white">
               <%= link_to new_property_path, class: 'nav-link', remote: true  do %>
                <span class="sidebar-mini"> NP </span>
                <span class="sidebar-normal"> New Property </span>
              <% end %>
            </li>
            <li class="nav-item text-white ">
              <a class="nav-link" href="./maps/vector.html">
                <span class="sidebar-mini"> VM </span>
                <span class="sidebar-normal"> Vector Map </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item text-white ">
        <a class="nav-link text-white" data-toggle="collapse" href="#deals">
          <i class="material-icons text-white">contact_phone</i>
          <p>  Deals
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse text-white" id="deals">
          <ul class="nav text-white">
            <li class="nav-item ">
               <%= link_to deals_path, class: 'nav-link text-white'  do %>
                <span class="sidebar-mini"> AD </span>
                <span class="sidebar-normal"> All Deals</span>
               <% end %>
            </li>
            <li class="nav-item ">
               <%= link_to new_deal_path, class: 'nav-link text-white'  do %>
                <span class="sidebar-mini"> ND </span>
                <span class="sidebar-normal"> New Deal </span>
              <% end %>
            </li>

          </ul>
        </div>
      </li>
        <li class="nav-item text-white ">
        <a class="nav-link" data-toggle="collapse" href="#leads">
          <i class="material-icons text-white">business</i>
          <p>  Leads
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse text-white" id="leads">
          <ul class="nav">
            <li class="nav-item text-white">
               <%= link_to leads_path, class: 'nav-link text-white'  do %>
                <span class="sidebar-mini"> AL </span>
                <span class="sidebar-normal"> All Leads</span>
               <% end %>
            </li>
            <li class="nav-item text-white">
               <%= link_to new_lead_path, class: 'nav-link text-white'  do %>
                <span class="sidebar-mini"> NL </span>
                <span class="sidebar-normal"> New Lead </span>
              <% end %>
            </li>

          </ul>
        </div>
      </li>
      <li class="nav-item text-white ">
        <a class="nav-link text-white" href="./widgets.html">
          <i class="material-icons text-white">widgets</i>
          <p> Widgets </p>
        </a>
      </li>
      <li class="nav-item text-white  ">
        <a class="nav-link text-white" href="./charts.html">
          <i class="material-icons text-white">timeline</i>
          <p> Charts </p>
        </a>
      </li>
      <li class="nav-item text-white ">
        <a class="nav-link text-white" href="./calendar.html">
          <i class="material-icons text-light">date_range</i>
          <p> Calendar </p>
        </a>
      </li>
    </ul>
  </div>
</div>



