<div class="list-group border-0 mt-3">
  <div class=" " >
    <div class=" text-light mt-0">
      All contacts / <a href="/contacts/new" title="Add new contact to the database" class="text-light" rel= "tooltip">+ Add Contact</a>
    </div>
    <% user_contact = current_user.contacts %>
    <% active = params[:group_id] == nil || params[:group_id].empty? && !session[:selected_group_id] ? 'bg-dark' : '' %>
    <%= link_to contacts_path, class: "list-group-item text-info #{active}" do %>
        All Contacts <span class="badge text-info"><%= user_contact.count %></span>
    <% end %>

    <% current_user.groups.uniq.each do |group| %>

      <% active = params[:group_id].to_i == group.id || (session[:selected_group_id] && session[:selected_group_id].to_i == group.id) ? 'bg-dark' : '' %>

        <%= link_to contacts_path(group_id: group.id ), class: "list-group-item text-info #{active}" do %>
          <% count = 0 %>
          <% user_contact.each do |contact| %>
          <% next  if contact.group_id != group.id %>
          <% count += 1 %>
          <% end %>
          <%= group.name %><span class="badge text-info "><%= count %></span>
        <% end %>
    <% end %>
  </div>
</div>


