<!DOCTYPE html>
<html lang="en" >
   <head>
      <title>Hudson Lab</title>
      <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
   <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <%= csrf_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" rel="stylesheet" type="text/css">
    <style type="text/css">
     .card-1-color {
      background:  #212529 !important;
      color: white;
    }
    ::-webkit-scrollbar-corner {
      background: rgba(0,0,0,0) !important;
    }
</style>
   </head>
   <body>
      <div class="wrapper" id="content">
         <%if user_signed_in? %><%= render 'layouts/sidebar' %>
         <div >
            <%= render 'layouts/navbar' %>
            <div class="content">
               <div class="container-fluid main-container" >
                  <div id="flash-messages">
                     <%= render 'layouts/messages' if !flash.empty? %>
                  </div>
                  <% end %>
                  <div id="main-content">
                     <%= yield %>
                  </div>
               </div>
              <div id='remote_container'></div>
               <div class="modal fade" id="form-modal"  >
                  <div class="container">
                     <div class="col-md-9 mr-auto ml-auto">
                        <div class="modal-body" id="form-modal-body"></div>
                     </div>
                  </div>
               </div>
               <!--Modal: Login / Register Form-->
               <div id="tasks-form-modal" class="modal fade  modal-size-xl" role="dialog">
                  <div class="modal-dialog  modal-size-xl" >
                     <div class="modal-content modal-size-xl card-1-color" id="f-body">
                     </div>
                  </div>
               </div>
              <div class="modal fade" id="company-form-modal" tabindex="-1" role="">

              </div>
               <%= render 'layouts/calender_modal' %>
               <%= render 'contacts/modalcsv' %>
            </div>
         </div>
      </div>
   </body>
</html>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>

</script>
