<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hudson Lab</title>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />


    <!-- Bootstrap CSS -->





    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <div class="wrapper" style="min-width: 100vw;">
    <!-- Sidebar Holder -->
    <% if user_signed_in? %>
    <%= render 'layouts/sidebar' %>
        <div class="" style="width: 100%;">

        <%= render 'layouts/navbar' %>
    <div class="content" style="width: 100%;">
        <div class="container-fluid">
              <%= render 'layouts/messages' if !flash.empty? %>
    <% end %>
    <%= yield %>
            </div>
          </div>
        </div>
          </div>
    </body>



   <script type="text/javascript">


    $(document).ready(function() {



        // AUTO COMPLETE
         $(function() {
             $('#term').autocomplete({
                 source: '/contacts/autocomplete',
                 minLength: 2,
                 select: function(event, ui) {
                     $('#term').val(ui.item.value);
                     $(this).closest('form').submit();
                 }
             });
         });

         // ALERT REMOVAL
         $(".alert-box").fadeTo(5000, 500).slideUp(500, function() {
             $(".alert-box").slideUp(500);
         });
         $('#sidebarCollapse').on('click', function() {
             $('#sidebar').toggleClass('active');
         });
     });
 </script>

 </html>
