<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hudson Lab</title>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"><%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="wrapper" style="min-width: 100vw;" id="content">
    <%if user_signed_in? %><%= render 'layouts/sidebar' %>
    <div style="width: 100%;">
      <%= render 'layouts/navbar' %>
      <div class="content" style="width: 100%;">
        <div class="container-fluid main-container">
          <%= render 'layouts/messages' if !flash.empty? %><% end %><%= yield %>



        </div>
      </div>
    </div>
  </div>
</body>
</html>


